@charset "utf-8";

.hed_nav li:nth-child(1) a{
    color: #FF4E62;
    background-image: url(../common/img/nav01_on.png);
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charge_top{
		background-image: -webkit-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: -moz-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: -o-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
    margin-bottom: 25px;
		padding: 15px 0;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charm_link{
    padding: 0;
    margin: 0 auto 10px;
}
.charm_link_title {
		margin-bottom: 25px;
    font-size: 19px;
    font-weight: normal;
		line-height: 1.4;
}
.charm_link li{
    width: 100%;
    margin-bottom: 22px;
}
.charm_link li:last-child{
    margin-bottom: 12px;
}
.charm_link a{
    display: block;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
    border: #565765 solid 1px;
    padding: 25% 0 0;
    font-weight: bold;
    border-radius: 5px;
}
.charm_link li:nth-of-type(1) a{background-image: url(../img/charge/anc01.jpg);}
.charm_link li:nth-of-type(2) a{background-image: url(../img/charge/anc02.jpg);}
.charm_link li:nth-of-type(3) a{background-image: url(../img/charge/anc03.jpg);}
.charm_link a:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/arrow01.png) 0 0 no-repeat;
		background-size: 24px auto;
    width: 24px;
    height: 20px;
    margin: 0 auto;
    bottom: -13px;
    right:0;
    left: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
/*.charm_link a:hover{
    background-color: #ECEEF4;
    opacity: 1;
}
.charm_link a:hover:before{
    background-image: url(../common/img/arrow01_on.png);
}*/
.charm_link dl{
	padding: 13px 15px;
}
.charm_link dt{
	margin-bottom: 10px;
	color: #ff4e62;
	font-size: 16px;
	font-weight: bold;
}
.charm_link dd{
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	line-height: 1.8;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charm_body{
	padding: 12px 0 20px;
	text-align: center;
}
.charm_body.sp_get{
	background: #F7F8FC;
	margin-bottom: -25px;
	padding: 12px 0 0;
}
.charm_body.charm02{background: #FAFAFA;}
.charm_inner{
}
.charm_inner02{
	padding: 10px 0 0;
}
.charm_body h2{
	position: relative;
	display: table;
	margin: 0 auto 25px;
	font-size: 13px;
	font-weight: normal;
}
.charm_body h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: -10px;
	right: -10px;
	border: solid 1px #565765;
	margin: auto;
	width: 105%;
	height: 3px;
}
.charm_body h3{
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}
.charm_body .catch{
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 1.4;
}
.charm_body .catch span{
	color: #ff4e62;
	font-size: 22px;
}
.charm_body .catch span span{
	font-size: 20px;
}
.charm_body .charm_text01{
	margin-bottom: 12px;
	font-size: 12px;
	text-align: left;
	line-height: 1.8;
}
.charm_body.charm02 .charm_text01 {
	margin-bottom: 0;
}
.charm_body .image{
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.comparison {}
.comparison > div {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison > div:last-child {
}
.comparison h4 {
	color: #FFFFFF;
	padding: 12px 10px;
	font-size: 13px;
}
.comparison01 {
	position: relative;
	background: #F1F1F1;
	margin-bottom: 42px;
}
.comparison01:after {
	content: '';
	position: absolute;
	bottom: -57px;
	left: 0;
	right: 0;
	margin: auto;
	width: 20px;
	height: 25px;
	border: 25px solid transparent;
	border-top: 20px solid #565765;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison01 h4 {
	background: #565765;
	font-weight: normal;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.comparison01 .plus{
	position: relative;
	background: #FFFFFF;
	border: solid 1px #CCCCCC;
	margin-bottom: 30px;
	padding: 8px 10px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison01 .plus:before{
	content: '';
	position: absolute;
	bottom: -23px;
	left: 0;
	right: 0;
	background-image: url(../img/charge/plus.png);
	background-repeat: no-repeat;
	background-size: 12px auto;
	margin: auto;
	width: 12px;
	height: 11px;
}
.comparison01 .plus.last{
	margin-bottom: 15px;
	padding: 10px;
}
.comparison01 .plus.last:before{
	display: none;
}
.comparison01 .plus.last > div{
	float: left;
	margin-left: 3%;
	width: 48.5%;
}
.comparison01 .plus.last > div:first-child{
	margin-left: 0;
}
.comparison01 .plus.last > div ul{
	background: #F1F1F1;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison01 .plus.last > div ul:last-child{
	margin-bottom: 0;
}
.comparison01 .plus.last > div ul.no_selection{
	background: #F8F8F8;
	border: dotted 1px #b2b2b2;
	color: #b2b2b2;
}
.comparison01 .comparison_inner{
	padding: 20px;
}
.comparison_inner2{
}
.comparison_inner2 .plus{
	float: left;
	height: 71px;
	width: 28%;
	padding: 15px 0;
	margin: 0 0 34px 8%;
}
.comparison_inner2 .plus:nth-child(1){
	padding-top: 25px;
}

.comparison_inner2 .plus:nth-child(1):before{bottom: 38%;left: 100%;right: auto;width: 30%;background-position: 50% 0;}
.comparison_inner2 .plus:nth-child(3):before{
bottom: 38%;
right: 100%;
left: auto;
width: 26%;
}

.comparison_inner2 .plus:first-child{
	margin-left: 0;
}
.conclusion {
	font-size: 13px;
	font-weight: bold;
}
.comparison02 {
	border: solid 3px #ff4e62;
}
.comparison02 h4 {
	background: #ff4e62;
	padding: 10px 12px 12px;
	font-weight: bold;
}
.comparison02 .comparison_inner{
	padding: 20px;
}
.comparison02 dl {
	margin-bottom: 35px;
}
.comparison02 dt {
	display: inline-block;
	background: #565765;
	margin-bottom: 15px;
	padding: 8px 5px;
	color: #FFFFFF;
	width: 200px;
	font-size: 13px;
	line-height: 1;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison02 dd {
	font-size: 17px;
	font-weight: bold;
	line-height: 1.4;
}
.comparison02 dd span {
	color: #FF4E62;
}
.comparison02 .unnecessary {
	position: relative;
	background: #F1F1F1;
	margin-bottom: 15px;
	padding: 25px 14px 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison02 .unnecessary p {
	position: absolute;
	top: -14px;
	left: 0;
	right: 0;
	background: #ff4e62;
	margin: auto;
	padding: 8px 5px;
	color: #FFFFFF;
	width: 200px;
	font-size: 13px;
	line-height: 1;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison02 .unnecessary li {
	position: relative;
	background: #FFFFFF;
	border: solid 1px #CCCCCC;
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison02 .unnecessary li:last-child {
	margin-bottom: 0;
}
.comparison02 .unnecessary li span {
	color: #ff4e62;
	font-weight: bold;
}
.comparison02 .note {
	margin-left: 1em;
	color: #777777;
	font-size: 11px;
	text-align: left;
	text-indent: -1em;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.purpose_box {}
.purpose {
	float: left;
	width: 720px;
}
.purpose li {
	float: left;
	border: solid 1px #595cce;
	margin-left: 15px;
	width: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.purpose li:first-child {
	margin-left: 0;
}
.purpose h4 {
	background: #595cce;
	color: #FFFFFF;
	padding: 7px 17px 15px;
	font-size: 16px;
	font-weight: bold;
}
.purpose h4 span {
	display: block;
	background: #FFFFFF;
	margin: 8px auto 0;
	padding: 5px 5px 3px;
	color: #595cce;
	width: 192px;
	font-size: 13px;
	line-height: 1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.purpose_inner {
	padding: 13px 20px 10px;
	text-align: left;
}
.purpose_inner p {
	background-repeat: no-repeat;
	background-position: left center;
	padding: 7px 0 7px 40px;
	font-size: 14px;
	text-align: left;
}
.purpose_inner p.icon01 {background-image: url(../common/img/icon05.png);}
.purpose_inner p.icon02 {background-image: url(../common/img/icon06.png);}
.purpose_box .detail {
	text-align: left;
}
.purpose_box .detail_title {
	color: #333333;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.purpose_box .detail_icon {
	margin-bottom: 10px;
	text-align: center;
}
.purpose_box .detail_icon img {
	display: inline-block;
	margin-left: 3px;
	vertical-align: top;
}
.purpose_box .detail_icon img:first-child {
	margin-left: 0;
}
.purpose_box .detail .note {
	color: #777777;
	margin-left: 1em;
	font-size: 11px;
	text-indent: -1em;
}


.rate_list{
}
.rate_list li{
		display: table;
    border: solid #595CCE 1px;
    margin: 0 0 10px 0;
		width: 100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}
.rate_list li:first-child{
    margin-left: 0;
}
.rate_list_title{
		display: table-cell;
    font-size: 13px;
    font-weight: normal;
    background: #595CCE;
    color: #fff;
    padding: 12px 10px 12px;
    text-align: center;
		width: 115px;
		vertical-align: middle;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.rate_list_title span{
    color: #595CCE;
    display: block;
    background: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin: 7px 0 0;
}


.rate_list_main{
		display: table-cell;
    padding: 15px 13px 15px 20px;
		vertical-align: middle;
}
.rate_list_icon1,
.rate_list_icon2{
    position: relative;
    z-index: 1;
		font-size: 11px;
		text-align: left;
}
.rate_list_icon1:before,
.rate_list_icon2:before{
    content: "";
    z-index: 1;
    position: absolute;
    background-position: 0 0;
    background-repeat:  no-repeat;
	 	background-size:  20px auto;
    width: 20px;
    height: 24px;
    top: -4px;
    left: 0;
}
.rate_list_icon1:before{
    background-image: url(../common/img/icon05.png);
}
.rate_list_icon2:before{
    background-image: url(../common/img/icon06.png);
}
.rate_list_icon1{
    margin: 0 0 11px;
    padding: 0 0 0 25px;
}
.rate_list_icon2{
    padding: 0 0 0 25px;
}

.rate_list_kome{
    margin: 0 0 46px;
}
.rate_list_link{
    display: block;
    border: #565765 1px solid;
    text-align: center;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    margin: 0 50px 70px;
}
.rate_list_link:before{
    border-color: #565765;
    right: 21px;
    left: auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.charge_item{}
.charge_item_list{
	border-top: solid #DADCE9 1px;
	border-left: solid #DADCE9 1px;
}
.charge_item_list li{
    float: left;
		border-bottom: solid #DADCE9 1px;
		border-right: solid #DADCE9 1px;
		background: #FFFFFF;
    width: 50%;
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.charge_item_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.charge_item_no0,
.charge_item_no1,
.charge_item_no2,
.charge_item_no3{
    position: absolute;
    z-index: 6;
    font-size: 11px;
		font-weight: bold;
    padding: 5px 0;
    width: 25px;
    text-align: center;
}
.charge_item_no0{
    background: #565765;
    color: #fff;
}
.charge_item_no1{
    background: #f1ff0f;
    color: #949a30;
}
.charge_item_no2{
    background: #f3f3f3;
    color: #787985;
}
.charge_item_no3{
    background: #eda353;
    color: #97632b;
}

.charge_item_new{
    position: absolute;
    z-index: 6;
    font-size: 11px;
		font-weight: bold;
    color: #fff;
    background: #FF4E62;
    top: 0;
    right: 0;
    padding: 5px 5px;
}
.charm_body h2.charge_item_name{
		display: block;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
		margin: 0;
    padding: 27px 0 5px;
    position: relative;
    z-index: 5;
}
.charm_body h2.charge_item_name:before{
    display: none;
}
.charge_item_img{
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_mes{
    font-size: 11px;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_mes span{
    display: table-cell;
    padding: 7px 12px 10px;
    vertical-align: middle;

}
.charge_item_m{
    background: #F7F8FC;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_m p{
    font-size: 12px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    vertical-align: middle;
}
.charge_item_m1{
    font-size: 16px;
    color: #ff4e62;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_m2{
    display: block;
    font-size: 11px;
}
.charge_item_bg{
    background-image: url(../img/home/item_01_bg.jpg);
    -moz-background-size:cover;
    background-size:cover;
    background-position: 50% 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    display: block;
    opacity: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
