@charset "utf-8";

.hed_nav li:nth-child(1) a{
    color: #FF4E62;
    background-image: url(../common/img/nav01_on.png);
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.details_menu_fixed{
	background: #FFFFFF;
	border-bottom: solid 1px #CCCCCC;
    margin: 0 -3% 0;
}
.details_menu_fixed.fixed{
	top:48px;
}

.c_nav_info_btns li p span:before {
	top: 0.5em;
	width: 5px;
	height: 5px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/

.details_top_inner{
    padding-top: 37px;
}
.details_slider{
    padding: 15px 55px;
    border-bottom: solid 1px #ccc;
}
.details_sliderList li{
    text-align: center;
}
.details_sliderList li img{
     max-width: 100%;
    display: block;
    height: 195px;
    width: auto;
    margin: 0 auto;
}
.details_top_logo{
    margin: 0 0 20px;
}
.details_top_type{
    margin: 0  0 35px;
    font-weight: bold;
    text-align: center;
}

.details_top_type li:nth-child(3n+1){
    margin-left: 0;
}

.details_btn{
    color: #fff;
}

.details_btn.btn02 p{
    line-height: 24px;
    background: #FF4E62;
    line-height: 24px;
    background: #FF4E62;
    padding: 15px 0;
}
.details_btn.btn02:before {
    background: #CC3E4E;
}
.details_btn .arrow01:before{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: auto;
    right: 12px;
}

.details_btn:hover{
    color: #fff;
}

.details_top_no{
    position: absolute;
    z-index: 6;
    top: 21px;
    left: 53px;
}
.details_top_img{
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 0 15px;
}
.details_top_img li{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}
.details_top_img li:first-child{
    position: relative;
    opacity: 1;
}
.details_top_img .details_top_img_on{
    opacity: 1 !important;
}
.details_top_img .details_top_img_off{
    opacity: 0 !important;
}
.details_top_img_btn{
    text-align: center;
    letter-spacing: -.4em;
}
.details_top_img_btn li{
    display: inline-block;
    border: #CCCCCC 1px solid;
    letter-spacing: normal;
    vertical-align: top;
    margin: 0 5px;
    cursor: pointer;
}
.details_top_img_btn li:first-child{
    border-color: #333333;
}

.details_top_img_btn .details_top_img_btn_on{
    border-color: #333333 !important;
}
.details_top_img_btn .details_top_img_btn_off{
    border-color: #CCCCCC !important;
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/
.details_pglink_wrap{
	border-top: solid 1px #CCCCCC;
}
.details_pglink{
	padding: 7px 0;
	text-align: center;
	letter-spacing: -0.5em;
}
.details_pglink li{
		display: inline-block;
    margin: 0 0 0 5%;
		letter-spacing: 0;
}
.details_pglink li:first-child{
    margin-left: 0;
}
.details_pglink a{
    display: block;
    font-size: 11px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #595CCE;
}

.details_title1{
    font-size: 12px;
    margin: 0 0 5px;
}
.rate .details_title1{
    font-size: 15px;
		text-align: center;
    margin: 0 0 12px;
}

/*---------------------------------------------------------
	details_productInfo
 ---------------------------------------------------------*/
.details_productInfo{}
.details_productInfo .model_box{
    padding: 14px 0 10px;
}
.model_box2_title{
	background: #595CCE;
	padding: 5px 0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.03em;
}
.details_productInfo .model_box2{
    background: #E9EAF1;
    padding: 10px 0;
}
.details_productInfo .model_box2_inner{
    background: #FFFFFF;
		padding: 10px 12px;
}
.model_box2_item_name{
    position: relative;
    z-index: 1;
    margin: 0 0 12px;
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 10px;
}
.model_box2_item_name figure{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.model_box2_item_name figure img{
    width: 110px;
}
.model_box2_item_name p{
    display: table;
    width: 100%;
    height: 100px;
}
.model_box2_item_name p span{
    display: table-cell;
    padding: 6px 0 0 125px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}
.details_productInfo_icon{
    margin: 0 0 5px;
}
.details_productInfo_no1,
.details_productInfo_no2,
.details_productInfo_no3,
.details_productInfo_new{
    border: 1px solid #000;
    display: inline-block;
    font-size: 10px;
    padding: 2px 7px 1px;
    margin: 0 5px 0 0;
}
.details_productInfo_no1{
    border-color: #AB930F;
    color: #AB930F;
}
.details_productInfo_no2{
    border-color: #9A9A9A;
    color: #9A9A9A;
}
.details_productInfo_no3{
    border-color: #B46144;
    color: #B46144;
}
.details_productInfo_new{
    border-color: #595CCE;
    color: #595CCE;
}
.details_productInfo_name{
    font-size: 15px;
    line-height: 1.4;
}
.details_productInfo_mes{
    margin: 0 0 10px;
		font-size: 12px;
}
.details_productInfo_fee{
    font-size: 15px;
    font-weight: bold;
		line-height: 1.2;
}
.details_productInfo_fee span{
    color: #ff4e62;
    font-size: 30px;
}

.details_productInfo_color{}
.details_productInfo_color_list{
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 7px;
    margin: 0 0 10px;
}

.details_productInfo_color_list label input{
    display: none;
}
.details_productInfo_color_list label,
.details_productInfo_color_list a{
    background: #fff;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.details_productInfo_color_list label:before,
.details_productInfo_color_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    top:1px;
    bottom: 1px;
    right:1px;
    left: 1px;
}

.details_productInfo_color_list .label_on{    border-color: #FF4E62;}



.details_productInfo_color_list .red:before{   background: #FF4E62;}
.details_productInfo_color_list .black:before{   background: #000000;}
.details_productInfo_color_list .brown:before{ background: #BB9D69; }
.details_productInfo_color_list .gray:before{ background: #898989; }
.details_productInfo_color_list .rosegold:before{   background: #f4cbc5;}
.details_productInfo_color_list .royalpurple:before{   background: #603e94;}
.details_productInfo_color_list .cherrypink:before{   background: #e9717d;}
.details_productInfo_color_list .lightpink:before{   background: #f5b6c6;}
.details_productInfo_color_list .gold:before{   background: #d4bba3;}
.details_productInfo_color_list .palemint:before{   background: #70b8c6;}
.details_productInfo_color_list .lilacsilver:before{   background: #d8d7e8;}
.details_productInfo_color_list .yellowgreen:before{   background: #d5e0af;}
.details_productInfo_color_list .lightsideedition:before{   background: #f1f1f1;}
.details_productInfo_color_list .deeppink:before{   background: #edc5c6;}
.details_productInfo_color_list .platinum:before{   background: #dbdbd9;}
.details_productInfo_color_list .mineralblack:before{   background: #000;}
.details_productInfo_color_list .forestblue:before{   background: #414b55;}
.details_productInfo_color_list .darksideedition:before{   background: #000;}
.details_productInfo_color_list .blue:before{   background: #a8dbea;}
.details_productInfo_color_list .pink:before{   background: #f9cfc8;}
.details_productInfo_color_list .white:before{   background: #eee;}
.details_productInfo_color_list .silver:before{   background: #d0d0d4;}
.details_productInfo_color_list .lightgreen:before{   background: #44a089;}
.details_productInfo_color_list .spacegrey:before{   background: #000;}
.details_productInfo_color_list .jetblack:before{   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2d2d2d+51,a0a0a0+86,777777+94,a5a5a5+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 51%, rgba(160,160,160,1) 86%, rgba(119,119,119,1) 94%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}





.details_productInfo_m{
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
		font-size: 13px;
}
.details_productInfo_m a{
    font-size: 11px;
    color: #2a98cd;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 3px;
}
.details_productInfo_m a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 4px solid #2a98cd;
    border-right: 4px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 16px;
    height: 5px;
    top: 5px;
    left: -8px;
}
.details_productInfo_m_list{
    margin: 0 0 21px;
}
.details_productInfo_m_list li{
    margin: 0 0 9px;
}
.details_productInfo_m_list li.osusume{
    position: relative;
}
.details_productInfo_m_list li.osusume:before{
    content: "";
    display: inline-block;
    width: 42px;
    height: 26px;
    background: url(../img/details/osusume.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -9px;
    left: -7px;
    z-index: 10;
}
.details_productInfo_m_list label input{
    display: none;
}
.details_productInfo_m_list label,
.details_productInfo_m_list a{
    font-size: 12px;
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px 12px;
}
.details_productInfo_m_list label:before,
.details_productInfo_m_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.details_productInfo_m_list span{
    font-size: 17px;
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 11px;
    font-weight: bold;
    color: #ff4e62;
}

.details_productInfo_m_list .label_on:before{
    border: 2px solid #FF4E62;
}
.rate_item_foot{
    background: #e9eaf1;
		margin-bottom: 10px;
    padding: 10px 10px 5px;
}
.rate_item_kome_title{
    font-size: 11px;
    color: #595cce;
    display: block;
		margin-bottom: 5px;
    padding: 0 0 0 18px;
    position: relative;
    z-index: 1;
}
.rate_item_kome_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/icon03.png) 0 0 no-repeat;
		background-size: 13px auto;
    width: 13px;
    height: 13px;
    top: 0.2em;
    left: 0;
}
.rate_item_kome_wrap{
    margin: 0 -1px;
}
.rate_item_kome{
    display: inline-block;
    background: #595cce;
    font-size: 10px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 2px;
    margin: 0 1px 5px;
}


.details_productInfo_btn{
    font-size: 13px;
		font-weight: bold;
    margin: 0 auto 10px;
		width: 95%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.details_productInfo_btn.btn_white {
		border: solid 1px #c9c9c9;
}
.details_productInfo_btn p {
		padding: 12px 0 12px 28px;
}
.details_productInfo_btn.btn_white p {
		background-color: #FFFFFF;
}
.details_productInfo_btn.btn_pink p {
    background-color: #FF4E62;
	 	color: #fff;
}
.details_productInfo_btn p span{
	display: inline-block;
	padding-left: 23px;
	width: 11em;
}
.details_productInfo_btn.btn_white p span{background: url(../common/img/icon07.png) 0 50% no-repeat; background-size: 18px auto;}
.details_productInfo_btn.btn_pink p span{background: url(../common/img/icon02_04.png) 0 50% no-repeat; background-size: 18px auto;}

.details_productInfo_btn.btn_white:before {background: #c9c9c9;}
.details_productInfo_btn.btn_pink:before {background: #CC3E4E;}

.details_productInfo_tel_mes{
		margin-bottom: 5px;
    font-size: 12px;
		font-weight: bold;
		text-align: center;
}

.details_productInfo_tel{
	margin-bottom: 5px;
}
.details_productInfo_tel a{
	width: 95%;
}
.details_productInfo_tel a:before{
	background: #009421;
}
.details_productInfo_tel a dl{
	position: relative;
	z-index: 5;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	border-radius: 5px;
	background: #01B228;
	display: block;
	padding: 10px 0;
}
.details_productInfo_tel a dl{
	color: #FFFFFF;
	padding: 7px 0;
}
.details_productInfo_tel a dt{
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}
.details_productInfo_tel a dd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.04em;
}
.details_productInfo_tel a dd span{
	position: relative;
	z-index: 1;
	padding: 0 0 0 30px;
}
.details_productInfo_tel a dd span:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../common/img/tel6.png) 0 0 no-repeat;
	background-size: 23px;
	width: 23px;
	height: 15px;
	top: 8px;
	left: 0;
}

.details_productInfo_open {
	margin-top: 5px;
	font-size: 11px;
	text-align: center;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.itemdata{
    margin: 0 0 25px;
}
.itemdata_tab{
    border-bottom: #cccccc solid 5px;
    margin: 0 0 32px;
}
.itemdata_tab li{
    float: left;
    width: 203px;
    text-align: center;
    margin: 0 10px 0 0;
}


.itemdata_tab a{
    display: block;
    background: #f1f1f1;
    padding: 17px 0;
}


.itemdata_tab li.itemdata_tab_on a,
.itemdata_tab a:hover{
    background: #cccccc;
    color: #fff;
}

.itemdata_boxs{}
.itemdata_box{
    /* display: none; */
}
.itemdata_box.itemdata_on{
    display: block;
}

.itemdata_tab_table{
    width: 100%;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin: 0 0 10px;
}
.itemdata_tab_table td,
.itemdata_tab_table th{
    padding: 7px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
		font-size: 11px;
}
.itemdata_tab_table td{
		width: -webkit-calc(100 - 90px);
		width: calc(100 - 90px);
}
.itemdata_tab_table th{
    width: 90px;
    background: #EEE;
    font-weight: bolder;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.review{
    margin: 0 0 25px;
}
.review_box{
    border: solid #D9DBE6 1px;
    margin: 0 0 10px;
}
.review_top{
    background:#F5F5FA;
		padding: 7px 12px;
		font-size: 12px;
}
.review_box_user{
    padding: 0 0 0 32px;
    position: relative;
    z-index: 1;
}
.review_box_user:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/details/icon01.png) 0 0 no-repeat;
		background-size: 23px auto;
    width: 23px;
    height: 28px;
    top: 5px;
    left: 0;
}
.review_box_user span{
		display: block;
    color: #999999;
}
.review_box_name{
		padding: 0 0 0 32px;
}
.review_box_name span{
    margin: 0 0 0 7px;
    position: relative;
    z-index: 1;
    top: -2px;
}
.review_box_name span img{
		width: 70px;
}
.review_box_main{
    padding: 12px;
}
.review_box_title{
    font-size: 12px;
    margin: 0 0 10px;
}
.review_box_mes{
		font-size: 11px;
}




.rate_mes{
		font-size: 12px;
    line-height: 1.8;
    margin: 0 0 15px;
}
.rate_title1{
    background: #FF4E62;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
    padding: 10px 0;
    margin: 0 0 15px;
}
.rate_box1{
    margin: 0 0 15px;
}
.rate_box1_list{
    padding: 30px 12px 20px;
    position: relative;
    z-index: 1;
}
.rate_box1_list:before{
    content: "";
    z-index: 1;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
		border:1px solid #565765;
}

.rate_box1_list li{
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 33.3333%;
    padding: 50px 0 0;
    line-height: 1.3;
    background-repeat: no-repeat;
    background-position: 50% 5px;
		background-size: 35px auto;
    position: relative;
    z-index: 1;
}
.rate_box1_list li:nth-child(1){
    background-image: url(../img/details/rate_01.png);
}
.rate_box1_list li:nth-child(2){
    background-image: url(../img/details/rate_03.png);
}
.rate_box1_list li:nth-child(3){
    background-image: url(../img/details/rate_02.png);
}
.rate_box1_list li:nth-child(1):before{
    display: none;
}
.rate_box1_list li:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/details/icon03.png) 0 0 no-repeat;
		background-size: 11px auto;
    width: 11px;
    height: 10px;
    top: 18px;
    left: -10px;
}

.rate_box1_m{
    position: relative;
    z-index: 1;
    background: #FF4E62;
		background-size: 33px auto;
		padding: 20px 5px;
		text-align: center;
}
.rate_box1_m:before{
    content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 20px;
		background: #FF4E62 url(../img/details/icon02_2.png) no-repeat;
		background-size: 12px auto;
		margin: auto;
		width: 12px;
		height: 7px;
}

.rate_box1_m p{
		display: inline-block;
		background: url(../img/details/rate_04_2.png) left center no-repeat;
		background-size: 46px auto;
		color: #FFFFFF;
		padding: 2px 0 0 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
}
.rate_box1_m span{
    font-size: 12px;
		font-weight: normal;
    position: relative;
    z-index: 1;
    top: -6px;
}


.rate_list{
	margin-bottom: 15px;
}
.rate_list li{
		display: table;
    border: solid #595CCE 1px;
    margin: 0 0 10px 0;
		width: 100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}
.rate_list li:first-child{
    margin-left: 0;
}
.rate_list_title{
		display: table-cell;
    font-size: 13px;
    font-weight: normal;
    background: #595CCE;
    color: #fff;
    padding: 12px 10px 12px;
    text-align: center;
		width: 115px;
		vertical-align: middle;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.rate_list_title span{
    color: #595CCE;
    display: block;
    background: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin: 7px 0 0;
}


.rate_list_main{
		display: table-cell;
    padding: 15px 13px 15px 20px;
		vertical-align: middle;
}
.rate_list_icon1,
.rate_list_icon2{
    position: relative;
    z-index: 1;
		font-size: 11px;
		text-align: left;
}
.rate_list_icon1,
.rate_list_icon2 .comment{
    margin-left: -6px;
}

.rate_list_icon1:before,
.rate_list_icon2:before{
    content: "";
    z-index: 1;
    position: absolute;
    background-position: 0 0;
    background-repeat:  no-repeat;
	 	background-size:  20px auto;
    width: 20px;
    height: 24px;
    top: -4px;
    left: 0;
}
.rate_list_icon1:before{
    background-image: url(../common/img/icon05.png);
}
.rate_list_icon2:before{
    background-image: url(../common/img/icon06.png);
}
.rate_list_icon1{
    margin: 0 0 11px;
    padding: 0 0 0 25px;
}
.rate_list_icon2{
    padding: 0 0 0 25px;
}

.rate_list_kome{
		color: #777777;
    margin: 0 0 12px;
		font-size: 12px;
}
.rate_list_link{
    display: block;
    border: #565765 1px solid;
    text-align: center;
    font-size: 12px;
		font-weight: bold;
    padding: 10px 0;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    margin: 0 auto 35px;
		width: 266px;
}
.rate_list_link:before{
    border-color: #565765;
    right: 21px;
    left: auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.rate_item_wrap{
	background: #E9EAF1;
	margin-bottom: -25px;
}
.rate_item{
    border: solid #595CCE 1px;
		background: #FFFFFF;
}
.rate_item_title{
    background: #595CCE;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 13px 0;
}
.rate_item_title span{
    position: relative;
    z-index: 1;
    padding: 0 0 0 30px;
}
.rate_item_title span:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/icon02_03.png) 0 0 no-repeat;
    width: 28px;
    height: 29px;
    top: 0px;
    left: 0;
}
.rate_item_inner{
    padding: 20px 30px 30px;
}
.rate_item_name{
    position: relative;
    z-index: 1;
    margin: 0 0 26px;
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 22px;
}
.rate_item_name figure{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.rate_item_name p{
    display: table;
    width: 100%;
    height: 117px;
}
.rate_item_name p span{
    display: table-cell;
    padding: 0 0 0 155px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.rate_item_title2{
    margin: 0 0 9px;
}



.rate_item_color_list{
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 22px;
    margin: 0 0 25px;
		letter-spacing: -0.5em;
}
.rate_item_color_list a{
    display: inline-block;
    position: relative;
    z-index: 1;
		margin-left: 20px;
    padding: 15px 10px;
		width: 150px;
		font-size: 13px;
		text-align: center;
		letter-spacing: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.rate_item_color_list a:first-child{
		margin-left: 0;
}
.rate_item_color_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.rate_item_color_list a:hover:before{
    border-color: #ff4e62;
    border-width: 3px;
}

.rate_item_color_list a span{
		position: relative;
		padding-left: 23px;
}
.rate_item_color_list a span:before{
    content: "";
    z-index: 1;
    position: absolute;
    top:-1px;
    bottom: 0;
    left: 0;
    background-color: #ff4e62;
		margin: auto;
		width: 15px;
		height: 15px;
}
.rate_item_color_list a span.red:before {background-color: #FF4E62;}
.rate_item_color_list a span.black:before {background-color: #000000;}
.rate_item_color_list a span.brown:before {background-color: #BB9D69; }
.rate_item_color_list a span.gray:before {background-color: #898989; }
.rate_item_color_list a span.rosegold:before {background-color: #f4cbc5;}
.rate_item_color_list a span.royalpurple:before {background-color: #603e94;}
.rate_item_color_list a span.cherrypink:before {background-color: #e9717d;}
.rate_item_color_list a span.lightpink:before {background-color: #f5b6c6;}
.rate_item_color_list a span.gold:before {background-color: #d4bba3;}
.rate_item_color_list a span.palemint:before {background-color: #70b8c6;}
.rate_item_color_list a span.lilacsilver:before {background-color: #d8d7e8;}
.rate_item_color_list a span.yellowgreen:before {background-color: #d5e0af;}
.rate_item_color_list a span.lightsideedition:before {background-color: #fff;}
.rate_item_color_list a span.deeppink:before {background-color: #edc5c6;}
.rate_item_color_list a span.platinum:before {background-color: #dbdbd9;}
.rate_item_color_list a span.mineralblack:before {background-color: #000;}
.rate_item_color_list a span.forestblue:before {background-color: #414b55;}
.rate_item_color_list a span.darksideedition:before {background-color: #000;}
.rate_item_color_list a span.blue:before {background-color: #a8dbea;}
.rate_item_color_list a span.pink:before {background-color: #f9cfc8;}
.rate_item_color_list a span.white:before {background-color: #eee;}
.rate_item_color_list a span.sliver:before {background-color: #d0d0d4;}
.rate_item_color_list a span.jetblack:before{   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2d2d2d+51,a0a0a0+86,777777+94,a5a5a5+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 51%, rgba(160,160,160,1) 86%, rgba(119,119,119,1) 94%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.rate_item_m_list{
    margin: 0 0 31px;
}
.rate_item_m_list li{
    float: left;
    width: 200px;
    margin: 0 0 0 29px;
}
.rate_item_m_list li:first-child{
    margin-left: 0;
}
.rate_item_m_list a{
    font-size: 17px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 31px 0;
}
.rate_item_m_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.rate_item_m_list a:hover:before{
    border-color: #ff4e62;
    border-width: 3px;
}
.rate_item_m_list span{
    font-size: 26px;
    display: block;
    color: #ff4e62;
    font-weight: bold;
}
.rate_item_m_list small{
    font-size: 17px;
}


.rate_item_cart{
    margin: 0 0 26px;
}
.rate_item_cart_l{
    float: left;
    width: 319px;
}
.rate_item_btn{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    margin: 3px auto 10px;
}
.rate_item_btn:hover{
    color:#fff;
}
.rate_item_btn.btn02 p{
    background: #FF4E62 url(../common/img/icon02_03.png) 56px 50% no-repeat;
    padding: 16px 0 16px 37px;
}
.rate_item_btn.btn02:before {
    background: #CC3E4E;
}


.rate_item_cart_r{
    float: right;
    text-align: right;
    padding: 0 7px 0 0;
}
.rate_item_tel_mes{
    font-size: 17px;
    margin: 0 0 6px;
}
.rate_item_tel{
		font-family: Arial, Helvetica, "sans-serif";
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.7px;
    line-height: 1;
    position: relative;
    z-index: 1;
}
.rate_item_tel:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/tel2.png) 0 0 no-repeat;
    width: 38px;
    height: 25px;
    top: 4px;
    left: -2px;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.step {
	margin-bottom: 20px;
}
.step li {
	position: relative;
	float: left;
	border: solid 2px #ECEEF4;
	margin-left: 15px;
	padding: 8px;
	width: 153px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.step li:first-child {
	margin-left: 0;
}
.step li:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -14px;
	margin: auto;
	width: 6px;
	height: 6px;
	border-top: 2px solid #595CCE;
	border-right: 2px solid #595CCE;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
}
.step li:first-child:before {
	display: none;
}
.step li dt {
	background: #595CCE;
	color: #FFFFFF;
	margin: 0 auto 10px;
	width: 100px;
	font-size: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.step li dd {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.05em;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.details_section{
	padding: 25px 0 15px;
}


.detailsData_list{
    margin: 0 0 20px;
}
.detailsData_list li{
    background-color: #595cce;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 20px auto;
    color: #fff;
    float: left;
    margin: 0 0 8px 3%;
		padding: 13px 3% 13px 7%;
    width: 48.5%;
    font-size: 10px;
    line-height: 12px;
    border-radius: 3px;
    text-align: center;
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.detailsData_list li:nth-child(2n+1){
    margin: 0 0 8px 0;
}
.detailsData_list li.detailsData_br{
    padding: 7px 3% 7px 7%;
}
.detailsData_list li.detailsData_not{
    background-color: #D8E1E8;
}
.detailsData_icn1{
    background-image: url(../img/details/spec01.png);
}
.detailsData_icn2{
    background-image: url(../img/details/spec02.png);
}
.detailsData_icn3{
    background-image: url(../img/details/spec03.png);
}
.detailsData_icn4{
    background-image: url(../img/details/spec04.png);
}
.detailsData_icn5{
    background-image: url(../img/details/spec05.png);
}
.detailsData_icn6{
    background-image: url(../img/details/spec06.png);
}
.detailsData_icn7{
    background-image: url(../img/details/spec07.png);
}
.detailsData_icn8{
    background-image: url(../img/details/spec08.png);
}
.detailsData_icn9{
    background-image: url(../img/details/spec09.png);
}
.detailsData_icn10{
    background-image: url(../img/details/spec10.png);
}
.detailsData_icn11{
    background-image: url(../img/details/spec11.png);
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.details_text1{
	margin-bottom: 10px;
	font-size: 12px;
}
.details_img1{
	margin-bottom: 10px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.flow{}
.flow_list{}
.flow_list li{
	position: relative;
	border: solid 1px #D9DBE6;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 33px auto;
	margin-bottom: 25px;
	padding: 13px 10px 13px 52px;
}
.flow_list li:nth-of-type(1){background-image: url(../img/details/flow01.png);}
.flow_list li:nth-of-type(2){background-image: url(../img/details/flow02.png);}
.flow_list li:nth-of-type(3){background-image: url(../img/details/flow03.png);}
.flow_list li:nth-of-type(4){background-image: url(../img/details/flow04.png);}
.flow_list li:after{
	content: "";
	position: absolute;
	bottom: -17px;
	left: 0;
	right: 0;
	margin: auto;
	width: 14px;
	height: 14px;
	border-bottom: 3px solid #595CCE;
	border-right: 3px solid #595CCE;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.flow_list li:last-child:after{
	display: none;
}
.flow_list li dl{

}
.flow_list li dt{
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}
.flow_list li dd{
	font-size: 12px;
}
