@charset "utf-8";

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.qa_wrap{
    font-size: 12px;
}
.qa_wrap dt{
	background: #f5f5fa;
	/* font-size: 15px; */
	color: #595cce;
	position: relative;
	z-index: 1;
	padding: 5px 26px;
	margin: 0 0 15px;
}
.qa_wrap dt:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../img/faq/icon_q.png) 0 0 no-repeat;
	background-size: auto 11px;
	width: 19px;
	height: 14px;
	top: 8px;
	left: 9px;
}
.qa_wrap dt:after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 30.4%;
    right: 7px;
    margin: auto;
    width: 7px;
    height: 7px;
    border-top: 2px solid #595cce;
    border-right: 2px solid #595cce;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.qa_wrap dd{
	position: relative;
	z-index: 1;
	padding: 0 26px;
	margin: 0 0 20px;
}
.faq_box2{
	margin: 0 -26px 0;
}
.faq_title2{margin: 15px 0 10px;}

.qa_wrap dd:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../img/faq/icon_a.png) 0 0 no-repeat;
	background-size: 14px auto;
	width: 18px;
	height: 13px;
	top: 4px;
	left: 9px;
}
.faq_table{
    width: 100%;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin: 0 0 30px;
}
.faq_table td,
.faq_table th{
    padding: 6px 15px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.faq_table td{

}
.faq_table th{
    width: 88px;
    background: #EEE;
    font-weight: bolder;
    vertical-align: middle;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
