@charset "utf-8";

/*---------------
	main
-----------------*/
.mainWidth {
	margin: 0;
}
.mainv {
	background-image: url(../img/form-entry/mainv.jpg);
	background-repeat: no-repeat;
	background-position: right 0;
	background-color: #ecf0f3;
	background-size: auto 100%;
}
.main_body{
	padding: 10px;
	background: #f1f1f1;
}

.mainv.mainv_inquiry{
	background-image: url(../img/form-entry/mainv2.jpg);
}
.main h1 {
	font-size: 19px;
	padding: 14px 0 14px 14px;
}
.mainv p {
	text-align: center;
	font-size: 12px;
	line-height: 1.8;
	padding-top: 27px;
	padding-bottom: 27px;
}
.mainv.mainv_inquiry p{
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
}
/*---------------
	sec共通
-----------------*/
.secWrap {
	background-color: #f1f1f1;
	padding: 10px;
}
.secWrapInner {
	padding-top: 12px;
	padding-bottom: 12px;
}
/*---------------
	sec01
-----------------*/
.sec01 {

}
.sec01Inner {
	padding-top: 14px;
	padding-bottom: 12px;
}
.sec01Inner h2 {
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}
.sec01_txt1 {
	font-size: 12px;
}
.sec01_btn{
	margin: 0 auto 5px;
	width: 95%;
}
.sec01_btn a{
	color: #FFFFFF;
}
.sec01_btn a:before{
	background: #009421;
}
.sec01_btn a dl{
	position: relative;
	z-index: 5;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	border-radius: 5px;
	background: #01b228;
	display: block;
	padding: 10px 0;
}
.sec01_btn a dl{
	padding: 7px 0;
}
.sec01_btn a dt{
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}
.sec01_btn a dd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.04em;
}
.sec01_btn a dd span{
	position: relative;
	z-index: 1;
	padding: 0 0 0 30px;
}
.sec01_btn a dd span:before{
	content: "";
	z-index: 1;
	position: absolute;
	background-image: url(../img/form-entry/sec01_tel.png);
	background-size: 23px;
	width: 23px;
	height: 15px;
	top: 8px;
	left: 0;
}
.sec01_txt2 {
	font-size: 11px;
	text-align: center;
	margin-bottom: 18px;
}
.sec01_ul {
	display: table;
	width: 95%;
	margin: 0 auto;
}
.sec01_ul li {
	display: table-cell;
	width: 33.3333%;
	height: 51px;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #595cce;
	border-bottom: 1px solid #595cce;
	padding: 5px 0;
	position: relative;
	line-height: 1.2;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sec01_ul li:last-child {
	border-right: 1px solid #595cce;
}
.sec01_ul li.done {
	background-color: #595cce;
	color: #fff;
}
.sec01_ul li.done:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	right: -10px;
	top: 0;
	border-style: solid;
	border-width: 24px 0 24px 10px;
	border-color: transparent transparent transparent #595cce;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sec01_ul li:nth-child(2):after {
	position: absolute;
	content: "";
	width: 11px;
	height: 50px;
	top: -1px;
	right: -11px;
	background-image: url(../img/form-entry/flow_arrow.png);
	background-repeat: no-repeat;
	background-size: auto 51px;
}
.sec01_ul li.done:nth-child(3):before,
.sec01_ul li.done:nth-child(2):before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: 0px;
	top: 0;
	border-style: solid;
	border-width: 24px 0 24px 10px;
	border-color: transparent transparent transparent #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sec01_ul li.done:nth-child(3):after{
	display: none;
}
.sec01_ul li:nth-child(1) {
	border-left: 1px solid #595cce;
}
.sec01_ul li:nth-child(1):after {
	position: absolute;
	content: "";
	width: 11px;
	height: 50px;
	top: -1px;
	right: -11px;
	background-image: url(../img/form-entry/flow_arrow.png);
	background-repeat: no-repeat;
	background-size: auto 51px;
}
/*---------------
	sec02
-----------------*/
.sec02 {
	background-color: #fff;
	margin-bottom: 12px;
	padding: 10px;
}
.sec02Inner {
	padding: 5px;
}
.sec02Inner h3 {
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.sec02_box {
	margin-bottom: 15px;
}
.sec02_box_c {
    width: 65%;
    float: right;
    margin-top: 15px;
}
.sec02_box_c dl {
    margin-bottom: 15px;
    font-size: 11px;
}
.sec02_box_c dt {
    clear: left;
    float: left;
    margin-right: 10px;
    border-right: 1px solid #565765;
    width: 4em;
    line-height: 1.5;
    margin-bottom: 5px;
}
.sec02_box_c dd {
	line-height: 1.5;
	margin-bottom: 5px;
}
.sec02_box_c p {
	font-size: 12px;
}


.sec02_box_l {
	float: left;
	width: 30%;
	margin-right: 3%;
}
.sec02_box_l p {
	text-align: center;
}
.sec02_box_r {
	float: right;
	width: 100%;
	margin-top:15px;
}
.sec02_box_r dl {
	margin-bottom: 15px;
	font-size: 11px;
}
.sec02_box_r dt {
	clear: left;
	float: left;
	margin-right: 10px;
	border-right: 1px solid #565765;
	width: 4em;
	line-height: 1.5;
	margin-bottom: 5px;
}
.sec02_box_r dd {
	line-height: 1.5;
	margin-bottom: 5px;
}
.sec02_box_r p {
/*	font-size: 12px;*/
}

.sec02_box2 {
	background-color: #fafafa;
	border: 1px solid #ddd;
	padding: 17px 19px 12px;
	text-align: center;
}
.sec02_tag {
	text-align: center;
	border: 1px solid #565765;
	border-radius: 3px;
	padding: 2px 6px 1px;
	font-size: 11px;
	margin-right: 5px;
	display: inline-block;
	margin-bottom: 5px;
}
.sec02_tag:nth-child(3) {
	margin-right: 0;
}
.sec02_txt {
	font-size: 13px;
	font-weight: bold;
}
.sec02_price {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ff4e62;
}
.sec02_price span:first-child {
	font-size: 13px;
	color: #565765;
	font-weight: bold;
}
.sec02_price span:nth-child(2) {
	font-size: 10px;
	color: #565765;
}
.sec02 .note{
	margin-left: 1em;
	color: #777777;
	font-size: 11px;
	text-indent: -1em;
}
/*---------------
	sec03
-----------------*/
.sec03 {
	background-color: #fff;
	padding: 10px;
}
.sec03Inner {
	padding-bottom: 20px;
}
.sec03Inner h3 {
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.sec03_dl {
	width: 100%;
}
.sec03_dl dt {
	padding: 0 0 5px;
	font-size: 12px;
	width: 100%;
}
.sec03_dl dd {
	padding: 0 0 10px;
	vertical-align: middle;
}
.sec03_dl dt,
.sec03_dl dd {
	position: relative;
}
.sec03_dl input {
	padding: 6px 10px;
	font-size: 12px;
	border: 1px solid #bbb;
	margin-right: 12px;
}
input.zip1,
input.zip2 {
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	width: 6em;
}
input.address {
	width: 100%;
}
.sec03_dl .btn-default{
    font-size: 12px;
    margin-bottom: 12px;
}
.sec03_dl .pref{
    font-size: 12px;
    border: 1px solid #bbb;
    box-shadow: none;
    height: 40px;
    padding: 6px 12px;
    width: auto;
    line-height: 1.5;
    margin-bottom: 12px;
}
.sec03_dl .address2{
    margin-bottom: 12px;
}
input.tel {
	width: 6em;
}
input.tel:first-child {
	margin-right: 6px;
}
input.tel:nth-child(n+2) {
	margin-left: 6px;
	margin-right: 6px;
}
input.full {
	margin-right: 0;
	width: 100%;
}
input.semi {
	width: -webkit-calc(50% - 6px);
	width: calc(50% - 6px);
}
.sec03_dl dd input.semi:nth-child(2) {
	margin-right: 0;
}
input.mail {
	margin-right: 0;
	width: 100%;
}
input.notentered {
/*	background-color: #ffe1e1;*/
}
.caution {
	position: absolute;
	background-color: #000;
	color: #fff;
	padding: 8px 15px;
	border-radius: 6px;
}
.caution:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -12px;
	right: 0;
	left: 0;
	margin: 0 auto;
	border-style: solid;
	border-width: 12px 9px 0 9px;
	border-color: #000 transparent transparent transparent;
}
label.carrier {
	white-space: nowrap;
	font-size: 11px;
	margin-right: 24px;
}
label.carrier input {
	margin-right: 5px;
}
textarea {
/*	background-color: #ffe1e1;*/
	width: 100%;
}
.hissu {
	display: inline-block;
	background-color: #ff4e62;
	color: #fff;
	text-align: center;
	padding: 2px 6px;
	border-radius: 2px;
	margin-left: 10px;
	font-size: 10px;
}
.nini {
	display: inline-block;
	background-color: #aeaeae;
	color: #fff;
	text-align: center;
	padding: 2px 6px;
	border-radius: 2px;
	margin-left: 10px;
	font-size: 10px;
}
.sec03_txt1 {
	color: #777;
	font-size: 11px;
	text-indent: -1em;
	padding: 0 15px 15px;
}
.sec03_btn {
	margin: 0 auto;
	display: block;
	border-radius: 6px;
	padding: 0 0 3px;
	text-align: center;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	position: relative;
	z-index: 1;
	font-size: 13px;
	color: #fff;
	width: 95%;
}
.sec03_btn:before {
	background-color: #d91d32;
	content: "";
	z-index: 1;
	position: absolute;
	height: 20px;
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: 0 0 6px 6px;
}
.sec03_btn span {
	background-color: #ff4e62;
	position: relative;
	z-index: 5;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	border-radius: 6px;
	display: block;
	padding: 12px 0;
}
.sec03_btn span:after {
	content: "";
	z-index: 1;
	position: absolute;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	width: 7px;
	height: 7px;
	top: 41%;
	right: 15px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.sec03_btn.inq_btn:before {
	background-color: #7A7A7A;
}
.sec03_btn.inq_btn span {
	background-color: #999999;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.form_fin{
    font-size: 14px;
		font-weight: bold;
    text-align: center;
    margin: 0 0 8px;
}
.form_fin_mes{
		font-size: 12px;
		text-align: center;
    margin: 0 0 20px;
}
.form_fin_mes p{
    margin: 0 0 8px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.form-control{
font-size: inherit;
}
.dl_table{
/*border-top: hidden;*/
/*border-right: 1px dotted #ccc;
border-left: 1px dotted #ccc;*/

}
.dl_table dt{
width: inherit;
padding: 0 !important;
/*border-bottom: hidden;*/
}
.dl_table span.required{
display: inline-block;
background-color: #ff4e62;
color: #fff;
text-align: center;
padding: 0px 8px;
border-radius: 2px;
clear: right;
margin-top: 1px;
font-size: 12px;
}

.dl_table dd{
/*border-bottom: hidden;*/
}

dl[id*=top_box__]{
	padding:0px;
}
dl[id*=top_box__] dd{
	padding:15px 10px;
}

dl[id*=detail_box__]{
	padding:0px;
}
dl[id*=detail_box__] dd{
	padding:5px 0px 20px;
}

#top_box__zip input{
	width:44%;
	max-width: none;
}

.next-btn{
    color: #fff;
    background-color: #FF4E62;
    border-color: #FF4E62;
    border-radius: 5px;
    font-size: 18px;
}

.back-btn{
    color: #fff;
    background-color: #525263;
    border-color: #525263;
    border-radius: 5px;
    font-size: 18px;
}

.form-group {
	overflow: hidden;
}
.form-group .radio {
	float: left;
	margin-right: 20px;
}
.form-group .radio:last-child {
	margin-right: 0;
}
#top_box__footer {
	width: 90%;
	margin: 0 auto;
}
#footer {
	padding: 0;
}