{% extends 'default_frame.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/details.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/details.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}
<ul class="details_pglink clr">
                    <li><a href="#details01">主な仕様</a></li>
                    <li><a href="#details02">特徴</a></li>
                    <li><a href="#details03">商品情報</a></li>
                    <li><a href="#details05">料金</a></li>
                </ul>

                <div>
                    <h2 class="main_title1" id="details01">主な仕様</h2>

                    <ul class="detailsData_list clr">
                        <li class="detailsData_icn1 {% if __EX_PRODUCT[app.config.product_ex_spec_01.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_01.text].valuetext}}</li>
                        <li class="detailsData_icn2 {% if __EX_PRODUCT[app.config.product_ex_spec_02.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_02.text].valuetext}}</li>
                        <li class="detailsData_icn3 {% if __EX_PRODUCT[app.config.product_ex_spec_03.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_03.text].valuetext}}</li>
                        <li class="detailsData_icn4 detailsData_br {% if __EX_PRODUCT[app.config.product_ex_spec_04.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_04.text].valuetext}}</li>
                        <li class="detailsData_icn7 {% if __EX_PRODUCT[app.config.product_ex_spec_05.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_05.text].valuetext}}</li>
                        <li class="detailsData_icn8 detailsData_br {% if __EX_PRODUCT[app.config.product_ex_spec_06.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_06.text].valuetext}}</li>
                        <li class="detailsData_icn8 detailsData_br {% if __EX_PRODUCT[app.config.product_ex_spec_07.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_07.text].valuetext}}</li>
                        <li class="detailsData_icn9 {% if __EX_PRODUCT[app.config.product_ex_spec_08.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_08.text].valuetext}}</li>
                        <li class="detailsData_icn5 {% if __EX_PRODUCT[app.config.product_ex_spec_09.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_09.text].valuetext}}</li>
                        <li class="detailsData_icn10 {% if __EX_PRODUCT[app.config.product_ex_spec_10.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_10.text].valuetext}}</li>
                        <li class="detailsData_icn11 detailsData_br {% if __EX_PRODUCT[app.config.product_ex_spec_11.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_11.text].valuetext}}</li>
                        <li class="detailsData_icn6 detailsData_br {% if __EX_PRODUCT[app.config.product_ex_spec_12.disp].value %}{% else %}detailsData_not{% endif %}">{{__EX_PRODUCT[app.config.product_ex_spec_12.text].valuetext}}</li>
                    </ul>

                    <h2 class="main_title1" id="details02">特徴</h2>

                    {% if (__EX_PRODUCT[app.config.product_ex_feature_01.title].valuetext) %}

                    <h3 class="main_title2">{{__EX_PRODUCT[app.config.product_ex_feature_01.title].valuetext}}</h3>
                    <p class="details_text1">{{__EX_PRODUCT[app.config.product_ex_feature_01.info].valuetext|nl2br}}</p>
                    {% if (__EX_PRODUCT[app.config.product_ex_feature_01.img].valuetext.0) %}
                        <figure class="details_img1"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_feature_01.img].valuetext.0 }}" height="440" width="720" alt=""></figure>
                    {% endif %}
                    {% endif %}


                    {% if (__EX_PRODUCT[app.config.product_ex_feature_02.title].valuetext) %}

                    <h3 class="main_title2">{{__EX_PRODUCT[app.config.product_ex_feature_02.title].valuetext}}</h3>
                    <p class="details_text1">{{__EX_PRODUCT[app.config.product_ex_feature_02.info].valuetext|nl2br}}</p>
                    {% if (__EX_PRODUCT[app.config.product_ex_feature_02.img].valuetext.0) %}
                        <figure class="details_img1"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_feature_02.img].valuetext.0 }}" height="440" width="720" alt=""></figure>
                    {% endif %}
                    {% endif %}

                    {% if (__EX_PRODUCT[app.config.product_ex_feature_03.title].valuetext) %}

                    <h3 class="main_title2">{{__EX_PRODUCT[app.config.product_ex_feature_03.title].valuetext}}</h3>
                    <p class="details_text1">{{__EX_PRODUCT[app.config.product_ex_feature_03.info].valuetext|nl2br}}</p>
                    {% if (__EX_PRODUCT[app.config.product_ex_feature_03.img].valuetext.0) %}
                        <figure class="details_img1"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_feature_03.img].valuetext.0 }}" height="440" width="720" alt=""></figure>
                    {% endif %}
                    {% endif %}





                </div>

                {# カラー名称取得#}

                {% set pcstr = '' %}
                {% for pc in ProductColor %}
                    {% set pcstr = pcstr ~ pc.name ~ ',' %}
                {% endfor %}
                <div class="itemdata">
                    <h2 class="main_title1" id="details03">商品情報</h2>




                    <div class="itemdata_box">
                        <h3 class="details_title1">基本仕様</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>商品名</th>
                                <td>{{Product.name}}</td>
                            </tr>
                            <tr>
                                <th>メーカー名</th>
                                <td>{{ __EX_PRODUCT_MAKER.name }}</td>
                            </tr>
                            <tr>
                                <th>発売日</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_sale_date].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>カラー</th>
                                <td>{{pcstr}}</td>
                            </tr>
                            <tr>
                                <th>OS</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_os].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>本体サイズ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_body_size].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>重さ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_weight].valuetext }}</td>
                            </tr>
                        </table>

                    </div>

                    <div class="itemdata_box">
                        <h3 class="details_title1">ディスプレイ</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>液晶サイズ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_screen_size].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>画面解像度</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_screen_rezo].valuetext }}</td>
                            </tr>
                        </table>

                    </div>


                    <div class="itemdata_box">
                        <h3 class="details_title1">カメラ</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>メインカメラ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_main_cam].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>サブカメラ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_sub_cam].valuetext }}</td>
                            </tr>
                        </table>
                    </div>


                    <div class="itemdata_box">
                        <h3 class="details_title1">バッテリー</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>電池容量</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_battery].valuetext }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="itemdata_box">
                        <h3 class="details_title1">CPU ＆ 内蔵メモリ</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>CPU</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_cpu].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>ROM</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_rom].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>RAM</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_ram].valuetext }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="itemdata_box">
                        <h3 class="details_title1">その他機能</h3>
                        <table class="itemdata_tab_table">
                            <tr>
                                <th>防水/防滴機能</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_waterproof].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>テザリング</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_tethering].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>Wifi対応</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_wifi].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>Bluetooth</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_bluetooth].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>GPS機能</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_gps].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>赤外線通信</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_infrared].valuetext }}</td>
                            </tr>
                            <tr>
                                <th>おサイフ ケータイ</th>
                                <td>{{ __EX_PRODUCT[app.config.product_ex_p_etc_pay].valuetext }}</td>
                            </tr>
                        </table>
                    </div>


                </div>

                {# レビュー登録ボタンの差込用　#}
                <div id="item_detail_area123" class="item_detail">
                    <p></p>
                </div>

{% endblock %}