{% extends 'default_frame.twig' %}

{% block stylesheet %}
 <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/list.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/list.js"></script>

    <script>
        // 並び順を変更
        function fnChangeOrderBy(orderby) {
            eccube.setValue('orderby', orderby);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }

    </script>
{% endblock %}

{% block sbm_side_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}

        <nav class="list_sort mainWidth">
            <h2 class="list_sort_title"><span>{% if Category.id in app.config.productlist_category_grp %}
<img src="{{ app.config.front_urlpath }}/img/list/list_title0{{ Category.id }}.png" alt="{{ Category.name }}">{% else %}<img src="{{ app.config.front_urlpath }}/img/list/list_title00.png" alt="">{% endif %}</span></h2>
            <ul class="sort clr">
                <li><a class="arrow01 {% if app.request.get('orderby') == 3 or app.request.get('orderby') == null %}sort_on{% endif %}" href="" onclick="javascript:fnChangeOrderBy(3);">売れ筋で並び替え<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
                <li><a class="arrow01 {% if app.request.get('orderby') == 1 %}sort_on{% endif %}" href="" onclick="javascript:fnChangeOrderBy(1);">安さ順で並び替え<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
                <li><a class="arrow01 {% if app.request.get('orderby') == 2 %}sort_on{% endif %}" href="" onclick="javascript:fnChangeOrderBy(2);">新着順で並び替え<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
            </ul>
        </nav>
        <form name="form1" id="form1" method="get" action="?">
            {{ form_widget(search_form) }}
        </form>

        <div class="list_body mainWidth">
            <div class="list_item_body">

            {% for key, Product in pagination %}
            {% if key == 0 %}
                <ul class="list_item list_item_on clr">
            {% endif %}

                    <li>
                        <p class="list_item_name">
                        {% for tag in ProductTags[Product.id] %}
                            {% if tag.Color1=='new' %}

                            <span class="list_item_{{tag.Color1}}">{{ tag.Tag.name }}</span>
                            {% endif %}
                        {% endfor %}

                        {{ Product.name }}
                        </p>

                        <div class="list_item_img">
                            {% if Product.ProductImage|length > 0 %}
                                {% for ProductImage in Product.ProductImage %}
                                <div><a href="{{ url('product_detail', {'id': Product.id}) }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" height="307" width="377" alt=""></a></div>
                                {% endfor %}
                            {% else %}
                                <div><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="307" width="377" alt=""></div>
                            {% endif %}
                        </div>
                        <div class="list_item_img_btn">
                            {% if Product.ProductImage|length > 0 %}
                                {% for ProductImage in Product.ProductImage %}
                                {% if loop.index <= 5 %}
                                <div><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" height="70" width="56" alt=""></div>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                                <div><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="70" width="56" alt=""></div>
                            {% endif %}
                        </div>

                        <p class="list_item_mes"><span>{{ Product.description_detail|raw|nl2br }}</span></p>
                        <div class="list_item_m">
                            <p>
                            {% set product_type = Product.ProductClasses.0.ProductType.id %}
                            {{ app.config.producttype_ex_monthly_type_grp_disp.front[product_type] }} <span class="list_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}円</span>

                            <span class="list_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span>
                            </p>
                        </div>

                        <div class="list_item_btn clr">
                            <a class="list_item_btn1 arrow01" href="{{ url('product_detail', {'id': Product.id}) }}">詳細を見る</a>
                            <form action="{{url('product_detail',{'id':Product.id})}}?" method="post" id="form1-entry--{{Product.id}}" name="form1-entry--{{Product.id}}">
                                <button type="submit" id="add-cart-side" class="list_item_btn2 arrow01">購入手続きへ</button>
                                {{ form_widget(forms2[Product.id]._token) }}

                                <input type="hidden" id="quantity" name="quantity" value="1">
                                <input type="hidden" id="product_color" name="product_color" value="0">
                                {#相談して決めるを取得#}
                                <input type="hidden" id="product_class_id" name="product_class_id" value="{{Product.findProductClassByClassCategory1(32).id}}">
                                <input type="hidden" id="mode" name="mode" value="customentryform_add_cart">
                                <input type="hidden" id="product_id" name="product_id" value="{{Product.id}}">
                                {#<a class="list_item_btn2 arrow01" href="{{ url('product_detail', {'id': Product.id}) }}">購入手続きへ</a>#}
                            </form>
                        </div>

                    </li>


            {% if key == 3 %}
                </ul>
                <!--
                <div class="list_sw_img"><a href="/products/detail/119"><img src="{{ app.config.front_urlpath }}/img/list/main_sw.jpg" height="416" width="1040" alt=""></a></div>
                -->
                <ul class="list_item list_item_on clr">
            {% endif %}

            {% if pagination|length == (key+1) %}
                </ul>
            {% endif %}

            {% endfor %}



            </div>


        </div>

{% endblock %}