{% set l_producttype = 0 %}
{% for cc in Product.ProductClasses|slice(0,3) %}
    {% if (cc.ProductType.id != 0) %}
        {% set l_producttype = cc.ProductType.id %}
    {% endif %}
{% endfor %}
{% if (l_producttype == app.config.producttype_ex_router_type) %}
{% block stylesheet %}
<style type="text/css">
/* ======== PC ==========*/
#item-dtl-tab {
	width: 1000px;
	margin-bottom: 30px;
	overflow: hidden;
}
#item-dtl-tab>ul {
	overflow: hidden;
	height: 50px;
	width: 1010px;
	margin-right: -10px;
	background: url({{ app.config.front_urlpath }}/img/product/bd-item-dtl-tab.gif) repeat-x 0 bottom;
}
#item-dtl-tab>ul li.active, #item-dtl-tab>ul li:hover {
	border-top: 2px solid #444;
	border-left: 2px solid #444;
	border-right: 2px solid #444;
	margin-top: 0;
	padding-top: 3px;
	height: 52px;
	line-height: 52px;
	width: 330px;
	color: #232f3e;
	background: #fff;
}
#item-dtl-tab>ul li {
	float: left;
	width: 330px;
	margin-top: 5px;
	margin-right: 5px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #444;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-bottom: 2px solid #444;
	cursor: pointer;
}
.item-dtl-tab-cont {
	width: 1000px;
	display: none;
	background: #fff;
	margin-bottom: 20px;
}
.item-dtl-tab-cont>h2 {
	border-top: 5px solid #333;
	border-bottom: 1px solid #ccc;
	padding: 15px 20px;
	font-size: 22px;
	font-weight: bold;
	color: #232f3e;
	line-height: 1;
	margin-bottom: 45px;
}
.item-dtl-tab-cont .item-dtl-summary {
	width: 830px;
	margin: 0 auto;
	padding-bottom: 80px;
	overflow: hidden;
}
.item-dtl-tab-cont .item-dtl-summary .summary-img {
	float: right;
	margin-left: 45px;
}
.item-dtl-tab-cont .item-dtl-summary h3 {
	font-size: 26px;
	font-weight: bold;
	padding-top: 20px;
	margin-bottom: 15px;
}
.item-dtl-tab-cont .item-dtl-summary .summary-text {
	font-size: 14px;
	line-height: 1.7;
}
.item-dtl-tab-cont .item-dtl-spec {
	width: 860px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.item-dtl-tab-cont .item-dtl-spec h3 {
	padding: 10px 15px;
	background: #ccc;
	color: #232f3e;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.item-dtl-tab-cont .item-dtl-spec table {
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
}
.item-dtl-tab-cont .item-dtl-spec table th {
	width: 165px;
	background: #f5f5f5;
	font-weight: normal;
}
.item-dtl-tab-cont .item-dtl-spec table th, .item-dtl-tab-cont .item-dtl-spec table td {
	border: 1px solid #e8e8e8;
	padding: 12px;
}
.item-dtl-tab-cont .item-dtl-spec table th, .item-dtl-tab-cont .item-dtl-spec table td {
	border: 1px solid #e8e8e8;
	padding: 12px;
}
/* ======== /PC ==========*/

/* ======== SP ==========*/
.item-inf .tab-list {
    overflow: hidden;
    border-top: 1px solid #ccc;
}
.item-inf .tab-list li:first-child {
    border-left: none;
}
.item-inf .tab-list li {
    float: left;
    display: table;
    box-sizing: border-box;
    width: 33.33%;
    vertical-align: middle;
    border-left: 1px solid #ccc;
}
.item-inf .tab-list a {
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.item-inf .inf-content {
    padding: 0 10px;
    border-top: 2px solid #ccc;
}
.item-inf .inf-content h2 {
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.item-inf #info li {
    padding-bottom: 25px;
    font-size: 1.1rem;
}
.item-inf #info li .image {
    margin-bottom: 18px;
}
.item-inf #info li p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.item-inf #info li .image img {
    width: 100%;
    height: auto;
}
.item-inf #plan, .item-inf #spec {
    padding-bottom: 20px;
}
.item-inf #plan table, .item-inf #spec table {
    width: 100%;
    margin-bottom: 15px;
}
.item-inf #plan caption, .item-inf #spec caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
}
.item-inf #plan th, .item-inf #spec th {
    background: #f7f7f7;
    font-weight: bold;
    width: 33%;
}
.item-inf #plan th, .item-inf #plan td, .item-inf #spec th, .item-inf #spec td {
    border: 1px solid #ccc;
    padding: 8px 5px;
    font-size: 1rem;
}
.item-inf #plan th, .item-inf #plan td, .item-inf #spec th, .item-inf #spec td {
    border: 1px solid #ccc;
    padding: 8px 5px;
    font-size: 1rem;
}


/* ======== /SP ==========*/


</style>
{% endblock %}

<!-- ================ PC ================ -->
{# 
「商品詳細」の情報がなければ非表示
 #}
{% set info_flg = false %}
{% if (__EX_PRODUCT[app.config.product_ex_infotitle_01].valuetext or __EX_PRODUCT[app.config.product_ex_infotitle_02].valuetext or __EX_PRODUCT[app.config.product_ex_infotitle_03].valuetext ) %}
{% set info_flg = true %}
{% endif %}




<div id="item-dtl-tab" class="pc">
	<ul>
		{% if (info_flg) %}<li data-tab="summary" class="item-dtl-tab-1 active">商品詳細</li>{% endif %}
		<li data-tab="spec_info" class="item-dtl-tab-2{% if (info_flg == false) %} active{% endif %}">スペック詳細</li>
	</ul>
</div>

<div class="pc">
	<!-- summary -->
	<div id="summary" class="item-dtl-tab-cont">
		<h2>商品詳細</h2>

		{% if (__EX_PRODUCT[app.config.product_ex_infotitle_01].valuetext) %}
		<div class="item-dtl-summary">
			{% if (__EX_PRODUCT[app.config.product_ex_img_01].valuetext.0) %}
			<p class="summary-img"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_01].valuetext.0 }}" alt="" /></p>
			{% endif %}
			<h3>{{__EX_PRODUCT[app.config.product_ex_infotitle_01].valuetext}}</h3>
			<p class="summary-text">{{ __EX_PRODUCT[app.config.product_ex_info_01].valuetext|nl2br }}</p>
		</div>
		{% endif %}
		{% if (__EX_PRODUCT[app.config.product_ex_infotitle_02].valuetext) %}
		<div class="item-dtl-summary">
			{% if (__EX_PRODUCT[app.config.product_ex_img_02].valuetext.0) %}
			<p class="summary-img"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_02].valuetext.0 }}" alt="" /></p>
			{% endif %}
			<h3>{{__EX_PRODUCT[app.config.product_ex_infotitle_02].valuetext}}</h3>
			<p class="summary-text">{{ __EX_PRODUCT[app.config.product_ex_info_02].valuetext|nl2br }}</p>
		</div>
		{% endif %}
		{% if (__EX_PRODUCT[app.config.product_ex_infotitle_03].valuetext) %}
		<div class="item-dtl-summary">
			{% if (__EX_PRODUCT[app.config.product_ex_img_03].valuetext.0) %}
			<p class="summary-img"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_03].valuetext.0 }}" alt="" /></p>
			{% endif %}
			<h3>{{__EX_PRODUCT[app.config.product_ex_infotitle_03].valuetext}}</h3>
			<p class="summary-text">{{ __EX_PRODUCT[app.config.product_ex_info_03].valuetext|nl2br }}</p>
		</div>
		{% endif %}


	</div>
	<!-- /summary -->

	<!-- spec -->
	<div id="spec_info" class="item-dtl-tab-cont">
		<h2>スペック詳細</h2>

		<div class="item-dtl-spec">
			<h3>基本仕様</h3>
			<table>
				<tr>
					<th>キャリア</th>
					<td>
					{% for key, card_size in __EX_PRODUCT[app.config.product_ex_carrier].valuetext %}
					{% if (loop.first) %}
					{% else %}/{% endif %}
					{{ card_size }}
					{% endfor %}
					</td>
				</tr>
				<tr>
					<th>SIMカードサイズ</th>
					<td>
					{% for key, card_size in __EX_PRODUCT[app.config.product_ex_sim_size].valuetext %}
					{% if (loop.first) %}
					{% else %}<br>{% endif %}
					{{ card_size }}
					{% endfor %}
					</td>
				</tr>
				<tr>
					<th>発売時期</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_sale_date].valuetext }}</td>
				</tr>
				<tr>
					<th>製品種別</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_productinfo].valuetext }}</td>
				</tr>
				<tr>
					<th>基本サイズ</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_stdsize].valuetext }}</td>
				</tr>
				<tr>
					<th>重さ</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_weight].valuetext }}</td>
				</tr>
			</table>
		</div>


		<div class="item-dtl-spec">
			<h3>その他の機能</h3>
			<table>
				<tr>
					<th>LTE対応</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_lte].valuetext }}</td>
				</tr>
				<tr>
					<th>Wifi対応</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_wifi].valuetext }}</td>
				</tr>
				<tr>
					<th>Bluetooth</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_bluetooth].valuetext }}</td>
				</tr>
				<tr>
					<th>GPS機能</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_gps].valuetext }}</td>
				</tr>
				<tr>
					<th>備考</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_msg].valuetext }}</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- /spec -->
</div>
<!-- ================ /PC ================ -->

<!-- ================ SP ================ -->
<div class="item-inf sp">
	<ul id="js-scroll-referer-for-follow-header" class="tab-list">
		<li><a href="#info" class="js-scroll" data-scroll-offset="-50">製品情報</a></li>
		<li><a href="#spec" class="js-scroll" data-scroll-offset="-50">スペック</a></li>
		<li><a href="#sim" class="js-scroll" data-scroll-offset="-50">対応SIM<br/>カード</a></li>
	</ul>
	<div id="info" class="inf-content js-scroll-referer-for-follow-header-navigation">
		<h2>製品情報</h2>
		<ul>
			{% if (__EX_PRODUCT[app.config.product_ex_infotitle_01].valuetext) %}
			<li>
				{% if (__EX_PRODUCT[app.config.product_ex_img_01].valuetext.0) %}
				<div class="image"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_01].valuetext.0 }}" alt=""></div>
				{% endif %}
				<p>{{__EX_PRODUCT[app.config.product_ex_infotitle_01].valuetext}}</p>
				{{ __EX_PRODUCT[app.config.product_ex_info_01].valuetext|nl2br }}
			</li>
			{% endif %}

			{% if (__EX_PRODUCT[app.config.product_ex_infotitle_02].valuetext) %}
			<li>
				{% if (__EX_PRODUCT[app.config.product_ex_img_02].valuetext.0) %}
				<div class="image"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_02].valuetext.0 }}" alt=""></div>
				{% endif %}
				<p>{{__EX_PRODUCT[app.config.product_ex_infotitle_02].valuetext}}</p>
				{{ __EX_PRODUCT[app.config.product_ex_info_02].valuetext|nl2br }}
			</li>
			{% endif %}

			{% if (__EX_PRODUCT[app.config.product_ex_infotitle_03].valuetext) %}
			<li>
				{% if (__EX_PRODUCT[app.config.product_ex_img_03].valuetext.0) %}
				<div class="image"><img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[app.config.product_ex_img_03].valuetext.0 }}" alt=""></div>
				{% endif %}
				<p>{{__EX_PRODUCT[app.config.product_ex_infotitle_03].valuetext}}</p>
				{{ __EX_PRODUCT[app.config.product_ex_info_03].valuetext|nl2br }}
			</li>
			{% endif %}
		</ul>
	</div>

	<div id="spec" class="inf-content js-scroll-referer-for-follow-header-navigation">
		<h2>スペック</h2>
		<table>
			<caption>基本仕様</caption>
			<tr>
				<th>キャリア</th>
				<td>
					{% for key, card_size in __EX_PRODUCT[app.config.product_ex_carrier].valuetext %}
					{% if (loop.first) %}
					{% else %}/{% endif %}
					{{ card_size }}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>SIMカードサイズ</th>
				<td>
					{% for key, card_size in __EX_PRODUCT[app.config.product_ex_sim_size].valuetext %}
					{% if (loop.first) %}
					{% else %}<br>{% endif %}
					{{ card_size }}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>発売時期</th>
				<td>{{ __EX_PRODUCT[app.config.product_ex_sale_date].valuetext }}</td>
			</tr>
			<tr>
				<th>製品種別</th>
				<td>{{ __EX_PRODUCT[app.config.product_ex_r_productinfo].valuetext }}</td>
			</tr>
			<tr>
				<th>基本サイズ</th>
				<td>{{ __EX_PRODUCT[app.config.product_ex_r_stdsize].valuetext }}</td>
			</tr>
			<tr>
				<th>重さ</th>
				<td>{{ __EX_PRODUCT[app.config.product_ex_r_weight].valuetext }}</td>
			</tr>
		</table>


		<table>
			<caption>その他の機能</caption>
				<tr>
					<th>LTE対応</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_lte].valuetext }}</td>
				</tr>
				<tr>
					<th>Wifi対応</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_wifi].valuetext }}</td>
				</tr>
				<tr>
					<th>Bluetooth</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_bluetooth].valuetext }}</td>
				</tr>
				<tr>
					<th>GPS機能</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_r_etc_gps].valuetext }}</td>
				</tr>

				<tr>
					<th>備考</th>
					<td>{{ __EX_PRODUCT[app.config.product_ex_msg].valuetext }}</td>
				</tr>
		</table>
	</div>
</div>

<!-- ================ /SP ================ -->
{% endif %}