<!-- {* 通話プラスプランの重要説明事項 *} -->
<p>平成27年4月1日版<br>
株式会社U-NEXT（以下、「当社」といいます）は、U-mobile 通話プラスに関する利用規約
（以下、「本規約」といいます）を以下の通り定め、これによりU-mobile 通話プラスを提供します。</p>

<h4>第一章 総則</h4>

<h5>第１条（定義）</h5>
<p>本規約における用語を以下のとおり定義します。 <br>
（１） 「U-mobile 通話プラス」（以下、「本サービス」といいます）とは、この規約に基づいて提供される当社のサービスの総称をいいます。<br>
（２） 「U-mobile 通話プラス契約」とは、本サービスの利用に関する契約をいいます。<br>
（３） 「契約者」とは、本サービスの契約者をいいます。<br>
（４） 「本SIMカード」とは、本規約に基づき貸与される、契約者情報を記録したICカードをいい、本SIMカードには、Xi対応SIMカード、Xi対応microSIMカードおよびXi対応nanoSIMカードの３つのSIMカード種別が含まれるものとします。<br>
（５） 「音声通話機能付きSIMカード」とは、本SIMカードのうち、当社が定める音声通話機能を有するものをいいます。<br>
（６） 「携帯電話事業者」とは、当社と直接または間接にワイヤレスデータ通信および回線交換サービスの提供にかかる相互接続協定その他の契約を締結している携帯電話事業者をいいます。現在の携帯電話事業者は、株式会社エヌ・ティ・ティ・ドコモです。<br>
（７） 「ワイヤレスデータ通信」とは、携帯電話事業者が提供する無線データ通信でパケット交換方式により符号の伝送を行うためのものをいいます。<br>
（８） 「ユニバーサルサービス料」とは、電気通信事業法（昭和59 年法律第86 号）に定める基礎的電気通信役務の提供の確保のための負担金に充てるために、基礎的電気通信役務の提供に係る交付金および負担金算定等規則（平成14 年総務省令第64 号）により算出された額に基づいて、当社が定める料金をいいます。<br>
（９） 「契約者回線」とは、本サービスにかかる契約に基づいて、契約者が利用する電気通信回線をいいます。
（１０） 「端末機器」とは、端末機器の技術基準適合認定等に関する規則（平成16 年総務省令第15 号）で定める種類の端末設備の機器をいいます。<br>
（１１） 「自営端末機器」とは、契約者が本SIMカードを利用するため自ら用意する端末機器（当社が契約者に対して販売した機器も含みます）をいいます。<br>
（１２） 「協定事業者」とは、当社と相互接続協定その他の契約を結んだ電気通信事業者をいいます。<br>
（１３） 「消費税相当額」とは、消費税法（昭和63年法律第108号）および同法に関する法令の規定に基づき課税される消費税の額並びに地方税法（昭和25年法律第226号）および同法に関する法令の規定に基づき課税される地方消費税の額をいいます。</p>

<h5>第２条（契約の単位）</h5>
<p>１．当社は、一の種類の一の本サービス毎に一の本サービス契約を締結するものとします。<br>
２．契約者は、本サービスについて、最大5の契約を申し込むことができるものとします。</p>

<h5>第３条（本規約）</h5>
<p>１．契約者は、本規約およびその他の本サービスに関する諸規定に従って本サービスを利用するものとします。<br>
２．当社は本規約を変更することがあります。この場合には、本サービスの利用条件は変更後の規約によります。</p>

<h5>第４条（本サービスおよび付加機能サービスの申込および利用開始）</h5>
<p>１．本サービスの利用契約は、本サービスの利用希望者が本規約に同意のうえで、当社が別途定める手続きに従い本サービスへの申込をなし、当社が当該希望者を本サービスの契約者として登録した時点をもって成立するものとします。<br>
２．本サービスにおいて、音声通話機能付きSIMカード利用の申込をする者は、本人確認（携帯音声通信事業者による契約者等の本人確認等及び携帯音声通信役務の不正な利用防止に関する法律（平成17年31号）第9条の規定に基づくものであって、氏名、住所、生年月日等の契約者を特定する情報の確認を行うことをいいます。以下同じとします。）のために当社が別途定める書類を、当社が定める期日までに提示する必要があります。<br>
３．本サービスの課金開始基準日となる本サービスの開始日は、当社が指定するものとします。<br>
４．当社は、申込があったときは、これを承諾するものとします。ただし、次に掲げる事由に該当する場合には、当該申込を承諾しないことがあります。<br>
（１） 本サービス利用の申込者（以下、「申込者」といいます）が本サービス契約上の債務の支払を怠るおそれがあることが明らかであるとき<br>
（２） 申込者が第２１条(利用停止)第1項各号の事由に該当するとき<br>
（３） 申込者が、申込より以前に、当社が提供するサービスにつき当社と契約を締結したことがあり、かつ、当社から当該契約を解除したことがあるとき<br>
（４） 申込に際し、当社に対しことさら虚偽の事実を通知したとき<br>
（５） 申込に際し、申込者が支払手段として正当に使用することができないクレジットカードを指定したとき
（６） 申込者が、指定したクレジットカードの名義人と異なるとき<br>
（７） 本条第２項において、本人確認ができないとき<br>
５．前項の規定により申込を拒絶したときは、当社は申込者に対しその旨を通知します。<br>
６．当社は、本条第４項に掲げる事由の判断のため、申込者に対し、当該申込者の身分証明に係る公的書類その他の書類の提出を要求する場合があります。この場合において当該申込者から当該書類の提出が行われない間は、当社は、本条第４項に基づく申込の承諾を留保又は拒絶するものとします。<br>
７．当社は、同一の契約者が同時に利用することのできる本サービスの個数の上限を定めることができるものとします。この場合において、当該個数の上限を超えて本サービスの利用の申込があったときは、当社は、当該上限を超える部分に係る申込を承諾しないものとします。<br>
８．契約者は、本サービス利用契約の申し込みの際当社に通知した情報に変更がある場合は、当社所定の方法により、遅滞なく当社に届け出るものとします。</p>

<h5>第５条（携帯電話事業者との契約）</h5>
<p>契約者は、本サービスを利用するにあたり、ワイヤレスデータ通信及び音声通話サービスの提供を受けるため、携帯電話事業者の定める約款に基づき、契約者と携帯電話事業者との間で接続契約が締結され、本サービスの利用の終了により接続契約が解約されることを了承します。その場合、当社が当該接続契約の申込および解約を携帯電話事業者に取り次ぐものとします。現在の携帯電話事業者の定める約款は、Ｘｉサービス契約約款です。なお、契約者において特段の手続きは不要です。</p>

<h5>第６条 (権利の譲渡制限等)</h5>
<p>１．契約者が、本サービス契約に基づいてサービスの提供を受ける権利は、譲渡することができません。<br>
２．契約者は本サービスを再販売する等、第三者に本サービスを利用させることはできません。</p>

<h4>第二章 本サービス</h4>

<h5>第７条（通信区域）</h5>
<p>１．本サービスの通信区域は、携帯電話事業者の通信区域の通りとします。本サービスは、接続されている端末機器が通信区域内に在圏する場合に限り行うことができます。ただし、当該通信区域内であっても、屋内、地下駐車場、ビルの陰、トンネル、山間部等電波の伝わりにくい場所では、通信を行うことができない場合があります。<br>
２．前項の場合、契約者は当社に対し、当社の故意または重大な過失により生じた場合を除き、本サービスが利用できないことによるいかなる損害賠償も請求することはできません。</p>

<h5>第８条（通信利用の制限）</h5>
<p>１．当社は、技術上、保守上、その他当社の事業上やむを得ない事由が生じた場合、または携帯電話事業者の提供する電気通信サービスの契約約款の規定もしくは携帯電話事業者または協定事業者と当社との間で締結される契約の規定に基づく、携帯電話事業者による通信利用の制限が生じた場合、通信を一時的に制限することがあります。<br>
２．前項の場合、契約者は当社に対し、当社の故意または重大な過失により生じた場合を除き、通信が制限されることによるいかなる損害賠償も請求することはできません。</p>

<h5>第９条（通信時間等の制限）</h5>
<p>１．前条の規定による場合のほか、当社は、通信が著しくふくそうするときは、通信時間または特定の地域の通信の利用を制限することがあります。<br>
２．前項の場合において、天災、事変その他の非常事態が発生し、または発生するおそれがある場合の災害の予防もしくは救援、交通、通信もしくは電力の供給の確保または秩序の維持のために必要な事項を内容とする通信および公共の利益のために緊急を要する事項を内容とする通信を優先的に取り扱うため、電気通信事業法施行規則の規定に基づき総務大臣が告示により指定した機関が使用している移動無線装置（当社、協定事業者または携帯電話事業者がそれらの機関との協議により定めたものに限ります）以外のものによる通信の利用を中止する措置（特定の地域の契約者回線等への通信を中止する措置を含みます）をとることがあります。<br>
３．当社は、一定期間における通信時間が当社の定める時間を超えるとき、または一定期間における通信容量が当社の定める容量を超えるときは、別紙料金表第２の定めに従いその通信を制限、もしくは切断することがあります。<br>
４．当社は、契約者間の利用の公平を確保し、本サービスを円滑に提供するため、動画再生やファイル交換(P2P)アプリケーション等、帯域を継続的かつ大量に占有する通信手順を用いて行われる通信について速度や通信量を制限することがあります。<br>
５．本条に基づき通信時間等の制限が行われる場合、契約者は当社に対し、通信時間等が制限されることによるいかなる損害賠償も請求することはできません。<br>
６．当社は、本条に規定する通信時間等の制限のため、通信にかかる情報の収集、分析および蓄積を行うことがあります。</p>

<h5>第１０条（通信時間の測定）</h5>
<p>本サービスにかかる通信時間の測定方法は、次の通りとします。<br>
（１） 通信時間は、発信者および着信者双方の契約回線等を接続して通信できる状態にした時刻（その通信が手動接続通信であって通信の相手を指定したものであるときは、その指定した相手と通信することができる状態にした時刻とします）から起算し、発信者または着信者による通信終了の信号を受けその通信をできない状態にした時刻までの経過時間とし、当社の機器（協定事業者の機器を含みます）により測定します。<br>
（２） 前号の定めにかかわらず、契約回線の故障等、通信の発信者または着信者の責めに帰すことのできない事由により通信を一時的に制限されたとき（第８条（通信利用の制限）により通信を一時的に制限された場合は、その制限を通知したときとします）は、協定事業者が別途定める規定による時間を通信時間とします。</p>

<h5>第１１条（通信速度等）</h5>
<p>１．当社が本サービス上に定める通信速度は、実際の通信速度を示すものではなく、接続状況、契約者が使用する本SIMカード、情報通信機器、ネットワーク環境、その他の理由により変化し、通信速度が低下するものであることを、契約者は了承するものとします。<br>
２．当社は、本サービスにおける通信速度について、いかなる保証も行わないものとします。<br>
３．契約者は、電波状況等により、本サービスを利用して送受信されたメッセージ、データ、情報等が破損または滅失することがあることを、あらかじめ承諾するものとします。</p>

<h5>第１２条 (契約者識別番号の付与)</h5>
<p>契約者識別番号の付与は、携帯電話事業者の定める約款に従い、携帯電話事業者が行います。</p>

<h5>第１３条（契約者の禁止事項）</h5>
<p>１．契約者は本サービスを利用するにあたり、以下の行為を行ってはならないものとします。
（１） 他人の知的財産権その他の権利を侵害する行為。他人の財産、プライバシー又は肖像権を侵害する行為<br>
（２） 他人を誹謗中傷し、又はその名誉もしくは信用を毀損する行為<br>
（３） 詐欺、業務妨害等の犯罪行為又はこれを誘発もしくは扇動する行為<br>
（４） わいせつ、児童ポルノ・児童虐待にあたる画像もしくは文書等を送信し、又は掲載する行為<br>
（５） 薬物犯罪、規制薬物等の濫用に結びつく、もしくは結びつくおそれの高い行為、又は未承認医薬品等の広告を行う行為貸金業を営む登録を受けないで、金銭の貸付の広告を行う行為<br>
（６） 無限連鎖講（ネズミ講）を開設し、又はこれを勧誘する行為<br>
（７） 他人のウェブサイト等、本サービスにより利用しうる情報を改ざんし、又は消去する行為<br>
（８） 自己のID情報を他人と共有し又は他者が共有しうる状態に置く行為<br>
（９） 他人になりすまして本サービスを使用する行為（他の利用者のID情報を不正に使用する行為、偽装するためにメールヘッダ部分に細工を施す行為を含みます。）<br>
（１０） コンピュータウィルスその他の有害なコンピュータプログラムを送信し、又は他人が受信可能な状態のまま放置する行為<br>
（１１） 他人の管理する掲示板等（ネットニュース、メーリングリスト、チャット等を含みます）において、その管理者の意向に反する内容又は態様で、宣伝その他の書き込みをする行為<br>
（１２） 受信者の同意を得ることなく、広告宣伝又は勧誘のメール等を送信する行為<br>
（１３） 受信者の同意を得ることなく、受信者が嫌悪感を抱く、又はそのおそれのあるメール等（嫌がらせメール）を送信する行為<br>
（１４） 違法な賭博・ギャンブルを行わせ、または違法な賭博・ギャンブルへの参加を勧誘する行為<br>
（１５） 違法行為（けん銃等の譲渡、爆発物の不正な製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を請負し、仲介しまたは誘引（他人に依頼することを含む）する行為<br>
（１６） 人の殺害現場の画像等の残虐な情報、動物を殺傷・虐待する画像等の情報、その他社会通念上他者に著しく嫌悪感を抱かせる情報を不特定多数の者に対して送信する行為<br>
（１７） 人を自殺に誘引または勧誘する行為、または他人に危害の及ぶおそれの高い自殺の手段等を紹介するなどの行為<br>
（１８） 犯罪や違法行為に結びつく、またはそのおそれの高い情報や、他人を不当に誹謗中傷・侮辱したり、プライバシーを侵害したりする情報を、不特定の者をして掲載等させることを助長する行為<br>
（１９） その他、公序良俗に違反し、または他者の権利を侵害すると当社が判断した行為<br>
（２０） 他人の施設、設備もしくは機器に権限なくアクセスする行為<br>
（２１） 他人が管理するサーバー等に著しく負荷を及ぼす態様で本サービスを使用し、又はそれらの運営を妨げる行為<br>
（２２） その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する態様でリンクをはる行為<br>
（２３） 利用回線を故意に保留したまま放置し、その他通信の伝送交換に妨害を与える行為<br>
（２４） 多数の不完了呼を故意に発生させる等、通信のふくそうを生じさせるおそれのある行為<br>
（２５） 本人の同意を得ることなく不特定多数の第三者に対して自動電話ダイアリングシステムを用いまたは合成音声もしくは録音音声等を用いて、商業的宣伝や勧誘などを行う行為<br>
（２６） 自動ダイアリングシステムを用いまたは合成音声通信もしくは録音音声等を用い、第三者が嫌悪感を抱く音声通信をする行為<br>
（２７） SIMカードに登録されている電話番号、その他の情報を変更または消去する行為<br>
（２８） 位置情報を取得することができる端末機器を利用者回線へ接続し、それを他人に所持させるときは、その所持者のプライバシーを侵害する行為、またはそのおそれがある行為<br>
（２９） その他、法令もしくは公序良俗に違反し、又は他人の権利を著しく侵害する行為<br>
（３０） 前各号に該当するおそれがあると甲が判断する行為</p>

<h5>第１４条（契約者の義務又はサービス利用の要件）</h5>
<p>１．契約者が本サービスにおいて使用するIPアドレスは、当社が指定します。契約者は、当該IPアドレス以外のIPアドレスを使用して本サービスを利用することはできません。 <br>
２．契約者は、音声通話機能付きSIMカード を利用するにあたり、当社の定める条件のもとに、携帯電話番号のポータビリティ制度（電話番号を変更することなく、音声通話機能の提供を受ける事業者を変更することをいい、以下、「MNP」といいます）による転入又は転出を行うことができます。尚、MNP転入又は転出については、以下の条件が適用されます。<br>
（１） 転入元事業者の契約者と、本サービスに係る契約 の契約者が同一である必要があります。<br>
（２） 転入元事業者から取得したMNP予約番号の有効期限について、当社が別途指定する日数以上の残日数がある必要があります。<br>
（３） 電話番号を利用することができない期間（MNP転入手続完了後から、当該手続きに係る音声通話機能付きSIMカードが契約者の指定した送付先に到着するまでの期間）があります。<br>
（４） 本サービスの各プランにおいてMNP転入手続ができる音声通話機能付きSIMカード数の上限は1とします。<br>
（５） 本サービスに係るサービス利用の申込と同時にMNP手続きを行う必要があります。<br>
３．契約者は、本サービスに係る契約において当社から提供を受けた役務、機器、その他一切について第三者に販売(有償、無償を問わず、また単に第三者に提供する場合も含みます。以下同じとします。)してはならないものとします。<br>
４．契約者は、音声通話機能付きSIMカードによって利用可能な音声通話機能が、必ずしも株式会社エヌ・ティ・ティ・ドコモが提供する類似サービスと同一の仕様ではないことについて、あらかじめ同意するものとします。当社から提供される音声通話機能の仕様は、当社が別途開示するものとします。 <br>
５．本サービスの各プランにおいて、当該サービスの契約者が、当社に対しMNPによる転出を通知した場合は、当該サービスの解除を通知したものとみなされます。また、他の電気通信事業者への電話番号の転出が完了した場合、転出が完了した日が本サービス利用契約の解約日となります。</p>

<h4>第三章 端末機器およびSIM カード</h4>

<h5>第１５条（端末機器利用にかかる契約者の義務）</h5>
<p>１．契約者は、端末機器を電気通信事業法および電波法関係法令が定める技術基準（以下、「技術基準」といいます）に適合するよう維持するものとします。<br>
２．契約者は、端末機器について次の事項を遵守するものとします。<br>
（１） 端末機器を取り外し、変更し、分解し、もしくは損壊しまたはその設備に線条その他の導体等を接続しないこと。ただし、天災事変その他の事態に際して端末機器を保護する必要があるときはこの限りではありません。<br>
（２） 故意に接続回線に保留したまま放置し、その他通信の伝送交換に妨害を与える行為を行わないこと。<br>
（３） 端末機器に登録されている契約者識別番号その他の情報を読出し、変更または消去しないこと。</p>

<h5>第１６条（本SIMカード）</h5>
<p>１．本サービスの利用には、本SIMカードが必要となります。本SIMカードは、携帯電話事業者が契約者に貸与するものであり、譲渡するものではありません。<br>
２．契約者は、本SIMカードを善良なる管理者の注意をもって管理するものとします。<br>
３．契約者は、本SIMカードを契約者以外の第三者に利用させたり、貸与、譲渡、売買等をしてはならないものとします。<br>
４．契約者による本SIMカードの管理不十分、使用上の過誤、第三者の使用等による損害は契約者が負担するものとし、当社は一切責任を負わないものとします。また、第三者による本SIMカードの使用により発生した料金等については、全て当該SIMカードの管理責任を負う契約者の負担とします。 <br>
５．契約者は、本SIMカードが第三者に使用されていることが判明した場合、直ちに当社にその旨連絡するとともに、当社からの指示がある場合にはこれに従うものとします。<br>
６．契約者の責めに帰すべからざる事由により本SIMカードが故障した場合に限り、当社は自らの負担において本SIMカードの修理若しくは交換（種別の異なるSIMカードの交換はできないものとします。以下同じとします。）をする義務を負うものとします。<br>
７．契約者は、本SIMカードに登録されている契約者識別番号その他の情報を読出し、変更または消去してはならないものとします。<br>
８．契約者は、本SIMカードに、当社、携帯電話事業者および第三者の業務に支障が生じる変更、毀損等をしないものとします。契約者の責めに帰すべき事由により本SIMカードが故障した場合は、その修理若しくは交換の費用は契約者の負担とします。なお、この場合、契約者は、修理若しくは交換のための費用のほか、別紙料金表第１表第６（SIMカード損害金）に規定する損害金を当社に支払うものとします。<br>
９．契約者は、本SIMカードの利用料金を、本サービスの利用料金に含めて当社に対して支払うものとします。<br>
１０．契約者が、本SIMカード以外のSIMカードを使用すると、本サービスにおける接続サービスの提供が受けられない場合があると同時に、当社および携帯電話事業者の通信設備に不具合が生じる場合があります。契約者が、本SIMカード以外のSIMカードを使用したことに起因して、当社、携帯電話事業者および第三者に生じた一切の損害については当該契約者が賠償の責任を負うものとします。<br>
１１．契約者は、本サービスに関する契約終了後、当社が定める期日までに本SIMカードを当社に返却するものとし、当該期日までに返却がなかった場合及び破損した場合、別紙料金表第１表第６（SIMカード損害金）に規定する損害金を当社に支払うものとします。</p>

<h5>第１７条（契約者識別番号の登録等）</h5>
<p>契約者の契約者識別番号の登録等は、携帯電話事業者の定める約款に従い、当社が協定事業者を通じて携帯電話事業者に取次ぎます。</p>

<h5>第１８条（自営端末機器）</h5>
<p>１．契約者は、本サービスを利用するために必要となる設備については、契約者が自己の費用と責任において準備および維持するものとします。<br>
２．契約者は、本サービスを利用するために必要となる設備が技術基準に適合しない場合、当該自営端末機器での本サービスの利用をできないものとします。<br>
３．当社は、前項の場合において、契約者または第三者に生じた損害について、一切の責任を負わないものとします。</p>

<h4>第四章 提供の中断、一時中断、利用停止および解除</h4>

<h5>第１９条（提供の中断）</h5>
<p>１．当社は、次のいずれかに該当する場合には、本サービスの提供を中断することがあります。
（１） 当社または協定事業者もしくは携帯電話事業者の電気通信設備の保守上または工事上やむを得ないとき。<br>
（２） 第８条（通信利用の制限）または第９条（通信時間等の制限）により通信利用を制限するとき。<br>
（３） 携帯電話事業者の約款により通信利用を制限するとき。<br>
２．当社は、本条に基づく利用の中断について、損害賠償または本サービスの料金の全部または一部のご返金はいたしません。</p>

<h5>第２０条（契約者からの請求による利用の一時中断）</h5>
<p>１．当社は、契約者から当社所定の方法により請求があったときは、本サービスの利用の一時中断（その契約者識別番号を他に転用することなく一時的に利用できないようにすることをいいます。以下同じとします。）を行います。<br>
２．前項に基づき、本サービスの利用の一時中断を受けた契約者が、当該利用の一時中断の解除を請求する場合は、当社所定の方法により行うものとします。<br>
３．本サービスの利用の一時中断および当該利用の一時中断の解除の手続きは、請求を受け付けてから一定時間経過後に完了します。当該利用の一時中断の請求後、手続き完了までに生じた利用料金は、契約者による利用であるか否かにかかわらず、契約者の負担とします。<br>
４．本サービスの利用の一時中断があっても、本サービスの利用料金（月額基本料、ユニバーサルサービス料等の月額料）は発生します。</p>

<h5>第２１条（利用停止）</h5>
<p>１．当社は、本サービスの仕様として定める場合の他、契約者が次のいずれかに該当するときは、当社が定める期間、本サービスの提供を停止することがあります。<br>
（１） 本サービスの料金その他の債務について、支払期日を経過してもなお支払わないとき（当社が定める方法による支払いのないとき、および、支払期日経過後に支払われ当社がその支払の事実を確認できないときを含みます）。<br>
（２） 本サービスに関する申込みについて、申込みの内容が事実に反することが判明したとき。<br>
（３） 契約者が当社に届出ている情報に変更があったにもかかわらず、当該変更にかかる届出を怠ったとき、または、届出られた内容が事実に反することが判明したとき。<br>
（４） 第４条第２項に定める本人確認に応じないとき。<br>
（５） 第１８条（自営端末機器）の規定に違反し、本SIMカードを技術基準に適合しない自営端末機器で利用したとき。<br>
（６） 当社の業務または本サービスにかかる電気通信設備に支障を及ぼし、または支障を及ぼすおそれのある行為が行われたとき。<br>
（７） 本サービスが他の契約者に重大な支障を与える態様で使用されたとき。<br>
（８） 本サービスが違法な態様で使用されたとき。<br>
（９） 前各号のほか、本規約の定めに違反する行為が行われたとき。<br>
２．本条に基づく本サービスの提供の停止があっても、本サービスの利用料金（月額基本料、ユニバーサルサービス料等の月額料）は発生します。<br>
３．当社は、本条に基づく本サービスの提供の停止について、損害賠償または本サービスの料金の全部または一部のご返金はいたしません。</p>

<h5>第２２条 (当社による利用契約の解除)</h5>
<p>当社は、契約者が前条第１項各号の規定のいずれかに該当する場合で、その事実が当社の業務の遂行上著しい支障を及ぼす場合、またはそのおそれがある場合、契約者の利用契約を解除することがあります。</p>

<h5>第２３条（解約）</h5>
<p>１．契約者は、当社が別途定める手続きに従い、本サービスの利用契約を解約することができるものとします。<br>
２．前項に定める解約手続きに基づく本サービスの利用契約の終了時点は、解約手続きが完了した時点とします。但し、利用契約の終了後ワイヤレスデータ通信、SMS機能または音声通話機能の利用が可能な場合で、かつ当該機能の利用が確認された場合にあっては、利用契約の終了にかかわらず、契約者は本規約の定めに基づく当該利用に係る料金を支払うものとします。<br>
３．本SIMカードの修理若しくは交換に際して、修理若しくは交換対応後の本SIMカードを受領いただけない場合は、別途当社の指定する期日をもって本サービスを解約するものとします。</p>

<h4>第五章 料金</h4>

<h5>第２４条（料金）</h5>
<p>１．当社が提供する本サービスの料金は、基本使用料、手続に関する料金およびユニバーサルサービス料、解約事務手数料等、別途当社が定める料金表に定めるところによるものとし、契約者はこれらの料金について支払う義務を負うものとします。<br>
２．当社が貸与した本SIMカードを紛失、破損した場合及びその他の理由により本SIMカードを当社に返却しない場合のSIMカード損害金は、別途当社が定める料金表に定めるところによるものとし、契約者はSIMカード損害金について支払う義務を負うものとします。<br>
３．月額料金は、課金開始日から当該サービスを提供した最後の日までの期間のサービスについて発生します。この場合において、第２１条(利用停止) の規定により本サービスの提供が停止された場合における当該停止の期間は、当該サービスに係る月額料金の額の算出については、当該サービスの提供があったものとして取り扱うものとします。</p>

<h5>第２５条（基本使用料等の支払義務）</h5>
<p>本サービスの契約者は、その契約に基づいて当社が契約者回線の提供を開始した日から契約の解除があった日が属する月の末日までの期間について、別紙料金表第１表第１（基本使用料）および第５（ユニバーサルサービス料）に規定する料金の支払いを要します。</p>

<h5>第２６条（料金の計算等）</h5>
<p>料金の計算方法並びに料金の支払方法は、別途当社が定めるところによります。</p>

<h5>第２７条（割増金）</h5>
<p>契約者は、料金の支払いを不法に免れた場合は、当社の請求に従い、その免れた額のほか、その免れた額（消費税相当額を加算しない額とします）の２倍に相当する額に消費税相当額を加算した額（料金表の規定により消費税相当額を加えないこととされている料金にあっては、その免れた額の２倍に相当する額）を割増金として支払っていただきます。</p>

<h5>第２８条（延滞利息）</h5>
<p>契約者は、料金その他の債務（延滞利息を除きます）について支払期日を経過してもなお支払いがない場合には、支払期日の翌日から支払いの日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息として支払っていただきます。ただし、支払期日の翌日から起算して１５日以内に支払いがあった場合には、この限りではありません。</p>


<h4>第六章 損害賠償</h4>

<h5>第２９条（本サービスの利用不能による損害）</h5>
<p>１．当社は、本サービスを提供すべき場合において、当社の責めに帰すべき理由によりその提供をしなかったときは、本サービスが全く利用できない状態（その契約に係る電気通信設備による全ての通信に著しい支障が生じ、全く利用できない状態と同程度の状態となる場合を含みます。以下本条において同じとします。）にあることを当社が認知した時刻から起算して、２４時間以上その状態が連続したときに限り、その契約者の損害を賠償します。<br>
２．前項の場合において、当社は、本サービスが全く利用できない状態にあることを当社が認知した時刻以後のその状態が連続した時間（２４時間の倍数である部分に限ります）について、２４時間ごとに日数を計算し、その日数に対応するその本サービスに係る次の料金の合計額を、発生した損害とみなしその額に限って賠償します。<br>
（１） 月額基本料、ユニバーサルサービス料、および付加機能サービス（有料サービス）等の月額料<br>
（２） 通信料（本サービスを全く利用できない状態が連続した期間の初日の属する料金月の前６料金月の１日当たりの平均通信料（前６料金月の実績を把握することが困難な場合には、当社が別に定める方法により算出した額）により算出します）<br>
３．当社の故意または重大な過失により本サービスの提供をしなかったときは、前２項の規定は適用しません。<br>
（注）本条第２項第２号に規定する当社が別に定める方法により算出した額は、原則として、本サービスを全く利用できない状態が生じた日より前の把握できる期間における１日当たりの平均通信料とします。</p>

<h5>第３０条（責任の制限）</h5>
<p>１．当社は、当社の責めに帰すべき事由により、本サービスの提供をしなかったときは、本サービスが全く利用できない状態（本契約に係る電気通信設備による全ての通信に著しい支障が生じ、全く利用できない状態と同程度の状態となる場合を含みます。以下本条において同じとします。）にあることを当社が知った時刻から起算して、２４時間以上その状態が連続したときに限り、当社は、その全く利用できない時間を２４で除した商（小数点以下の端数を切り捨てるものとします。）に月額基本料金の３０分の１を乗じて算出した額を発生した損害とみなし、その額に限って賠償します。<br>
２．当社の故意または重大な過失により本サービスの提供をしなかったときは、前項の規定は適用しません。<br>
３．当社は、予見可能性の有無にかかわらず、間接損害、特別損害、偶発的損害、派生的損害、結果的損害および逸失利益については、一切責任を負わないものとします。</p>

<h5>第３１条（免責）</h5>
<p>１．電気通信設備の修理、復旧等に当たって、その電気通信設備に記憶されているデータ、情報等の内容等が変化または消失することがあります。当社はこれにより損害を与えた場合に、それが当社の故意または重大な過失により生じたものであるときを除き、その損害を賠償する責任を負いません。<br>
２．当社は、本規約等の変更により自営端末機器の改造または変更（以下本条において「改作等」といいます）を要する事となる場合であっても、その改造などに要する費用については負担しません。</p>

<h5>第３２条（損害賠償額の上限）</h5>
<p>当社が契約者に対して損害賠償責任を負う場合の全てについて、その損害賠償の範囲は、当該契約者に現実に発生した通常損害の範囲に限られるものとし、かつ、その総額は当社が当該損害の発生までに当該契約者から受領した料金の額を上限とします。ただし、当社に故意もしくは重大な過失がある場合はこの限りではありません。</p>

<h4>第七章 保守</h4>

<h5>第３３条（当社の維持責任）</h5>
<p>当社は、当社の電気通信設備を事業用電気通信設備規則（昭和60 年郵政省令第30 号）に適合するよう維持します。</p>

<h5>第３４条（契約者の維持責任）</h5>
<p>１．契約者は、自営端末機器を、当社の定める技術基準および技術的条件に適合するよう維持するものとします。<br>
２．前項の規定によるほか、契約者は、自営端末機器（移動無線装置に限ります）を無線設備規則に適合するよう維持するものとします。</p>

<h5>第３５条（契約者の切分責任）</h5>
<p>契約者は、自営端末機器が契約者回線に接続されている場合であって、契約者回線その他当社の電気通信設備を利用することができなくなったときは、その自営端末機器に故障のないことを確認のうえ、当社に修理の請求をするものとします。</p>

<h5>第３６条（修理または復旧）</h5>
<p>当社は、当社の設置した電気通信設備が故障し、または滅失した場合はすみやかに修理し、または復旧するものとします。ただし、２４時間以内の修理または復旧を保証するものではありません。</p>

<h5>第３７条（保証の限界）</h5>
<p>１．当社は、通信の利用に関し、当社の電気通信設備を除き、相互接続点等を介し接続している、電気通信設備にかかる通信の品質を保証することはできません。<br>
２．当社は、インターネットおよびコンピュータに関する技術水準、通信回線等のインフラストラクチャーに関する技術水準およびネットワーク自体の高度な複雑さにより、現在の一般的技術水準をもっては本サービスに瑕疵のないことを保証することはできません。</p>

<h5>第３８条（サポート）</h5>
<p>１．当社は、契約者に対し、本サービスの利用に関する当社が定める内容の技術サポートを提供します。<br>
２．当社は、前項に定めるものを除き、契約者に対し、保守、デバッグ、アップデートまたはアップグレード等のいずれを問わず、いかなる技術的役務も提供する義務を負いません。</p>

<h4>第八章 雑 則</h4>

<h5>第３９条（位置情報の送出）</h5>
<p>１．携帯電話事業者または協定事業者がワイヤレスデータ通信に係る当社との間に設置した接続点と契約者回線との間の通信中にその当社に係る電気通信設備から携帯事業者が別に定める方法により位置情報（その契約者回線に接続されている移動無線装置の所在に係る情報をいいます。以下本条において同じとします）の要求があったときは、契約者があらかじめ当社への位置情報の送出に係る設定を行った場合に限り、その接続点へ位置情報を送出することを、契約者は、あらかじめ承諾するものとします。
２．当社は、前項の規定により送出された位置情報に起因する損害については、その原因の如何によらず、一切の責任を負わないものとします。</p>

<h5>第４０条（情報の収集）</h5>
<p>当社は、本サービスに関し、契約者に技術サポート等を提供するために必要な情報を収集、利用することがあります。契約者は、契約者から必要な情報が提供されないことにより、当社が十分な技術サポート等を提供できないことがあることをあらかじめ了承するものとします。</p>

<h5>第４１条（反社会的勢力に対する表明保証） </h5>
<p>１．契約者は、サービス利用契約締結時および締結後において、自らが暴力団または暴力団関係企業・団体その他反社会的勢力（以下、総称して「反社会的勢力」という）ではないこと、反社会的勢力の支配・影響を受けていないことを表明し、保証するものとします。 <br>
２．契約者が次の各号のいずれかに該当することが合理的に認められた場合、当社はなんら催告することなくサービス利用契約を解除することができるものとします。 <br>
（１） 反社会的勢力に属していること <br>
（２） 反社会的勢力が経営に実質的に関与していること <br>
（３） 反社会的勢力を利用していること <br>
（４） 反社会的勢力に対して資金等を提供し、又は便宜を供与するなどの関与をしていること <br>
（５） 反社会的勢力と社会的に非難されるべき関係を有していること <br>
（６） 自らまたは第三者を利用して関係者に対し、詐術、暴力的行為、または脅迫的言辞を用いたこと<br>
３．前項各号のいずれかに該当した契約者は、当社が当該解除により被った損害を賠償する責任を負うものとし、自らに生じた損害の賠償を当社に求めることはできないものとします。</p>

<h5>第４２条(他の電気通信事業者への情報の通知)</h5>
<p>契約者は、料金その他の債務の支払いをしない場合、または前条に定める契約者確認に応じない場合には、当社が、当社以外の電気通信事業者からの請求に基づき、氏名、住所、契約者識別番号、生年月日および支払状況等の情報（契約者を特定するために必要なものおよび支払状況に関するものであって、当社が別に定めるものに限ります）を当該事業者に通知することにあらかじめ同意するものとします。</p>

<h5>第４３条（本サービスの廃止）</h5>
<p>１．当社は、本サービスの全部または一部を廃止することがあります。<br>
２．当社は、前項の規定により本サービスを廃止するときは、相当な期間前に契約者に告知します。</p>

<h5>第４４条（本サービスの技術仕様等の変更等）</h5>
<p>当社は、本サービスにかかわる技術仕様その他の提供条件の変更または電気通信設備の更改等に伴い、契約者が使用する本SIMカードの改造または撤去等を要することとなった場合であっても、その改造または撤去等に要する費用について負担しないものとします。</p>

<h5>第４５条（本サービスの変更等）</h5>
<p>１．当社は、事前に通知その他の手続きをすることなく、本サービスの内容の変更等をできるものとします。ただし、会員にとって不利な変更等の場合、当社は事前に通知するものとします。<br>
２．当社は事前に通知することで、会員の承諾を得ることなく、本サービスの全部または一部を休廃止できるものとします。</p>

<h5>第４６条（分離性）</h5>
<p>本規約の一部分が無効で強制力をもたないと判明した場合でも、本規約の残りの部分の有効性はその影響を受けず引続き有効で、その条件に従って強制力を持ち続けるものとします。</p>

<h5>第４７条（協議）</h5>
<p>当社および契約者は、本サービスまたは本規約に関して疑義が生じた場合には、両者が誠意をもって協議のうえ解決するものとします。</p>

<h5>第４８条（その他）</h5>
<p>１．本規約から生じる当社の権利は、当社が権利を放棄する旨を契約者に対して明示的
に通知しない限り、放棄されないものとします。<br>
２．本規約は、日本の国内法に準拠し、日本の法律に従って解釈されるものとし、本規約もしくは本サービスに関する紛争または本サービスに基づいて生じる一切の権利義務に関する紛争は、東京簡易裁判所または東京地方裁判所のみをもって第一審の専属管轄裁判所とします。 <br>
３．本サービスに関する訴訟は、当該訴訟の原因が生じてから一年以内に提起されなければならないものとします。 </p>


<p>付則
この規約は平成２６年７月１日から実施します。<br>
平成２６年８月１日 一部改定<br>
平成２６年１０月１日 一部改定<br>
平成２６年１１月１日 一部改定<br>
平成２６年１２月１日 一部改定<br>
平成２７年１月２８日 一部改定<br>
平成２７年４月１日 一部改定</p>


<p>別紙<br>
通則<br>
（料金の計算方法等）<br>
１ 当社は、契約者がその契約に基づき支払う料金のうち、基本使用料、通信料等は料金月に従って計算します。ただし、当社が必要と認めるときは、料金月によらず随時に計算します。<br>
（注）料金月に従って通信料を計算する場合において、通信又はセッションを開始した料金月と終了した料金月が異なるときは、当社が定める方法により計算するものとします。<br>
２ 当社は、本サービスに係る通信に関する料金については、通信の種類等ごとに合計した額により、支払いを請求します。<br>
３ 当社は、当社の業務の遂行上やむを得ない場合は、料金月に係る起算日を変更することがあります。
（端数処理）<br>
４ 当社は、料金その他の計算において、その計算結果に１円未満の端数が生じた場合は、その端数を切り捨てとします。<br>
（料金等の支払い）<br>
５ 契約者は、本サービスの料金について、所定の支払期日までに支払っていただきます。この場合において、契約者は、その料金について、当社が指定する場所において又は送金により支払っていただきます。<br>
６ 料金は、支払期日の到来する順序に従って支払っていただきます。<br>
（消費税相当額の加算）<br>
７ 第２４条（料金）から第２７条（割増金）までの規定等により、この料金表に定める料金の支払いを要するものとされている額は、税抜額に消費税相当額を加算した額とします。</p>

<h5>料金表 第１表</h5>
<h5>第１ 基本使用料</h5>
１ 適用<br>
基本使用料の適用<br>
料金プラン<br>
<p>料金プランには、次の種別があります。</p>
<p>サービス プラン 概要</p>
<table>
	<tbody><tr>
		<th>U-mobil<br>通話プラス<br>３ＧＢ</th>
		<td>月額1,580円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobil<br>通話プラス<br>３ＧＢ</th>
		<td>月額1,980円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobil<br>通話プラス<br>ＬＴＥ使い放題</th>
		<td>月額2,980円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobil<br>通話プラス<br>ＬＴＥ使い放題２</th>
		<td>月額2,730円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobil<br>通話プラス<br>ダブルフィックス</th>
		<td>月間データ通信量が１ＧＢ以下の場合（1契約ごとに）1,480円（税抜）
月間データ通信量が１ＧＢを超えた場合 1,780円（税抜）</td>
	</tr>
</tbody></table>

<p>イ 契約者は、いずれかの料金プランを選択していただきます。<br>
ウ 基本使用料は、契約開始月から契約終了月まで生じます。尚、契約開始月の基本使用料は、契約者が本サービスの利用に必要となる本SIMカードを受領した日を起算日とし、起算日から当月末日までの日数を、当月の日数で除した値に、基本使用料の額を乗じた日割りにて計算いたします。</p>


２ 料金額<br>

<p>サービス プラン 単位 基本使用料月額<br>
※音声通話基本料を含みます。</p>
<table>
	<tbody><tr>
		<th>U-mobile<br>通話プラス<br>３ＧＢ</th>
		<td>（1契約ごとに） 1,580円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>５ＧＢ</th>
		<td>（1契約ごとに） 1,980円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ＬＴＥ使い放題</th>
		<td>（1契約ごとに） 2,980円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ＬＴＥ使い放題２</th>
		<td>（1契約ごとに） 2,730円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ダブルフィックス</th>
		<td>月間データ通信量が１ＧＢ以下の場合（1契約ごとに）1,480円（税抜）
月間データ通信量が１ＧＢを超えた場合 1,780円（税抜）</td>
	</tr>
</tbody></table>

<h5>第２ 通信の制限</h5>
<p>１ 適用<br>
通信料の適用<br>
通信の条件 U-mobile音声プラスの利用者は、当社の定める一定期間内に同じく当社が定める一定の通信データ量を超えたことを当社が確認した場合、その後一定期間の通信について、速度を制限させていただくことがあります。各プランごとの通信の条件は以下の通りです。</p>
<p>サービス プラン 制限内容</p>
<table>
	<tbody><tr>
		<th>U-mobile<br>通話プラス<br>３ＧＢ</th>
		<td>月間の通信データ量が当月内に1ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>５ＧＢ</th>
		<td>月間の通信データ量が当月内に3ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ＬＴＥ使い放題</th>
		<td>月間の通信データ量に関わらず、ご利用いただけます。但し、本サービスを円滑に提供するため、本規約の定めにもとづき速度を制限する場合があります。</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ＬＴＥ使い放題２</th>
		<td>月間の通信データ量に関わらず、ご利用いただけます。但し、本サービスを円滑に提供するため、本規約の定めにもとづき速度を制限する場合があります。</td>
	</tr>
	<tr>
		<th>U-mobile<br>通話プラス<br>ダブルフィックス</th>
		<td>当月内の通信データ量が1ＧＢ以下の場合は月額基本利用料を1,480円（税抜）としますが、当月内に1ＧＢ超えたことを当社が確認したことをもって月額基本利用料を1,780円（税抜）とします。また、当月内に3ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>
</tbody></table>

<h5>第３ 音声通話機能付きSIMカード利用料</h5>
<p>１ 適用および料金額（U-mobile通話プラスの全プラン共通）<br>
（１）SMS送信料金<br>
国内への送信1通あたり3円（税抜）
国外への送信1通あたり100円(消費税は課税されません)<br>
（２）通話料金（国内）<br>
通話料金30秒あたり20円（税抜） デジタル通信料金30秒あたり36円(税抜)<br>
通話料金（国際） <br>ドコモが定める国際電話サービス契約約款において国際通話料として定められた額と同額(消費税は課税されません)<br>
国際ローミング料金ドコモが定めるFOMAサービス契約約款及びXiサービス契約約款において国際アウトローミング利用料として定められた額と同額(消費税は課税されません)<br>
２ 音声通話機能の利用に関しては、以下の定めを適用します。<br>
（１）SMS送信料金、通話料金（国内）、通話料金（国際）及び国際ローミング料金とは、SMS送信、音声通話及び国際ローミングの利用に応じて、基本料金（月額）とは別に支払を要する料金として定めるものです。<br>
（２）通話料金（国内）及び通話料金（国際）のうち、テレビ電話・64kb/sデータ通信などのデジタル通信を利用した際は、デジタル通信料金が適用されます。<br>
（３）契約者の通話料金が、平均的な契約者の利用実績又は契約者の利用実績と比較して著しく高額となっていることが確認された場合、当社は契約者に対して利用状況の確認を行うことがあります。連絡不能等によりその確認ができない場合、当社はU-mobile通話プラスの利用を停止することがあります。<br>
（４）音声通話機能付きSIMカードの利用の終了にかかわらず、SMS機能及び音声通話機能の利用が可能な場合があります。当該機能の利用が確認された場合にあっては、当該削除日又は当該解除日がいつであるかにかかわらず、当該利用に係る料金を請求するものとします。<br>
（５）通話料金（国内）及び通話料金（国際）は、基本料金（月額）より1ヶ月遅れて請求が行われるものとします。また、国際ローミング料金については、個々のローミング事業者の状況により、1ヶ月以上遅れて請求が行われる場合があります。<br>
３ 本サービスをご利用の契約者は、以下のオプションサービスがご利用になれます。以下のオプションサービス月額基本料は、各オプションサービスの契約開始月から契約終了月まで生じ、当社はオプションサービスの月額基本料について日割りは行いません。<br>
<br>
（１）キャッチホン 月額基本料200円（税抜）<br>
（２）留守番電話 月額基本料300円（税抜）</p>

<h5>第４ 手続きに関する料金</h5>
<p>１ 適用<br>
手続きに関する料金の適用<br>
（１）手続きに関する料金の種別 手続きに関する料金は、次のとおりとします。<br>
料金種別 内 容<br>
ア 登録事務手数料 契約の申込みをし、その承諾を受けたときに支払いを要する料金<br>
イ SIMカード交換手数料 本SIMカードを再発行する際に、支払いを要する料金<br>
（２）SIMカード交換手数料の適用除外 本SIMカードを再発行する場合において、本SIMカードの初期不良、およびユーザーの責によらない不良による再発行の際には、本SIMカード交換手数料は、(1)欄および２（料金額）の規定にかかわらず、適用しません。<br>
（３）手続きに関する料金の減免 当社は、(1)欄及び２（料金額）の規定にかかわらず、手続きの態様等を勘案して別に定めるところにより、その料金額を減免することがあります。</p>

<p>２ 料金額<br>
料金種別 単位 料金額<br>
（１）登録事務手数料 1枚ごとに 3,000円（税抜）<br>
（２）SIMカード交換手数料 1枚ごとに 3,000円（税抜）</p>

<h5>第５ ユニバーサルサービス料</h5>
<p>１ 適用<br>
ユニバーサルサービス料の適用<br>
 ア 契約者は、ユニバーサルサービス料の支払いを要します。</p>

<p>２ 料金額<br>
区分 単位 料金額 <br>
ユニバーサルサービス料 基本額 1契約ごとに 2円（税抜）<br>
※ユニバーサルサービス料は基本使用料月額に含まれます。<br>
（注）ユニバーサルサービス料は、ユニバーサルサービスの提供を確保するためにご負担いただく料金であり、ユニバーサルサービス制度に係る負担金の変更があったときは、料金額を見直します。</p>

<h5>第６ SIMカード損害金</h5>
<p>１ 適用
SIMカード損害金の適用 本SIMカードを当社に返還すべき場合において、サービス解約月の翌月15日までに当社が貸与した本SIMカードを当社の指定する場所に返還しない場合、SIMカード損害金の支払いを要します。</p>
<p>２ 料金額
１枚ごとに 2,000円（税抜）</p>

<h5>第７ 解約事務手数料</h5>
<p>契約者は、本サービスを解約した場合、以下に定める解約事務手数料の支払いを要します。</p>
<p>１ 適用<br>
解約事務手数料の適用<br>
ア 契約者は、解約事務手数料の支払いを要します。</p>

<p>２ 料金額<br>
区分 単位 利用期間 料金額<br>
通話プラス ３ＧＢ<br>
通話プラス ５ＧＢ<br>
通話プラス ＬＴＥ使い放題<br>
通話プラス ダブルフィックス<br>
1契約ごとに本サービスを、利用開始日が属する月を起算点とする６ヶ月以内に終了した場合 6,000円（税抜）<br>

通話プラス ＬＴＥ使い放題２<br>
1契約ごとに本サービスを、利用開始日が属する月を起算点とする６ヶ月以内に終了した場合 9,500円（税抜）<br>
本サービスを、利用開始日が属する月を起算点とする7か月目以降、１２ヶ月以内に終了した場合	3,500円（税抜）</p>


<h5>第８ MNP予約番号発行手数料</h5>
<p>１ 適用
MNP予約番号発行手数料の適用
 ア MNP予約番号の付与を希望する契約者は、MNP予約番号発行手数料の支払いを要します。</p>
<p>２ 料金額 <br>
区分 単位 料金額 <br>
MNP予約番号発行手数料 1契約ごとに 3,000円（税抜）</p>

<h5>第９ プラン変更</h5>
<p>契約者は、本サービスへの申込手続きが完了した日が属する月の翌月から、本サービスの各プラン間でプランの変更を行うことができます。プラン変更は、契約者のプラン変更希望の申し込みを当社が受け付け、当社が所定の変更手続きを完了した日が属する月の翌月1日から適用されます。プラン変更手数料は以下の通りとします。尚、契約者のプラン変更の申し込み上限回数は、各月毎に1回とします。</p>
<p>２ 料金額<br>
区分 単位 利用期間 料金額<br>
通話プラス ３ＧＢ<br>
通話プラス ５ＧＢ<br>
通話プラス ＬＴＥ使い放題<br>
通話プラス ダブルフィックス<br>
1契約ごとに無料<br>
通話プラス ＬＴＥ使い放題２<br>
1契約ごとに本サービスを、利用開始日が属する月を起算点とする１１ヶ月以内に終了した場合 3,500円（税抜）</p>

以上