

    {% set showcrumbs = null %}
    {% set cateid = null %}
    {% if Category is not null %}
        {% for Path in Category.path %}
            {% set tmpcate = null %}
            {% set tmpcate = app.config.productcate_ex_list_bread_disp[Path.id] %}
            {% if tmpcate %}
                {% set showcrumbs = 1 %}
                {% set cateid = Path.id %}
            {% endif %}
        {% endfor %}
    {% endif %}

<nav id="pageNav">
    <ul class="mainWidth clr" prefix="v:http://rdf.data-vocabulary.org/#">
        <li class="children first" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{url('homepage')}}">{{ BaseInfo.shop_name }}トップ</a></li>
        {% if showcrumbs %}
            <li class="children" typeof="v:Breadcrumb">{{ app.config.productcate_ex_list_bread_disp[cateid].cate }}</li>
        
        {% else %}
            {% if app.request.get('_route')=='product_list' %}
            <li class="children" typeof="v:Breadcrumb">商品一覧</li>
            {% else %}
            {# app.request.get('_route') #}
            {% set cpath = app.request.get('_route') | split('_') %}
            {% if cpath.1 == 'campaign' %}
            <li class="children" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{url('campaign_index')}}">キャンペーン一覧</a></li>
            {% endif %}
            
            <li class="children" typeof="v:Breadcrumb">{% if subtitle is defined and subtitle is not empty %}{{ subtitle }}{% elseif title is defined and title is not empty %}{{ title }}{% endif %}</li>
            {% endif %}

        {% endif %}

    </ul>
</nav>
