{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}


{% block stylesheet %}
<style type="text/css">
.pc#genaral-page-footer .footer-top {
    border-top: 1px solid #e13333;
    padding: 30px 0;
    background: #fff;
}
.pc#genaral-page-footer .inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.pc#genaral-page-header .inner, #navi .navi-box, #genaral-page-footer .inner {
    overflow: hidden;
}
.pc#genaral-page-footer .service-info-box:first-child {
    margin-left: 0;
}
.pc#genaral-page-footer .service-info-box {
    float: left;
    width: 300px;
    margin-left: 50px;
}
.pc#genaral-page-footer .service-info-heading {
    min-height: 34px;
    margin-bottom: 15px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #cf1328;
}
.pc#genaral-page-footer .info-text-pat1 {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.6;
}
.pc#genaral-page-footer .info-img {
    margin-bottom: 12px;
}
.pc#genaral-page-footer .info-text-pat2 {
    font-size: 10px;
    color: #999;
    text-indent: -1em;
    margin-left: 10px;
}
.pc#genaral-page-footer .footer-sitelist:first-child {
    margin-left: 0;
}
.pc#genaral-page-footer .footer-sitelist {
    float: left;
    width: 237px;
    margin-left: 17px;
}
.pc#genaral-page-footer .footer-sitelist-heading {
    min-height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.pc#genaral-page-footer .site-list li {
    padding: 5px 0 4px;
    border-bottom: 1px dashed #dadada;
    font-size: 12px;
    display: list-item;
    margin:0px;
    text-align: left;
}
.pc#genaral-page-footer .table-pat1 {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #ddd;
}
.pc#genaral-page-footer .table-pat1 th {
    width: 80px;
    background: #ebebeb;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.pc#genaral-page-footer .table-pat1 th, #genaral-page-footer .table-pat1 td {
    height: 30px;
}
.pc#genaral-page-footer .table-pat1 td {
    text-align: center;
    font-size: 10px;
}
.pc#genaral-page-footer .table-pat1 th, #genaral-page-footer .table-pat1 td {
    height: 30px;
}
.pc#genaral-page-footer .table-pat1 .strong {
    font-size: 18px;
}
.pc#genaral-page-footer .footer-middle {
    border-top: 1px solid #e13333;
    padding: 40px 0;
    background: url({{ app.config.front_urlpath }}/img/common/grey-texture.png) repeat 0 0 #f6f6f6;
}
.pc#genaral-page-footer .site-list li a {
    color: #666;
}
.pc#genaral-page-footer .footer-bottom {
    padding: 20px 0;
    background: #f4f4f4;
    border-top: 3px solid #e13333;
}
.pc#genaral-page-footer .footer-bottom .logo {
    float: left;
    margin-right: 20px;
}
.pc#genaral-page-footer .footer-bottom .copy-text {
    margin-top: 35px;
    font-size: 10px;
    color: #666;
    float: left;
    overflow: hidden;
}
.pc#genaral-page-footer .footer-bottom .footer-links {
    margin-top: 13px;
    float: right;
}
.pc#genaral-page-footer .footer-bottom .footer-links li {
    float: left;
    font-size: 12px;
    margin-left: 20px;
}
.pc#genaral-page-footer .footer-bottom .footer-links a {
    color: #666;
}
.pc#genaral-page-footer .p-mark {
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: 10px;
    color: #666;
    width: 330px;
    min-height: 58px;
    overflow: hidden;
}
.pc#genaral-page-footer .p-mark .p-mark_logo{
    float: left;
    width: 68px;
    padding-right: 10px;
}
.pc#genaral-page-footer .p-mark .p-mark_text{
    float: left;
    width: 262px;
}

/* ========== SP =========== */
#footer_wrap .footer-nav {
    overflow: hidden;
    background-color: #cf1328;
}
#footer_wrap .footer-nav-item {
    float: left;
    width: 25%;
    text-align: center;
    margin: 0px;
}
#footer_wrap .footer-nav-item:first-child a {
    border-left: none;
}
#footer_wrap .footer-nav-item a {
    display: block;
    border-right: 1px solid #ff3047;
    border-left: 1px solid #6d010d;
}

.sp#footer_wrap .footer-nav2 {
    overflow: hidden;
    margin-left: -1px;
    font-size: 1.1rem;
}
.sp#footer_wrap .footer-nav2-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin:0px;
}
.sp#footer_wrap .footer-nav2-item a {
    display: block;
    position: relative;
    padding: 14px 25px 14px 10px;
    text-decoration: none;
    color: #333;
    border-left: 1px solid #ccc;
}
.sp#footer_wrap .footer-nav2-item--2col {
    width: 50%;
}
.sp#footer_wrap .footer-privacy {
    position: relative;
    min-height: 40px;
    padding: 10px 10px 10px 58px;
    font-size: 1rem;
    line-height: 1.7;
}
.sp#footer_wrap .footer-privacy-image {
    position: absolute;
    top: -5px;
    bottom: 0;
    left: 10px;
    height: 40px;
    margin: auto 0;
}
.sp#footer_wrap .footer-privacy-image a{
    display: block;
}
.sp#footer_wrap .footer-copyright {
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 1rem;
    color: #999;
    margin:0px;
}
.sp#footer_wrap .footer-nav2-item a:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 8px;
    height: 8px;
    margin: auto 0;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
}
</style>
{% endblock %}


<div id="footer_wrap" class="sp">
	<ul class="footer-nav">
		<li class="footer-nav-item">
			<a href="{{url('homepage')}}">
				<img src="{{ app.config.front_urlpath }}/img/sp/common/footer-nav-top.png" alt="トップ" width="29" height="75">
			</a>
		</li>
		<li class="footer-nav-item">
            <a href="{{url('product_list')~'?category_id=2'}}">
				<img src="{{ app.config.front_urlpath }}/img/sp/common/footer-nav-simfree-sumaho.png" alt="SIMフリースマホ一覧" width="50" height="75">
			</a>
		</li>
		<li class="footer-nav-item">
			<a href="{{url('product_list')~'?category_id=1'}}">
				<img src="{{ app.config.front_urlpath }}/img/sp/common/footer-nav-simcard.png" alt="格安SIM一覧" width="44" height="75">
			</a>
		</li>
		<li class="footer-nav-item">
			<a href="{{url('shopping')}}">
				<img src="{{ app.config.front_urlpath }}/img/sp/common/footer-nav-cart.png" alt="カート" width="31" height="75">
			</a>
		</li>
	</ul>

	<ul class="footer-nav2">
		<li class="footer-nav2-item"><a href="{{ url('help_guide') }}#payment">お支払い方法について</a></li>
		<li class="footer-nav2-item"><a href="{{ url('help_guide') }}#delivery">商品のお届けについて</a></li>
		<li class="footer-nav2-item"><a href="{{ url('help_guide') }}#time">営業時間について</a></li>
		<li class="footer-nav2-item footer-nav2-item--2col"><a href="{{url('help_tradelaw')}}" class="js-footer-nav2-item">運営会社情報</a></li>
		<li class="footer-nav2-item footer-nav2-item--2col"><a href="{{url('help_privacy')}}" class="js-footer-nav2-item">プライバシーポリシー</a></li>
        <li class="footer-nav2-item"><a href="{{ url('contact') }}">お問い合わせ</a></li>
	</ul>
	<div class="footer-privacy">
		<p class="footer-privacy-image"><a href="https://privacymark.jp/" target="_blank"><img src="{{ app.config.front_urlpath }}/img/sp/common/footer-privacy.png" alt="たいせつにしますプライバシー" width="40" height="40"></a></p>
		<p class="footer-privacy-text">お客様の個人情報の保護に努めています。<br>フォームに入力していただく際も、カード番号などはSSLにて暗号化して送られますので、安心してご利用いただけます。</p>
	</div>
	<p class="footer-copyright"><small>© 2016 {{ BaseInfo.shop_name }}</small></p>
</div>



<div id="genaral-page-footer" class="pc">
	<div class="footer-top">
		<div class="inner">
			<dl class="service-info-box">
				<dt class="service-info-heading"><img src="{{ app.config.front_urlpath }}/img/common/about-payment.png" alt="お支払い方法について"></dt>
				<dd class="service-info-contents">
					<p class="info-text-pat1">・クレジットカード</p>
					<p class="info-img"><img src="{{ app.config.front_urlpath }}/img/common/credit-card.png" alt="クレジットカード一覧"></p>
					<p class="info-text-pat1">・代金引換</p>
					<p class="info-text-pat2">※お支払い方法は、商品や契約プランにより異なります。詳しくは商品詳細をご確認ください。</p>
					<p class="info-text-pat2">※デビットカードはご利用いただけません。</p>
				</dd>
			</dl>
			<dl class="service-info-box">
				<dt class="service-info-heading"><img src="{{ app.config.front_urlpath }}/img/common/about-delivery.png" alt="商品のお届けについて"></dt>
				<dd class="service-info-contents">
					<table class="table-pat1">
						<tr>
							<th>送料</th>
							<td>全国一律<span class="strong">{{app.config.shoppingex_delivery_fix_fee}}</span>円（税抜）</td>
						</tr>
					</table>
					<p class="info-text-pat1">・選べるお届け時間</p>
					<p class="info-img"><img src="{{ app.config.front_urlpath }}/img/common/delivery-time.png" alt="選べるお届け時間の画像"></p>
					<p class="info-text-pat2">※商品やプランによっては、到着の日時をお選びいただけない場合がございます。</p>
				</dd>
			</dl>
			<dl class="service-info-box">
				<dt class="service-info-heading"><img src="{{ app.config.front_urlpath }}/img/common/about-business-hour.png" alt="営業時間について"></dt>
				<dd class="service-info-contents">
					<table class="table-pat1">
						<tr>
							<th>年中無休/24時間営業</th>
						</tr>
					</table>
					<p class="info-text-pat1">より多くのお客様に格安スマホを手にしていただくため、年中無休 24時間営業しております。</p>
				</dd>
			</dl>
		</div>
	</div>
	<div class="footer-middle">
		<div class="inner">
			<dl class="footer-sitelist">
				<dt class="footer-sitelist-heading">SIMフリースマホを探す</dt>
				<dd class="footer-sitelist-contents">
					<ul class="site-list">
						<li><a href="{{url('product_list',{'category_id':12})}}">Apple</a></li>
						<li><a href="{{url('product_list',{'category_id':13})}}">ASUS</a></li>
						<li><a href="{{url('product_list',{'category_id':20})}}">FREETEL</a></li>
						<li><a href="{{url('product_list',{'category_id':15})}}">goo</a></li>
						<li><a href="{{url('product_list',{'category_id':16})}}">Google</a></li>
						<li><a href="{{url('product_list',{'category_id':17})}}">HUAWEI</a></li>
						<li><a href="{{url('product_list',{'category_id':18})}}">京セラ</a></li>
						<li><a href="{{url('product_list',{'category_id':31})}}">Samsung</a></li>
						<li><a href="{{url('product_list',{'category_id':32})}}">ソニーモバイルコミュニケーションズ</a></li>
						<li><a href="{{url('product_list',{'category_id':33})}}">ZTE</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="footer-sitelist">
				<dt class="footer-sitelist-heading">SIMカードを探す</dt>
				<dd class="footer-sitelist-contents">
					<ul class="site-list">
						<li><a href="{{url('product_list',{'category_id':14})}}">FREETEL</a></li>
						<li><a href="{{url('product_list',{'category_id':21})}}">IIJmio</a></li>
						<li><a href="{{url('product_list',{'category_id':23})}}">NifMo</a></li>
						<li><a href="{{url('product_list',{'category_id':24})}}">OCN モバイル ONE</a></li>
						<li><a href="{{url('product_list',{'category_id':42})}}">mineo</a></li>
						<li><a href="{{url('product_list',{'category_id':26})}}">楽天モバイル</a></li>
						<li><a href="{{url('product_list',{'category_id':27})}}">So-net</a></li>
						<li><a href="{{url('product_list',{'category_id':34})}}">TJC</a></li>
						<li><a href="{{url('product_list',{'category_id':28})}}">U-mobile</a></li>
						<li><a href="{{url('product_list',{'category_id':29})}}">UQ mobile</a></li>
						<li><a href="{{url('product_list',{'category_id':22})}}">モバレコモバイル</a></li>
                        <li><a href="{{url('product_list',{'category_id':36})}}">BIGLOBE</a></li>
                        <li><a href="{{url('product_list',{'category_id':37})}}">DMM mobile</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="footer-sitelist">
				<dt class="footer-sitelist-heading">格安スマホについて</dt>
				<dd class="footer-sitelist-contents">
					<ul class="site-list">
						<li><a href="{{ url('about-sim') }}#about-contents-outer1">格安スマホとは？</a></li>
						<li><a href="{{ url('about-sim') }}#about-contents-outer2">SIMフリースマホとは？</a></li>
						<li><a href="{{ url('about-sim') }}#about-contents-outer3">格安SIMカードとは？</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="footer-sitelist">
				<dt class="footer-sitelist-heading">ご利用ガイド</dt>
				<dd class="footer-sitelist-contents">
					<ul class="site-list">
						<li><a href="{{ url('help_guide') }}#guide-sectio-box1">お支払い方法</a></li>
						<li><a href="{{ url('help_guide') }}#guide-sectio-box2">商品のお届けについて</a></li>
						<li><a href="{{ url('help_guide') }}#guide-sectio-box3">営業時間について</a></li>
						<li><a href="{{ url('help_guide') }}#guide-sectio-box4">ご注文のキャンセル</a></li>
					</ul>
				</dd>
			</dl>
			<div class="p-mark">
                <p class="p-mark_logo"><a href="https://privacymark.jp/" target="_blank"><img src="{{ app.config.front_urlpath }}/img/common/p-mark.png" alt="プライバシ－マーク"></a></p>
                <p class="p-mark_text">お客様の個人情報の保護に努めています。<br>フォームに入力していただく際も、カード番号などはSSLにて暗号化して送られますので、安心してご利用いただけます。</p>
            </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="inner">
			<p class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="{{ BaseInfo.shop_name }}"></a></p>
			<p class="copy-text"><small>&copy; 2016 {{ BaseInfo.shop_name }}</small></p>
			<ul class="footer-links">
        <li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
        <li><a href="{{ url('help_tradelaw') }}">運営会社情報</a></li>
        <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
			</ul>
		</div>
	</div>
</div>

<!--
<div class="container-fluid inner">
    <ul>
        <li><a href="{{ url('help_about') }}">当サイトについて</a></li>
        <li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
        <li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記</a></li>
        <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
    </ul>
    <div class="footer_logo_area">
        <p class="logo"><a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a></p>
        <p class="copyright">
            <small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small>
        </p>
    </div>
</div>
 -->