{% block javascript %}
<script>

</script>
{% endblock %}

{% block stylesheet %}
<style type="text/css">
/* ==================== PC ==================== */
.company-table{width:100%;margin-top:30px}.company-table th,.company-table td{padding:20px;border:1px solid #ddd}.company-table th{width:190px;background-color:#f6f6f6}

.subpage-heading {
    position: relative;
    margin-bottom: 25px;
    padding: 12px 10px 12px 28px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px 1px #ccc;
    font-size: 18px;
    font-weight: bold;
}
.subpage-heading:before {
    content: '';
    position: absolute;
    margin: 6px 0;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    width: 8px;
    max-height: 100%;
    background-color: #da0d0d;
    border-radius: 3px 0 0 3px;
}

#contents{
	padding-top:0px;
}
#breadcrumbs.bg-grey {
    background: #f4f4f4;
}
#breadcrumbs {
    margin-bottom: 0;
    margin-top: 0px;
}
#breadcrumbs .parent {
    overflow: hidden;
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 11px 0;
    color: #666;
}
#breadcrumbs .children {
    float: left;
    font-size: 10px;
    position: relative;
}
#breadcrumbs a {
    color: #666;
    margin-right: 20px;
}
#breadcrumbs a:after {
    content: ">";
    position: absolute;
    top: -1px;
    right: 5px;
}
/* ==================== PC ==================== */

/* ==================== SP ==================== */
.clearfix{overflow:hidden}.company-info{margin:0 10px 30px;font-size:100%}.company-info dt{margin:20px 0 15px;padding:10px;background-color:#eee;font-size:100%;font-weight:bold}.company-info dd{line-height:1.6}

.page-heading {
    display: block;
    position: relative;
    padding: 10px 40px;
    background-color: #333;
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: #fff;
}
.page-heading .page-heading-back {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: 100%;
    line-height: 30px;
}
.page-heading .page-heading-back:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

/* ==================== SP ==================== */

</style>
{% endblock %}

{% block main %}


<div id="container" class="pc">
	<div id="container-inner">
		<p id="breadcrumbs">
			<span class="parent" prefix="v:http://rdf.data-vocabulary.org/#">
				<span class="children first" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}トップ</a></span>
				<span class="children" typeof="v:Breadcrumb"><span property="v:title">運営会社情報･特定商取引法に基づく表記</span></span>
			</span>
		</p>

		<h1 class="subpage-heading">運営会社情報･特定商取引法に基づく表記</h1>
		<table class="company-table">
			<tr>
				<th>運営会社</th>
				<td>{{ BaseInfo.company_name }}</td>
			</tr>
			<tr>
				<th>運営責任者</th>
				<td>{{ help.law_manager }}</td>
			</tr>
			<tr>
				<th>事業所所在地</th>
				<td>
					<p>
						本社:<br>
						〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }} {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
					</p>
					<p>
						東京営業所:<br>
						〒141-0022 東京都品川区東五反田1丁目2番33号 白雉子ビル 7F
					</p>
				</td>
			</tr>
			<tr>
				<th>連絡先</th>
				<td>
                    {% if help.law_email is defined %}

					Eメール:<br>
					{{help.law_email}}<br>
					{% endif %}
                    {% if help.law_tel01 is defined %}

					電話番号:<br>
					{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>事業内容</th>
				<td>{{ BaseInfo.message|nl2br }}</td>
				</td>
			</tr>
			<tr>
				<th>営業時間</th>
				<td>{{ BaseInfo.business_hour }}</td>
			</tr>
			<tr>
				<th>注文方法</th>
				<td>{{ help.law_term02|nl2br }}</td>
			</tr>
			<tr>
				<th>商品などの詳細説明</th>
				<td>{{ BaseInfo.good_traded|nl2br }}</td>
			</tr>
			<tr>
				<th>商品代金以外の必要料金</th>
				<td>{{ help.law_term01|nl2br }}</td>
			</tr>
			<tr>
				<th>送料</th>
				<td>一律{{app.config.shoppingex_delivery_fix_fee}}円</td>
			</tr>
			<tr>
				<th>引き渡し時期</th>
				<td>{{ help.law_term05|nl2br }}</td>
			</tr>
			<tr>
				<th>返品/返還の特約</th>
				<td>{{ help.law_term06|nl2br }}
				</td>
			</tr>
		</table>


	</div>
</div>


<div id="contents" class="sp">
	<div class="page-heading">
		<p><a href="{{ url('homepage') }}" class="page-heading-back">戻る</a></p>
		<h1>運営会社情報・特定商取引法に基づく表記</h1>
	</div>
	<div class="company-info">
		<dl>
			<dt>運営会社</dt>
			<dd>{{ BaseInfo.company_name }}</dd>
			<dt>運営責任者</dt>
			<dd>{{ help.law_manager }}</dd>
			<dt>事業所所在地</dt>
			<dd>
				<ul>
					<li>
						本社:<br>
						〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }} {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}
					</li>
					<li>
						東京営業所:<br>
						〒141-0022 東京都品川区東五反田1丁目2番33号 白雉子ビル 7F
					</li>
				</ul>
			</dd>
			<dt>連絡先</dt>
			<dd>
                {% if help.law_email is defined %}

				Eメール:<br>
				{{help.law_email}}<br>
				{% endif %}
                {% if help.law_tel01 is defined %}

				電話番号:<br>
				{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}
				{% endif %}
			</dd>
			<dt>事業内容</dt>
			<dd>{{ BaseInfo.message|nl2br }}</dd>
			<dt>営業時間</dt>
				<dd>{{ BaseInfo.business_hour }}</dd>
			<dt>注文方法</dt>
				<dd>{{ help.law_term02|nl2br }}</dd>
			<dt>商品などの詳細説明</dt>
				<dd>{{ BaseInfo.good_traded|nl2br }}</dd>
			<dt>商品代金以外の必要料金</dt>
				<dd>{{ help.law_term01|nl2br }}</dd>
			<dt>送料</dt>
				<dd>一律{{app.config.shoppingex_delivery_fix_fee}}円</dd>
			<dt>引き渡し時期</dt>
				<dd>{{ help.law_term05|nl2br }}</dd>
			<dt>返品/返還の特約</dt>
			<dd>
				{{ help.law_term06|nl2br }}
			</dd>
		</dl>
	</div>
</div>
{% endblock %}