{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}



<p class="sideItem_title">おすすめ端末</p>
                <div class="sideItem sideWidth">
                    <ul class="sideItem_list">
                {% for ReccomendProduct in RecommendProducts.ProductList %}
                        <li>
                            <p class="sideItem_name">{{ ReccomendProduct.Product.name }}</p>
<figure><img src="{{ app.config.image_save_urlpath }}/{{ ReccomendProduct.Product.main_list_image|no_image_product }}" height="165" width="203" alt=""></figure>                         
                            <p class="sideItem_m">月々<span>{{ ReccomendProduct.Product.getPrice02IncTaxMin|number_format }}</span>円/月～</p>
                            <p class="sideItem_mes">(端末代+通話し放題+ネットし放題)</p>
                            <a class="sideItem_link arrow01" href="{{url('product_detail',{'id':ReccomendProduct.Product.id})}}">詳細を見る</a>
                        </li>
                {% endfor %}

                    </ul>
                </div>