<div class="c_nav_privilege">
			<h2 class="c_nav_title">安さの秘密や特典を調べる</h2>
			<div class="c_nav_privilege_inner">
				<ul class="c_nav_privilege_list clr">
					<li><a href="{{url('sbm_content_charge')}}">{{ BaseInfo.shop_name }}の安さの秘密</a></li>
					<li><a href="{{url('campaign_index')}}">キャンペーン</a></li>
					<li><a href="{{url('help_guide')}}">ご利用ガイド</a></li>
				</ul>
			</div>
		</div>