<div class="side_details" style="display:none">
					<div class="side_details_top sideWidth">
						<div class="model_box clr">
							<figure><img src="{{ app.config.front_urlpath }}/img/details/model01.jpg" alt=""></figure>
							<div class="model_detail">
								<p class="side_details_icon">
									<span class="side_details_no1">人気No.1</span>
									<span class="side_details_new">NEW</span>
								</p>
								<h2 class="side_details_name">AQUOS PHONE Xx<br>304SH</h2>
							</div>
						</div>

						<p class="side_details_color">カラー選択</p>
						<p class="side_details_color_list">
							<label class="red"><input type="radio" id="product_color_1" name="product_color" required="required" value="1"></label>
							<label class="black"><input type="radio" id="product_color_2" name="product_color" required="required" value="2"></label>
							<label class="brown"><input type="radio" id="product_color_3" name="product_color" required="required" value="3"></label>
							<label class="gray"><input type="radio" id="product_color_4" name="product_color" required="required" value="4"></label>
						</p>




						<p class="side_details_m">料金選択</p>
						<ul class="side_details_m_list">
							<li>
								<label><input type="radio" id="pack_1" name="pack" required="required" value="1">
									1GBパック
									<span>3,980<small>円 / 月</small></span>
								</label>
							</li>
							<li>
								<label><input type="radio" id="pack_2" name="pack" required="required" value="2">
									5GBパック
									<span>4,980<small>円 / 月</small></span>
								</label>
							</li>
							<li>
								<label><input type="radio" id="pack_3" name="pack" required="required" value="3">
									20GBパック
									<span>5,980<small>円 / 月</small></span>
								</label>
							</li>
						</ul>

						<a class="side_details_btn btn02" href=""><p>Webで申し込む</p></a>
						<a class="side_details_btn2 btn02" href=""><p>この商品を近くの<br>店舗で受け取る</p></a>
						<p class="side_details_tel_mes">この商品について電話で問い合わせる</p>
						<p class="side_details_tel oswald">{{app.session.get(app.config.FDROUTEKEY).fd_num}}</p>

					</div>
					<div class="side_details_foot sideWidth">
						<p class="side_details_kome">表示価格は全て含めた金額です。</p>
						<ul class="side_details_kome_list clr">
							<li>端末代金</li>
							<li>5分以内<br>通話し放題</li>
							<li>ネット<br>し放題</li>
						</ul>
					</div>
				</div>