			<nav class="drawer-nav">
				<div class="drawer-menu">

					<div class="gnav_titleBox mainWidth">
						<p class="gnav_logo"><a href="{{url('homepage')}}"><img src="{{ app.config.front_urlpath }}/common/img/gnav_logo.png" height="59" width="287" alt="softbank smart phone store 【正規販売店】"></a></p>
						<button type="button" class="drawer-toggle drawer-hamburger gnav-hamburger">
							<span class="sr-only">toggle navigation</span>
							<span class="drawer-hamburger-icon"></span>
						</button>
					</div>
					<div class="js-nav_product">
						<div class="c_nav_product">
							<h2 class="c_nav_title">製品を探す</h2>
							<div class="c_nav_product_inner">
								<ul class="c_nav_product_list clr">
									<li><a href="{{url('product_list',{'category_id':1})}}">スマートフォン</a></li>
									<li><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ</a></li>
								</ul>
							</div>
						</div>
						<div class="c_nav_privilege">
							<h2 class="c_nav_title">安さの秘密や特典を調べる</h2>
							<div class="c_nav_privilege_inner">
								<ul class="c_nav_privilege_list clr">
									<li><a href="{{url('sbm_content_charge')}}">{{ BaseInfo.shop_name }}の安さの秘密</a></li>
									<li><a href="{{url('campaign_index')}}">キャンペーン</a></li>
									<li><a href="{{url('help_guide')}}">ご利用ガイド</a></li>
								</ul>
							</div>
						</div>
						<div class="c_nav_info">
							<h2 class="c_nav_title">お申し込み・お問い合わせ</h2>
							<div class="c_nav_info_inner mainWidth clr">
								<div class="c_nav_info_top">
									<p class="c_nav_info_name2">お電話でのお申し込み・お問い合わせ</p>
									<div class="c_nav_info_tel">
										<a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
											<dl>
												<dt>タップして電話をかける</dt>
												<dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
											</dl>
										</a>
									</div>
									<p class="c_nav_info_time">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
								</div>
								<div class="c_nav_info_bottom">
									<p class="c_nav_info_name2">Webでのお申し込み・お問い合わせ</p>
									<ul class="c_nav_info_btns clr">
										<li><a class="btn02" href="{{url('plugin_customentryform_formeasy')}}" target="_blank"><p><span>お申し込み相談</span></p></a></li>
										<li><a class="btn02" href="{{url('plugin_customentryform_forminquiry')}}" target="_blank"><p><span>お問い合わせ</span></p></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
