<section class="splist">
			<div class="lineup_title_box">
				<h2 class="lineup_title"><img src="{{ app.config.front_urlpath }}/img/home/lineup.png" height="35" width="363" alt="商品ラインナップ Line Up"></h2>
			</div>
			<div class="splist_inner mainWidth">
				<ul class="splist_list clr">
					<li>
						<div class="splist_detail clr">
							<figure class="splist_img"><img src="{{ app.config.front_urlpath }}/img/home/splist01.png" height="151" width="101" alt=""></figure>
							<h2 class="splist_title">スマートフォン一覧へ</h2>
							<p class="splist_mes">人気モデルXperia、AQUOS、DIGNO、Nexusなどの話題の最新機種を取り揃えています。</p>
						</div>
						<div class="tac">
							<a class="btn01 arrow01" href="">スマートフォン一覧を見る</a>
						</div>
					</li>
					<li>
						<div class="splist_detail clr">
							<figure class="splist_img"><img src="{{ app.config.front_urlpath }}/img/home/splist02.png" height="151" width="101" alt=""></figure>
							<h2 class="splist_title">3Gケータイ一覧へ</h2>
							<p class="splist_mes">最新の3Gケータイを料金やデザイン、機能などで比較して検索できます。</p>
						</div>
						<div class="tac">
							<a class="btn01 arrow01" href="">3Gケータイ一覧を見る</a>
						</div>
					</li>
				</ul>
			</div>
		</section>