<h1 class="hed_logo"><a href="./"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="59" width="287" alt="softbank {{ BaseInfo.shop_name_eng }} 【正規販売店】"></a></h1>
			<ul class="hed_link clr">
				<li><a href="./">電話</a></li>
				<li><a href="./" target="_blank">申込み</a></li>
			</ul>

			<button type="button" class="drawer-toggle drawer-hamburger open-hamburger">
				<span class="sr-only">toggle navigation</span>
				<span class="drawer-hamburger-icon"></span>
			</button>

			<nav class="drawer-nav">
				<div class="drawer-menu">

					<div class="gnav_titleBox mainWidth">
						<p class="gnav_logo"><a href="./"><img src="{{ app.config.front_urlpath }}/common/img/gnav_logo.png" height="59" width="287" alt="softbank smart phone store 【正規販売店】"></a></p>
						<button type="button" class="drawer-toggle drawer-hamburger gnav-hamburger">
							<span class="sr-only">toggle navigation</span>
							<span class="drawer-hamburger-icon"></span>
						</button>
					</div>

					<div class="c_nav_product">
						<h2 class="c_nav_title">製品を探す</h2>
						<div class="c_nav_product_inner">
							<ul class="c_nav_product_list clr">
								<li><a href="./">スマートフォン</a></li>
								<li><a href="./">3Gケータイ</a></li>
							</ul>
						</div>
					</div>
					<div class="c_nav_privilege">
						<h2 class="c_nav_title">安さの秘密や特典を調べる</h2>
						<div class="c_nav_privilege_inner">
							<ul class="c_nav_privilege_list clr">
								<li><a href="./">{{ BaseInfo.shop_name }}の安さの秘密</a></li>
								<li><a href="./">キャンペーン</a></li>
								<li><a href="./">ご利用ガイド</a></li>
							</ul>
						</div>
					</div>
					<div class="c_nav_info">
						<h2 class="c_nav_title">お申し込み・お問い合わせ</h2>
						<div class="c_nav_info_inner mainWidth clr">
							<div class="c_nav_info_top">
								<p class="c_nav_info_name1">お電話でのお申し込み・お問い合わせ</p>
								<div class="c_nav_info_tel">
									<a href="./" class="btn02">
										<dl>
											<dt>タップして電話をかける</dt>
											<dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
										</dl>
									</a>
								</div>
								<p class="c_nav_info_time">受付時間 10:00～19:00（土日祝除く）</p>
							</div>
							<div class="c_nav_info_bottom">
								<p class="c_nav_info_name2">Webでのお申し込み・お問い合わせ</p>
								<ul class="c_nav_info_btns clr">
									<li><a class="btn02" href="./" target="_blank"><p><span>お申し込み相談</span></p></a></li>
									<li><a class="btn02" href="./" target="_blank"><p><span>お問い合わせ</span></p></a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</nav>