<nav class="home_sort mainWidth">
			<ul class="sort clr">
				<li><a class="arrow01 sort_on" href="">売れ筋ランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">安さでランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">新着順でランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
			</ul>
		</nav>

		<section class="home_item mainWidth">
			<div class="home_item_body">
				<ul class="home_item_list item_list_on clr">
			    {% for Product in Sort01Products %}

					<li><a href="">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						<p class="home_item_new">NEW</p>
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" height="228" width="280" alt=""></figure>						
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>{{ Product.description}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
					</a></li>
			    {% endfor %}

				</ul>
				<ul class="home_item_list clr">

				</ul>
			</div>
		</section>