<div class="mainWidth">
			<div class="review">
				<h2 class="main_title1" id="details04">商品レビュー</h2>

				<div class="review_box clr">
					<div class="review_top">
						<p class="review_box_user">投稿者：はんどるねぇむ 様　<span>投稿日：2017年2月5日</span></p>
						<p class="review_box_name">総合評価<span><img src="{{ app.config.front_urlpath }}/img/details/hosi3.png" height="21" width="112" alt=""></span></p>
					</div>
					<div class="review_box_main">
						<h3 class="review_box_title">若干古さを感じるがデザインが秀逸な名機</h3>
						<p class="review_box_mes">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。</p>
					</div>
				</div>

				<div class="review_box clr">
					<div class="review_top">
						<p class="review_box_user">投稿者：はんどるねぇむ 様　<span>投稿日：2017年2月5日</span></p>
						<p class="review_box_name">総合評価<span><img src="{{ app.config.front_urlpath }}/img/details/hosi3.png" height="21" width="112" alt=""></span></p>
					</div>
					<div class="review_box_main">
						<h3 class="review_box_title">若干古さを感じるがデザインが秀逸な名機</h3>
						<p class="review_box_mes">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。</p>
					</div>
				</div>

				<div class="review_box clr">
					<div class="review_top">
						<p class="review_box_user">投稿者：はんどるねぇむ 様　<span>投稿日：2017年2月5日</span></p>
						<p class="review_box_name">総合評価<span><img src="{{ app.config.front_urlpath }}/img/details/hosi3.png" height="21" width="112" alt=""></span></p>
					</div>
					<div class="review_box_main">
						<h3 class="review_box_title">若干古さを感じるがデザインが秀逸な名機</h3>
						<p class="review_box_mes">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。</p>
					</div>
				</div>
			</div>
		</div>