<div class="hed_l">
	aaaaaaaaaaa{{app.request.get('_route')}}
	aaaaaaaaaaa{{app.request.query.get('category_id')}}
	<h1 class="hed_mes">Softbankのスマートフォン・ケータイがおトクなオンラインショップ</h1>
	<a class="hed_logo" href="{{url('homepage')}}"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="33" width="403" alt="softbank smart phone store"><span>正規販売店</span></a>
	<ul class="hed_nav clr">
		<li><a href="{{url('product_list',{'category_id':1})}}">スマートフォン</a></li>
		<li><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ</a></li>
		<li><a href="{{url('campaign_index')}}">キャンペーン</a></li>
		<li><a href="{{url('help_guide')}}">ご利用ガイド</a></li>
	</ul>
</div>