<div class="c_nav_product">
			<h2 class="c_nav_title">製品を探す</h2>
			<div class="c_nav_product_inner">
				<ul class="c_nav_product_list clr">
					<li><a href="{{url('product_list',{'category_id':1})}}">スマートフォン</a></li>
					<li><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ</a></li>
				</ul>
			</div>
		</div>