{#
(c) Nobuhiko Kimoto
info@nob-log.info
#}
{% if meta.title is defined and meta.title is not empty %}
<title>{{ meta.title }}</title>
{% endif %}
{% if meta.description is defined and meta.description is not empty %}
<meta name="description" content="{{ meta.description }}">
{% endif %}
{% if meta.keywords is defined and meta.keywords is not empty %}
<meta name="keywords" content="{{ meta.keywords }}">
{% endif %}

{% if meta.title is defined and meta.title is not empty %}
    <meta property="og:title" content="{{ meta.title }}">
{% endif %}

{% if meta.description is defined and meta.description is not empty %}
    <meta property="og:description" content="{{ meta.description }}">
{% endif %}