{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/faq.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}


{%block main%}
		<h1 class="main_title0 mainWidth">よくある質問</h1>
{%endblock%}