{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}

{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
        <h1 class="main_title0 mainWidth">タダで機種変更キャンペーン</h1>

        <div class="main_body mainWidth clr">
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/kishuhenko_free/campaign_main_kishuhenko-free.png" alt=""></figure>

            <h2 class="main_title1">キャンペーン概要</h2>
            <p class="campaign_mes">機種変更で指定の機種を購入したお客さまを対象に、それまでご利用されていた機種を下取りし、下取り機種に応じて割引などの特典を付与いたします。 特典は以下から選択できます。なお、下取り対象機種に応じて特典額は異なります。</p>
            <p class="campaign_mes">
                1. 通信料金から割引（24回の分割割引）<br>
                2. ソフトバンクカードチャージ（割引特典の総額相当のプリペイドバリューを一括で付与）<br>
                3. 商品券・ポイントなど（割引特典の総額相当）※1<br>
                4. 分割支払金からの割引（24回の分割割引）※1 ※2
            </p>
            <p class="note">※1 特典3、特典4に関しては一部実施していない店舗があります。また、オンラインショップでご加入の場合は選択することができません（特典1が自動適用となります）。</p>
            <p class="campaign_mes note">※2 特典4に関しては、指定機種のご購入と同時に店頭査定で下取り対象機種を回収させていただく必要があります。あらかじめデータのバックアップをご実施ください。</p>

            <h2 class="main_title1">適用条件</h2>
            <p class="campaign_mes">25歳以下のお客さまにはSUPER FRIDAYのクーポンを毎週2枚配信いたします。</p>
            <p class="campaign_mes">
                1. 機種変更にて指定機種をご購入<br>
                2. 機種変更前の機種をソフトバンクで購入いただいていること<br>
                3. 下取り対象機種の査定を完了いただくこと<br>
                4. 製造番号（IMEIなど）が確認でき、改造などメーカーの保証外ではないこと<br>
                5. 以下のような機種は、タダで機種変更キャンペーンでの下取りができません<br>
                ・電源が入らない（スリープボタンが正常に機能しない）<br>
                ・初期化されていない、各種ロックが解除されていない
            </p>

            <h2 class="main_title1">お申し込み方法</h2>
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/kishuhenko_free/campaign_kishuhenko-free_01.png" alt=""></figure>

            <h2 class="main_title1">下取り対応機種</h2>

            <h3 class="campaign_title">iPhone</h3>
            <p class="campaign_mes">iPhone 6s、iPhone 6s Plus、iPhone 6、iPhone 6 Plus、iPhone 5s、iPhone 5c、iPhone 5、iPhone 4s、iPhone 4、iPhone 3GS、iPhone 3G</p>

           <h3 class="campaign_title">スマートフォン</h3>
            <p class="campaign_mes">DIGNO® ケータイ、DIGNO® ケータイ for Biz、かんたん携帯9、AQUOS ケータイ、COLOR LIFE 5 WATERPROOF、かんたん携帯8、COLOR LIFE 4 WATERPROOF 301P、THE PREMIUM 10 WATERPROOF 301SH</p>

            <h3 class="campaign_title">その他機種</h3>
            <p class="campaign_mes">101DL、001DL、001HT、X06HTⅡ、X06HT</p>

            <h3 class="campaign_title">(機種変更後)指定機種</h3>
            <p class="campaign_mes">iPhone 7、iPhone 7 Plus、iPhone 6s、iPhone 6s Plus、iPhone 6、iPhone 6 Plus、iPhone SE、iPhone 5s、iPhone 5c、iPhone 5、4G スマートフォン</p>

            <h3 class="campaign_title">【注意事項】</h3>
            <p class="campaign_mes">
                ・スマホファミリー割との併用はできません。<br>
                ・割引期間内に解約された場合、割引は終了となりますが、分割支払金のお支払いは必要です。<br>
                ・ソフトバンクカードチャージ特典は、特典のお申し込みまでにソフトバンクカードにご入会いただく必要があります。<br>
                ・特典のお申し込み後、カード解約などでソフトバンクカードチャージ特典が適用できない場合、通信料割引特典が適用となります。<br>
                ・ソフトバンクカードチャージ特典は、下取り査定完了月の翌月または翌々月の20日ごろ付与します。<br>
                ・指定機種ご購入ごとに1台のお申し込みが可能です。<br>
                ・割引期間中も分割支払金のお支払いが必要です。<br>
                ・タダで機種変更キャンペーンにお申し込みの際は、古物営業法に基づく本人確認があります。<br>
                （店頭下取り、後送りいずれも）。<br>
                ・本割引の内容および期間は予告なく変更する場合があります。
            </p>

            <p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>

        </div>
{%endblock%}