{% extends 'default_frame.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/home.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/home.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}


{%block main%}
<div class="home_top">
	<div class="home_top_inner mainWidth clr">
		<div class="home_top_box">
			<p class="home_top_cart">ご購入はこちら</p>
			<div class="home_top_box_ko">
				<a class="home_top_btn01 arrow01" href="{{url('plugin_customentryform_formeasy')}}">お申し込み相談<br><span>来店不要・Webで完結</span></a>
				<a class="home_top_btn02 arrow01" href="{{url('plugin_customentryform_forminquiry')}}">お問い合わせ</a>
				<p class="home_top_mes">専門スタッフが、お客様<br>ひとりひとりに最適な<br>プランをご紹介いたします。</p>
			</div>
		</div>
	</div>
</div>
{%endblock%}