{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if isActive %}
    <p id="option_point_box">オプションポイント：<span id="option_point_default"></span><span class="small">pt</span></p>
{% endif %}