{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div id="contents" class="main_only">
        <div id="reset_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">パスワード変更(完了ページ)</h1>
                <div id="reset_box" class="container-fluid">
                    <div id="reset_box__body" class="row">
                        <div id="reset_box__message" class="col-md-10 col-md-offset-1">
                            <h2>新しいパスワードが送信されました。</h2>
                            <p>新しいパスワード送り致しましたので、メールをご確認ください。</p>
                            <p>今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}


