{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/privacy.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>

{% endblock %}

{% block sbm_side_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{%block main%}
				<h1 class="main_title0">プライバシーポリシー</h1>
				<section class="sec01">
					<div class="sec01Inner">
						<div class="sec01_box1 clr">
							<p>株式会社 ALL CONNECT<br>
							代表取締役 岩井 宏太<br>
							最終改定日　2016年3月31日</p>							
						</div>							
					<div class="sec01_box2">
						<div class="sec01_item">
							<h3>個人情報保護方針</h3>
							<p>当社は、インターネットを通じて高品質・高度なサービスを提供、及びソリューションビジネスを通じて企業のインターネットビジネスを総合コンサルティングという形で提供し、社会のＩＴ化促進・向上に貢献しております。<br>
個人情報を適正に収集(取得)し、安全に管理する事は当然の責務だと考えております。<br>
お客様に信頼され、満足を得られることが当社の事業活動の基盤であり、重大な社会的責任であることを認識し、以下の内容を含む「個人情報保護に関するマネジメントシステム」を制定し、個人情報保護の確実な履行に努めます。<br>
1.当社は、事業およびサービスの提供に対して適正な範囲内で個人情報の収集、取り扱いを行います<br>
2.当社は、個人情報の保護に関連する法令、個人情報保護マネジメントシステムの要求事項（JIS Q 
　15001）、業界ガイドライン等の規定に従って個人情報の適正な取扱いを 　行っていくなど、コンプライア　ンス（法令遵守）の徹底に努めます<br>
3.当社は、個人情報の漏洩、滅失又はき損の防止に努め、正確な内容に保つよう努めます<br>
4.当社は、「個人情報保護に関するマネジメントシステム」の継続改善、および従業員への教育・監督に努めます<br>
5.電話応対時において、ご注文・ご意見・ご要望・お問い合わせ内容等の正確な把握、今後のサービス向上のために、通話を録音させていただく場合があります</p>
						</div>
						<div class="sec01_item">
							<h3>個人情報の取扱について</h3>
							<p>本サイトにて取得した個人情報の利用目的は、以下の通りです。<br>
1.営業販売代行事業、メディア事業、パートナー事業(以下、「各事業」とする)における商品・サービスの提供のため<br>
2.各事業における商品・サービス料金の計算及び請求、これらに関するお客様へのご連絡のため<br>
3.各事業に関するアンケート調査、お客様からのお問い合わせへの回答のため<br>
4.各事業における商品・サービスのお知らせ及び斡旋のため<br>
5.各事業におけるキャンペーン等の実施のため<br>
6.当社及び第三者の商品等の販売、販売の勧誘、発送、サービス提供のために電子メールその他の広告宣伝物を送信するため<br>
7.新卒・中途採用に関するお客様からのご応募やお問い合わせへの回答のため<br>
8.各事業における応対品質の向上のため<br><br>

当社では、以下に定める範囲内において、お客様の個人情報を第三者に提供することがあります。<br>
1.お客様の同意がある場合<br>
2.裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を有する機関から開示を求められた場合<br>
3.お客様が当社に対し支払うべき料金その他の決済を行うために、金融機関、クレジットカード会社、回収代行業者その他の決済またはその代行を行う事業者に開示する場合<br>
4.当社が行う業務の全部または一部を第三者に委託する場合<br>
5.当社に対して秘密保持義務を負う者に対して開示する場合<br>
6.当社の権利行使に必要な場合<br>
7.合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合<br>
8.個人情報保護法その他の法令により認められた場合<br>
9.第三者の広告又は宣伝等のために電子メールその他の広告宣伝物を送信する場合<br><br>

お客様の個人情報を委託先、及び第三者に提供する場合、下記の規定に従います。<br>
1.委託先、及び第三者に提供する個人情報項目<br>
　氏名、住所、電話番号、生年月日、メールアドレス<br>
　ご請求金額、お支払方法等のご利用料金に関する情報等<br>
　金融機関の口座番号、口座名義、クレジットカード番号等<br>
　個人情報の利用目的に必要な情報等の項目以外は提供致しません。<br>
2.委託先、及び第三者への提供の手段または方法<br>
　郵便物、電話、ファックス、インターネット、電子メール、書面、により行います。<br>
3.委託先、及び第三者への提供の停止<br>
　お客様ご本人からのお申出がありましたら、提供は取りやめさせて頂きます。<br>
　ただし、業務運営上必要なご案内の送付等は除きます。</p>
						</div>
						<div class="sec01_item">
							<h3>個人情報の取扱について</h3>
							<p>個人情報の取り扱いに関するご相談、ご意見等については、下記窓口で承ります。<br>
また、当社の保有個人データの開示等、個人情報保護法・第24条等に基づくご請求についても、下記窓口へご連絡ください。<br>
《個人情報に関するお問い合せ先》<br>
　株式会社 ALL CONNECT<br>
　〒910-2178　福井県福井市栂野町第15号1番地2<br>
　TEL：0776-31-2100</p>
						</div>
						<div class="sec01_item">
							<h3>クッキーについて</h3>
							<p>■クッキーとは？<br>
クッキーとは、ウェブページを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、お客様のコンピュータにファイルとして保存しておく仕組みです。次回、同じページにアクセスすると、クッキーの情報を使って、ページの運営者はお客様ごとに表示を変えたりすることができます。お客様がブラウザの設定でクッキーの送受信を許可している場合、ウェブサイトは、ユーザーのブラウザからクッキーを取得できます。なお、お客様のブラウザは、プライバシー保護のため、そのウェブサイトのサーバーが送受信したクッキーのみを送信します。<br><br>

■クッキーの設定について<br>
・お客様は、クッキーの送受信に関する設定を「すべてのクッキーを許可する」、「すべてのクッキーを拒否する」、「クッキーを受信したらユーザーに通知す　る」などから選択できます。設定方法は、ブラウザにより異なります。クッキーに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。<br>
・すべてのクッキーを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける　場合がありますのでご注意ください。<br><br>

■当サイトがクッキーを使用して行っていること<br>
以下の目的のため、当サイトはクッキーを利用しています。<br>
・お客様が認証サービスにログインされるとき、保存されているお客様の登録情報を参照して、お客様ごとにカスタマイズされたサービスを提供できるようにするため<br>
・お客様が興味を持っている内容や、当サイトのサイト上での利用状況をもとに、最も適切な広告を他社サイト上で表示するため<br>
・当サイトのサイトの利用者数やトラフィックを調査するため<br>
・当サイトのサービスを改善するため<br>
・セキュリティー保持のため、ご利用から一定の時間が経過したお客様に対してパスワードの再入力（再認証）を促すため<br>
なお、当サイトは、当サイトの広告の配信を委託するYahoo! JAPANへの委託に基づき、Yahoo! JAPANを経由して、当サイトのクッキーを保存し、参照する場合があります。</p>
						</div>
						<div class="sec01_item">
							<h3>クッキーのオプトアウトについて</h3>
							<p>クッキーによる行動ターゲティング広告の無効化をご希望の場合は、下記の各社リンクより無効化（オプトアウト）を行ってください。<br>
								・グーグル株式会社：<a href="https://support.google.com/ads/answer/2662922" target="_blank">https://support.google.com/ads/answer/2662922</a><br>
								・ヤフー株式会社：<a href="http://btoptout.yahoo.co.jp/optout/preferences.html" tareget="_blank">http://btoptout.yahoo.co.jp/optout/preferences.html</a><br>
								・facebook：<a href="https://www.facebook.com/settings/?tab=ads" target="_blank">https://www.facebook.com/settings/?tab=ads</a></p>
						</div>
					</div>
					</div>	
				</section>
{%endblock%}