{#
/*
* This file is part of EC-CUBE
*
* Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
* http://www.lockon.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
#}

{% extends 'default_frame.twig' %}

{% set menus = ['content', 'plugin_dscontents_block_sp'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ブロック管理SP{% endblock %}

{% block main %}
<form name="content_block_form" id="content_block_form" method="post" action="">
    <div id="block_wrap" class="container-fluid">
        <div id="block_list" class="row">
            <div id="block_list_box" class="col-md-12">
                <div id="block_list_box__body" class="box">
                    <div id="block_list_box__header" class="box-header">
                        <div class="box-title">
                            ブロック一覧
                        </div>
                    </div>
                    <div id="sortable_list" class="box-body no-padding no-border">
                        <div id="sortable_list_box" class="sortable_list">
                            <div id="sortable_list__list"class="tableish">
                                {% for Block in Blocks %}
                                    <div id="sortable_list__item--{{ Block.id }}" class="item_box tr">
                                        <div id="sortable_list__name--{{ Block.id }}" class="item_pattern td">
                                            {{ Block.name }}
                                        </div>
                                        <div id="sortable_list__menu_box--{{ Block.id }}" class="icon_edit td">
                                            <div id="sortable_list__menu_box_toggle--{{ Block.id }}" class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                <ul id="sortable_list__menu--{{ Block.id }}" class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="{{ url('plugin_dscontents_admin_content_block_edit', {id: Block.id}) }}">編集</a>
                                                    </li>
                                                    <li>
                                                        {% if Block.deletable_flg == 1 %}
                                                            <a href="{{ url('plugin_dscontents_admin_content_block_delete', { 'id': Block.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このブロックを削除してもよろしいですか？">削除</a>
                                                        {% else %}
                                                            <a>削除</a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- /.item_box -->
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div id="block_list__footer" class="row btn_area2">
                <div id="block_list__insert_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
                    <a class="btn btn-primary btn-block btn-lg" href="{{ url('plugin_dscontents_admin_content_block_new')}}">新規入力</a>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}
