{#
/*
* This file is part of EC-CUBE
*
* Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
* http://www.lockon.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
#}

{% extends 'default_frame.twig' %}

{% set menus = ['content', 'plugin_dscontents_page_sp'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ページ管理SP{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form role="form" name="content_page_form" id="content_page_form" method="post" action="{{ url('plugin_dscontents_admin_content_page_edit', {id: page_id}) }}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.id) }}
        {{ form_widget(form.DeviceType, { attr : { style : 'display: none;' } } ) }}
        <div class="row" id="aside_wrap">
            <div id="detail" class="col-md-9">
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">ページ詳細編集</h3>
                    </div>
                    <!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        <div id="detail_box__name" class="form-group">
                            {{ form_label(form.name) }}
                            <div class="col-sm-9 col-lg-10">
                                {% if editable %}
                                    {{ form_widget(form.name) }}
                                {% else %}
                                    {{ form.name.vars.value }}
                                    {{ form_widget(form.name, { type : 'hidden' } ) }}
                                {% endif %}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div id="detail_box__url" class="form-group word-break">
                            {{ form_label(form.url) }}
                            <div class="col-sm-9 col-lg-10 form-inline">
                                {% if editable %}
                                    {{ url('top') }}{{ app.config.user_data_route }}/{{ form_widget(form.url) }}
                                {% else %}
                                    {{ app.request.schemeAndHttpHost }}{{ app.request.basePath }}{{ app.routes.get(form.url.vars.value).path }}
                                    {{ form_widget(form.url, { type : 'hidden' } ) }}
                                {% endif %}
                                {{ form_errors(form.url) }}
                            </div>
                        </div>
                        <div id="detail_box__file_name" class="form-group word-break">
                            {{ form_label(form.file_name) }}
                            <div class="col-sm-9 col-lg-10 form-inline">
                                {% if editable %}
                                    {{ template_path }}/{{ form_widget(form.file_name) }}.twig
                                {% else %}
                                    {{ template_path }}/{{ form.file_name.vars.value }}.twig
                                    {{ form_widget(form.file_name, { type : 'hidden' } ) }}
                                {% endif %}
                                {{ form_errors(form.file_name) }}
                            </div>
                        </div>

                        <div id="detail_box__tpl_data" class="form-group">
                            {{ form_label(form.tpl_data) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.tpl_data, { attr : { 'rows' : 15, style : 'font-size:12px' } }) }}
                                {{ form_errors(form.tpl_data) }}
                            </div>
                        </div>

                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="detail_meta_box" class="box form-horizontal">
                    <div id="detail_meta_box__header" class="box-header">
                        <h3 class="box-title">
                            meta設定
                        </h3>
                    </div>
                    <!-- /.box-header -->

                    <div id="detail_meta_box__body" class="box-body">
                        {{ form_row(form.author) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.keyword) }}
                        {{ form_row(form.meta_robots) }}
                    </div>
                </div>

                <div id="detail_box__footer" class="row hidden-xs hidden-sm">
                    <div id="detail_box__back_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('plugin_dscontents_admin_content_page') }}">戻る</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div id="common_box" class="col-md-3">
                <div class="col_inner" id="aside_column">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg"
                                            onclick="document.content_page_form.submit();">登録
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </form>
{% endblock %}
