{#
/*
* This file is part of EC-CUBE
*
* Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
* http://www.lockon.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
#}

{% extends 'default_frame.twig' %}

{% set menus = ['content', 'plugin_dscontents_page_sp'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ページ管理SP{% endblock %}

{% block main %}
<form name="content_page_form" action="" method="post">
</form>
<div id="page_wrap" class="container-fluid">
    <div id="page_list" class="row">
        <div id="page_list_box" class="col-md-12">
            <div id="page_list__body" class="box">
                <div id="page_list_box__header" class="box-header">
                    <div class="box-title">
                        ページ一覧
                    </div>
                </div>
                <div id="sortable_list_box" class="box-body no-padding no-border">
                    <div id="sortable_list_box__list" class="sortable_list">
                        <div class="tableish">

                            {% for PageLayout in PageLayouts %}
                                <div id="sortable_list_box__item--{{ PageLayout.id }}" class="item_box tr">
                                    <div id="sortable_list_box__name--{{ PageLayout.id }}" class="item_pattern td">
                                        {{ PageLayout.name }}
                                    </div>
                                    <div id="sortable_list_box__menu_box--{{ PageLayout.id }}" class="icon_edit td">
                                        <div id="sortable_list_box__menu_box_toggle--{{ PageLayout.id }}" class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul id="sortable_list_box__menu--{{ PageLayout.id }}" class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="{{ url('plugin_admin_content_layout_edit', { id : PageLayout.id } ) }}" >レイアウト編集</a>
                                                </li>
                                                <li>
                                                    {% if PageLayout.filename|length >= 1 %}
                                                        <a href="{{ url('plugin_dscontents_admin_content_page_edit', {id : PageLayout.id } ) }}">ページ編集</a>
                                                    {% else %}
                                                        <a>ページ編集</a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if PageLayout.edit_flg == constant('Eccube\\Entity\\PageLayout::EDIT_FLG_USER') %}
                                                        <a href="{{ url('plugin_dscontents_admin_content_page_delete', { 'id': PageLayout.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このページを削除してもよろしいですか？">削除</a>
                                                    {% else %}
                                                        <a>削除</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item_box -->
                            {% endfor %}

                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- ▲ データがある時 ▲ -->
        </div><!-- /.col -->
    </div>
</div>
{% endblock %}
