{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form-entry.css">
{% endblock %}



{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
    $(function() {
        $('#zip-search').click(function() {
            AjaxZip3.zip2addr('customentryform_nonmember[zip][zip01]', 'customentryform_nonmember[zip][zip02]', 'customentryform_nonmember[address][pref]', 'customentryform_nonmember[address][addr01]');
        });
    });
</script>

{% endblock javascript %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}


{% block main %}
    <div class="mainWidth">
        <h1>お申し込みフォーム</h1>
    </div>
    <div class="mainv">
        <p>下記の必須項目へご入力いただき、<br>
        「入力内容を確認する」ボタンを<br>
        タップしてください。</p>
    </div>

    <div class="mainWidth clr">
        <section class="sec01">
            <div class="sec01Inner">
                <h2>入力が面倒な方はこちらから</h2>
                <div class="sec01_btn">
                    <a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
                        <dl>
                            <dt>タップして電話をかける</dt>
                            <dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
                        </dl>
                    </a>
                </div>
                <p class="sec01_txt2">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
                <ul class="sec01_ul clr">
                    <li class="done">1<br>お客様情報<br>入力</li>
                    <li>2<br>お申し込み<br>内容確認</li>
                    <li>3<br>お申し込み<br>完了</li>
                </ul>
            </div>
        </section>
    </div>



    <div class="main_body mainWidth clr">

        {% set Product = null %}
        {% set ProductClass = null %}

        <section class="sec02">
            <div class="sec02Inner">
                <h3>購入する端末</h3>
                    {% for CartItem in Cart.CartItems %}
                        {% set ProductClass = CartItem.Object %}
                        {% set Product = ProductClass.Product %}
                        <div class="sec02_box clr">

                            <div class="sec02_box_l">
                                <p><img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}"></p>
                            </div>
                            <div class="sec02_box_c">
                                <dl class="clr">
                                    <dt>製品名</dt>
                                    <dd>{{ Product.name }}</dd>
                                    <dt>カラー</dt>
                                    <dd>{% if CartItem.Color %}{{ProductColor[CartItem.Color].name}}{% else %}相談して決める{% endif %}</dd>
                                    <dt>プラン</dt>
                                    <dd>{{ ProductClass.ClassCategory1}}</dd>
                                </dl>
                            </div>
                            <div class="sec02_box_r">
                                <div class="sec02_box2">
                                    <span class="sec02_tag">端末代込み</span><span class="sec02_tag">通話し放題</span><span class="sec02_tag">ネットし放題</span><br>
                                    <span class="sec02_txt">月々の支払い金額</span>
                                    <span class="sec02_price">{{ProductClass.getPrice02IncTax|number_format}}<span>円</span><span>(税込)</span></span>
                                </div>
                            </div>




                            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
                            {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                                {% set idx = loop.index0 %}
                                {% if productStr[idx] is defined %}
                                <div id="cart_box__message--{{ loop.index }}" class="message">
                                    <p class="errormsg bg-danger">
                                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                                        {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                                    </p>
                                </div>
                                {% else %}
                                <div id="cart_box__message--{{ loop.index }}" class="message">
                                    <p class="errormsg bg-danger">
                                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                                    </p>
                                </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                        <p class="note">※カラー・容量はお申し込みの前に変更することが可能です。<br>お気軽にスタッフまでお申し付けください。</p>

                    {% endfor %}

            </div>
        </section>

        <section class="sec03">
            <div class="sec03Inner">
                <h3>お客様情報</h3>
                <form method="post" action="{{ url('plugin_customentryform_formwebentry', {id : id}) }}">
                    {{ form_widget(form._token) }}
                    <div id="detail_box__body" class="dl_table">
                        <dl id="detail_box__name">
                            <dt>{{ form_label(form.name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name.name01, {attr: {placeholder: '例：ソフトバンク'}}) }}
                                {{ form_widget(form.name.name02, {attr: {placeholder: '例：太郎'}}) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </dd>
                        </dl>
                        <dl id="detail_box__kana">
                            <dt>{{ form_label(form.kana) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01, {attr: {placeholder: '例：ソフトバンク'}}) }}
                                {{ form_widget(form.kana.kana02, {attr: {placeholder: '例：タロウ'}}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__address_detail">
                            <dt>{{ form_label(form.address) }}</dt>
                            <dd>
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>

                        <dl id="detail_box__tel">
                            <dt>{{ form_label(form.tel) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr: {placeholder: '例：08012341234'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__email">
                            <dt>{{ form_label(form.email) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.email, {attr: {placeholder: '例：name@softbank.jp'}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier">
                            <dt>{{ form_label(form.usecarrier) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.usecarrier.usecarrier) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier" style="display:none">
                            <dt>{{ form_label(form.id) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.id) }}
                                </div>
                            </dd>
                        </dl>

                    </div>
                    <p class="sec03_txt1">※ご希望の端末・カラー・容量・料金プランなどは、弊社コールセンターからご連絡させて頂き、お申し込み完了となります。<br>
                    お手続きや商品に関してのサポートを行っておりますので、お気軽にご相談下さい。</p>

                    <div id="detail_box__footer" class="row no-padding">
                        <div id="detail_box__button_menu" class="btn_group col-sm-offset-4 col-sm-4">
                            <p id="detail_box__next_button">
                                <button type="submit" class="btn btn-block next-btn">入力内容を確認する</button>
                            </p>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>



{% endblock %}
