{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'system', 'member'] %}

{% block title %}システム設定{% endblock %}
{% block sub_title %}メンバー管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row" id="aside_wrap">
        <div id="detail_wrap" class="col-md-9">
            <div id="detail_box__body" class="box">
                <div id="detail_box__body_header" class="box-header">
                    <h3 class="box-title">メンバー登録・編集</h3>
                </div><!-- /.box-header -->
                <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" enctype="multipart/form-data">
                    <div id="detail_box__body_inner" class="box-body">

                        {{ form_row(form._token) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.department) }}
                        {{ form_row(form.login_id) }}
                        {{ form_row(form.password.first, { type : 'password' }) }}
                        {{ form_row(form.password.second, { type : 'password' }) }}
                        {{ form_row(form.Authority) }}
                        {{ form_row(form.Work) }}
                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->

            <div id="detail_box__footer" class="row">
                <div id="detail_box__back_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <p><a href="{{ url('admin_setting_system_member') }}">戻る</a></p>
                </div>
            </div>

        </div><!-- /.col -->
        
        <div id="common_box" class="col-md-3">
            <div class="col_inner" id="aside_column">
                <div id="common_button_box" class="box no-header">
                    <div id="common_button_box__body" class="box-body">
                        <div id="common_button_box__button_area" class="row text-center">
                            <div id="common_button_box__insert_button" class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col --> 

        
    </div>

{% endblock %}
