{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'system', 'security'] %}

{% block title %}システム設定{% endblock %}
{% block sub_title %}セキュリティ管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_setting_system_security') }}">
    {{ form_widget(form._token) }}
    <div class="row" id="aside_wrap">
        <div  id="security_wrap" class="col-md-9">
            <div id="security_box" class="box">
                <div id="security_box__header" class="box-header">
                    <h3 class="box-title">セキュリティ機能設定</h3>
                </div><!-- /.box-header -->
                <div id="security_box__body" class="box-body form-horizontal">
                        <div id="security_dir_box" class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">ディレクトリ名</label>
                            <div id="security_box__route_dir" class="col-sm-3 col-lg-3">
                                {{ form_widget(form.admin_route_dir) }}
                                {{ form_errors(form.admin_route_dir) }}
                            </div>
                        </div>
                        <div id="security_ip_box" class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">IP制限</label>
                            <div id="security_box__allow_host" class="col-sm-9 col-lg-10">
                                {{ form_widget(form.admin_allow_host, {'attr': {'rows': '7', 'aria-describedby': 'helpBlock'}}) }}
                                {{ form_errors(form.admin_allow_host) }}
                                <span id="helpBlock" class="help-block">※管理機能へのアクセスを特定のIPアドレスからの接続のみに制限します。
                                    アクセスを許可するIPアドレスを1行づつ入力してください。何も入力しない場合は全てを許可します。</span>
                            </div>
                        </div>
                </div><!-- /.box-body --> 
            </div><!-- /.box -->
            <div id="site_security_box" class="box">
                <div id="site_security_box__header" class="box-header">
                    <h3 class="box-title">サイトセキュリティ設定</h3>
                </div><!-- /.box-header -->
                <div id="site_security_box__body" class="box-body form-horizontal">
                    <div id="site_security_box__force_ssl" class="form-group">
                        <label class="col-sm-3 col-lg-2 form-inline">SSL制限</label>
                        <div class="col-sm-9 col-lg-10">
                            {% if app.request.secure %}
                                {{ form_widget(form.force_ssl) }}
                                {{ form_errors(form.force_ssl) }}
                            {% else %}
                                {{ form_widget(form.force_ssl, {'attr': {'disabled': 'disabled'}}) }}
                                <p class="text-danger">httpsからの接続でなければSSL制限を設定できません。</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="extra-form">
            {% for f in form.getIterator %}
                {% if f.vars.name matches '[^plg*]' %}
                    {{ form_label(f) }}
                    {{ form_widget(f) }}
                    {{ form_errors(f) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3" id="aside_column">
            <div id="common_box" class="col_inner">
                <div id="common_button_box" class="box no-header">
                    <div id="common_button_box__body" class="box-body">
                        <div id="common_button_box__edit_button" class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" type="submit">設定</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col --> 
    </div>
    </form>
{% endblock %}
