{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'system', 'system_index'] %}

{% block title %}システム設定{% endblock %}
{% block sub_title %}システム情報{% endblock %}

{% block main %}
    <div id="server_wrap" class="row">
        <div id="server_info_box" class="col-md-12">
            <div id="server_info_box__body" class="box">
                <div id="server_info_box__header" class="box-header">
                    <h3 class="box-title">システム情報</h3>
                </div><!-- /.box-header -->
                <div id="server_info_box__body_inner" class="box-body">
                    <dl class="dl-horizontal">
                       {% for key, item in arrSystemInfo %}
                            <dt id="server_info_box__title--{{ loop.index }}">
                               {{item.title}}
                            </dt>
                            <dd id="server_info_box__value--{{ loop.index }}">
                               {{item.value}}
                            </dd>
                        {% endfor %}
                    </dl>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    <div id="php_wrap" class="row">
        <div id="php_info_box" class="col-md-12">
            <div id="php_info_box__body" class="box">
                <div id="php_info_box__header" class="box-header">
                    <h3 class="box-title">PHP情報</h3>
                </div><!-- /.box-header -->
                <div id="php_info_box__frame" class="box-body no-padding">
                    <iframe src="?mode=info" height="500" frameborder="0" style="width: 100%;"></iframe>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>

    </div>
{% endblock %}