{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if CartOptions[key] is defined %}
<dd>
    {% for label in CartOptions[key].label %}
        {% if loop.index0 != 0%}<br />{% endif %}{{ label }}　{% if CartOptions[key].labelprice[loop.index0] > 0%}{{CartOptions[key].labelprice[loop.index0]|number_format}}円（＋税）{% endif %}
    {% endfor %}
</dd>
{% endif %}