{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/charge.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/charge.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
	<div class="side_bnr_box">
		<p class="side_bnr side_bnr_l"></p>
		<p class="side_bnr side_bnr_r"></p>
	</div>
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
		<div class="charge_top">
			<h1 class="mainWidth"><img src="{{ app.config.front_urlpath }}/img/charge/main_title.png" alt="安さの秘密"></h1>
		</div>
		<div class="charm_link_wrap mainWidth">
			<h2 class="main_title1">ソフトバンク モバレコ店 安さの3つの秘密</h2>
			<ul class="charm_link clr">
				<li>
					<a href="#charm01" style=" background-image: url({{ app.config.front_urlpath }}/img/charge/anc01.jpg);">
						<dl>
							<dt>ウェブ限定 Wキャンペーン</dt>
							<dd>ソフトバンクのキャンペーンだけでなく、当サイト限定のキャンペーンも適用可能！<br>
							ウェブストアならではの、Wキャンペーン適用でおトクにスマホをゲット！</dd>
						</dl>
					</a>
				</li>
				<li>
					<a href="#charm02" style=" background-image: url({{ app.config.front_urlpath }}/img/charge/anc02.jpg);">
						<dl>
							<dt>余計なオプションは一切なし</dt>
							<dd>キャリアでお申し込みする際は、いつの間にかオプションがついてることが大半。しかしソフトバンク モバレコ店は安さの実現のため、無駄なオプションを一切つけません！</dd>
						</dl>
					</a>
				</li>
				<li>
					<a href="#charm03" style=" background-image: url({{ app.config.front_urlpath }}/img/charge/anc03.jpg);">
						<dl>
							<dt>おトクなプランを厳選</dt>
							<dd>端末代金+ネットし放題+5分以内の通話し放題で最安のプランをご用意！<br>
							料金プランもとてもシンプルなので、初心者の方でも安心です。</dd>
						</dl>
					</a>
				</li>
			</ul>
		</div>

		<section id="charm01" class="charm_body charm01">
			<div class="charm_inner mainWidth">
				<h2>安さの秘密１</h2>
				<p class="catch">ウェブストアだから実現できる<span>W<span>キャンペーン</span></span></p>
				<p class="charm_text01">ソフトバンクのキャンペーンだけでなく、当サイト限定のキャンペーンも適用可能！<br>
							ウェブストアならではの、Wキャンペーン適用でおトクにスマホをゲット！</p>
				<p class="image"><img src="{{ app.config.front_urlpath }}/img/charge/charge_img01.png" alt=""></p>
			</div>
		</section>

		<section id="charm02" class="charm_body charm02">
			<div class="charm_inner mainWidth">
				<h2>安さの秘密2</h2>
				<p class="catch">余計なオプションは<span>一切なし</span></p>
				<p class="charm_text01">キャリアでお申し込みする際は、いつの間にかオプションがついてることが大半。<br>
				しかしソフトバンク モバレコ店は安さの実現のため、無駄なオプションを一切つけません！</p>
				<p class="image"><img src="{{ app.config.front_urlpath }}/img/charge/charge_img02.png" alt=""></p>
			</div>
		</section>

		<section id="charm03" class="charm_body charm03">
			<div class="charm_inner mainWidth">
				<h2>安さの秘密3</h2>
				<p class="catch">おトクなプランを<span>厳選</span></p>
				<p class="charm_text01">端末代金+ネットし放題+5分以内の通話し放題で最安のプランをご用意！<br>
				料金プランもとてもシンプルなので、初心者の方でも安心です。</p>
				<p class="image"><img src="{{ app.config.front_urlpath }}/img/charge/charge_img03.png" alt=""></p>
				<section class="charm_inner02">
					<h3>料金プランはとってもシンプル</h3>
					<p class="charm_text01">携帯キャリアの場合、申し込むキャンペーンやオプションで月額料金が変動するため、わかりにくいという声が多いです。<br>
					そんな声にお応えして、ソフトバンク モバレコ店では料金プランをとてもシンプルにしました。</p>
					<div class="comparison clr">
						<div class="comparison01 matchHeight">
							<h4>携帯キャリアの場合</h4>
							<div class="comparison_inner">
								<p class="plus">端末代金</p>
								<p class="plus">電話し放題</p>
								<p class="plus">ネットし放題</p>
								<div class="plus last clr">
									<div class="cp">
										<ul>
											<li>キャンペーン１</li>
											<li>キャンペーン２</li>
											<li>キャンペーン３</li>
										</ul>
										<ul class="no_selection">
											<li>キャンペーン4</li>
										</ul>
									</div>
									<div class="op">
										<ul>
											<li>オプション１</li>
											<li>オプション２</li>
										</ul>
										<ul class="no_selection">
											<li>オプション3</li>
											<li>オプション4</li>
										</ul>
									</div>
								</div>
								<p class="conclusion">申し込むキャンペーンやオプションで、<br>料金が変わるため月々の料金がわからない…</p>
							</div>
						</div>
						<div class="comparison02 matchHeight">
							<h4>ソフトバンク モバレコ店の場合</h4>
							<div class="comparison_inner">
								<dl>
									<dt>知識がなくても大丈夫！</dt>
									<dd><span>「ネットし放題の容量」</span><br />だけを選択！<br>
									無駄なオプションは<br>
									一切ないから安心！</dd>
								</dl>
								<div class="unnecessary">
									<p>お客様が選ぶ必要がないもの</p>
									<ul>
										<li>端末代金</li>
										<li>通話プラン</li>
										<li><span>無駄なオプション</span></li>
										<li><span>複雑なキャンペーン</span></li>
									</ul>
								</div>
								<p class="note">※ご要望に応じて電話し放題のプランやネットし放題のプランをお客様で細かく設定することも可能です。</p>
							</div>
						</div>
					</div>
				</section>
				<section class="charm_inner02">
					<h3>ネットし放題の容量別にパックプランをご用意！目的に合わせて選ぶだけ！</h3>
					<p class="charm_text01">高速でネットをご利用できるデータ容量別に3つのパックプランをご用意致しました。お客様のご利用イメージに合わせ、お好きなパックをお選び頂けます。</p>
					<div class="purpose_box clr">
						<ul class="rate_list clr">
							<li>
								<h4 class="rate_list_title">月々の料金を抑えたい<span>1GBパック</span></h4>
								<div class="rate_list_main">
									<p class="rate_list_icon1">長時間通話をしない</p>
									<p class="rate_list_icon2">ネットもそこまで頻繁にやらない<br />
                                <span class="comment">（月々1GBまで高速ネットがご利用頂けます）</span></p>
								</div>
							</li>
							<li>
								<h4 class="rate_list_title">月々の料金を抑えたい<span>5GBパック</span></h4>
								<div class="rate_list_main">
									<p class="rate_list_icon1">通話もそこそこしたい</p>
									<p class="rate_list_icon2">SNSやLINEを頻繁に使いたい<br />
                                <span class="comment">（月々5GBまで高速ネットがご利用頂けます）</span></p>
								</div>
							</li>
							<li>
								<h4 class="rate_list_title">動画やネットを使いたい<span>20GBパック</span></h4>
								<div class="rate_list_main">
									<p class="rate_list_icon1">長時間通話をしない</p>
									<p class="rate_list_icon2">動画や漫画などネットをいっぱい使いたい<br />
                                <span class="comment">（月々20GBまで高速ネットがご利用頂けます）</span></p>
								</div>
							</li>
						</ul>
						<div class="detail">
							<p class="detail_title">どのパックを選択しても、テザリングや快適モードなどが使えます！</p>
							<div class="detail_icon">
								<img src="{{ app.config.front_urlpath }}/img/charge/icon01.png" alt="テザリング">
								<img src="{{ app.config.front_urlpath }}/img/charge/icon02.png" alt="快適モード">
							</div>
							<p class="note">※デザリングとは･･･スマートフォンから電波を飛ばして、パソコンなど他の端末でインターネットをつなげることができること。</p>
						</div>
					</div>
				</section>
			</div>
		</section>
{%endblock%}