{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/charge.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
	<div class="side_bnr_box">
		<p class="side_bnr side_bnr_l"></p>
		<p class="side_bnr side_bnr_r"></p>
	</div>
{% endblock %}

{% block sbm_top_bnr_box %}
	<div class="top_bnr_box">
		<div class="mainWidth">
			<div class="top_bnr_inner">
				<p class="top_bnr_name">iPhone7 iPhone7Plus 発売中!</p>
				<a class="top_bnr_link" href="./">詳細を見る</a>
				<a class="top_bnr_btn" href="./"><img src="{{ app.config.front_urlpath }}/common/img/btn01.png" height="48" width="48" alt="閉じる"></a>
			</div>
		</div>
	</div>
{% endblock %}
{%block main%}
	<h1 class="campaign_subTitle">学割モンスター</h1>
	<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_main_gakuwari.png" alt="学割モンスター"></p>

	<h2 class="main_title1">学割モンスター U18</h2>
	<p class="campaign_text">新しくソフトバンクをお申し込みいただく18歳以下の方を対象としたおトクなプラン。通話もデータもコミコミで2,980円/月～！</p>
	<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_01.png" alt="データ定額20GB:5390円/月"></p>

	<h3 class="campaign_detailList_name">適用条件</h3>
	<p class="campaign_text">キャンペーン期間内に、以下条件を満たすお客さまが対象です。</p>

	<p>データ定額 20GB（U18）：<p>
	<ul class="campaign_detailList">
		<li>①新規（他社からお乗りかえ含む） ご契約の上、学割モンスターU18にお申し込みいただくこと。</li>
		<li>②通話定額基本料／通話定額ライト基本料およびウェブ使用料にご加入いただくこと。</li>
		<li>③4GのiPhone、スマートフォン、シンプルスマホをご利用いただくこと。</li>
		<li>④使用者の年齢がお申し込み時点で18歳以下であること。</li>
		<li>・使用者の来店および年齢がわかる書類（運転免許証、健康保険証、パスポートなど）のご提示が必要です。</li>
		<li>・家族データシェア・データシェアプラスは対象外です。</li>
	</ul>

	<p>家族追加特典：<p>
	<ul class="campaign_detailList">
		<li>データ定額 20GB（U18）適用回線のご家族が以下の条件を満たすこと。</li>
		<li>①新規（他社からお乗りかえ含む） ご契約いただくこと。</li>
		<li>②対象料金サービスおよび2年契約（フリープラン含む、ハートフレンド割引加入時は除く）にご加入いただくこと。</li>
		<li>③データ定額 20GB（U18） 適用回線と同一家族割引グループにご加入いただくこと。</li>
		<li>④データ定額 20GB（U18）に加入していないこと。</li>
		<li>・家族データシェアは対象外です。</li>
	</ul>

	<p>おうち割 光セット：<p>
	<ul class="campaign_detailList">
		<li>①データ定額 20GB（U18）にご加入いただくこと。</li>
		<li>②キャンペーン期間内におうち割 光セットに本申し込みいただき適用となること。</li>
	</ul>


	<h2 class="main_title1">学割モンスター U25</h2>
	<p class="campaign_text">たくさんの動画を見てもゲームをしても速度制限のしんぱい必要ナシ。学割モンスターU25なら20GB使えてさらにおトク！</p>
	<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_02.png" alt="学割モンスターU25なら20GB使えてさらにおトク！"></p>


	<h3 class="campaign_detailList_name">適用条件</h3>
	<p class="campaign_text">キャンペーン期間内に、以下条件を満たすお客さまが対象です。</p>
	<ul class="campaign_detailList">
		<li>①学割モンスターU25にお申し込みいただくこと。</li>
		<li>②データ定額 20GB、データ定額 30GBにご加入いただくこと。</li>
		<li>③通話定額基本料／通話定額ライト基本料／通話定額基本料（ケータイ）／通話定額ライト基本料（ケータイ）にご加入いただくこと。</li>
		<li>④専用2年契約（フリープラン含む）にご加入いただくこと（ハートフレンド割引ご加入の場合は除く）。</li>
		<li>⑤使用者の年齢がお申し込み時点で6歳以上25歳以下であること。</li>
		<li>・使用者の来店および年齢がわかる書類（運転免許証、健康保険証、パスポートなど）のご提示が必要です。</li>
	</ul>

	<h2 class="main_title1">学割SUPER FRIDAY</h2>
	<p class="campaign_text">25歳以下のお客さまにはSUPER FRIDAYのクーポンを毎週2枚配信いたします。</p>
	<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_03.png" alt="3月4月の特典内容"></p>

	<h3 class="campaign_detailList_name">適用条件</h3>
	<p class="campaign_text">学割2倍の特典は、使用者年齢登録が25歳以下の方限定です。</p>
	<p>【使用者年齢登録とは】</p>
	<ul class="campaign_detailList">
		<li>契約者情報には「契約者」と、その携帯電話を使用する「使用者」の2種類があります。使用者年齢登録とは、「使用者」の年齢を登録する手続きとなります。</li>
		<li>実際にスマートフォンを使用しているお客さまが25歳以下でも、「使用者」の年齢登録が26歳以上の場合は2倍特典の対象外となりますので、正しい年齢登録をお願いいたします。</li>
	</ul>

	<p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>


{%endblock%}