{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/charge.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
	<div class="side_bnr_box">
		<p class="side_bnr side_bnr_l"></p>
		<p class="side_bnr side_bnr_r"></p>
	</div>
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
		<h1 class="campaign_subTitle">SUPER FRIDAY</h1>
		<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/super_friday/campaign_main_friday.png" alt="SUPERFRIDAY"></p>
		<h2 class="main_title1">キャンペーン概要</h2>
		<p class="campaign_text">毎週金曜、ソフトバンクのスマホユーザーならあのチキンやアイスがタダで食べられる！！大好評にお応えして、第２弾。予想外にお得な金曜日を、再びみなさまへ。</p>
		<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/super_friday/campaign_friday_01.png" alt="3月4月の特典内容"></p>

		<h2 class="main_title1">学割SUPER FRIDAY</h2>
		<p class="campaign_text">25歳以下のお客さまにはSUPER FRIDAYのクーポンを毎週2枚配信いたします。</p>

		<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/super_friday/campaign_friday_02.png" alt=""></p>

		<h3 class="campaign_detailList_name">適用条件</h3>
		<p class="campaign_text">学割2倍の特典は、使用者年齢登録が25歳以下の方限定です。
		<p>【使用者年齢登録とは】</p>
		<ul class="campaign_detailList">
			<li>契約者情報には「契約者」と、その携帯電話を使用する「使用者」の2種類があります。使用者年齢登録とは、「使用者」の年齢を登録する手続きとなります。</li>
			<li>実際にスマートフォンを使用しているお客さまが25歳以下でも、「使用者」の年齢登録が26歳以上の場合は2倍特典の対象外となりますので、正しい年齢登録をお願いいたします。</li>
		</ul>

		<h2 class="main_title1">注意事項</h2>
		<p class="campaign_text">
			・ご契約回線の使用者年齢が25歳以下の場合、特典が2倍となります。<br>
			・2倍特典は分割での受け取りはできません。<br>
			・コンテンツブロッカー（広告ブロックアプリなど）、セキュリティソフトなどがオンになっていると、クーポンが正しく表示されない場合があります。正しく表示されない場合は、オフにして再度アクセスしてください。<br>
			・クーポンは、ソフトバンクのスマートフォンをお使いのお客さまが対象となります。ただし、法人のお客さま、SoftBank 503LVをご利用のお客さま、シンプルスタイル（プリペイド携帯電話）でご契約のお客さま、ワイモバイル、ディズニー・モバイル・オン・ソフトバンクをご利用のお客さまは対象外となります。<br>
			・クーポンのご利用は、おひとりさま毎週１回限りとなり、配信週の金曜日のみご利用いただけます。<br>
			・クーポンの再発行はできません。<br>
			・クーポンの利用方法は毎月異なります。ご利用前に必ずクーポン発行ページの利用方法をご確認ください。<br>
			・クーポン発行ページへのアクセスには通信料がかかります。<br>
			・クーポンの譲渡や換金はできません。<br>
			・4月までのキャンペーンとなります。<br>
			・キャンペーン内容や特典は変更になる場合があります。<br>
			・ほかのクーポンとの併用はできません。<br>
			・商品の在庫状況により、同額相当の別商品になる場合があります。<br>
			・店舗や提携企業によっては受け取り方法が異なる場合があります。<br>
			・一部実施していない店舗があります。<br>
			・3月のファミリーマートのクーポンは、毎週金曜日の午前7時から午後11時59分の間のみご利用可能です。<br>
			・SUPER FRIDAYに関する適用条件の詳細はこちらを参照ください。
		</p>

		<p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>


{%endblock%}