{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/company.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{%block main%}
		<h1 class="main_title0 mainWidth">運営会社情報</h1>
		<div class="main_body mainWidth clr">
			<h2 class="main_title1">ソフトバンク携帯のお取次ぎ</h2>
			<section class="sec01">
				<div class="sec01Inner">
					<table class="sec01_tbl">
							<tbody>
								<tr>
									<th>会社名</th><td>{{ BaseInfo.company_name }}</td>
								</tr>
								<tr>
									<th>運営責任者</th><td>{{ help.law_manager }}</td>
								</tr>
								<tr>
									<th>所在地</th><td>〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }} {{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}</td>
								</tr>
								<tr>
									<th>業務内容</th><td>
									{{ BaseInfo.message|nl2br }}</td>
								</tr>
								<tr>
									<th>電話番号</th><td>{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}</td>
								</tr>
								<tr>
									<th>Eメール</th><td>{{help.law_email}}</td>
								</tr>
								<tr>
									<th>営業時間</th><td>{{ BaseInfo.business_hour }}</td>
								</tr>
								<tr>
									<th>注文方法</th><td>{{ help.law_term02|nl2br }}</td>
								</tr>
								<tr>
									<th>商品などの詳細説明</th><td>{{ BaseInfo.good_traded|nl2br }}</td>
								</tr>
								<tr>
									<th>商品代金以外の必要料金</th><td>{{ help.law_term01|nl2br }}</td>
								</tr>
								<tr>
									<th>送料</th><td>一律{{app.config.shoppingex_delivery_fix_fee}}円</td>
								</tr>
								<tr>
									<th>引き渡し時期</th><td>{{ help.law_term05|nl2br }}</td>
								</tr>
								<tr>
									<th>返品/返還の特約</th><td>{{ help.law_term06|nl2br }}</td>
								</tr>
							</tbody>
					</table>
				</div>
			</section>
		</div>
{%endblock%}