{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}
{% set body_class = 'cart_page' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}
{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/details.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
    <div class="side_bnr_box">
        <p class="side_bnr side_bnr_l"></p>
        <p class="side_bnr side_bnr_r"></p>
    </div>
{% endblock %}

{% block sbm_top_bnr_box %}
    <div class="top_bnr_box">
        <div class="mainWidth">
            <div class="top_bnr_inner">
                <p class="top_bnr_name">iPhone7 iPhone7Plus 発売中!</p>
                <a class="top_bnr_link" href="./">詳細を見る</a>
                <a class="top_bnr_btn" href="./"><img src="{{ app.config.front_urlpath }}/common/img/btn01.png" height="48" width="48" alt="閉じる"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
                <h1 class="main_title0">キャンペーン一覧</h1>

                {% set currsub=pagination[0].pagesubcategorykey %}
                {% set substarted=false %}

                {% for CustomUrlUserPageProduct in pagination %}

                    {% if loop.index0==0 %}

                        <h2 class="main_title1">{{CustomUrlUserPageProduct.pagesubcategoryinfo}}</h2>
                        <a class="campaign_mainimg"><img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.MainImageFile }}" height="260" width="720" alt=""></a>

                        <h3 class="campaign_title">{{CustomUrlUserPageProduct.PageLayout.name}}</h3>
                        <p class="campaign_mes">{{CustomUrlUserPageProduct.pageinfo}}</p>

                    {% else %}
                        {% if CustomUrlUserPageProduct.pagesubcategorykey!=currsub %}
                            {% set currsub=CustomUrlUserPageProduct.pagesubcategorykey %}
                            {% if substarted %}
                                </ul>

                            {% else %}
                                {% set substarted=true %}
                            {% endif %}
                            <h2 class="main_title1">{{CustomUrlUserPageProduct.pagesubcategoryinfo}}</h2>
                            <ul class="campaign_list">
                        {% else %}
                            <ul class="campaign_list">
                            {% set substarted=true %}

                        {% endif %}

                        <li><a href="">
                            <figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="125" width="200" alt=""></figure>
                            <h3 class="campaign_list_name">{{CustomUrlUserPageProduct.PageLayout.name}}</h3>
                            <p class="campaign_list_mes">{{CustomUrlUserPageProduct.pageinfo}}</p>
                        </a></li>

                    {% endif %}

                {% endfor %}
{% endblock %}