<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svgicon">
<symbol id="cb-angle-down" viewBox="0 0 360 360">
	<path d="M179.634,248.918c-2.085,0-3.93-0.805-5.531-2.404L62.04,134.416c-1.604-1.604-2.405-3.45-2.405-5.532
		c0-2.086,0.8-3.932,2.405-5.533l12.024-12.027c1.601-1.605,3.445-2.405,5.531-2.405c2.082,0,3.926,0.8,5.531,2.405l94.509,94.537
		l94.509-94.537c1.601-1.605,3.446-2.405,5.532-2.405c2.082,0,3.927,0.8,5.53,2.405l12.024,12.027
		c1.602,1.601,2.405,3.447,2.405,5.533c0,2.082-0.804,3.928-2.405,5.532L185.165,246.514
		C183.56,248.114,181.716,248.918,179.634,248.918z"/>
</symbol>
<symbol id="cb-angle-right" viewBox="0 0 360 360">
	<path d="M249.635,178.918c0,2.086-0.805,3.931-2.405,5.531L135.133,296.514c-1.604,1.604-3.45,2.404-5.532,2.404
		c-2.086,0-3.932-0.8-5.533-2.404L112.04,284.49c-1.605-1.601-2.405-3.444-2.405-5.53c0-2.082,0.8-3.927,2.405-5.531l94.538-94.51
		L112.04,84.41c-1.605-1.601-2.405-3.446-2.405-5.531c0-2.082,0.8-3.927,2.405-5.531l12.028-12.024
		c1.601-1.601,3.446-2.405,5.533-2.405c2.082,0,3.928,0.804,5.532,2.405L247.23,173.387
		C248.831,174.992,249.635,176.836,249.635,178.918z"/>
</symbol>
<symbol id="cb-inbox" viewBox="0 0 360 360">
	<path d="M339.635,198.454v100.165c0,3.604-1.322,6.721-3.958,9.353c-2.64,2.633-5.765,3.947-9.376,3.947H32.968
		c-3.613,0-6.738-1.314-9.374-3.947c-2.641-2.632-3.959-5.748-3.959-9.353V198.454c0-8.589,1.734-17.108,5.208-25.562L74.426,58.179
		c1.387-3.462,3.924-6.371,7.604-8.728c3.679-2.354,7.325-3.532,10.938-3.532h173.333c3.61,0,7.256,1.179,10.938,3.532
		c3.679,2.357,6.215,5.266,7.605,8.728l49.583,114.713C337.897,181.345,339.635,189.865,339.635,198.454z M232.76,192.218h65.833
		c-0.14-0.414-0.313-0.967-0.521-1.662c-0.209-0.691-0.385-1.247-0.521-1.662L253.385,85.818h-147.5L61.717,188.894
		c-0.139,0.279-0.313,0.831-0.52,1.662c-0.209,0.832-0.385,1.387-0.521,1.662h65.834l19.792,39.9h66.667L232.76,192.218z"/>
</symbol>
<symbol id="cb-check" viewBox="0 0 360 360">
	<path d="M336.553,108.944c0,5.478-1.93,10.133-5.781,13.965l-149.471,148.7l-28.077,27.934
		c-3.856,3.833-8.536,5.751-14.04,5.751c-5.506,0-10.188-1.918-14.039-5.751L97.068,271.61l-74.734-74.35
		c-3.856-3.832-5.78-8.487-5.78-13.967c0-5.474,1.924-10.131,5.78-13.966l28.077-27.932c3.852-3.832,8.531-5.751,14.037-5.751
		c5.504,0,10.186,1.919,14.04,5.751l60.696,60.587L274.618,67.045c3.852-3.832,8.531-5.75,14.037-5.75
		c5.504,0,10.184,1.919,14.04,5.75l28.077,27.933C334.624,98.813,336.553,103.469,336.553,108.944z"/>
</symbol>

<symbol id="cb-logomark" viewBox="0 0 240 240">
	<ellipse fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" cx="120" cy="169.159" rx="120" ry="49.707"/>
	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#575564" points="21.539,63.046 20.849,171.956 133.528,198.487 
		213.697,164.175 213.697,48.802 151.742,24.498 93.439,63.046 	"/>
	<g>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#D0AB00" d="M133.884,17.109l71.19,28.338c0,0,17.73,98.165-72.836,118.937
			L133.884,17.109z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" d="M21.539,63.046L73.371,41.82l60.513-24.711l0.088,147.065
			C133.972,164.175,13.256,184.04,21.539,63.046z"/>
	</g>
</symbol>

<symbol id="cb-logotext" viewBox="0 0 720 240">
	<path d="M692.208,162.45v-8.777h3.924c0.787,0,1.388,0.075,1.798,0.231c0.411,0.158,0.74,0.438,0.983,0.836
		c0.247,0.401,0.368,0.845,0.368,1.327c0,0.621-0.203,1.146-0.608,1.573c-0.404,0.428-1.034,0.699-1.885,0.813
		c0.313,0.15,0.547,0.298,0.707,0.44c0.344,0.31,0.666,0.7,0.975,1.165l1.537,2.391h-1.476l-1.168-1.825
		c-0.344-0.528-0.625-0.935-0.845-1.211c-0.223-0.277-0.421-0.477-0.595-0.589c-0.173-0.107-0.354-0.187-0.534-0.231
		c-0.132-0.026-0.352-0.041-0.653-0.041h-1.355v3.897H692.208z M693.381,157.545h2.517c0.534,0,0.952-0.053,1.254-0.166
		c0.304-0.108,0.529-0.286,0.688-0.524c0.158-0.242,0.236-0.507,0.236-0.787c0-0.416-0.152-0.757-0.456-1.027
		c-0.306-0.265-0.783-0.4-1.44-0.4h-2.798V157.545z"/>
	<path d="M702.644,158.23h-0.462c0,1.776-0.726,3.381-1.897,4.545c-1.171,1.164-2.784,1.881-4.573,1.881
		c-1.791,0-3.407-0.717-4.579-1.882c-1.173-1.164-1.897-2.768-1.897-4.544c0-1.775,0.725-3.379,1.897-4.544
		c1.172-1.163,2.788-1.882,4.579-1.882c1.786,0,3.402,0.719,4.573,1.882c1.175,1.165,1.897,2.769,1.897,4.544H702.644h0.463
		c0-4.055-3.313-7.345-7.396-7.345c-4.087,0-7.402,3.29-7.402,7.345c0,4.057,3.315,7.345,7.402,7.345
		c4.083,0,7.396-3.288,7.396-7.345H702.644z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M23.106,79.342v86.674h82.952v-17.677H46.531
		c-3.39,0-5.094-1.594-5.094-4.799v-6.807c0-3.194,1.705-4.8,5.094-4.8h59.527v-17.666H46.531c-3.39,0-5.094-1.682-5.094-5.048
		v-7.165c0-3.354,1.705-5.037,5.094-5.037h59.527V79.342H23.106z M127.665,79.342v86.674h82.951v-17.677h-59.515
		c-3.4,0-5.095-1.624-5.095-4.895v-41.53c0-3.262,1.695-4.897,5.095-4.897h59.515V79.342H127.665z M600.447,78.218v86.663h82.952
		v-17.665h-59.518c-3.4,0-5.093-1.598-5.093-4.802v-6.806c0-3.194,1.692-4.8,5.093-4.8h59.518v-17.675h-59.518
		c-3.4,0-5.093-1.672-5.093-5.04v-7.163c0-3.366,1.692-5.047,5.093-5.047h59.518V78.218H600.447z M268.193,78.218v86.663h89.93
		v-17.665h-66.504c-3.391,0-5.097-1.634-5.097-4.896v-41.532c0-3.262,1.706-4.905,5.097-4.905h66.504V78.218H268.193z
		 M381.483,164.881h89.931V78.218h-18.329v64.083c0,3.281-1.697,4.915-5.086,4.915h-43.101c-3.38,0-5.077-1.634-5.077-4.915V78.218
		h-18.338V164.881z M554.156,113.133h-37.309c-3.39,0-5.095-1.672-5.095-5.04v-7.163c0-3.366,1.705-5.047,5.095-5.047h37.786
		l-0.048,0.074c0,0,6.001-0.889,6.001,4.992v6.739C560.587,107.688,561.279,113.133,554.156,113.133z M554.424,147.216h-36.52
		c-2.725,0-4.266-0.718-5.142-1.617c-0.628-0.783-1.01-1.805-1.01-3.185v-0.387v-6.419c0-0.727,0.124-1.343,0.286-1.899
		c0.096-0.282,0.239-0.491,0.36-0.718c0.124-0.228,0.258-0.464,0.418-0.653c0.184-0.206,0.373-0.378,0.573-0.53
		c0.303-0.232,0.647-0.45,1.058-0.602l0.313-0.114c0.611-0.181,2.113-0.283,2.113-0.283h38.97c1.645,0.046,4.73,0.67,4.73,4.8
		v6.419C560.575,142.027,561.225,147.216,554.424,147.216z M569.594,121.574c3.752-0.112,6.761-3.045,6.761-6.685l-0.029-32.446
		c-0.074-4.652-6.188-4.14-6.188-4.14l-76.716-0.085v86.663l76.743-0.057c0,0,6.087,0.159,6.161-4.141l0.029-32.419
		C576.354,124.627,573.346,121.706,569.594,121.574z"/>
	<path d="M236.678,78.878v87.933c0,1.676,1.368,3.034,3.057,3.034c1.688,0,3.056-1.358,3.056-3.034V78.878
		c0-1.675-1.368-3.033-3.056-3.033C238.046,75.845,236.678,77.203,236.678,78.878"/>
</symbol>
<symbol id="cb-logomark" viewBox="0 0 240 240">
	<ellipse fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" cx="120" cy="169.159" rx="120" ry="49.707"/>
	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#575564" points="21.539,63.046 20.849,171.956 133.528,198.487 
		213.697,164.175 213.697,48.802 151.742,24.498 93.439,63.046 	"/>
	<g>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#D0AB00" d="M133.884,17.109l71.19,28.338c0,0,17.73,98.165-72.836,118.937
			L133.884,17.109z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" d="M21.539,63.046L73.371,41.82l60.513-24.711l0.088,147.065
			C133.972,164.175,13.256,184.04,21.539,63.046z"/>
	</g>
</symbol>
<symbol id="cb-logotext" viewBox="0 0 720 240">
	<path d="M692.208,162.45v-8.777h3.924c0.787,0,1.388,0.075,1.798,0.231c0.411,0.158,0.74,0.438,0.983,0.836
		c0.247,0.401,0.368,0.845,0.368,1.327c0,0.621-0.203,1.146-0.608,1.573c-0.404,0.428-1.034,0.699-1.885,0.813
		c0.313,0.15,0.547,0.298,0.707,0.44c0.344,0.31,0.666,0.7,0.975,1.165l1.537,2.391h-1.476l-1.168-1.825
		c-0.344-0.528-0.625-0.935-0.845-1.211c-0.223-0.277-0.421-0.477-0.595-0.589c-0.173-0.107-0.354-0.187-0.534-0.231
		c-0.132-0.026-0.352-0.041-0.653-0.041h-1.355v3.897H692.208z M693.381,157.545h2.517c0.534,0,0.952-0.053,1.254-0.166
		c0.304-0.108,0.529-0.286,0.688-0.524c0.158-0.242,0.236-0.507,0.236-0.787c0-0.416-0.152-0.757-0.456-1.027
		c-0.306-0.265-0.783-0.4-1.44-0.4h-2.798V157.545z"/>
	<path d="M702.644,158.23h-0.462c0,1.776-0.726,3.381-1.897,4.545c-1.171,1.164-2.784,1.881-4.573,1.881
		c-1.791,0-3.407-0.717-4.579-1.882c-1.173-1.164-1.897-2.768-1.897-4.544c0-1.775,0.725-3.379,1.897-4.544
		c1.172-1.163,2.788-1.882,4.579-1.882c1.786,0,3.402,0.719,4.573,1.882c1.175,1.165,1.897,2.769,1.897,4.544H702.644h0.463
		c0-4.055-3.313-7.345-7.396-7.345c-4.087,0-7.402,3.29-7.402,7.345c0,4.057,3.315,7.345,7.402,7.345
		c4.083,0,7.396-3.288,7.396-7.345H702.644z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M23.106,79.342v86.674h82.952v-17.677H46.531
		c-3.39,0-5.094-1.594-5.094-4.799v-6.807c0-3.194,1.705-4.8,5.094-4.8h59.527v-17.666H46.531c-3.39,0-5.094-1.682-5.094-5.048
		v-7.165c0-3.354,1.705-5.037,5.094-5.037h59.527V79.342H23.106z M127.665,79.342v86.674h82.951v-17.677h-59.515
		c-3.4,0-5.095-1.624-5.095-4.895v-41.53c0-3.262,1.695-4.897,5.095-4.897h59.515V79.342H127.665z M600.447,78.218v86.663h82.952
		v-17.665h-59.518c-3.4,0-5.093-1.598-5.093-4.802v-6.806c0-3.194,1.692-4.8,5.093-4.8h59.518v-17.675h-59.518
		c-3.4,0-5.093-1.672-5.093-5.04v-7.163c0-3.366,1.692-5.047,5.093-5.047h59.518V78.218H600.447z M268.193,78.218v86.663h89.93
		v-17.665h-66.504c-3.391,0-5.097-1.634-5.097-4.896v-41.532c0-3.262,1.706-4.905,5.097-4.905h66.504V78.218H268.193z
		 M381.483,164.881h89.931V78.218h-18.329v64.083c0,3.281-1.697,4.915-5.086,4.915h-43.101c-3.38,0-5.077-1.634-5.077-4.915V78.218
		h-18.338V164.881z M554.156,113.133h-37.309c-3.39,0-5.095-1.672-5.095-5.04v-7.163c0-3.366,1.705-5.047,5.095-5.047h37.786
		l-0.048,0.074c0,0,6.001-0.889,6.001,4.992v6.739C560.587,107.688,561.279,113.133,554.156,113.133z M554.424,147.216h-36.52
		c-2.725,0-4.266-0.718-5.142-1.617c-0.628-0.783-1.01-1.805-1.01-3.185v-0.387v-6.419c0-0.727,0.124-1.343,0.286-1.899
		c0.096-0.282,0.239-0.491,0.36-0.718c0.124-0.228,0.258-0.464,0.418-0.653c0.184-0.206,0.373-0.378,0.573-0.53
		c0.303-0.232,0.647-0.45,1.058-0.602l0.313-0.114c0.611-0.181,2.113-0.283,2.113-0.283h38.97c1.645,0.046,4.73,0.67,4.73,4.8
		v6.419C560.575,142.027,561.225,147.216,554.424,147.216z M569.594,121.574c3.752-0.112,6.761-3.045,6.761-6.685l-0.029-32.446
		c-0.074-4.652-6.188-4.14-6.188-4.14l-76.716-0.085v86.663l76.743-0.057c0,0,6.087,0.159,6.161-4.141l0.029-32.419
		C576.354,124.627,573.346,121.706,569.594,121.574z"/>
	<path d="M236.678,78.878v87.933c0,1.676,1.368,3.034,3.057,3.034c1.688,0,3.056-1.358,3.056-3.034V78.878
		c0-1.675-1.368-3.033-3.056-3.033C238.046,75.845,236.678,77.203,236.678,78.878"/>
</symbol>

</svg>
