@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------
	全ページ共通スタイル
----------------------------------------------------------------------------------------------------*/


/* 要素設定*/
body {
     font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Verdana, "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
     word-break: break-all;
     background-color: #fff;
     font-size: 14px;
     color: #565765;
     background-position: 50% 0px;
     /* background-size: 375px auto; */
     min-width: 1300px;
     }

.container-fluid::after {
    content: "";
    display: table;
    clear: both;
}
#btn_menu{
    display: none;
}

#header .container-fluid,
.main .container-fluid,
.mainWidth{
    width: 1040px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#contents_bottom{
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
#contents_bottom:before{
    content: "";
    z-index: -1;
    position: absolute;
    background: #e9eaf1;
    top:0;
    bottom: 0;
    right: -1000px;
    left: -1000px;
}


.main .container-fluid{
    padding: 30px 0 0;
}
.sideWidth{
    padding: 0 20px;
}
.oswald {
/*    font-family: 'Oswald', Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
a:hover, a:focus{
color: initial;
}
/*　ヘッダー
---------------------------------------------------------------------------------------*/
#header{
    /*padding: 50px 0 0;*/
    /* border-bottom: 1px solid #ccc; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.hed_inner{}

.hed_l{
    float: left;
    padding: 8px 0 0;
}
.hed_mes{
    font-size: 10px;
    margin: 0 0 31px;
    color: #555;
}
.hed_logo{
    display: inline-block;
    margin: 0 0 33px;
}
.hed_logo span{
    font-size: 10px;
    color: #fff;
    background: #A1A3A2;
    display: inline-block;
    position: relative;
    padding: 0 12px;
    z-index: 1;
    top: 8px;
    left: 12px;
}
.hed_nav{
    font-size: 13px;
    border-left: 1px solid #CCCCCC;
}
.hed_nav li{
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 160px;
    border-right: 1px solid #CCCCCC;
}
.hed_nav a{
    display: block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 39px 0 6px;
    color: #777;
}
.hed_nav li:nth-child(1) a{
    background-image: url(../img/nav01.png);
}
.hed_nav li:nth-child(2) a{
    background-image: url(../img/nav02.png);
}
.hed_nav li:nth-child(3) a{
    background-image: url(../img/nav03.png);
}
.hed_nav li:nth-child(4) a{
    background-image: url(../img/nav04.png);
}

.hed_r{
    float: right;
}
.hed_link{
    font-size: 11px;
    text-align: right;
    padding: 12px 0 25px;
}
.hed_link a{
    margin: 0 0 0 25px;
    color: #333;
}
.hed_tel{
    font-size: 34px;
    text-align: right;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #333;
}
.hed_tel span{
    position: relative;
    z-index: 1;
}
.hed_tel span:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/tel.png) 0 0 no-repeat;
    width: 35px;
    height: 23px;
    top: 8px;
    left: -41px;
}
.hed_time{
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
    margin: 0 0 36px;
    color: #333;
}
.hed_form{}
.hed_store{
    font-size: 11px;
    display: block;
    float: left;
    text-align: center;
    width: 176px;
    color: #555;
    font-weight: bold;
}
.hed_input{
    float: right;
    width: 210px;
    position: relative;
    z-index: 1;
}
.hed_input input{
    background: #F0F0F0;
    border: none;
    padding: 6px 15px;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 40px;
    font-size: 12px;
}
.hed_input button{
    position: absolute;
    z-index: 5;
    top: 3px;
    right: 6px;
}

.hed_nav .active_on a,
.hed_nav a:hover{
    color: #FF4E62;
}

.hed_nav li:nth-child(1).active_on a,
.hed_nav li:nth-child(1) a:hover{
    background-image: url(../img/nav01_on.png);
}
.hed_nav li:nth-child(2).active_on a,
.hed_nav li:nth-child(2) a:hover{
    background-image: url(../img/nav02_on.png);
}
.hed_nav li:nth-child(3).active_on a,
.hed_nav li:nth-child(3) a:hover{
    background-image: url(../img/nav03_on.png);
}
.hed_nav li:nth-child(4).active_on a,
.hed_nav li:nth-child(4) a:hover{
    background-image: url(../img/nav04_on.png);
}

/*　フォームヘッダー
------------------*/
#formHeader {
    height: 127px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.fhed_l {
    float: left
}
.fhed_l .hed_logo{
    padding-top: 44px;
}
.fhed_r {
    float: right;
}
.fhed_txt {
    padding-top: 24px;
    font-weight: bold;
    font-size: 13px;
}
.fhed_tel {
    font-size: 38px;
    color: #595cce;
    font-weight: bold;
    position: relative;
    padding-left: 35px;
    line-height: 1;
}
.fhed_tel:before {
    content: "";
    position: absolute;
    background: url(../img/formhead_tel.png) 0 0 no-repeat;
    width: 31px;
    height: 21px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
}
.fhed_time {
    font-size: 12px;
}

/*　フォームフッター /*　 ナビ
------------------*/
.formCopy{
background-color: #e9eaf1;
text-align: center;
    font-size: 11px;
    padding: 14px 0;
}

/*　 ナビ
---------------------------------------------------------------------------------------*/

#pageNav{
    padding: 17px 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}
#pageNav:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-top: 1px solid #ccc;
    top: 0;
    right: -1000px;
    left: -1000px;
}

#pageNav li{
    font-size: 12px;
    float: left;
    margin: 0 14px 0 0;
    position: relative;
    z-index: 1;
}
#pageNav li:before{
    content: ">";
    z-index: 1;
    position: absolute;
    top:0;
    left: -10px;
}
#pageNav li:first-child:before{
    display: none;
}
#pageNav a{
    text-decoration: underline;
}
/*　コンテンツ
---------------------------------------------------------------------------------------*/

.main{
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.main_body{
    padding: 50px 0 0;
}
.main_title0 + .main_body{
    padding: 38px 0 0;
}
#main,
.main_l{
    width: 720px !important;
    float: left;
    margin: 0 0 85px;
}
#side_right,
.main_r{
    width: 250px;
    float: right;
    padding: 0;
}
#side_left{
    width: 250px;
    float: left;
    padding: 0;
    margin: 0 65px 85px 0;
}

.main_title0{
    font-size: 32px;
    font-weight: normal;
    padding: 0 0 39px;
}
.main_title1{
    font-weight: normal;
    font-size: 24px;
    position: relative;
    z-index: 1;
    padding: 0 0 0 21px;
    margin: 0 0 25px;
}
.main_title1:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-top:22px solid #999999;
    border-bottom: 12px solid #595cce;
    width: 4px;
    height: 0px;
    top: 2px;
    left: 0;
}
.main_title2{
    font-size: 18px;
    margin: 0 0 20px;
}

.side_logo{
    border: 1px solid #ccc;
    text-align: center;
    padding: 9px 0;
}
.sideInfo{
    border: solid 1px #ccc;
    border-top: none;
    padding-top: 18px;
    padding-bottom: 8px;
    margin: 0 0 30px;
}
.sideInfo_name{
    font-size: 12px;
    text-align: center;
    margin: 0 0 7px;
}
.sideInfo_tel{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 27px;
    position: relative;
    z-index: 1;
    line-height: 1;
    margin: 0 0 3px;
}
.sideInfo_tel:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/tel4.png) 0 0 no-repeat;
    width: 24px;
    height: 16px;
    top: 6px;
    left: -1px;
}
.sideInfo_time{
    font-size: 11px;
    text-align: center;
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 16px;
    margin: 0 0 14px;
}
.sideInfo_web{
    font-size: 12px;
    text-align: center;
    color: #ff4e62;
    margin: 0 0 8px;
    position: relative;
    z-index: 1;
}
.sideInfo_web:before {
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #ff4e62;
    border-bottom: 8px solid transparent;
    width: 0px;
    height: 0px;
    top: 6px;
    left: 10px;
}
.sideInfo_btn{
    margin: 0 0 10px;
}
.sideInfo_btn1{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.sideInfo_btn1 span{
    font-size: 11px;
    display: block;
}

.sideInfo_btn1.btn02 p{
    line-height: 24px;
    background: #FF4E62;
    padding: 9px 0;
}
.sideInfo_btn1.btn02 span{
    font-size: 11px;
    display: block;
    line-height: 15px;
    margin: 0px 0 0;
}
.sideInfo_btn1.btn02:before {
    background: #CC3E4E;
}
.sideInfo_btn1:hover {
    color: #fff;
}

.sideInfo_btn2{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.sideInfo_btn2.btn02 p{
    line-height: 24px;
    background: #58C140;
    padding: 12px 0;
}
.sideInfo_btn2.btn02:before {
    background: #469A33;
}

.sideInfo_btn2:hover {
    color: #fff;
}

.sideItem_title{
    background: #595CCE;
    color: #fff;
    text-align: center;
    padding: 11px 0;
}
.sideItem{
    border:#595CCE solid 1px;
    margin: 0 0 30px;
}
.sideItem_list{}
.sideItem_list li{
    padding: 25px 0 30px;
    border-top: dashed #A8A8A8 1px;
}
.sideItem_list li:first-child{
    border-top: none;
}
.sideItem_name{
    font-size: 16px;
    text-align: center;
    display: block;
}
.sideItem_product{
    padding: 15px 0 5px;
    text-align: center;
}
.sideItem_product img{
    width: 68px;
}
.sideItem_img{
    margin: 0 0 -8px 0px;
}
.sideItem_m{
    text-align: center;
    color: #ff4e62;
    font-size: 14px;
}
.sideItem_m span{
    font-size: 24px;
}
.sideItem_mes{
    font-size: 11px;
    text-align: center;
    margin: 0 0 15px;
}
.sideItem_link{
    display: block;
    border:#565765 solid 1px;
    border-radius: 3px;
    margin: 0 9px;
    padding: 8px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.sideItem_link:before{
    border-color: #565765 !important;
    border-width: 1px !important;
    top: 36% !important;
}

.sideLink{
    border: 1px solid #595CCE;
}
.sideLink_title {
    background: #595CCE;
    color: #fff;
    text-align: center;
    padding: 11px 0;
}

.sideLink_list{}
.sideLink_list li{
    border-top: 1px solid #E9EAF1;
}
.sideLink_list a{
    display: block;
    padding: 9px 42px;
    position: relative;
    z-index: 1;
}
.sideLink_list a:hover{
    background: #e9eaf1;
    opacity: 1;
}
.sideLink_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-right: 1px solid #565765;
    border-bottom: 1px solid #565765;
    width: 6px;
    height: 6px;
    top: 41%;
    left: 18px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sideLink_name{}
.sideLink_name a{
    display: block;
    color: #595CCE;
    font-weight: bold;
    padding: 15px 42px;
}

/* .main_fix{}
.main_fix_inner{}
 */

/*　フッター2
---------------------------------------------------------------------------------------*/


.footItem{
    background: #e9eaf1;
    /* margin: 85px 0 0; */
}
.footItem_inner{
    padding-top: 49px;
    padding-bottom: 18px;
}
.footItem + .footItem{
    margin: -18px 0 0;
}
.footItem + .footItem .footItem_inner{
    padding-top: 0px;
}

.footItem_list{
    margin: 0 0 33px;
}
.footItem_list li{
    float: left;
    width: 200px;
    margin: 0 0 10px 10px;
    text-align: center;
}
.footItem_list_no1,
.footItem_list_no2,
.footItem_list_no3,
.footItem_list_no0{
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    display: block;
    width: 35px;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    font-size: 18px;
}

.footItem_list_no1{
    background: #DCCC18;
}
.footItem_list_no2{
    background: #BAB9C1;
}
.footItem_list_no3{
    background: #E18961;
}
.footItem_list_no0{
    background: #565765;
}

.footItem_list li:first-child{
    margin-left: 0;
}
.footItem_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.footItem_list figure{
    width: 200px;
    height: 200px;
    padding: 15px;
    background-color: #fff;
}
.footItem_list figure img{
    width: 100%;
}
.footItem_list_name{
    display: table;
    width: 100%;
    text-decoration: underline;
    margin: 10px 0 0;
}
.footItem_list_name span{
    display: table-cell;
    padding: 0 10px;
    text-align: center;
}
.footItem_list_m{
    font-size: 12px;
    text-align: center;
}
.footItem_list_m span{
    font-size: 18px;
}

.footItem_campaign{}
.footItem_campaign li{
    float: left;
    width: 46%;
    margin: 0 0 0 74px;
}
.footItem_campaign li:nth-child(2n+1){
    margin-left: 0;
}
.footItem_campaign a{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 0 0 220px;
    min-height: 125px;
    margin: 0 0 29px;
}
.footItem_campaign figure{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.footItem_campaign_name{
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #2a98cd;
}
.footItem_campaign_mes{
    line-height: 1.8;
    font-size: 14px;
}
.footItem_campaign_link{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    font-size: 12px;
    left: 154px;
    text-decoration: underline;
}

/*　フッター
---------------------------------------------------------------------------------------*/

#footer{
    padding: 19px 0 0;
    margin-top: 0;
    background: none;
    border-top: none;
}

.footItem + #footer{
    padding: 21px 0 0;
}
.foot_top{
    padding-bottom: 20px;
}
.foot_logo{}
.foot_logo_text1{
    background: #A1A3A2;
    color: #fff;
    font-size: 10px;
    padding: 2px 12px;
    position: relative;
    z-index: 1;
    top: 6px;
    margin: 0 0 0 9px;
}
.foot_logo_text2{
    font-size: 12px;
    margin: 0 0 0 16px;
    position: relative;
    z-index: 1;
    top: 7px;
}
.foot_merit{
    border-top: solid #D9DBE6 1px;
}
.foot_merit_inner{}
.foot_merit_title{
    padding-top: 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 9px;
}
.foot_merit_list{
    padding: 0 0 30px;
}
.foot_merit_list li{
    font-size: 16px;
    text-align: center;
    border: 2px solid #E9EAF1;
    border-radius: 5px;
    width: 190px;
    float: left;
    margin: 0 0 0 21px !important;
    background-position: 50% 11px;
    background-repeat: no-repeat;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.foot_merit_list li:nth-child(1){
    background-image: url(../img/foot_icon01.png);
}
.foot_merit_list li:nth-child(2){
    background-image: url(../img/foot_icon02.png);
}
.foot_merit_list li:nth-child(3){
    background-image: url(../img/foot_icon03.png);
}
.foot_merit_list li:nth-child(4){
    background-image: url(../img/foot_icon04.png);
}
.foot_merit_list li:nth-child(5){
    background-image: url(../img/foot_icon05.png);
}
.foot_merit_list li:first-child{
    margin-left: 0 !important;
}
.foot_merit_list p,
.foot_merit_list a{
    display: block;
    padding: 88px 0 15px;
    line-height: 1.2;
}
.foot_merit_list span{
    font-size: 20px;
    color: #ff4e62;
}

.foot_info{
    background: #F5F5FA;
}
.foot_info_inner{
    padding-top: 26px;
    padding-bottom: 26px;
}
.foot_info_l{
    float: left;
}
.foot_info_name1{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px;
}
.foot_info_tel{
    font-size: 48px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    line-height: 1;
    padding: 0 0 0 44px;
    letter-spacing: 2px;
    margin: 0 0 2px;
    color: #595cce;
}
.foot_info_tel:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/tel5.png) 0 0 no-repeat;
    width: 38px;
    height: 25px;
    top: 14px;
    left: -1px;
}
.foot_info_time{
    font-size: 13px;
}
.foot_info_r{
    float: right;
    width: 616px;
}
.foot_info_name2{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px;
}
.foot_info_btns{}
.foot_info_btns .btn02 p{
    position: relative;
    z-index: 1;
}
.foot_info_btns .btn02 p:before{
    content: "";
    z-index: 49;
    position: absolute;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    left: 17px;
    border-width: 3px;
    top: 39%;
}

.foot_info_btns li{
    float: left;
}

.foot_info_btns a{
    color: #fff !important;
}

.foot_info_btns li:nth-child(1){
    font-size: 22px;
    width: 330px;
    margin: 0 !important;
}
.foot_info_btns li:nth-child(1) .btn02 p{
    line-height: 24px;
    background: #FF4E62;
}
.foot_info_btns li:nth-child(1) .btn02 span{
    font-size: 13px;
    display: block;
    line-height: 15px;
    margin: 5px 0 0;
}
.foot_info_btns li:nth-child(1) .btn02:before {
    background: #CC3E4E;
}
.foot_info_btns li:nth-child(2){
    font-size: 20px;
    width: 270px;
    margin: 0 0 0 15px !important;
}
.foot_info_btns li:nth-child(2) .btn02 p{
    line-height: 24px;
    background: #58C140;
    padding: 23px 0;
}
.foot_info_btns li:nth-child(2) .btn02:before {
    background: #469A33;
}

.foot_nav{
    background: #E9EAF1;
}
.foot_nav_inner{}
.foot_nav_body{
    padding: 31px 0 30px;
}
.foot_nav_box{
    width: 260px;
    padding: 5px 26px 8px 19px;
    float: left;
    border-left: 1px solid #7F7F86;
}
.foot_nav_box:first-child{
    border-left: none;
    padding-left: 0;
}
.foot_nav_box .foot_nav_btn1 {
    margin-top: 20px;
}

.foot_nav_name{
    /* color: #fff; */
    margin: 0 0 15px;
    display: inline-block;
    font-weight: bold;
}
.foot_nav_list2{
    font-weight: bold;
    text-align: left !important;
}
.foot_nav_list2 li{
    margin: 0 !important;
    display: block !important;
}
.foot_nav_list{
    text-align: left !important;
}
.foot_nav_list li{
    margin: 0 0 1px !important;
    display: block !important;
}
.foot_nav_list a{
    /* color: #fff; */
    font-size: 12px;
    padding: 0 0 0 15px;
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 2;
}
.foot_nav_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 4px solid #595CCE;
    border-right:4px solid transparent;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    width: 0px;
    height: 0px;
    top: 4px;
    left: 0;
}


.foot_nav_list + .foot_nav_name{
    margin: 21px 0 0;
}

.foot_nav_box2{
    float: right;
}

.foot_nav_btn1{
    display: block;
    margin: 0 0 20px;
}
.foot_nav_btn2{
    display: block;
    border: solid 1px #fff;
    color: #fff;
    font-size: 16px;
    margin: 0 0 11px;
    border-radius: 5px;
    padding: 6px 0;
    text-align: center;
}
.foot_nav_btn2:hover{
    color: #fff;
}

.foot_bottom{}
.foot_bottom_inner{
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
    z-index: 1;
}
.foot_bottom_inner a{
    font-size: 12px;
    margin: 0 28px 0 0;
}

.foot_copy{
    font-size: 11px;
    position: absolute;
    z-index: 1;
    right: 129px;
    top: 17px;
}


