@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------
	全ページ共通スタイル
----------------------------------------------------------------------------------------------------*/
.side_bnr_box{
    height: 0;
    position: relative;
    z-index: 10;
}
@media screen and (max-width: 1300px) {
    .side_bnr_box{
        /* width: 1300px; */
    }
}
.side_bnr{
    display: block;
    background: url(../img/sice_bnr01.png) 0 0 repeat-y;
    position: absolute;
    z-index: 10;
    top:0;
    bottom: 0;
    width: 120px;
}
.side_bnr_l{
    left: 0;
}
.side_bnr_r{
    right: 0;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/


.top_bnr_box{
    min-width: 1300px;
    background: #595CCE;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top:0;
}
.top_bnr_inner{
    position: relative;
    z-index: 1;
}
.top_bnr_name{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
}
.top_bnr_link{
    position: absolute;
    z-index: 1;
    top: 1px;
    bottom: 1px;
    padding: 9px 0 0;
    width: 149px;
    text-align: center;
    background: #fff;
    color: #595cce;
    right: 81px;
    font-size: 19px;
}
.top_bnr_link:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-top: 24px solid #fff;
    border-bottom: 24px solid #fff;
    border-left:16px solid #595CCE;
    border-right:16px solid #fff;
    width: 0px;
    height: 0px;
    top:0;
    left: -16px;
}
.top_bnr_btn{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -7px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.arrow01:before {
    content: "";
    z-index: 1;
    position: absolute;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 10px;
    height: 10px;
    top: 41%;
    left: 13px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.btn01{
    background: #FF4E62;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 7px 0;
    display: inline-block;
    text-align: center;
    width: 234px;
    position: relative;
    z-index: 1;
}
.btn01:hover{
    color: #fff;
}
.arrow01.btn01:before {left: auto;right: 17px;border-width: 1px;top: 35%;}


.btn02{
    display: block;
    border-radius: 5px;
    margin: 3px auto 0;
    padding: 0 0 3px;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    position: relative;
    z-index: 1
}
.btn02:before{
    content: "";
    z-index: 1;
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.btn02:hover{
    padding: 3px 0 0;
    opacity: 1;
}

.btn02 p{
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    border-radius: 5px;
    background: #FFBF00;
    display: block;
    padding: 13px 0;
}

.btn02:hover p{

}



/*---------------------------------------------------------

 ---------------------------------------------------------*/
.sort{}
.sort li{
    float: left;
    position: relative;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33%;
}





.sort li:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 1px solid #B0B1BB;
    top: -20px;
    bottom: -20px;
    left: 0;
    -moz-transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
}
.sort li:first-child:before{
    display: none;
}
.sort a{
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    color: #a4a5af;
}
.sort a:before{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent;
    right: 0;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    left: 0;
    border-width: 3px;
    top: -27px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.sort span{
    font-size: 14px;
    display: block;
    padding: 14px 0 0;
}

.sort a.sort_on,
.sort a:hover{
    color: #ff4e62;
}

.sort a.sort_on:before,
.sort a:hover:before{
    border-color: #ff4e62;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
 .main_fix{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
 }
  .main_fix_inner2{
    margin:0 auto;
 }
  .main_fix_inner{
        width: 1040px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        top:0;
 }
 .main .container-fluid.inner{
    position: relative;
    z-index: 1;
 }

/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
#contents{
    padding-top: 0;
}
.container-fluid{
    margin: 0 auto;
    padding: 0;
}
.inner {
    /* max-width: none; */
}