{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

ルート：{{route_note}}


************************************************
　お申込情報
************************************************

お申込番号：{{ Order.id }}
メッセージ：{{ Order.message }}

************************************************
　お申込み商品明細
************************************************

{% for OrderDetail in Order.OrderDetails %}
商品名: {{ OrderDetail.product_name }}  {{ OrderDetail.classcategory_name1 }} 
月額： {{ calc_inc_tax(OrderDetail.price, OrderDetail.tax_rate, OrderDetail.tax_rule)|price }}（税込）

{% endfor %}

************************************************
　ご申込者情報
************************************************
お名前　：{{ Order.name01 }}{{ Order.name02 }}　様
郵便番号：〒{{ Order.zip01 }}-{{ Order.zip02 }}
住所　　：{{ Order.Pref.name }}{{ Order.addr01 }}{{ Order.addr02 }}
電話番号：{{ Order.tel01 }}-{{ Order.tel02 }}-{{ Order.tel03 }}

メールアドレス：{{ Order.email }}
