{%- extends 'bootstrap_3_horizontal_layout.html.twig' -%}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <p class="errormsg text-danger">{{ error.message |trans }}</p>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{%- block tel_widget -%}
    <div class="form-group range">
        {%- for child in form %}
            {{- form_widget(child, {'attr': {'style': 'ime-mode: disabled;'}} ) -}}
            {%- if loop.last == false%}&nbsp;-&nbsp;{% endif -%}
        {% endfor -%}
    </div>
{%- endblock tel_widget -%}

{%- block zip_widget -%}
    <div class="form-group range">
        {%- for child in form %}
            {{- form_widget(child, {'attr': {'style': 'ime-mode: disabled;'}} ) -}}
            {%- if loop.last == false%}&nbsp;-&nbsp;{% endif -%}
        {% endfor -%}
    </div>
{%- endblock zip_widget -%}

{% block radio_widget -%}
    <div class="radio-inline">
        {{ parent() }}
    </div>
{%- endblock radio_widget %}

{% block checkbox_widget -%}
    <div class="checkbox-inline">
        {{ parent() }}
    </div>
{%- endblock checkbox_widget %}

{% block money_widget -%}
    {% set attr = attr|merge({class: attr.class|default('')}) %}
    {% if attr.class == 'notmoney' %}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
    </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock money_widget %}

