{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<h1 class="page-heading">お問い合わせ完了</h1>

<div id="complete_wrap" class="container-fluid">
    <div id="deliveradd_input" class="row">
        <div id="complete_box" class="col-sm-10 col-sm-offset-1">
            <div id="complete_box__body" class="complete_message">
                <h2 id="complete_box__header_message">お問い合わせ内容の送信が完了いたしました。</h2>
                <p id="complete_box__message">
                万一、ご回答メールが届かない場合は、トラブルの可能性もありますので<br />
                大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせください。<br />
                今後ともご愛顧賜りますようよろしくお願い申し上げます。
                </p>
            </div>
            <div id="complete_box__footer" class="row no-padding">
                <div id="complete_box__top_button" class="btn_group col-sm-offset-4 col-sm-4">
                    <p><a href="{{ url('homepage') }}" class="btn btn-info btn-block">トップページへ</a></p>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
{% endblock %}
