{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% block stylesheet %}

{% endblock %}



<!-- ▼item_list▼ -->
<div id="pickupitem" >
    <h2 class="heading">スアのおすすめ商品</h2>
dhhdhdfgggg
                                {% for CustomUrlUserPageProduct in CustomUrlUserPageProducts.ProductList %}
                                    ffff<br>
                                    {{CustomUrlUserPageProduct.customurl}}<br>
                                    {{ CustomUrlUserPageProduct.ListImageFile }}<br>
                                <tr>
                                    <td class="recommend_product_id">{{ CustomUrlUserPageProduct.id }}</td>
                                    <td class="customurl">
                                        {{ CustomUrlUserPageProduct.customurl }}
                                        {% if CustomUrlUserPageProduct.CustomUrlUserPageImage|length %}
                                        {% if loop.index0 %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.MainImageFile }}" height="60px" ></img>
                                        {% else %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.ListImageFile }}" height="60px" ></img>
                                        {% endif %}
                                        {% endif %}

                                    </td>
                                    <td class="userpage">{{ CustomUrlUserPageProduct.PageLayout.name }}</td>
                                    <td class="bindname">{{ url(CustomUrlUserPageProduct.PageLayout.url) }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagecategorykey }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagesubcategorykey }}</td>
                                    <td class="index_flg">{{ CustomUrlUserPageProduct.index_flg }}</td>

                                </tr>

                                {% endfor %}

{#
                                {% for CustomUrlUserPageProduct in CustomUrlUserPageProducts.ProductList %}
                                <tr>
                                    <td class="recommend_product_id">{{ CustomUrlUserPageProduct.id }}</td>
                                    <td class="customurl">
                                        {{ CustomUrlUserPageProduct.customurl }}
                                        {% if CustomUrlUserPageProduct.CustomUrlUserPageImage|length %}
                                        {% if loop.index0 %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.MainImageFile }}" height="60px" ></img>
                                        {% else %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.ListImageFile }}" height="60px" ></img>
                                        {% endif %}
                                        {% endif %}

                                    </td>
                                    <td class="userpage">{{ CustomUrlUserPageProduct.PageLayout.name }}</td>
                                    <td class="bindname">{{ url(CustomUrlUserPageProduct.PageLayout.url) }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagecategorykey }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagesubcategorykey }}</td>
                                    <td class="index_flg">{{ CustomUrlUserPageProduct.index_flg }}</td>

                                </tr>
                                {% endfor %}



    #}







tytutyuyt
<!-- ▲item_list▲ -->
</div>

