{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{%block main%}
        <h1 class="main_title0 mainWidth">キャンペーン一覧</h1>

        <div class="main_body mainWidth clr">
            

            {% set currsub=pagination[0].pagesubcategorykey %}
            {% set substarted=false %}

            {% for CustomUrlUserPageProduct in pagination %}

                {% if loop.index0==0 %}

                    <h2 class="main_title1">{{CustomUrlUserPageProduct.pagesubcategoryinfo}}</h2>
                    <a class="campaign_mainimg" href="{{url(CustomUrlUserPageProduct.PageLayout.Url)}}"><img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.ListImageFile }}" height="217" width="600" alt=""></a>
                    
                    <h3 class="campaign_title">{{CustomUrlUserPageProduct.PageLayout.name}}</h3>
                    <p class="campaign_mes">{{CustomUrlUserPageProduct.pageinfo}}</p>

                {% else %}
                    {% if CustomUrlUserPageProduct.pagesubcategorykey!=currsub %}
                        {% set currsub=CustomUrlUserPageProduct.pagesubcategorykey %}
                        {% if substarted %}
                            </ul>                

                        {% else %}
                            {% set substarted=true %}
                        {% endif %}
                        <h2 class="main_title1">{{CustomUrlUserPageProduct.pagesubcategoryinfo}}</h2>
                        <ul class="campaign_list">
                    {% else %}
                        <ul class="campaign_list">
                        {% set substarted=true %}

                    {% endif %}

                    <li><a href="{{url(CustomUrlUserPageProduct.PageLayout.Url)}}">
                        <figure class="campaign_list_img"><img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.ListImageFile }}" height="217" width="600" alt=""></figure>
                        <h3 class="campaign_list_name">{{CustomUrlUserPageProduct.PageLayout.name}}</h3>
                        <p class="campaign_list_mes">{{CustomUrlUserPageProduct.pageinfo}}</p>
                    </a></li>

                {% endif %}

            {% endfor %}     
        </div>
{%endblock%}