{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="item_gallery">
    <ul class="row">
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img10.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img11.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img12.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img13.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img14.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img15.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img16.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img17.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img18.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img19.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img20.jpg"></a></li>
        <li class="col-sm-2 col-xs-4"><a href="{{ url('product_detail', {id : 2}) }}" class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img21.jpg"></a></li>
    </ul>
</div>