{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="contents_top">
<div id="item_list">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="row no-padding">
                <div class="col-xs-6">
                    <div class="img img_right"><a href="{{ url('product_detail', {id : 2}) }}"><img src="{{ app.config.front_urlpath }}/img/top/img01.jpg"></a></div>
                </div>
                <div class="col-xs-6">
                    <div class="img"><a href="{{  url('product_detail', {id : 2}) }}"><img src="{{ app.config.front_urlpath }}/img/top/img02.jpg"></a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 comment_area">
            <div class="txt_center">
                <h4>新入荷商品特集</h4>
                <h5>この季節にぴったりな商品をご用意しました</h5>
                <p>さわやかな日差しが過ごしやすい季節。心地よいくらしのための、お部屋のアクセントになるおすすめのファブリックやグッズをご紹介します。</p>
                <p><a class="btn btn-success" href="#">一覧を見る<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img03.jpg"></div>
                    <dl>
                        <dt class="item_name text-warning">お気に入りのエスプレッソタイム</dt>
                        <dd class="item_comment">コーヒータイムを上質な時間にしてくれる、口当たりのよさとデザイン性を兼ね備えたエスプレッソカップを集めました・・・</dd>
                        <dd class="more_link text-warning">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img04.jpg"></div>
                    <dl>
                        <dt class="item_name text-warning">アウトドアにおすすめのアイテム</dt>
                        <dd class="item_comment">カジュアルすぎない感じがちょうどよい、大人のためのアウトドアマガジンから、バイヤーおすすめのアイテムをセレクト・・・</dd>
                        <dd class="more_link text-warning">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img05.jpg"></div>
                    <dl>
                        <dt class="item_name text-warning">フランス製のデッドストック</dt>
                        <dd class="item_comment">60～70年代のフランス製のデッドストックの器を集めました。絶妙な色合いと、独特の優しい風合いをお楽しみいただけ・・・</dd>
                        <dd class="more_link text-warning">read more</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img06.jpg"></div>
                    <p class="item_comment text-warning">木彫りのぬくもりがあたたかいアニマルオブジェ</p>
                    <dl>
                        <dt class="item_name">オブジェ（ふくろう）</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img07.jpg"></div>
                    <p class="item_comment text-warning">青色が美しい職人が仕上げた吹きガラス</p>
                    <dl>
                        <dt class="item_name">ガラス瓶</dt>
                        <dd class="item_price special_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img08.jpg"></div>
                    <p class="item_comment text-warning">いつかは持ちたい。一生モノの銀製カトラリー</p>
                    <dl>
                        <dt class="item_name">シルバーカトラリー</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{  url('product_detail', {id : 2}) }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/img09.jpg"></div>
                    <p class="item_comment text-warning">こだわりのシルクスクリーンプリントがポイント</p>
                    <dl>
                        <dt class="item_name">フォトクッションカバー</dt>
                        <dd class="item_price">\ 1,785</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    
</div>
</div>