<script>
    $(function(){

        $('#add-cart-bottom').click(function() {
            $('#form1-bottom #mode').val('customentryform_add_cart');
        });

    });
    </script>

<div id="details05" class="rate">
                    <h2 class="main_title1">料金形態について</h2>

                    <p class="rate_mes">当サービスでは、月々のお支払い金額を分かりやすく表示しています。<br>サイト内に記載された金額は月々にお支払いいただく料金となっています。<br>月々の料金の中には「①端末料金」「②5分以内の通話し放題」「③ネットし放題」を含んでいます。</p>

                    <p class="rate_title1">サイトの表示価格が月々のお支払いいただく金額です！</p>

                    <h3 class="details_title1">表示価格に含まれているもの</h3>

                    <div class="rate_box1 clr">
                        <ol class="rate_box1_list clr">
                            <li>① 端末代金</li>
                            <li>② ネットし放題</li>
                            <li>③ 5分以内の<br>通話し放題</li>
                        </ol>

                        <div class="rate_box1_m">
                            <p>月々の<br>支払い金額<br><span>(サイト表示価格)</span></p>
                        </div>
                    </div>

                    <h3 class="details_title1">各プランはこんな人におすすめ！</h3>

                    <ul class="rate_list clr">
                        <li>
                            <h4 class="rate_list_title">月々の料金を抑えたい<span>1GBパック</span></h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">長時間通話をしない</p>
                                <p class="rate_list_icon2">ネットもそこまで頻繁にやらない</p>
                            </div>
                        </li>
                        <li>
                            <h4 class="rate_list_title">月々の料金を抑えたい<span>5GBパック</span></h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">通話もそこそこしたい</p>
                                <p class="rate_list_icon2">SNSやLINEを頻繁に使いたい</p>
                            </div>
                        </li>
                        <li>
                            <h4 class="rate_list_title">動画やネットを使いたい<span>20GBパック</span></h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">長時間通話をしない</p>
                                <p class="rate_list_icon2">動画や漫画などネットをいっぱい使いたい</p>
                            </div>
                        </li>

                    </ul>
                    <p class="rate_list_kome">※このプラン以外でもお客様のご要望にあわせて、内容の変更も可能です。</p>

                    <a class="rate_list_link arrow01" href="">安さの秘密はこちら</a>


                    <div class="rate_item">
                        <h2 class="rate_item_title"><span>商品を購入する</span></h2>
                        <div class="rate_item_inner">
                            <ul class="step clr">
                                <li>
                                    <dl>
                                        <dt>STEP１</dt>
                                        <dd>当サイトから<br>お申し込み</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>STEP2</dt>
                                        <dd>お申し込み内容<br>確認のお電話</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>STEP3</dt>
                                        <dd>手続き完了後<br>商品発送</dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>STEP4</dt>
                                        <dd>スマホ・ケータイ<br>ご利用開始</dd>
                                    </dl>
                                </li>
                            </ul>

                            <div class="rate_item_name">
                                <figure>
                                {% if Product.ProductImage|length > 0 %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[0]|no_image_product }}" height="127" width="138"/>
                                {% else %}
                                <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="127" width="138"/>
                                {% endif %}
                                </figure>

                                <p><span>{{Product.name}}</span></p>
                            </div>
                        <form action="?" method="post" id="form1-bottom" name="form1-bottom">
                            {{ form_widget(form._token) }}

                            <p class="rate_item_title2">カラーを選択してください</p>
                            <p class="rate_item_color_list">
                                {% set first = true %}
                                {% for cc in form.product_color.vars.choices %}
                                {% set color = ProductColor[cc.value].colorclass %}
                                {% if cc.value %}
                                {% if first %}
                                    {% set lbon="class=label_on" %}
                                    {% set ckon="checked" %}
                                    {% set first=false %}
                                {% else %}
                                    {% set lbon="" %}
                                    {% set ckon="" %}
                                {% endif %}
                                <label {{lbon}}><input type="radio" id="product_color_{{loop.index0}}" name="product_color" required="required" value="{{cc.value}}" {{ckon}}><span class="{{color}}"></span>{{ProductColor[cc.value].name}}</label>
                                {% endif %}
                                {% endfor %}

                     
                       
                            </p>
                            {# 数量 #}
                            <dl style="display:none">
                                <dt>数量</dt>
                                <dd>
                                    {{ form_widget(form.quantity) }}
                                    {{ form_errors(form.quantity) }}
                                </dd>
                            </dl>
                            <p class="rate_item_title2">パックを選択してください</p>
                            {% if Product.stock_find %}
                                {# 規格 #}
                                {% if form.classcategory_id1 is defined %}
                                <ul class="rate_item_m_list clr">
                                    {# 規格1 #}
                                    {# 規格2 #}
                                    {% if form.classcategory_id2 is defined %}
                                    {# 規格2 #}
                                        {% set first = true %}
                                        {% for a in form.product_class_id.vars.choices %}
                                        {% set pc = Product.findProductClass(a.value) %}

                                        {% if pc.ClassCategory1.id==32 %}
                                        {% else %}
                                        <li>
                                            {% if first %}
                                                {% set lbon="class=label_on" %}
                                                {% set ckon="checked" %}
                                                {% set first=false %}
                                            {% else %}
                                                {% set lbon="" %}
                                                {% set ckon="" %}
                                            {% endif %}
                                            <label {{lbon}}><input type="radio" id="product_class_id_{{loop.index0}}" name="product_class_id" required="required" value="{{a.value}}" {{ckon}}>
                                                {{pc.ClassCategory1.name}}
                                                <span>{{pc.Price02|number_format}}<small>円 / 月</small></span>
                                            </label>                            
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                     {% endif %}
                                </ul>

                                <div class="rate_item_cart clr">
                                    <div class="rate_item_cart_l">
                                <button type="submit" id="add-cart-bottom" class="rate_item_btn btn02">この商品を申し込む</button>
                                        <a class="rate_item_btn btn02" href=""><p>この商品を申し込む</p></a>
                                    </div>
                                    <div class="rate_item_cart_r">
                                        <p class="rate_item_tel_mes">この商品について電話で問い合わせる</p>
                                        <p class="rate_item_tel">0120-301-492</p>
                                    </div>
                                </div>

                                {% endif %}

                            {% else %}
                                {# 在庫がない場合は品切れボタンのみ表示 #}
                                <ul class="side_details_m_list">
                                <button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切中</button>
                                </ul>
                            {% endif %}


                            {{ form_widget(form.mode) }}
                            {{ form_widget(form.product_id) }}

                            
                        </form>



                            <div class="rate_item_foot">
                                <p class="rate_item_kome_title">表示価格は右の内容全て含めた金額です。</p>
                                <p class="rate_item_kome">端末代金</p>
                                <p class="rate_item_kome">ネッし放題</p>
                                <p class="rate_item_kome">5分以内通話し放題</p>
                            </div>
                        </div>
                    </div>



                </div>