<script>
$(function(){

    $('#add-cart-side').click(function() {
        $('#form1-side #mode').val('customentryform_add_cart');
    });
    $('#add-cart-side-shop').click(function() {
        $('#form1-side #mode').val('customentryform_add_cart_shop');
    });

});
</script>



<div class="side_details">

                    <div class="side_details_top sideWidth">
                        <div class="model_box clr">
                            <figure>
                            {% if Product.ProductImage|length > 0 %}
                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[0]|no_image_product }}"/>
                            {% else %}
                            <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}"/>
                            {% endif %}
                            </figure>
                            <div class="model_detail">
                                <p class="side_details_icon">
                                {% for tag in ProductTags %}
                                    <span class="side_details_{{tag.color1}}">{{tag.Tag.name}}</span>
                                {% endfor %}
                                </p>

                                <h2 class="side_details_name">{{Product.name}}</h2>
                            </div>
                        </div>
                        <form action="?" method="post" id="form1-side" name="form1-side">
                            {{ form_widget(form._token) }}

                            <p class="side_details_color">カラー選択</p>
                            <p class="side_details_color_list">
                                {% set first = true %}
                                {% for cc in form.product_color.vars.choices %}
                                {% set color = ProductColor[cc.value].colorclass %}
                                {% if cc.value %}
                                {% if first %}
                                    {% set lbon="label_on" %}
                                    {% set ckon="checked" %}
                                    {% set first=false %}
                                {% else %}
                                    {% set lbon="" %}
                                    {% set ckon="" %}
                                {% endif %}
                                <label class="{{color}} {{lbon}}"><input type="radio" id="product_color_{{loop.index0}}" name="product_color" required="required" value="{{cc.value}}" {{ckon}}></label>
                                {% endif %}
                                {% endfor %}
                            </p>

                            {# 数量 #}
                            <dl style="display:none">
                                <dt>数量</dt>
                                <dd>
                                    {{ form_widget(form.quantity) }}
                                    {{ form_errors(form.quantity) }}
                                </dd>
                            </dl>
                            <p class="side_details_m">料金選択<a href="">安さの秘密はこちら</a></p>
                            {% if Product.stock_find %}
                                {# 規格 #}
                                {% if form.classcategory_id1 is defined %}
                                <ul class="side_details_m_list">
                                    {# 規格1 #}
                                    {# 規格2 #}
                                    {% if form.classcategory_id2 is defined %}
                                    {# 規格2 #}
                                        {% set first = true %}
                                        {% for a in form.product_class_id.vars.choices %}
                                        {% set pc = Product.findProductClass(a.value) %}

                                        {% if pc.ClassCategory1.id==32 %}
                                        {% else %}
                                        <li>
                                            {% if first %}
                                                {% set lbon="class=label_on" %}
                                                {% set ckon="checked" %}
                                                {% set first=false %}
                                            {% else %}
                                                {% set lbon="" %}
                                                {% set ckon="" %}
                                            {% endif %}

                                            <label {{lbon}}><input type="radio" id="product_class_id_{{loop.index0}}" name="product_class_id" required="required" value="{{a.value}}" {{ckon}}>
                                                {{pc.ClassCategory1.name}}
                                                <span>{{pc.Price02|number_format}}<small>円 / 月</small></span>
                                            </label>                            
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                     {% endif %}
                                </ul>
                                <button type="submit" id="add-cart-side" class="side_details_btn btn02 btn-primary btn-block prevention-btn prevention-mask">この商品を申し込む</button><button type="submit" id="add-cart-side-shop" class="side_details_btn btn02 btn-primary btn-block prevention-btn prevention-mask">近くの店舗で受け取る</button>
                                <a type="submit" class="side_details_btn btn02"><p>Webで申し込む</p></a>
                                <a type="submit" class="side_details_btn2 btn02"><p>この商品を近くの<br>店舗で受け取る</p></a>

                                {% endif %}

                            {% else %}
                                {# 在庫がない場合は品切れボタンのみ表示 #}
                                <ul class="side_details_m_list">
                                <button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切中</button>
                                </ul>
                            {% endif %}


                            {{ form_widget(form.mode) }}
                            {{ form_widget(form.product_id) }}



                            <!--▲買い物かご-->
                        </form>
                        <p class="side_details_tel_mes">この商品について電話で問い合わせる</p>
                        <p class="side_details_tel oswald">0120-301-492</p>

                    </div>

                    <div class="side_details_foot sideWidth">
                        <p class="side_details_kome">表示価格は全て含めた金額です。</p>
                        <ul class="side_details_kome_list clr">
                            <li>端末代金</li>
                            <li>5分以内<br>通話し放題</li>
                            <li>ネット<br>し放題</li>
                        </ul>
                    </div>

                </div>