
<div class="details_top">
    <div class="details_top_inner mainWidth clr">
        <div class="details_top_r">
            <h2 class="details_top_logo">
            {% if (__EX_PRODUCT[78].valuetext.0) %}
            <img src="{{ app.config.image_save_urlpath }}/{{ __EX_PRODUCT[78].valuetext.0 }}"  height="155" width="322" alt="{{Product.name}}" />
            {% endif %}

            </h2>
            <p class="details_top_mes">{{Product.description_detail|raw|nl2br}}</p>
            <p class="details_top_m">月々<span>{{Product.getPrice02Min|number_format}}</span>円</p>
            <p class="details_top_type">[ 端末代 + 通話し放題 + ネットし放題 ]</p>

            <a class="details_btn btn02" href="#main"><p class="arrow01">購入手続きへ</p></a>
        </div>
        <div class="details_top_l">
            {% for tag in ProductTags %}
                {% if tag.Color2 =='no' %}
                <div class="details_top_{{tag.Color1}}">
                    <img class="details_top_no1_img" src="{{ app.config.front_urlpath }}/img/details/no01.png" height="103" width="104" alt="no1">
                    <img class="details_top_no2_img" src="{{ app.config.front_urlpath }}/img/details/no02.png" height="103" width="104" alt="no2">
                    <img class="details_top_no3_img" src="{{ app.config.front_urlpath }}/img/details/no03.png" height="103" width="104" alt="no3">
                </div>
                {% endif %}
            {% endfor %}
            <ul class="details_top_img">
                {% if Product.ProductImage|length > 0 %}

                    {% for ProductImage in Product.ProductImage %}
                    <li><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" height="362" width="394" alt=""></li>                        
                    {% endfor %}
                {% else %}
                    <li><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="362" width="394" alt=""></li>                
                {% endif %}
            </ul>
            <ul class="details_top_img_btn">
                {% if Product.ProductImage|length > 0 %}
                    {% for ProductImage in Product.ProductImage %}
                    <li><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" height="48" width="48" alt=""></li>                        
                    {% endfor %}
                {% else %}
                    <li><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="48" width="48" alt=""></li>                
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="details_top2">
    <div class="details_top2_inner mainWidth clr">
        <img src="{{ app.config.front_urlpath }}/img/details/mes01.png" height="90" width="792" alt="表示価格はすべてコミコミ！おトクでシンプルな料金プラン！">
    </div>
</div>