{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form-entry.css">
{% endblock %}


{% block javascript %}
{% endblock javascript %}


{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}
    <div class="main_body mainWidth clr">

        <section class="sec01">
            <div class="sec01Inner">
                <ul class="sec01_ul clr">
                    <li>1 お客様情報入力</li>
                    <li class="done">2 お申し込み内容確認</li>
                    <li>3 お申し込み完了</li>
                </ul>
            </div>
        </section>
        {% set Product = null %}
        {% set ProductClass = null %}

        <section class="sec02">
            <div class="sec02Inner">
                <h3>購入する端末</h3>
                    {% for CartItem in Cart.CartItems %}
                        {% set ProductClass = CartItem.Object %}
                        {% set Product = ProductClass.Product %}
                        <div class="sec02_box clr">

                            <div class="sec02_box_l">
                                <p><img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}"></p>
                            </div>
                            <div class="sec02_box_c">
                                <dl class="clr">
                                    <dt>製品名</dt>
                                    <dd>{{ Product.name }}</dd>
                                    <dt>カラー</dt>
                                    <dd>{% if CartItem.Color %}{{ProductColor[CartItem.Color].name}}{% else %}相談して決める{% endif %}</dd>
                                    <dt>プラン</dt>
                                    <dd>{{ ProductClass.ClassCategory1}}</dd>
                                </dl>
                                <p>※カラー・容量はお申し込みの前に変更することが可能です。<br>お気軽にスタッフまでお申し付けください。</p>
                            </div>
                            <div class="sec02_box_r">
                                <div class="sec02_box2">
                                    <span class="sec02_tag">端末代込み</span><span class="sec02_tag">通話し放題</span><span class="sec02_tag">ネットし放題</span>
                                    <p class="sec02_txt">月々の支払い金額</p>
                                    <p class="sec02_price">{{ProductClass.getPrice02IncTax|number_format}}<span>円</span><span>(税込)</span></p>
                                </div>
                            </div>




                            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
                            {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                                {% set idx = loop.index0 %}
                                {% if productStr[idx] is defined %}
                                <div id="cart_box__message--{{ loop.index }}" class="message">
                                    <p class="errormsg bg-danger">
                                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                                        {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                                    </p>
                                </div>
                                {% else %}
                                <div id="cart_box__message--{{ loop.index }}" class="message">
                                    <p class="errormsg bg-danger">
                                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                                    </p>
                                </div>
                                {% endif %}
                            {% endfor %}


                        </div>

                    {% endfor %}

            </div>
        </section>

        <section class="sec03">
            <div class="sec03Inner">
                <h3>お客様情報</h3>
                <form method="post" action="{{ url('plugin_customentryform_formwebentry', {id : id}) }}">
                    {{ form_widget(form._token) }}
                    <div id="detail_box__body" class="dl_table">
                        <dl id="detail_box__name">
                            <dt>{{ form_label(form.name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name.name01, {attr: {placeholder: '例：ソフトバンク'}}) }}
                                {{ form_widget(form.name.name02, {attr: {placeholder: '例：太郎'}}) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </dd>
                        </dl>
                        <dl id="detail_box__kana">
                            <dt>{{ form_label(form.kana) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01, {attr: {placeholder: '例：ソフトバンク'}}) }}
                                {{ form_widget(form.kana.kana02, {attr: {placeholder: '例：タロウ'}}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__address_detail">
                            <dt>{{ form_label(form.address) }}</dt>
                            <dd>
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>

                        <dl id="detail_box__tel">
                            <dt>{{ form_label(form.tel) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr: {placeholder: '例：08012341234'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__email">
                            <dt>{{ form_label(form.email) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier">
                            <dt>{{ form_label(form.usecarrier) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.usecarrier.usecarrier) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier" style="display:none">
                            <dt>{{ form_label(form.id) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.id) }}
                                </div>
                            </dd>
                        </dl>

                    </div>

                </form>
                <form id="shopping-form" method="post" action="{{ url('plugin_customentryform_shopping_form'~formtype~'_confirm') }}">
                    {{ form_widget(formShopping._token) }}
                    <div id="shopping_confirm" class="row">
                        <div id="confirm_main" class="col-md-12" style="display:none">
                            <div id="cart_box" class="cart_item table">
                                <div id="cart_box_list" class="tbody">
                                    {% for orderDetail in Order.orderDetails %}
                                    <div id="cart_box_list__item_box--{{ loop.index }}" class="item_box tr">
                                        <div id="cart_box_list__item--{{ loop.index }}" class="td table">
                                            <div id="cart_box_list__photo--{{ loop.index }}" class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ orderDetail.product.MainListImage|no_image_product }}" alt="{{ orderDetail.productName }}" /></div>
                                            <dl id="cart_box_list__detail--{{ loop.index }}" class="item_detail">
                                                <dt id="cart_box_list__name--{{ loop.index }}" class="item_name text-default">{{ orderDetail.productName }}</dt>
                                                <dd id="cart_box_list__class_category--{{ loop.index }}" class="item_pattern small">
                                                    {% if orderDetail.productClass.classCategory1 %}
                                                        {{ orderDetail.productClass.classCategory1.className }}：{{ orderDetail.productClass.classCategory1 }}
                                                    {% endif %}
                                                    {% if orderDetail.productClass.classCategory2 %}
                                                        <br>{{ orderDetail.productClass.classCategory2.className }}：{{ orderDetail.productClass.classCategory2 }} {{ orderDetail.productClass.price02|number_format }}円（＋税）
                                                    {% endif %}
                                                </dd>
                                                <dd id="cart_box_list__price--{{ loop.index }}" class="item_price">{{ orderDetail.priceIncTax|price }} × {{ orderDetail.quantity|number_format }}</dd>
                                                <dd id="cart_box_list__subtotal--{{ loop.index }}" class="item_subtotal">小計：{{ orderDetail.totalPrice|price }}</dd>
                                            </dl>
                                        </div>
                                    </div><!--/item_box-->
                                    {% endfor %}
                                </div>
                            </div><!--/cart_item-->
                            <h2 class="heading02">お客様情報</h2>
                            <div id="customer_detail_box" class="column is-edit">
                                <p id="customer_detail_box__customer_address" class="address"><span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span> 様<br>
                                〒<span class="customer-edit customer-zip01">{{ Order.zip01 }}</span>-<span class="customer-edit customer-zip02">{{ Order.zip02 }}</span> <span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span><br>
                                <span class="customer-edit customer-tel01">{{ Order.tel01 }}</span>-<span class="customer-edit customer-tel02">{{ Order.tel02 }}</span>-<span class="customer-edit customer-tel03">{{ Order.tel03 }}</span></p>
                                {% if is_granted('ROLE_USER') == false %}
                                    <div class="customer-edit customer-email">{{ Order.email }}</div>
                                    <div class="customer-edit customer-company_name">{{ Order.companyName }}</div>
                                    <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                                    <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                                    <input type="hidden" id="customer-zip01" class="customer-in" name="customer_zip01" value="{{ Order.zip01 }}">
                                    <input type="hidden" id="customer-zip02" class="customer-in" name="customer_zip02" value="{{ Order.zip02 }}">
                                    <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                                    <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                                    <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                                    <input type="hidden" id="customer-tel01" class="customer-in" name="customer_tel01" value="{{ Order.tel01 }}">
                                    <input type="hidden" id="customer-tel02" class="customer-in" name="customer_tel02" value="{{ Order.tel02 }}">
                                    <input type="hidden" id="customer-tel03" class="customer-in" name="customer_tel03" value="{{ Order.tel03 }}">
                                    <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                                    <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                                {% endif %}
                            </div>

                            <h2 class="heading02">配送情報</h2>
                            {% for shipping in Order.shippings %}
                                {% set idx = loop.index0 %}
                                <div id="shipping_confirm_box--{{ idx }}" class="column is-edit">
                                    <h3>お届け先{% if Order.multiple %}({{ loop.index }}){% endif %}</h3>
                                    <div id="shipping_confirm_box__body--{{ idx }}" class="cart_item table">
                                        <div id="shipping_confirm_box__list--{{ idx }}" class="tbody">
                                        {% for shipmentItem in shipping.shipmentItems %}
                                            <div id="shipping_confirm_box__item--{{ idx }}_{{ shipmentItem.id }}" class="item_box tr">
                                                <div id="shipping_box__body_inner--{{ idx }}_{{ shipmentItem.id }}" class="td table">
                                                    <div id="shipping_box__photo--{{ idx }}_{{ shipmentItem.id }}" class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ shipmentItem.product.MainListImage|no_image_product }}" alt="{{ shipmentItem.productName }}" /></div>
                                                    <dl id="shipping_box__detail--{{ idx }}_{{ shipmentItem.id }}" class="item_detail">
                                                        <dt id="shipping_box__name--{{ idx }}_{{ shipmentItem.id }}" class="item_name text-default">{{ shipmentItem.productName }}</dt>
                                                        <dd id="shipping_box__class_category--{{ idx }}_{{ shipmentItem.id }}" class="item_pattern small">
                                                            {% if shipmentItem.productClass.classCategory1 %}
                                                                {{ shipmentItem.productClass.classCategory1.className }}：{{ shipmentItem.productClass.classCategory1 }}
                                                            {% endif %}
                                                            {% if shipmentItem.productClass.classCategory2 %}
                                                                <br>{{ shipmentItem.productClass.classCategory2.className }}：{{ shipmentItem.productClass.classCategory2 }}
                                                            {% endif %}
                                                        </dd>
                                                        <dd id="shipping_box__price--{{ idx }}_{{ shipmentItem.id }}" class="item_price">{{ shipmentItem.priceIncTax|price }} × {{ shipmentItem.quantity|number_format }}</dd>
                                                        <dd id="shipping_box__subtotal--{{ idx }}_{{ shipmentItem.id }}" class="item_subtotal">小計：{{ shipmentItem.totalPrice|price }}</dd>
                                                    </dl>
                                                </div>
                                            </div><!--/item_box-->
                                        {% endfor %}
                                        </div>
                                    </div>

                                    <p id="shopping_confirm_box__shipping_address_detail--{{ idx }}" class="address">{{ shipping.name01 }} {{ shipping.name02 }} 様<br>
                                    〒{{ shipping.zip01 }}-{{ shipping.zip02 }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}<br>
                                    {{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}</p>
                                    <div id="shopping_confirm_box__shipping_delivery--{{ idx }}" class="form-inline form-group" style='display:none'>
                                        <label>配送方法</label>
                                        {{ form_widget(formShopping.shippings[idx].delivery, {'attr': {'class': 'delivery'}}) }}
                                        {{ form_errors(formShopping.shippings[idx].delivery) }}
                                    </div>

                                    <div id="shopping_confirm_box__shipping_delivery_date_time--{{ idx }}" class="form-inline form-group">
                                        <label>お届け時間</label>
                                        {{ form_widget(formShopping.shippings[idx].deliveryTime) }}
                                    </div>
                                </div>
                                {% if loop.last == false%}<hr>{% endif %}
                            {% endfor %}
                            <h2 class="heading02">お支払方法</h2>
                            <div id="payment_list" class="column">
                                <div id="payment_list__body" class="form-group">
                                    <ul id="payment_list__list" class="payment_list">
                                    {% for key, child in formShopping.payment %}
                                    <li>
                                        {{ form_widget(child, {'attr': {'class': 'payment' }}) }}
                                        {% if formShopping.payment.vars.choices[key].data.payment_image is not null %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ formShopping.payment.vars.choices[key].data.payment_image }}">
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    {{ form_errors(formShopping.payment) }}
                                    </ul>
                                </div>

                            </div>

                            <h2 class="heading02">お問い合わせ欄</h2>
                            <div id="contact_message" class="column">
                                {{ form_widget(formShopping.message, {'attr': {'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)', 'rows': '10'}}) }}
                                {{ form_errors(formShopping.message) }}
                            </div>
                            <div class="extra-form column">
                                {% for f in formShopping.getIterator %}
                                    {% if f.vars.name matches '[^plg*]' %}
                                        {{ form_row(f) }}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <input type="hidden" id="id" name="id" value="{{id}}"/>
                        </div><!-- /.col -->
                        <div id="summary_box__total_box">
                            <div id="summary_box__result">
                                <p id="summary_box__confirm_button"><button id="order-button" type="submit" class="btn btn-primary btn-block prevention-btn prevention-mask">申込みする</button></p>
                            </div>
                        </div>

                    </div><!-- /.row -->
                </form>

            </div>
        </section>

    </div>


{% endblock %}
