@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------
	全ページ共通スタイル
----------------------------------------------------------------------------------------------------*/


/* 要素設定*/
body {
     font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Verdana, "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
     /*word-break: break-all;*/
		 word-break: break-word;
     background-color: #fff;
     font-size: 14px;
     color: #565765;
     background-position: 50% 0px;
     /* background-size: 375px auto; */
     }

.mainWidth{
    margin: 0 3%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.sideWidth{
    padding: 0 20px;
}
.oswald {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
.fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
}

/*　ヘッダー
---------------------------------------------------------------------------------------*/
#header{
    border-bottom: 1px solid #E9EAF1;
		background: #FFFFFF;
		height: 48px;
}
.hed_inner{
		position: relative;
}
.hed_logo{
		text-align: center;
		line-height: 48px;
}
.hed_logo img{
		width: 143px;
}
.hed_link {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
    font-size: 10px;
}
.hed_link li{
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 36px;
}
.hed_link a{
    display: block;
    background-position: 50% 8px;
    background-repeat: no-repeat;
		background-size: 24px auto;
    color: #555555;
		padding: 28px 0 0;
		height: 48px;
    text-align: center;
		letter-spacing: 0.08em;
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hed_link li:nth-child(1) a{
    background-image: url(../img/h_icon01.png);
}
.hed_link li:nth-child(2) a{
    background-image: url(../img/h_icon02.png);
		color: #ff4e62
}

/*　 ナビ
---------------------------------------------------------------------------------------*/
.gnav_titleBox{
	position: relative;
	height: 48px;
}
.gnav_logo{
	padding-top: 10px;
}
.gnav_logo img{
	width: 143px;
}

/*　ナビ共通
---------------------------------------------------------------------------------------*/

.c_nav_title{
	background: #595CCE;
	color: #FFFFFF;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	letter-spacing: 0.09em;
}
#header .c_nav_title{
	font-size: 14px;
}
.c_nav_product{
}
.c_nav_product_inner{}
.c_nav_product_list{
	border-left: 1px solid #E9EAF1;
}
.c_nav_product_list li{
	border-top: 1px solid #E9EAF1;
	border-bottom: 1px solid #E9EAF1;
	border-right: 1px solid #E9EAF1;
	float: left;
	width: 50%;
	font-size: 12px;
}
.c_nav_product_list a{
	display: block;
	background-position: center 12px;
	background-repeat: no-repeat;
	background-size: 19px auto;
	padding: 48px 0 5px 0;
	height: 73px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c_nav_product_list li:nth-child(1) a{
	background-image: url(../img/f_icon01.png);
}
.c_nav_product_list li:nth-child(2) a{
	background-image: url(../img/f_icon02.png);
}
.c_nav_product_list li.active_on a{
	color: #FF4E62;
}
.c_nav_product_list li:nth-child(1).active_on a{
	background-image: url(../img/f_icon01_on.png);
}
.c_nav_product_list li:nth-child(2).active_on a{
	background-image: url(../img/f_icon02_on.png);
}

.c_nav_privilege{
}
.c_nav_privilege_inner{}
.c_nav_privilege_list{
	border-top: 1px solid #E9EAF1;
}
.c_nav_privilege_list li{
	border-bottom: 1px solid #E9EAF1;
	border-left: 1px solid #E9EAF1;
	border-right: 1px solid #E9EAF1;
	font-size: 12px;
}
.c_nav_privilege_list a{
	display: block;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: auto 14px;
	padding: 0 10px 0 34px;
	height: 38px;
	line-height: 38px;
}
.c_nav_privilege_list li:nth-child(1) a{
	background-image: url(../img/f_icon03.png);
}
.c_nav_privilege_list li:nth-child(2) a{
	background-image: url(../img/f_icon04.png);
}
.c_nav_privilege_list li:nth-child(3) a{
	background-image: url(../img/f_icon05.png);
}

.c_nav_privilege_list li.active_on a{
	color: #FF4E62;
}
.c_nav_privilege_list li:nth-child(1).active_on a{
	background-image: url(../img/f_icon03_on.png);
}
.c_nav_privilege_list li:nth-child(2).active_on a{
	background-image: url(../img/f_icon04_on.png);
}
.c_nav_privilege_list li:nth-child(3).active_on a{
	background-image: url(../img/f_icon05_on.png);
}



.c_nav_info{
	background: #F5F5FA;
	text-align: center;
}
.c_nav_info_inner{
	padding-top: 20px;
	padding-bottom: 25px;
}
#header .c_nav_info_inner {
	padding-top: 14px;
	padding-bottom: 14px;
}
.c_nav_info_top{
}
.c_nav_info_name1{
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 10px;
}
#header .c_nav_info_name1{
	margin: 0 0 5px;
}
.c_nav_info_tel{
	margin-bottom: 5px;
}
.c_nav_info_tel a{
}
.c_nav_info_tel a:before{
	background: #C9CACA;
}
.c_nav_info_tel a dl{
	position: relative;
	z-index: 5;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	border-radius: 5px;
	background: #FFFFFF;
	display: block;
	padding: 10px 0;
}
#header .c_nav_info_tel a dl{
	padding: 7px 0;
}
.c_nav_info_tel a dt{
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}
.c_nav_info_tel a dd{
	font-family: Arial, Helvetica, sans-serif;
	color: #595cce;
	font-size: 27px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.04em;
}
.c_nav_info_tel a dd span{
	position: relative;
	z-index: 1;
	padding: 0 0 0 30px;
}
.c_nav_info_tel a dd span:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../img/tel5.png) 0 0 no-repeat;
	background-size: 23px;
	width: 23px;
	height: 15px;
	top: 8px;
	left: 0;
}
.c_nav_info_time{
	margin-bottom: 15px;
  font-size: 11px;
}
#header .c_nav_info_time{
	margin-bottom: 10px;
}
.c_nav_info_bottom{
}
.c_nav_info_name2{
	margin: 0 0 5px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.04em;
}
.c_nav_info_btns{}
.c_nav_info_btns li{
	float: left;
	width: 48.5%;
	font-size: 12px;
	font-weight: bold;
}
.c_nav_info_btns a{
	color: #fff !important;
}
.c_nav_info_btns li p{
	padding: 10px 0;
}
.c_nav_info_btns li:nth-child(1){
}
.c_nav_info_btns li:nth-child(1) .btn02 p{
	line-height: 24px;
	background: #FF4E62;
}
.c_nav_info_btns li:nth-child(1) .btn02:before {
	background: #CC3E4E;
}
.c_nav_info_btns li:nth-child(2){
	margin: 0 0 0 3% !important;
}
.c_nav_info_btns li:nth-child(2) .btn02 p{
	line-height: 24px;
	background: #58C140;
}
.c_nav_info_btns li:nth-child(2) .btn02:before {
	background: #469A33;
}
.c_nav_info_btns li p span{
	position: relative;
	padding-left: 15px;
}
.c_nav_info_btns li p span:before{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0.4em;
	left: 0;
	margin: auto;
	width: 7px;
	height: 7px;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*　 パンくず
---------------------------------------------------------------------------------------*/
#home #pageNav{
    display: none;
}
#pageNav{
    padding: 10px 0;
}
#pageNav li{
    font-size: 11px;
    float: left;
    margin: 0 14px 0 0 !important;
    position: relative;
    z-index: 1;
}
#pageNav li:before{
    content: ">";
    z-index: 1;
    position: absolute;
    top:0;
    left: -9px;
}
#pageNav li:first-child:before{
    display: none;
}
#pageNav a{
    text-decoration: underline;
}

/*　コンテンツ
---------------------------------------------------------------------------------------*/
.main{
	position: relative;
	z-index: 1;
}
.main_body{
    padding: 50px 0 0;
}
.main_title0 + .main_body{
    padding: 10px 0 0;
}
.main_l{
}
.main_r{
}
.main_title0{
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0 0;
}
.main_title1{
    font-weight: normal;
    font-size: 14px;
    position: relative;
    z-index: 1;
    padding: 0 0 0 15px;
    margin: 0 0 12px;
}
.main_title1:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-top: 12px solid #999999;
    border-bottom: 8px solid #595cce;
    width: 4px;
    height: 0px;
    top: 2px;
    left: 0;
}
.main_title2{
    font-size: 13px;
    margin: 0 0 10px;
}

/*　フッター2
---------------------------------------------------------------------------------------*/
.footItem{
    background: #e9eaf1;
    margin: 25px 0 0;
}
.footItem_inner{
    padding-top: 25px;
    padding-bottom: 30px;
}
.footItem + .footItem{
    margin: -18px 0 0;
}
.footItem + .footItem .footItem_inner{
    padding-top: 0px;
}
.main_title1{}
.scroll{
overflow: auto;
}
.scroll::-webkit-scrollbar{
 height: 5px;
}
.scroll::-webkit-scrollbar-track{
 background: #C9CACA;
}
.scroll::-webkit-scrollbar-thumb {
 background: #999999;
}
.footItem_list{
    margin: 0;
		width: 615px;
}
.footItem_list li{
    float: left;
    width: 115px;
    margin: 0 0 10px 10px;
}
.footItem_list_no1,
.footItem_list_no2,
.footItem_list_no3,
.footItem_list_no0{
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    display: block;
    width: 19px;
    text-align: center;
    padding: 0;
    color: #fff;
    font-size: 12px;
		font-weight: bold;
		text-indent: -1px;
}

.footItem_list_no1{
    background: #DCCC18;
}
.footItem_list_no2{
    background: #BAB9C1;
}
.footItem_list_no3{
    background: #E18961;
}
.footItem_list_no0{
    background: #565765;
}

.footItem_list li:first-child{
    margin-left: 0;
}
.footItem_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.footItem_list figure{
	padding: 5%;
    margin: 0 0 10px;
    background-color: #fff;
}
.footItem_list_name{
    text-decoration: underline;
    margin: 0 0 3px;
	font-size: 11px;
}
.footItem_list_m{
    font-size: 11px;
    text-align: center;
}
.footItem_list_m span{
    font-size: 16px;
}
.footItem_list_m span span{
    font-size: 12px;
}

.footItem_campaign{}
.footItem_campaign li{
    float: left;
    width: 46%;
    margin: 0 0 0 74px;
}
.footItem_campaign li:nth-child(2n+1){
    margin-left: 0;
}
.footItem_campaign a{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 0 0 220px;
    min-height: 125px;
    margin: 0 0 29px;
}
.footItem_campaign figure{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.footItem_campaign_name{
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #2a98cd;
}
.footItem_campaign_mes{
    line-height: 1.8;
    font-size: 14px;
}
.footItem_campaign_link{
    position: absolute;
    z-index: 1;
    bottom: 16px;
    font-size: 12px;
    left: 154px;
    text-decoration: underline;
}

/*　フッター
---------------------------------------------------------------------------------------*/

.foot_bottom{
	text-align: center;
}
.foot_bottom_inner{
	padding-top: 14px;
	padding-bottom: 20px;
	letter-spacing: -0.5em;
}
.foot_bottom_inner a{
	position: relative;
	font-size: 12px;
	margin-left: 25px;
	letter-spacing: 0;
}
.foot_bottom_inner a:first-child{
	margin-left: 0;
}
.foot_bottom_inner a:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -13px;
	background: #565765;
	margin: auto;
	width: 1px;
	height: 12px;
}
.foot_bottom_inner a:first-child:before{
	display: none;
}
.foot_logo{
	margin-bottom: 10px;
}
.foot_logo img{
	width: 272px;
}
.foot_copy{
	background: #565765;
	color: #FFFFFF;
	padding: 3px;
  font-size: 11px;
}


