@charset "UTF-8";

/*----------------------------------------------------------------------------------------------------
	全ページ共通スタイル
----------------------------------------------------------------------------------------------------*/
.bottom_bnr_box{
    position: fixed;
    z-index: 10;
	 	bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
}
.bottom_bnr{
    display: block;
    background: url(../img/bottom_bnr01.png) no-repeat 0 0;
		background-size: 100% auto;
		padding-bottom: 14%;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.top_bnr_box{
    background: #595CCE;
    position: relative;
    z-index: 9;
}
.top_bnr_inner{
    position: relative;
    z-index: 1;
}
.top_bnr_name{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
		text-indent: -5.2em;
    line-height: 31px;
}
.top_bnr_name span{
		font-family: Arial, Helvetica, sans-serif;
}
.top_bnr_link{
    position: absolute;
    z-index: 1;
    top: 5px;
    bottom: 5px;
		right: 50%;
		margin-right: -12.3em;
    padding: 2px 5px;
    text-align: center;
    border: solid 1px #fff;
    color: #FFFFFF;
    font-size: 11px;
}
/*.top_bnr_btn{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -7px;
}*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.arrow01:before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    top: 41%;
    left: 13px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.btn01{
    background: #FF4E62;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    padding: 13px 0;
    display: inline-block;
    text-align: center;
    width: 90%;
    position: relative;
    z-index: 1;
}
.btn01:hover{
    color: #fff;
}
.arrow01.btn01:before {left: auto;right: 14px;}


.btn02{
    display: block;
    border-radius: 5px;
    margin: 3px auto 0;
    padding: 0 0 3px;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    position: relative;
    z-index: 1
}
.btn02:before{
    content: "";
    z-index: 1;
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.btn02:hover{
    opacity: 1;
}

.btn02 p{
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    border-radius: 5px;
    background: #FFBF00;
    display: block;
    padding: 13px 0;
}

.btn02:hover p{

}



/*---------------------------------------------------------

 ---------------------------------------------------------*/
.sort{}
.sort li{
    float: left;
    position: relative;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33%;
}
.sort li:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 1px solid #B0B1BB;
    top: -5px;
    bottom: -5px;
    left: 0;
    -moz-transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
}
.sort li:first-child:before{
    display: none;
}
.sort a{
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    color: #a4a5af;
}
.sort a:before{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    left: 0;
    border-width: 2px;
    top: -18px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.sort a.sort_on{
    color: #ff4e62;
}

.sort a.sort_on:before{
    border-color: #ff4e62;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/

#contents{
    padding-top: 0;
}
.container-fluid{
    margin: 0 auto;
    padding: 0;
}
.inner {
    max-width:100%;
}
#header .inner{
    margin: 0 3%;
}
#header {
    padding-top: 0;
    z-index: 101;
}
#footer {
    background: none;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
#footer ul li{
     display: block;
    margin: 0;
}

.drawer-open #contents, .drawer-open #header, .drawer-open #footer, .drawer-open .pagetop {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}