{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
<style type="text/css">
/* ======== SP ==========*/
.sp #cart_item_list__product_image{
    display: inline-block;
}

.sp #cart_item_list__quantity{
    width: 100px;
    display: inline-block;
}
/* ======== /SP ==========*/
</style>
{% endblock %}


{% block main %}
    <h1 class="page-heading">ショッピングカート</h1>


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-arrow">
                    <h3 class="box-title"><span class="normal"><strong>{{ totalItemCount }} 件</strong> が該当しました</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>カスタムURL</th>
                                    <th>ユーザ定義ページ</th>
                                    <th>バインド</th>
                                    <th>カテゴリ</th>
                                    <th>カテゴリ</th>
                                    <th>一覧ページ</th>
                                    <th>編集</th>
                                    <th>削除</th>
                                    <th>並び替え</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for CustomUrlUserPageProduct in pagination %}
                                <tr>
                                    <td class="recommend_product_id">{{ CustomUrlUserPageProduct.id }}</td>
                                    <td class="customurl">
                                        {{ CustomUrlUserPageProduct.customurl }}
                                    </td>
                                    <td class="userpage">{{ CustomUrlUserPageProduct.PageLayout.name }}</td>
                                    <td class="bindname">{{ CustomUrlUserPageProduct.PageLayout.url }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagecategorykey }}</td>
                                    <td class="pagecategorykey">{{ CustomUrlUserPageProduct.pagesubcategorykey }}</td>
                                    <td class="index_flg">{{ CustomUrlUserPageProduct.index_flg }}</td>
                                    <td><a href="{{ url('admin_customurluserpage_edit', { id : CustomUrlUserPageProduct.id }) }}" >編集</a></td>
                                    <td><a href="{{ url('admin_customurluserpage_delete', {'id' : CustomUrlUserPageProduct.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="カスタムURL情報を削除してもよろしいですか？">削除</a></td>
                                    <td class="icon_edit">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                            {% if loop.first == false %}
                                                <li>
                                                    <a href="{{ url('admin_customurluserpage_rank_up', {id: CustomUrlUserPageProduct.id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a>
                                                </li>
                                            {% endif %}
                                            {% if loop.last == false %}
                                                <li>
                                                    <a href="{{ url('admin_customurluserpage_rank_down', {id: CustomUrlUserPageProduct.id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a>
                                                </li>
                                            {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                               </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% endblock %}
