{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'shiro8_faq_group'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}FAQグループ編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        $(function() {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("div.tableish > .item_box").each(function() {
                oldRanks.push(this.dataset.rank);
            });
            // rsort
            oldRanks.sort(function(a,b){return a - b;}).reverse();

            $("div.tableish").sortable({
                items: '> .item_box',
                cursor: 'move',
                update: function(e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    updateRank();
                }
            });

            var updateRank = function() {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("div.tableish > .item_box").each(function() {
                    newRanks[this.dataset.categoryId] = oldRanks[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_shiro8_faq_group_rank_move') }}',
                    type: 'POST',
                    data: newRanks,
                }).done(function(data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                }).fail(function() {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                });
            };

        });
    </script>
{% endblock %}

{% block main %}
    <div id="category_wrap" class="row">
        <div id="list_box" class="col-md-9">
            <div id="list_box__body" class="box">
                <div id="bread_crumb_box" class="box-header">
                    <div id="bread_crumb_box__body" class="box-title box-title-category">
                        <a href="{{ url('admin_shiro8_faq_group') }}">全FAQグループ</a>
                        
                    </div>
                </div>
                <div id="edit_box" class="box-body">
                    <div id="edit_box__body" class="row">
                        <div id="edit_box__body_inner" class="col-md-9">
                            <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="{% if TargetFaqGroup.id %}{{ path('admin_shiro8_faq_group_edit', {id: TargetFaqGroup.id}) }}{% else %}{{ url('admin_shiro8_faq_group') }}{% endif %}" enctype="multipart/form-data">
                                <div class="form-group">
                                    
                                        <div class="col-md-12 form-inline">
                                            {{ form_widget(form._token) }}
                                            {{ form_widget(form.faq_group_name, {attr: {placeholder: 'FAQグループ名を入力'}}) }}
                                            {{ form_errors(form.faq_group_name) }}
                                            <button class="btn btn-default btn-sm" type="submit">FAQグループ作成</button>
                                        </div>
                                </div>
                                <div class="extra-form">
                                    {% for f in form.getIterator %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            <div class="col-md-12 form-group">
                                                {{ form_label(f) }}
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                {% if FaqGroups|length > 0 %}
                    <div id="sortable_list" class="box-body no-padding no-border">
                        <div id="sortable_list_box" class="sortable_list">
                            <div id="sortable_list_box__list" class="tableish">

                                {% for FaqGroup in FaqGroups %}

                                <div id="sortable_list__item--{{ FaqGroup.id }}" class="item_box tr" data-rank="{{ FaqGroup.rank }}" data-category-id="{{ FaqGroup.id }}">
                                    <div class="icon_sortable td">
                                        <svg class="cb cb-ellipsis-v"> <use xlink:href="#cb-ellipsis-v" /></svg>
                                    </div>
                                    <div id="sortable_list__item_body--{{ FaqGroup.id }}" class="item_pattern td">
                                        <a href="{{ url('admin_shiro8_faq',  { faq_group_id : FaqGroup.id }) }}">{{ FaqGroup.faq_group_name}}</a>
                                    </div>
                                    <div id="sortable_list__item_menu_box--{{ FaqGroup.id }}" class="icon_edit td">
                                        <div id="sortable_list__item_menu_toggle--{{ FaqGroup.id }}" class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul id="sortable_list__menu--{{ FaqGroup.id }}" class="dropdown-menu dropdown-menu-right">
                                                {% if FaqGroup.id != TargetFaqGroup.id %}
                                                    <li><a href="{{ url('admin_shiro8_faq_group_edit', {id: FaqGroup.id}) }}">編集</a></li>
                                                {% else %}
                                                    <li><a>編集中</a></li>
                                                {% endif %}

                                                {% if FaqGroup.Shiro8Faqs|length > 0 %}
                                                    <li><a title="子FAQが存在するため削除できません。">削除</a></li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{ url('admin_shiro8_faq_group_delete', {id: FaqGroup.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                                            削除
                                                        </a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item_box -->
                                {% endfor %}

                            </div>
                        </div>
                    </div><!-- /.box-body -->
            {% else %}
                <div id="list_box" class="box-body no-padding">
                    <div id="list_box__not_find_category" class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p>データはありません</p></div>
                </div><!-- /.box-body -->
            {% endif %}
            <!-- ▲ データがある時 ▲ -->
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>
{% endblock %}
