<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ error_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon.ico">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/style.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/default.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><!-- for original theme CSS -->

</head>
<body>
<div id="wrapper" class="error_page">
    <div id="contents" class="theme_main_only">
        <div class="container-fluid inner">
            <div id="main">
                <div class="container-fluid">
                    <div class="message_box">
                        <div class="row no-padding">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="icon"><svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg></div>
                                <h1>{{ error_title }}</h1>
                                <p>{{ error_message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ app.config.front_urlpath }}/js/vendor/jquery-1.11.3.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><\/script>')</script>
<script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script>
    $(function () {
        $.ajax({
            url: '{{ app.config.front_urlpath }}/img/common/svg.html',
            type: 'GET',
            dataType: 'html',
        }).done(function(data){
            $('body').prepend(data);
        }).fail(function(data){
        });
    });
</script>

</body>
</html>