{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'plg_tag_ex'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}タグ編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        $(function() {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("div.tableish > .item_box").each(function() {
                oldRanks.push(this.dataset.rank);
            });
            // rsort
            oldRanks.sort(function(a,b){return a - b;}).reverse();

            $("div.tableish").sortable({
                items: '> .item_box',
                cursor: 'move',
                update: function(e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    updateRank();
                }
            });

            var updateRank = function() {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("div.tableish > .item_box").each(function() {
                    newRanks[this.dataset.tagId] = oldRanks[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_product_tag_ex_rank_move') }}',
                    type: 'POST',
                    data: newRanks,
                }).done(function(data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                }).fail(function() {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                });
            };

            // カテゴリツリー開閉
            // 初期表示
            $("#category_tree li ul").css("display", "none");
            // 現在地まで拓く
            $("#category_tree li.active")
                    .parents("ul")
                    .css("display", "");

            // クリックでひらく
            $("#category_tree li svg").on("click", function(){
                $(this).parent().find("ul").slideToggle(100);
            });
        });
    </script>
{% endblock %}

{% block main %}
    {% set TargetTag = TargetTagEx.Tag %}
    <div id="category_wrap" class="row">
        <div id="list_box" class="col-md-12">
            <div id="list_box__body" class="box">
                <div id="bread_crumb_box" class="box-header">
                    <div id="bread_crumb_box__body" class="box-title" style="font-weight: normal;">
                        <span style="font-weight: bold;">全てのタグ</span>
                    </div>
                </div>
                <div id="edit_box" class="box-body">
                    <div id="edit_box__body" class="row">
                        <div id="edit_box__body_inner" class="col-md-9">
                            <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="{% if TargetTag.id %}{{ path('admin_product_tag_ex_edit', {id: TargetTag.id}) }}{% else %}{{ url('admin_product_tag_ex') }}{% endif %}" enctype="multipart/form-data">
                                <div class="form-group">
                                        <div class="col-md-12 form-inline">
                                            {{ form_widget(form._token) }}
                                            {{ form_widget(form.name, {attr: {placeholder: 'タグ名称を入力'}}) }}
                                            {{ form_errors(form.name) }}
                                            {{ form_widget(form.color1, {attr: {placeholder: 'タグ設定１を入力'}}) }}
                                            {{ form_widget(form.color2, {attr: {placeholder: 'タグ設定２を入力'}}) }}
                                            {{ form_widget(form.color3, {attr: {placeholder: 'タグ設定３を入力'}}) }}

                                            <button class="btn btn-default btn-sm" type="submit">タグ作成</button>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                {% if TagExs|length > 0 %}
                    <div id="sortable_list" class="box-body no-padding no-border">
                        <div id="sortable_list_box" class="sortable_list">
                            <div id="sortable_list_box__list" class="tableish">

                                {% for TagEx in TagExs %}
                                {% set Tag = TagEx.Tag %}

                                <div id="sortable_list__item--{{ Tag.id }}" class="item_box tr" data-rank="{{ Tag.rank }}" data-tag-id="{{ Tag.id }}">
                                    <div class="icon_sortable td">
                                        <svg class="cb cb-ellipsis-v"> <use xlink:href="#cb-ellipsis-v" /></svg>
                                    </div>
                                    <div id="sortable_list__item_body--{{ Tag.id }}" class="item_pattern td">
                                        <a href="{{ url('admin_product_tag_ex_edit', {id: Tag.id}) }}">{{ Tag.name }}</a>::{{ TagEx.color1 }}-{{ TagEx.color2 }}-{{ TagEx.color3 }}
                                    </div>
                                    <div id="sortable_list__item_menu_box--{{ Tag.id }}" class="icon_edit td">
                                        <div id="sortable_list__item_menu_toggle--{{ Tag.id }}" class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul id="sortable_list__menu--{{ Tag.id }}" class="dropdown-menu dropdown-menu-right">
                                                {% if Tag.id != TargetTag.id %}
                                                    <li><a href="{{ url('admin_product_tag_ex_edit', {id: Tag.id}) }}">編集</a></li>
                                                {% else %}
                                                    <li><a>編集中</a></li>
                                                {% endif %}
                                                <li>
                                                    <a href="{{ url('admin_product_tag_ex_delete', {id: Tag.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete">
                                                        削除
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item_box -->
                                {% endfor %}

                            </div>
                        </div>
                    </div><!-- /.box-body -->
            {% else %}
                <div id="list_box" class="box-body no-padding">
                    <div id="list_box__not_find_tag" class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p>データはありません</p></div>
                </div><!-- /.box-body -->
            {% endif %}
            <!-- ▲ データがある時 ▲ -->
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>
{% endblock %}
