{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<div class="box accordion form-horizontal">
    <div class="box-header toggle">
        <h3 class="box-title">セット商品設定<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
    </div><!-- /.box-header -->
    <div class="box-body accpanel">
        {{ form_row(form.setproduct_maker) }}
        {{ form_row(form.setproduct_sim_flg) }}
        {{ form_row(form._token) }}
    </div>
</div>

