{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{#
[コンテンツ]-[おすすめ商品]-[一覧・検索]画面
#}

{% extends 'default_frame.twig' %}

{% set menus = ['content', 'admin_fdroute'] %}

{% block title %}ルートFD管理{% endblock %}
{% block sub_title %}ルートFD内容設定{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap-datetimepicker.min.css">
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/moment-ja.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/bootstrap-datetimepicker.min.js"></script>

{% endblock javascript %}

{% block main %}
<form name="search_form" id="search_form" method="post" action="">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-arrow">
                    <h3 class="box-title"><span class="normal"><strong>{{ totalItemCount }} 件</strong> が該当しました</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>

                                    <th>conditions</th>
                                    <th>route</th>
                                    <th>route pos</th>
                                    <th>fd</th>
                                    <th>rank</th>
                                    <th>編集</th>
                                    <th>削除</th>
                                    <th>並び替え</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for FdRouteProduct in pagination %}
                                <tr>
                                    <td class="fdroute_product_id">{{ FdRouteProduct.id }}</td>


                                    <td class="condition">{{ FdRouteProduct.conditions|nl2br }}</td>
                                    <td class="route_string">{{ FdRouteProduct.route_string }}</td>
                                    <td class="route_string_pos">{{ FdRouteProduct.route_string_pos }}</td>
                                    <td class="fd_string">{{ FdRouteProduct.fd_string }}</td>
                                    <td class="rank">{{ FdRouteProduct.rank }}</td>
                                    <td><a href="{{ url('admin_fdroute_edit', { id : FdRouteProduct.id }) }}" >編集</a></td>
                                    <td><a href="{{ url('admin_fdroute_delete', {'id' : FdRouteProduct.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="おすすめ情報を削除してもよろしいですか？">削除</a></td>
                                    <td class="icon_edit">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                            {% if loop.first == false %}
                                                <li>
                                                    <a href="{{ url('admin_fdroute_rank_down', {id: FdRouteProduct.id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a>
                                                </li>
                                            {% endif %}
                                            {% if loop.last == false %}
                                                <li>
                                                    <a href="{{ url('admin_fdroute_rank_up', {id: FdRouteProduct.id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a>
                                                </li>
                                            {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                               </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
        <a href="{{ url('admin_fdroute_new') }}" class="btn btn-primary btn-block btn-lg">ルートFDを新規登録</a>
    </div>

</div>
    <p>設定方法</p>
    <p>PC,SP分で優先順位をつけて登録します</p>
    <p>PCの場合、device=PC,[パラメータ=値]</p>
    <p>SPの場合、device=SP,[パラメータ=値]</p>
    <p>デフォルト、device=PC,*</p>
    <p>デフォルト、device=SP,*</p>

    <p>例：　device=PC,ac_source=google     FD: 000-000-000</p>
    <p>例：　表示されるFD　000-000-000,ルート WEB_SP_G_</p>
</form>
{% endblock %}