{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'admin_fdroute'] %}

{% block title %}FDルート管理{% endblock %}
{% block sub_title %}FDルートパターン設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme searchProductModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
$(function() {
    $('#showSearchProductModal').on('click', function() {
            var tbody = $('#searchProductModalList tbody');
            tbody.children().remove();
        }
    );

    $('#searchProductModalButton').on('click', function() {
        var tbody = $('#searchProductModalList tbody');
        tbody.children().remove();
        $.ajax({
            type: 'POST',
            dataType: 'html',
            data: {
                'id' : $('#admin_search_product_id').val(),
                'category_id' : $('#admin_search_product_category_id').val()
            },
            url: '{{ url('admin_fdroute_search_product') }}',
            success: function(data) {
                // モーダルに結果を書き出し.
                $('#searchProductModalList').html(data);

            },
            error: function() {
                console.log('search product failed.');
            }
        });
    });
});

var setModeAndSubmit = function(mode, keyname, keyid) {
    document.form1.mode.value = mode;
    if(keyname !== undefined && keyname !== "" && keyid !== undefined && keyid !== "") {
        document.form1[keyname].value = keyid;
    }
    document.form1.submit();
    return false;
};
</script>
{% endblock javascript %}

{% block main %}
<div class="row" id="aside_wrap">
    <form role="form" name="form1" id="form1" method="post">
    <input type="hidden" name="mode" value="">
    {{ form_widget(form._token) }}
        <div class="col-md-9">
            <div class="box accordion">
                <div class="box-header toggle active">
                    <h3 class="box-title">おすすめ商品情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel" style="display: block;">
                    <div class="order_list form-horizontal">
                        {# おすすめ商品ID #}
                        <div class="form-group" style="display: none;">
                            {{ form_label(form.id) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.id) }}
                                {{ form_errors(form.id) }}
                            </div>
                        </div>

                        {# コメント #}
                        <div class="form-group">
                            {{ form_label(form.conditions) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.conditions) }}
                                {{ form_errors(form.conditions) }}
                            </div>
                        </div>
                        {# コメント #}
                        <div class="form-group">
                            {{ form_label(form.route_string) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.route_string) }}
                                {{ form_errors(form.route_string) }}
                            </div>
                        </div>                        
                        {# コメント #}
                        <div class="form-group">
                            {{ form_label(form.route_string_pos) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.route_string_pos) }}
                                {{ form_errors(form.route_string_pos) }}
                            </div>
                        </div>                        
                        {# コメント #}
                        <div class="form-group">
                            {{ form_label(form.fd_string) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.fd_string) }}
                                {{ form_errors(form.fd_string) }}
                            </div>
                        </div>                        

                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <button class="btn btn-primary btn-block btn-lg" onclick="return setModeAndSubmit('commit');">登録</button>
                    {% if form.id is not null %}
                        <p><a href="{{ url('admin_fdroute_list') }}">戻る</a></p>
                    {% endif %}
                </div>
            </div>

        </div><!-- /.col -->
    </form>
</div>
{% endblock %}

{% block modal %}
{#
// =======================================
// 商品検索モーダル ダイアログ表示
// =======================================
#}
<div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modal-close" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">商品検索</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form_widget(searchProductModalForm.id, { attr : { placeholder : '商品名' } } ) }}
                </div>
                <div class="form-group">
                    {{ form_widget(searchProductModalForm.category_id) }}
                </div>
                <div class="form-group">
                    <button type="button" id="searchProductModalButton" class="btn btn-primary" >検索</button>
                </div>
                <div class="form-group" id="searchProductModalList">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
