{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'product_master'] %}

{% block title %}商品規格拡張情報管理{% endblock %}
{% block sub_title %}商品規格拡張登録(商品規格){% endblock %}

{% if not_product_class  %}
    {% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% else %}
    {% form_theme classForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload.css">
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload-ui.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
    .ui-state-highlight {
        height: 110px;
        width:130px;
        display: inline-block;
        border: dashed 1px #ccc;
        background: #fff;
    }

    .ui-state-default img{
        width:100%;
    }
    .table-striped > tbody > tr > td:nth-child(5) {
        width:720px;
    }
    .col-lg-10 {
        width: 100%;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        width:130px;
        display: inline-block;
    }
    .col-sm-offset-2 {
    margin-left: 0px;
    }
</style>
{% endblock stylesheet %}

{% block javascript %}
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/vendor/jquery.ui.widget.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.iframe-transport.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-process.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    $(function() {

        // 無制限チェックボックス初期表示
        $('input[id$=_stock_unlimited]').each(function() {
            var check = $(this).prop('checked');
            var index = $(this).attr('id').match(/\d+/);

            if (check) {
                $('#form_product_classes_' + index +'_stock').prop('disabled', true);
            } else {
                $('#form_product_classes_' + index +'_stock').prop('disabled', false);
            }
        });



        // 無制限チェックボックス
        $('input[id$=_stock_unlimited]').click(function() {
            var check = $(this).prop('checked');
            var index = $(this).attr('id').match(/\d+/);

            if (check) {
                $('#form_product_classes_' + index +'_stock').prop('disabled', true);
            } else {
                $('#form_product_classes_' + index +'_stock').prop('disabled', false);
            }
        });

        // 登録チェックボックス
        $('#add-all').click(function() {
            var addall = $('#add-all').prop('checked');
            if (addall) {
                $('input[id$=_add]').prop('checked', true);
            } else {
                $('input[id$=_add]').prop('checked', false);
            }
        });

        // 1行目をコピーボタン
        $('#copy').click(function() {
            var check = $('#form_product_classes_0_add').prop('checked');
            $('input[id$=_add]').prop('checked', check);

            var product_code = $('#form_product_classes_0_code').val();
            $('input[id$=_code]').val(product_code);

            var stock = $('#form_product_classes_0_stock').val();
            $('input[id$=_stock]').val(stock);

            var stock_unlimited = $('#form_product_classes_0_stock_unlimited').prop('checked');
            // 無制限チェックボックス
            $('input[id$=_stock_unlimited]').each(function() {
                var index = $(this).attr('id').match(/\d+/);

                if (stock_unlimited) {
                    $(this).prop('checked', true);
                    $('#form_product_classes_' + index +'_stock').prop('disabled', true);
                } else {
                    $(this).prop('checked', false);
                    $('#form_product_classes_' + index +'_stock').prop('disabled', false);
                }
            });

            var sale_limit = $('#form_product_classes_0_sale_limit').val();
            $('input[id$=_sale_limit]').val(sale_limit);

            var price01 = $('#form_product_classes_0_price01').val();
            $('input[id$=_price01]').val(price01);

            var price02 = $('#form_product_classes_0_price02').val();
            $('input[id$=_price02]').val(price02);

            var delivery_fee = $('#form_product_classes_0_delivery_fee').val();
            $('input[id$=_delivery_fee]').val(delivery_fee);

            var delivery_date = $('#form_product_classes_0_delivery_date').val();
            $('select[id$=_delivery_date]').val(delivery_date);

            var tax_rate = $('#form_product_classes_0_tax_rate').val();
            $('input[id$=_tax_rate]').val(tax_rate);

            var product_type = $('#form_product_classes_0_product_type_1').prop('checked');
            if (product_type) {
                $('input[id$=_product_type_1]').prop('checked', true);
            } else {
                $('input[id$=_product_type_2]').prop('checked', true);
            }

        });


        $('#delete').click(function() {
            if (confirm('一度削除したデータは、元に戻せません。\n削除しても宜しいですか？')) {
                $('#mode').val('delete');
                $('#product-class-form').submit();
                return true;
            }
            return false;
        });


    });
</script>

{% if classForm  %}

<script>
{#

{{ '//images dump'}}
{% for product_class_form in classForm.product_classes %}
//loop pc classes
{% for key,tes in product_class_form %}
////loop pc class obj ky
//{{ key }} ::::{{ tes.vars.name }} :: {{ tes.vars.label }}::{% for img in tes.vars.value %}{{ img }}{% endfor %}
{% if tes.vars.name == 'images' %}
//{{ tes.vars.name }} :: {{ tes.vars.label }}::{{ tes.vars.value.0}}
{% endif %}
{% endfor %}
////end loop pc class obj
////loop pc class vars

////loop pc class vars.value target obj property
//price01:: {{ product_class_form.vars.value.price01 }}

//images::{% for img in product_class_form.vars.value.images %}{{ img }}{% endfor %}

////loop pc class vars keys
{% for key,tes in product_class_form.vars %}
//{{ key }}
{% endfor %}
////end loop pc class vars

{% endfor %}
//end loop pc classes vars

#}




{% for product_class_form in classForm.product_classes %}
{#

{% for tes in product_class_form %}
{{ '//images 1234999999999999'}}
{% for img in tes.images %}
//{{ img }}
{% endfor %}
{% endfor %}

#}
//row {{product_class_form.vars.name}}
$(function() {

    $("#thumb--{{ product_class_form.vars.name }}").sortable({
        cursor: 'move',
        opacity: 0.7,
        placeholder: 'ui-state-highlight',
        update: function (event, ui) {
            updateRank{{ product_class_form.vars.name }}();
        }
    });
    var proto_img = ''
            + '<li class="ui-state-default">'
            + '<img src="__path__" />'
            + '<a class="delete-image">'
            + '<svg class="cb cb-close">'
            + '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-close"></use>'
            + '</svg>'
            + '</a>'
            + '</li>';
    var proto_add = '{{ form_widget(product_class_form.add_images.vars.prototype) }}';
    var proto_del = '{{ form_widget(product_class_form.delete_images.vars.prototype) }}';

    {% for image in product_class_form.images %}
    //image}}
    var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_save_urlpath }}/{{ image.vars.value }}'));
    var $widget = $('{{ form_widget(image) }}');
    $widget.val('{{ image.vars.value }}');
    $("#thumb--{{ product_class_form.vars.name }}").append($img.append($widget));
    {% endfor %}

    {% for add_image in product_class_form.add_images %}
    var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_temp_urlpath }}/{{ add_image.vars.value }}'));
    var $widget = $('{{ form_widget(add_image) }}');
    $widget.val('{{ add_image.vars.value }}');
    $("#thumb--{{ product_class_form.vars.name }}").append($img.append($widget));
    {% endfor %}
    
    {% for delete_image in product_class_form.delete_images %}
    $("#thumb--{{ product_class_form.vars.name }}").append('{{ form_widget(delete_image) }}');
    {% endfor %}
    
    var hideSvg{{ product_class_form.vars.name }} = function () {
        if ($("#thumb--{{ product_class_form.vars.name }} li").length > 0) {
            $("#icon_no_image--{{ product_class_form.vars.name }}").css("display", "none");
        } else {
            $("#icon_no_image--{{ product_class_form.vars.name }}").css("display", "");
        }
    };
    var updateRank{{ product_class_form.vars.name }} = function () {
        $("#thumb--{{ product_class_form.vars.name }} li").each(function (index) {
            $(this).find(".rank_images").remove();
            filename = $(this).find("input[type='hidden']").val();
            $rank = $('<input type="hidden" class="rank_images" name="rank_images[]" />');
            $rank.val(filename + '//' + parseInt(index + 1));
            $(this).append($rank);
        });
    }
    hideSvg{{ product_class_form.vars.name }}();
    updateRank{{ product_class_form.vars.name }}();
    // 画像削除時
    var count_del = 0;
    $("#thumb--{{ product_class_form.vars.name }}").on("click", ".delete-image", function () {
        var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
        var src = $(this).prev().attr('src')
                .replace('{{ app.config.image_temp_urlpath }}/', '')
                .replace('{{ app.config.image_save_urlpath }}/', '');
        $new_delete_image.val(src);
        $("#thumb--{{ product_class_form.vars.name }}").append($new_delete_image);
        $(this).parent("li").remove();
        hideSvg{{ product_class_form.vars.name }}();
        updateRank{{ product_class_form.vars.name }}();
        count_del++;
    });
    var count_add = {{ product_class_form.add_images|length|default(0) }};
    $('#{{ product_class_form.product_image.vars.id }}').fileupload({
        url: "{{ url('admin_productclassex_image_add') }}",
        type: "post",
        dataType: 'json',
        done: function (e, data) {
            $('#progress--{{ product_class_form.vars.name }}').hide();
            $.each(data.result.files, function (index, file) {
                var path = '{{ app.config.image_temp_urlpath }}/' + file;
                var $img = $(proto_img.replace(/__path__/g, path));
                var $new_img = $(proto_add.replace(/__name__/g, count_add));
                $new_img.val(file);
                $child = $img.append($new_img);
                $('#thumb--{{ product_class_form.vars.name }}').append($child);
                count_add++;
            });
            hideSvg{{ product_class_form.vars.name }}();
            updateRank{{ product_class_form.vars.name }}();
        },
        fail: function (e, data) {
            alert('アップロードに失敗しました。');
        },
        always: function (e, data) {
            $('#progress--{{ product_class_form.vars.name }}').hide();
            $('#progress--{{ product_class_form.vars.name }} .progress-bar').width('0%');
        },
        start: function (e, data) {
            $('#progress--{{ product_class_form.vars.name }}').show();
        },
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 10000000,
        maxNumberOfFiles: 10,
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress--{{ product_class_form.vars.name }} .progress-bar').css(
                    'width',
                    progress + '%'
            );
        },
        processalways: function (e, data) {
            if (data.files.error) {
                alert("画像ファイルサイズが大きいか画像ファイルではありません。");
            }
        }
    });
    // 画像アップロード
    $('#file_upload--{{ product_class_form.vars.name }}').on('click', function () {
        $('#{{ product_class_form.product_image.vars.id }}').click();
    });
});
//row end 
{% endfor %}
</script>
{% endif %}

{% endblock javascript %}


{% block main %}
<div id="edit_info_wrap" class="row">
    <div id="edit_info_box" class="col-md-12">
        <form class="form-inline" method="post" action="{{ url('admin_productclassex', {id : Product.id}) }}">
            <div id="edit_info_box__body" class="box">
                <div id="edit_info_box__header" class="box-header">
                    商品名 : <h3 class="box-title">{{ Product.name }}</h3>
                </div><!-- /.box-header -->
                <div id="edit_info_box__body" class="box-body" style="padding-bottom: 30px;">
                    {% if not_product_class  %}
                        {{ form_widget(form._token) }}
                        <button type="submit" class="btn btn-primary pull-right">商品規格の設定</button>
                        <div id="edit_info_box__class_name" class="form-horizontal">
                            {{ form_widget(form.class_name1) }}
                            {{ form_errors(form.class_name1) }}
                            {{ form_widget(form.class_name2) }}
                            {{ form_errors(form.class_name2) }}

                        </div>
                        <div class="extra-form form-inline row">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    <div class="col-sm-12 form-group">
                                    {{ form_label(f) }}
                                    {{ form_widget(f) }}
                                    {{ form_errors(f) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <button type="button" id="delete" class="btn btn-default pull-right" name="mode" value="delete">商品規格拡張を初期化</button>
                        <div id="edit_info_box__class_name">
                          規格1 : <strong>{{ class_name1 }}</strong>
                          {% if class_name2 is not null %}
                          <br>規格2 : <strong>{{ class_name2 }}</strong>
                          {% endif %}
                        </div>
                    {% endif %}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </form>

    </div><!-- /.col -->
</div>


{% if classForm is not null %}
<form id="product-class-form" class="form-inline" method="post" action="{{ url('admin_productclassex_edit', { id : Product.id}) }}">
{{ form_widget(classForm._token) }}
<div id="result_wrap" class="row">
    <div id="result_box" class="col-md-12">
        <div id="result_box__body" class="box">
            {% if classForm.product_classes|length > 0 and has_class_category_flg %}
            <div id="result_box__header" class="box-header">
                <h3 class="box-title">検索結果 <span class="normal"><strong>{{ classForm.product_classes|length }} 件</strong> が該当しました</span></h3>
                {% if error is not null %}
                    <div id="result_box__error" class="text-danger">{{ error.message }}</div>
                {% endif %}
            </div><!-- /.box-header -->
            <div id="result_box__body_inner" class="box-body no-padding">
                <div id="result_box__list_box" class="table_list">
                    <div id="result_box__list" class="table-responsive with-border table-menu table-responsive-overflow">
                        <table class="table table-striped">
                            <thead>
                                <tr id="result_box__header">
                                    <th id="result_box__header_add" class="text-center">登録<input id="add-all" type="checkbox" value="0"></th>
                                    <th id="result_box__header_class_category1">規格1</th>
                                    <th id="result_box__header_class_category2">規格2</th>
                                    <th id="result_box__header_code">商品コード</th>
                                    <th id="result_box__header_product_image">商品画像</br><span class="small">620px以上推奨</span></th>
                                    <th id="result_box__header_stock">在庫数</th>
                                    <th id="result_box__header_sale_limit">販売制限数</th>
                                    <th id="result_box__header_price01">通常価格(円)</th>
                                    <th id="result_box__header_price02">販売価格(円)</th>
                                    {% if BaseInfo.option_product_delivery_fee %}
                                    <th id="result_box__header_delivery_fee">送料</th>
                                    {% endif %}
                                    <th id="result_box__header_delivery_date">お届け可能日</th>
                                    {% if BaseInfo.option_product_tax_rule %}
                                    <th id="result_box__header_tax_rate">販売税率</th>
                                    {% endif %}
                                    <th id="result_box__header_product_type">商品種別</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product_class_form in classForm.product_classes %}
                            <tr  id="result_box__item--{{ product_class_form.vars.name }}">
                                <td id="result_box__add--{{ product_class_form.vars.name }}" class="text-center">
                                    {{ form_widget(product_class_form.add) }}
                                </td>
                                <td id="result_box__class_category1--{{ product_class_form.vars.name }}">
                                    {{ product_class_form.vars.value.ClassCategory1 }}
                                    {{ form_widget(product_class_form.ClassCategory1) }}
                                </td>
                                <td id="result_box__class_category2--{{ product_class_form.vars.name }}">
                                    {{ product_class_form.vars.value.ClassCategory2 }}
                                    {{ form_widget(product_class_form.ClassCategory2) }}
                                </td>
                                <td id="result_box__code--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.code) }}
                                    {{ form_errors(product_class_form.code) }}
                                </td>
                                <td id="result_box__product_image--{{ product_class_form.vars.name }}">
                                    <div id="detail_box__image--{{ product_class_form.vars.name }}" class="form-group">
                                        <label class="col-sm-2 control-label" for="admin_productclassex_image">
                                        </label>
                                        <div id="detail_files_box--{{ product_class_form.vars.name }}" class="col-sm-9 col-lg-10">
                                            <div class="photo_files" id="drag-drop-area--{{ product_class_form.vars.name }}">
                                                <svg id="icon_no_image--{{ product_class_form.vars.name }}" class="cb cb-photo no-image"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-photo"></use></svg>
                                                <ul id="thumb--{{ product_class_form.vars.name }}" class="clearfix"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group marB30">
                                        <div id="detail_box__file_upload--{{ product_class_form.vars.name }}" class="col-sm-offset-2 col-sm-9 col-lg-10 ">

                                            <div id="progress--{{ product_class_form.vars.name }}" class="progress progress-striped active" style="display:none;">
                                                <div class="progress-bar progress-bar-info"></div>
                                            </div>

                                            {{ form_widget(product_class_form.product_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                            <a id="file_upload--{{ product_class_form.vars.name }}" class="with-icon">
                                                <svg class="cb cb-plus"> <use xlink:href="#cb-plus" /></svg>
                                            </a>

                                        </div>
                                    </div>                                    
                                    {# form_widget(product_class_form.product_image) #}
                                    {# form_errors(product_class_form.product_image) #}
                                </td>
                                <td id="result_box__stock--{{ product_class_form.vars.name }}">
                                    {% if  product_class_form.vars.value.stock_unlimited %}
                                    {# 在庫無制限時のdisable #}
                                    {% endif %}
                                    {{ form_widget(product_class_form.stock) }}
                                    {{ form_errors(product_class_form.stock) }}
                                    {{ form_widget(product_class_form.stock_unlimited) }}
                                    {{ form_errors(product_class_form.stock_unlimited) }}
                                </td>
                                <td id="result_box__sale_limit--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.sale_limit) }}
                                    {{ form_errors(product_class_form.sale_limit) }}
                                </td>
                                <td id="result_box__price01--{{ product_class_form.vars.name }}" class="price_cell">
                                    {{ form_widget(product_class_form.price01, {'attr': {'class': 'notmoney'}}) }}
                                    {{ form_errors(product_class_form.price01) }}
                                </td>
                                <td id="result_box__price02--{{ product_class_form.vars.name }}" class="price_cell">
                                    {{ form_widget(product_class_form.price02, {'attr': {'class': 'notmoney'}}) }}
                                    {{ form_errors(product_class_form.price02) }}
                                </td>
                                {% if BaseInfo.option_product_delivery_fee %}
                                <td id="result_box__delivery_fee--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.delivery_fee, {'attr': {'class': 'notmoney'}}) }}
                                    {{ form_errors(product_class_form.delivery_fee) }}
                                </td>
                                {% endif %}
                                <td id="result_box__delivery_date--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.delivery_date) }}
                                    {{ form_errors(product_class_form.delivery_date) }}
                                </td>
                                {% if BaseInfo.option_product_tax_rule %}
                                <td id="result_box__tax_rate--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.tax_rate) }}
                                    {{ form_errors(product_class_form.tax_rate) }}
                                </td>
                                {% endif %}
                                <td id="result_box__product_type--{{ product_class_form.vars.name }}">
                                    {{ form_widget(product_class_form.product_type) }}
                                    {{ form_errors(product_class_form.product_type) }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
            {% else %}
            <div id="result_box__error_message" class="box-header">
                <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
            </div><!-- /.box-header -->
            {% endif %}
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>

{% if classForm.product_classes|length > 0 and has_class_category_flg %}
<div id="edit_box__footer" class="row">
    <div id="edit_box__button_menu" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
{% if not_product_class  %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="mode" value="edit">登録</button>
{% else %}
        <input id="mode" type="hidden" name="mode">
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="mode" value="update">更新</button>
{% endif %}
        <p><a href="{{ url('admin_product_page', { page_no : app.session.get('eccube.admin.product.search.page_no')|default('1') } ) }}?resume=1">前のページに戻る</a></p>
    </div>
</div>
</form>
{% endif %}

{% endif %}



{% endblock %}
