{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
    <div class="bottom_bnr_box">
        <a class="bottom_bnr" href="./"></a>
    </div>
{% endblock %}

{% block sbm_top_bnr_box %}
    <div class="top_bnr_box">
        <div class="mainWidth">
            <div class="top_bnr_inner">
                <p class="top_bnr_name"><span>iPhone 7・iPhone 7Plus</span>発売</p>
                <a class="top_bnr_link" href="./">詳細を見る</a>
            </div>
        </div>
    </div>
{% endblock %}

{%block main%}
        <h1 class="main_title0 mainWidth">キャンペーン一覧</h1>

        <div class="main_body mainWidth clr">
            
            <h2 class="main_title1">当ストア限定キャンペーン</h2>
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/text01.png" height="217" width="600" alt=""></figure>
            
            <h3 class="campaign_title">最大40,000円キャッシュバック</h3>
            <p class="campaign_mes">当ストアよりソフトバンクケータイをお申し込み、使用感等のレビューを書いていただいた方が対象！</p>

            <ul class="campaign_list">

                <li>
                    <a href=""><figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/img/campaign/bnr01.png" height="217" width="600" alt=""></figure></a>
                    <h3 class="campaign_list_name">学割モンスターU18</h3>
                    <p class="campaign_list_mes">18歳以下の方なら通話もデータもコミコミ 2,980円／月からスマートフォンをご利用いただけます。</p>
                </li>

                <li>
                    <a href=""><figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/img/campaign/bnr02.png" height="217" width="600" alt=""></figure></a>
                    <h3 class="campaign_list_name">スマホデビュー割</h3>
                    <p class="campaign_list_mes">ケータイ、みまもりケータイまたはあんしんファミリーケータイから機種変更で、iPhone、スマートフォンを購入された場合、毎月の通信料から2,100円割引するキャンペーンです。</p>
                </li>
            </ul>


            <h2 class="main_title1">ソフトバンク公式キャンペーン</h2>

            <ul class="campaign_list mb45">
                <li>
                    <a href=""><figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/img/campaign/bnr03.png" height="217" width="600" alt=""></figure></a>
                    <h3 class="campaign_list_name">おうち割</h3>
                    <p class="campaign_list_mes">おうち割は自宅のインターネット、でんきなど、おうちに関するさまざまなサービスをソフトバンク携帯電話とセットで契約することでおトク・便利になるサービスです。</p>
                </li>
                <li>
                    <a href=""><figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/img/campaign/bnr01.png" height="217" width="600" alt=""></figure></a>
                    <h3 class="campaign_list_name">学割モンスターU18</h3>
                    <p class="campaign_list_mes">18歳以下の方なら通話もデータもコミコミ 2,980円／月からスマートフォンをご利用いただけます。</p>
                </li>

                <li>
                    <a href=""><figure class="campaign_list_img"><img src="{{ app.config.front_urlpath }}/img/campaign/bnr02.png" height="217" width="600" alt=""></figure></a>
                    <h3 class="campaign_list_name">スマホデビュー割</h3>
                    <p class="campaign_list_mes">ケータイ、みまもりケータイまたはあんしんファミリーケータイから機種変更で、iPhone、スマートフォンを購入された場合、毎月の通信料から2,100円割引するキャンペーンです。</p>
                </li>
            </ul>

        </div>
{%endblock%}