{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
{% endblock javascript %}


{% block main %}
    <h1 class="page-heading">お申込情報の入力（店舗受け取りの方）</h1>
    <div id="cart" class="container-fluid">
        <div id="cart_box" class="row">
            <div id="cart_box__body" class="col-md-10 col-md-offset-1">
                <div id="cart_box__flow_state" class="flowline step3">
                    <ul id="cart_box__flow_state_list" class="clearfix">
                        <li class="active"><span class="flow_number">1</span><br>お客様情報</li>
                        <li><span class="flow_number">2</span><br>入力内容確認</li>
                        <li><span class="flow_number">3</span><br>完了</li>
                    </ul>
                </div>

                {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
                {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                    {% set idx = loop.index0 %}
                    {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                    {% else %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
                    <div id="cart_box__message_error--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}

                {% if Cart.CartItems|length > 0 %}
                <div id="cart_item_list" class="cart_item table">
                    <div class="thead">
                        <ol id="cart_item_list__header">
                            <li id="cart_item_list__header_product_detail">商品内容</li>
                        </ol>
                    </div>
                    <div id="cart_item_list__body" class="tbody">

                        {% for CartItem in Cart.CartItems %}
                            {% set ProductClass = CartItem.Object %}
                            {% set Product = ProductClass.Product %}

                            <div id="cart_item_list__item" class="item_box tr">
                                <div class="td table">
                                    <div id="cart_item_list__product_image" class="item_photo">
                                        <a  target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                            <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}" />
                                        </a>
                                    </div>
                                    <dl class="item_detail">
                                        <dt id="cart_item_list__product_detail" class="item_name text-default">
                                            <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>カラー：{{CartItem.Color}}
                                        </dt>
                                        <dd id="cart_item_list__class_category" class="item_pattern small">
                                            {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                {{ ProductClass.ClassCategory1.ClassName }}：{{ ProductClass.ClassCategory1 }}
                                            {% endif %}
                                            {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                <br>{{ ProductClass.ClassCategory2.ClassName }}：{{ ProductClass.ClassCategory2 }}
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div><!--/item_box-->
                        {% endfor %}

                    </div>
                </div><!--/cart_item-->

                {% else %}
                <div id="cart_box__message" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>現在カート内に商品はございません。
                    </p>
                </div>
                {% endif %}

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
    <div id="detail_wrap" class="container-fluid">
        <div id="detail_box__body" class="row">
            <div id="detail_box__body_inner" class="col-md-10 col-md-offset-1">
                <form method="post" action="{{ url('plugin_customentryform_formshopentry', {id : id}) }}">
                    {{ form_widget(form._token) }}
                    <div id="detail_box__body" class="dl_table">
                        <dl id="detail_box__name">
                            <dt>{{ form_label(form.name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name.name01, {attr: {placeholder: '例：ソフトバンク太郎'}}) }}
                                {{ form_widget(form.name.name02) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </dd>
                        </dl>
                        <dl id="detail_box__kana">
                            <dt>{{ form_label(form.kana) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01, {attr: {placeholder: '例：ソフトバンクタロウ'}}) }}
                                {{ form_widget(form.kana.kana02, {attr: {placeholder: '例：ソフトバンクタロウ'}}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__address_detail">
                            <dt>{{ form_label(form.address) }}</dt>
                            <dd>
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>
                        
                        <dl id="detail_box__tel">
                            <dt>{{ form_label(form.tel) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr: {placeholder: '例：08012341234'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__email">
                            <dt>{{ form_label(form.email) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier">
                            <dt>{{ form_label(form.usecarrier) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.usecarrier.usecarrier) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier">
                            <dt>{{ form_label(form.contents) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.contents) }}
                                </div>
                            </dd>
                        </dl>
                    </div>

                    {% for f in form %}
                        {% if f.vars.name matches '[^plg*]' %}
                            <div class="extra-form dl_table">
                                {{ form_row(f) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div id="detail_box__footer" class="row no-padding">
                        <div id="detail_box__button_menu" class="btn_group col-sm-offset-4 col-sm-4">
                            <p id="detail_box__next_button">
                                <button type="submit" class="btn btn-primary btn-block">次へ</button>
                            </p>
                            <p id="detail_box__back_button"><a href="{{ url('cart') }}" class="btn btn-info btn-block">戻る</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>    
{% endblock %}
