{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% if app.session.flashBag.has('eccube.admin.success') %}
    {% for message in app.session.flashBag.get('eccube.admin.success') %}
        <div class="row">
            <div class="alert alert-success alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if app.session.flashBag.has('eccube.admin.info') %}
    {% for message in app.session.flashBag.get('eccube.admin.info') %}
        <div class="row">
            <div class="alert alert-info alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.warning') %}
    {% for message in app.session.flashBag.get('eccube.admin.warning') %}
        <div class="row">
            <div class="alert alert-warning alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.danger') %}
    {% for message in app.session.flashBag.get('eccube.admin.danger') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('eccube.admin.error') %}
    {% for message in app.session.flashBag.get('eccube.admin.error') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissable alert-section">
                <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">&times;</span></button>
                <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans }}
            </div>
        </div>
    {% endfor %}
{% endif %}
