{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}パスワード変更{% endblock %}

{% block main %}
<div class="row" id="aside_wrap">
    <div id="detail_wrap" class="col-md-9">
        <div id="detail_box__body" class="box">
            <div id="detail_box__body_header" class="box-header">
                <h3 class="box-title">パスワード変更</h3>
            </div><!-- /.box-header -->
            <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" enctype="multipart/form-data">
                <div id="detail_box__body_inner" class="box-body">
                    {{ form_row(form._token) }}
                    {{ form_row(form.current_password, {type: 'password', value: '' }) }}
                    {{ form_row(form.change_password.first, {type: 'password', value: '' }) }}
                    {{ form_row(form.change_password.second, {type: 'password', value: '' }) }}
                    <div class="extra-form">
                        {% for f in form.getIterator %}
                            {% if f.vars.name matches '[^plg*]' %}
                                {{ form_row(f) }}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div><!-- /.box-body -->
            </form>
        </div><!-- /.box -->
    </div><!-- /.col -->

    <div id="common_box" class="col-md-3">
        <div class="col_inner" id="aside_column">
            <div id="common_button_box" class="box no-header">
                <div id="common_button_box__body" class="box-body">
                    <div id="common_button_box__button_area" class="row text-center">
                        <div id="common_button_box__insert_button" class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                            <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">変更</button>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.col -->
</div>
{% endblock %}
