<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ error_title }} - EC-CUBE管理画面</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ app.config.admin_urlpath }}/assets/img/favicon.ico">
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/bootstrap.min.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/dashboard.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- ▼ #main ▼ -->
    <div id="main">
        <div class="container-fluid">
            <div class="message_box">
                <div class="row no-padding">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="icon"><svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg></div>
                        <h1>{{ error_title }}</h1>
                        <p>{{ error_message }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="btn_group col-sm-offset-4 col-sm-4">
                        <a href="{{ url('admin_homepage') }}"><p><button type="button" class="btn btn-info btn-block">ログインページへ</button></p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ▲ #main ▲ -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery-1.11.3.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><\/script>')</script>
<script src="{{ app.config.admin_urlpath }}/assets/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script>
    $(function () {
        $.ajax({
            url: '{{ app.config.admin_urlpath }}/assets/img/svg.html',
            type: 'GET',
            dataType: 'html',
        }).done(function(data){
            $('body').prepend(data);
        }).fail(function(data){
        });
    });
</script>

</body>
</html>
