{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'login_frame.twig' %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <div class="login-box">
        {{ include('alert.twig') }}
        <div class="login-box-body">
            <p class="login-logo2"><img src="{{ app.config.admin_urlpath }}/assets/img/logo2.png" width="106"></p>
            <form name="form1" id="form1" method="post" action="{{ path(app.config.admin_route ~ '_login_check') }}">
                {% if app.session.flashBag.has('eccube.admin.login.target.path') %}
                    {% for targetPath in app.session.flashBag.get('eccube.admin.login.target.path') %}
                        <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                    {% endfor %}
                {% endif %}
                <div class="form-group has-feedback">
                    {{ form_widget(form.login_id, {'id': 'login_id', 'attr': {'style' : 'ime-mode: disabled;', 'size': 20, 'class': 'box25', 'placeholder': 'ログインID', 'autofocus': true}}) }}
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.password, {'attr': {'size': 20, 'class': 'box25', 'placeholder': 'パスワード'}}) }}
                </div>
                {% if error %}
                <div class="form-group">
                    <span class="text-danger">{{ error|trans|raw }}</span>
                </div>
                {% endif %}
                <p class="btn_area"><button type="submit" class="btn btn-primary btn-block btn-lg">ログイン</button></p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {{ form_rest(form) }}
            </form>
        </div><!-- /.login-box-body -->
        <p class="text-center"><small class="copyright">Copyright &copy; 2000-{{ "now"|date("Y") }} LOCKON CO.,LTD. All Rights Reserved.</small></p>
    </div><!-- /.login-box -->

{% endblock %}
