{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{# ★ ページャここから ★ #}
<div id="pagination_wrap" class="box-footer">
    <div class="text-center">
        <ul class="pagination">
            {% if pages.previous is defined %}
                <li class="pagenation__item-previous"><a href="{{ path(routes, app.request.query.all|merge({'page_no': pages.previous})) }}" aria-label="Previous"><span aria-hidden="true">前へ</span></a></li>
            {% endif %}
            
            {% for page in pages.pagesInRange %}
                <li{% if page == pages.current %} class="pagenation__item active"{% endif %}><a href="{{ path(routes, app.request.query.all|merge({'page_no': page})) }}"><span>{{ page }}</span></a></li>
            {% endfor %}
            
            {% if pages.next is defined %}
                <li class="pagenation__item-next"><a href="{{ path(routes, app.request.query.all|merge({'page_no': pages.next})) }}" aria-label="Next"><span aria-hidden="true">次へ</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{# ★ ページャここまで ★ #}
