{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% extends 'default_frame.twig' %}

{% set menus = ['product', 'product_option'] %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}オプション管理{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .ui-state-highlight {
            height: 148px;
            border: dashed 1px #ccc;
            background: #fff;
        }
        .btn {
            white-space: normal;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/vendor/jquery.ui.widget.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.iframe-transport.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-process.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        function changeAction(action) {
            document.form1.action = action;
        }

        $(function () {

            $(function () {
                var oldRanks = [];
                // 画面の中のrank一覧を保持
                $("div.tableish > .item_box").each(function () {
                    oldRanks.push(this.dataset.rank);
                });
                // rsort
                oldRanks.sort(function(a, b) {
                    return a - b;
                }).reverse();

                $("div.tableish").sortable({
                    items: '> .item_box',
                    cursor: 'move',
                    update: function (e, ui) {
                        $("body").append($('<div class="modal-backdrop in"></div>'));
                        updateRank();
                    }
                });

                var updateRank = function () {
                    // 並び替え後にrankを更新
                    var newRanks = {};
                    var i = 0;
                    $("div.tableish > .item_box").each(function () {
                        newRanks[this.dataset.optionCategoryId] = oldRanks[i];
                        i++;
                    });

                $.ajax({
                        url: '{{ url('admin_product_option_category_rank_move') }}',
                        type: 'POST',
                        data: newRanks,
                    }).done(function (data) {
                        console.log(data);
                        $(".modal-backdrop").remove();
                    }).fail(function () {
                        console.log('fail');
                        $(".modal-backdrop").remove();
                    });
                };
            });

            $("#thumb").sortable({
                cursor: 'move',
                opacity: 0.7,
                placeholder: 'ui-state-highlight',
                update: function (event, ui) {
                    updateRank();
                }
            });

            var proto_img = ''
                    + '<li class="ui-state-default">'
                    + '<img src="__path__" />'
                    + '<a class="delete-image">'
                    + '<svg class="cb cb-close">'
                    + '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-close">'
                    + '</svg>'
                    + '</a>'
                    + '</li>';
            var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
            var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';
        {% for image in form.images %}
                var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_save_urlpath }}/{{ image.vars.value }}'));
                var $widget = $('{{ form_widget(image) }}');
                $widget.val('{{ image.vars.value }}');
                $("#thumb").append($img.append($widget));
        {% endfor %}
        {% for add_image in form.add_images %}
                var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_temp_urlpath }}/{{ add_image.vars.value }}'));
                var $widget = $('{{ form_widget(add_image) }}');
                $widget.val('{{ add_image.vars.value }}');
                $("#thumb").append($img.append($widget));
        {% endfor %}
        {% for delete_image in form.delete_images %}
                $("#thumb").append('{{ form_widget(delete_image) }}');
        {% endfor %}
                var hideSvg = function () {
                    if ($("#thumb li").length > 0) {
                        $("#icon_no_image").css("display", "none");
                    } else {
                        $("#icon_no_image").css("display", "");
                    }
                };
                hideSvg();
                // 画像削除時
                var count_del = 0;
                $("#thumb").on("click", ".delete-image", function () {
                    var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
                    var src = $(this).prev().attr('src')
                            .replace('{{ app.config.image_temp_urlpath }}', '')
                            .replace('{{ app.config.image_save_urlpath }}', '');
                    $new_delete_image.val(src);
                    $("#thumb").append($new_delete_image);
                    $(this).parent("li").remove();
                    hideSvg();
                    count_del++;
                });
                var count_add = {{ form.add_images|length|default(0) }};
                        $('#{{ form.option_image.vars.id }}').fileupload({
                    url: "{{ url('admin_product_option_category_image_add') }}",
                    type: "post",
                    dataType: 'json',
                    done: function (e, data) {
                        $('#progress').hide();
                        $.each(data.result.files, function (index, file) {
                            var path = '{{ app.config.image_temp_urlpath }}/' + file;
                            var $img = $(proto_img.replace(/__path__/g, path));
                            var $new_img = $(proto_add.replace(/__name__/g, count_add));
                            $new_img.val(file);
                            $child = $img.append($new_img);
                            $('#thumb').empty();
                            $('#thumb').append($child);
                            count_add++;
                        });
                        hideSvg();
                    },
                    fail: function (e, data) {
                        alert('アップロードに失敗しました。');
                    },
                    always: function (e, data) {
                        $('#progress').hide();
                        $('#progress .progress-bar').width('0%');
                    },
                    start: function (e, data) {
                        $('#progress').show();
                    },
                    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                    maxFileSize: 10000000,
                    maxNumberOfFiles: 10,
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .progress-bar').css(
                                'width',
                                progress + '%'
                                );
                    },
                    processalways: function (e, data) {
                        if (data.files.error) {
                            alert("画像ファイルサイズが大きいか画像ファイルではありません。");
                        }
                    }
                });
                // 画像アップロード
                $('#file_upload').on('click', function () {
                    $('#{{ form.option_image.vars.id }}').click();
                });
            });

    </script>
{% endblock javascript %}

{% block main %}
    
<form role="form" name="form1" id="form1" method="post" action="" novalidate>
    {{ form_widget(form._token) }}

    <div class="row" id="aside_wrap">
        <div class="col-md-9">

            <div class="box form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">選択肢管理：{{ Option.manage_name }}</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">
                            {{ form.children.name.vars.label }}
                        </label>
                        <div class="col-sm-9 col-lg-10">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">{{ form.children.value.vars.label }}</label>
                        <div class="col-sm-9 col-lg-10">
                            {{ form_errors(form.value) }}
                            {{ form_widget(form.value) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">{{ form.children.delivery_free_flg.vars.label }}</label>
                        <div class="col-sm-9 col-lg-10">
                            {{ form_errors(form.delivery_free_flg) }}
                            {{ form_widget(form.delivery_free_flg) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">{{ form.children.description.vars.label }}</label>
                        <div class="col-sm-9 col-lg-10">
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label" for="admin_product_product_image">画像</label>
                        <div class="col-sm-9 col-lg-10">
                            <div class="photo_files" id="drag-drop-area">
                                <svg id="icon_no_image" class="cb cb-photo no-image"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-photo"></svg>
                                <ul id="thumb" class="clearfix"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group marB30">
                        <div class="col-sm-offset-2 col-sm-9 col-lg-10 ">

                            <div id="progress" class="progress progress-striped active" style="display:none;">
                                <div class="progress-bar progress-bar-info"></div>
                            </div>

                            {{ form_widget(form.option_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                            <a id="file_upload" class="with-icon">
                                <svg class="cb cb-plus"> <use xlink:href="#cb-plus" /></svg>ファイルをアップロード
                            </a>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">{{ form.children.disable_flg.vars.label }}</label>
                        <div class="col-sm-9 col-lg-10 padT07">
                            {{ form_errors(form.disable_flg) }}
                            {{ form_widget(form.disable_flg) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">{{ form.children.init_flg.vars.label }}</label>
                        <div class="col-sm-9 col-lg-10 padT07">
                            {{ form_errors(form.init_flg) }}
                            {{ form_widget(form.init_flg) }}
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->


            <div class="box accordion">
                <div class="box-header toggle active">
                    <h3 class="box-title">登録済選択肢<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div>

                <div class="accpanel" style="display: block;">
                        <div class="sortable_list">
                            <div class="tableish">
                            {% if OptionCategories|length > 0 %}
                                {% for OptionCategory in OptionCategories %}
                                    <div class="item_box tr" data-option-category-id="{{ OptionCategory.id }}" data-rank="{{ OptionCategory.rank }}">
                                        <div class="icon_sortable td">
                                            <svg class="cb cb-ellipsis-v"><use xlink:href="#cb-ellipsis-v" /></svg>
                                        </div>

                                        <div class="item_pattern td">
                                            {{ OptionCategory.name }}
                                        </div>

                                        <div class="icon_edit td">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown">
                                                    <svg class="cb cb-ellipsis-h"><use xlink:href="#cb-ellipsis-h" /></svg>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        {% if TargetOptionCategory.id !=  OptionCategory.id %}
                                                            <a href="{{ url('admin_product_option_category_edit', {option_id : OptionCategory.option_id, id : OptionCategory.id }) }}">編集</a>
                                                        {% else %}
                                                            <a>編集中</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        <a href="{{ url('admin_product_option_category_delete', {option_id : OptionCategory.option_id, id: OptionCategory.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="この選択肢を削除してもよろしいですか？">削除</a>
                                                    </li>
                                                    {% if loop.first == false %}
                                                        {% set up_action = url('admin_product_option_category_up', {option_id : OptionCategory.option_id, id: OptionCategory.id}) %}
                                                        <li>
                                                            <a href="?" onclick="changeAction('{{ up_action }}');
                                                                    document.form1.submit();
                                                                    return false;">
                                                                上へ
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if loop.last == false %}
                                                        {% set down_action = url('admin_product_option_category_down', {option_id : OptionCategory.option_id, id: OptionCategory.id}) %}
                                                        <li>
                                                            <a href="?" onclick="changeAction('{{ down_action }}');
                                                                    document.form1.submit();
                                                                    return false;">
                                                                下へ
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div><!-- /.dropdown -->
                                        </div><!-- /.icon_edit -->
                                    </div><!-- /.item_box -->
                                {% endfor %}

                            {% else %}
                                <div class="box-body no-padding">
                                    <div class="data-empty">
                                        <svg class="cb cb-inbox"><use xlink:href="#cb-inbox" /></svg>
                                        <p>データはありません</p>
                                    </div>
                                </div><!-- /.box-body -->
                            {% endif %}

                        </div><!-- /.tableish -->
                    </div><!-- /.sortable_list -->
                </div><!-- /.accpanel -->
            </div><!-- /.box -->
        </div><!-- /.col-md-9 -->


        <div id="aside_column" class="col-md-3">
            <div class="col_inner">
                <div class="box no-header">
                    <div class="box-body">

                        <div class="row text-center" style="margin-bottom: 20px;">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">この内容で登録</button>
                            </div>
                        </div>

                        <div class="row text-center" style="margin-bottom: 20px;">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <a href="{{ url('admin_product_option_category_new', {option_id: Option.id}) }}" class="btn btn-default btn-block btn-lg">新規登録</a>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                {% set back_action = url('admin_product_option') %}
                                <a href="?" class="btn btn-default btn-block btn-lg" onclick="changeAction('{{ back_action }}'); document.form1.submit(); return false;">オプション一覧に戻る</a>
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col_inner -->
        </div><!-- /#aside_column -->

    </div><!-- /#aside_wrap -->


</form>
{% endblock %}