@charset "utf-8";



/*---------------------------------------------------------

 ---------------------------------------------------------*/

.campaign_btn{
    position: relative;
    display: block;
    width: 250px;
    padding: 10px 0;
    border: 1px solid #565765;
    border-radius: 3px;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #565765;
}
.campaign_btn:before{
    transform: rotate(45deg);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 9px;
    height: 9px;
    border-bottom: 2px solid #565765;
    border-left: 2px solid #565765;
    margin: auto 0;
}
.campaign_mainimg{
    margin: 0 0 25px;
}
.campaign_title{
    font-size: 18px;
    color: #2a98cd;
    margin: 0 0 10px;
}
.campaign_subTitle{
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 10px;
}
.campaign_mes{
    margin: 0 0 45px;
}
.campaign_text{
    margin: 0 0 30px;
}
.campaign_list{
    margin: 0 0 55px;
}
.campaign_list li{margin: 0 0 30px;}
.campaign_list a{
    display: block;
    min-height: 125px;
    position: relative;
    z-index: 1;
    padding: 4px 0 0 220px;
}
.campaign_list_img{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.campaign_list_name{
    font-size: 18px;
    color: #2a98cd;
    margin: 0 0 8px;
}
.campaign_list_mes{
    line-height: 1.8;
}

.campaign_detailList{
    margin: 0 0 25px 15px;
}
.campaign_detailList li{
    margin: 0 0 5px;
}
.campaign_detailList_name{
    font-size: 18px;
    margin: 0 0 8px;
}


.note{
		margin-left: 1em;
		color: #999999;
		font-size: 13px;
		text-indent: -1em;
}
.list_decimal{
		list-style: decimal;
}
.list_decimal li{
		margin-left: 1.3em;
}
.link_pageBack {
    display: inline-block;
    border: #565765 solid 1px;
    border-radius: 3px;
    margin: 0 9px;
    padding: 8px 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.link_pageBack:before {
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 1px solid #565765;
    border-bottom: 1px solid #565765;
    width: 8px;
    height: 8px;
    top: 41%;
    left: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
