@charset "utf-8";


.main .container-fluid{
    padding: 0;
    width: auto;
    max-width: none;
}
#main, .main_l{
    width: auto !important;
    float: none;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/


.home_top{
    background: #F4B300 url(../img/home/topimg01.jpg) 50% 0 no-repeat;
    background-size: auto 100%;
}
.home_top_inner{
    background: #F4B300 url(../img/home/topimg01.jpg) 50% 0 no-repeat;
    background-size: auto 100%;
    padding-top: 30px;
    /* padding-bottom: 30px; */
    height: 439px;
}
.home_top_box{
    width: 208px;
    background: #fff;
}
.home_top_cart{
    display: block;
    background: #E6E6E6 url(../common/img/icon02.png) 32px 50% no-repeat;
    color: #565765;
    font-size: 16px;
    text-align: center;
    padding: 9px 0 9px 21px;
    font-weight: bold;
}
.home_top_box_ko{
    padding: 21px 14px;
}
.home_top_btn01,
.home_top_btn02{
    display: block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.home_top_btn01:hover,
.home_top_btn02:hover{
    color: #fff;
}
.home_top_btn01 span{
    font-size: 12px;
    display: block;
}

.home_top_btn01{
    background: #FF4E62;
    padding: 23px 0 23px 21px;
    margin: 0 0 16px;
}
.home_top_btn02{
    background: #58C140;
    padding: 18px 0 18px 21px;
    margin: 0 0 35px;
}
.home_top_mes{
    font-size: 12px;
    text-align: center;
    border: solid 1px #ccc;
    padding: 14px 0;
    position: relative;
    z-index: 1;
}
.home_top_mes:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/top_icon.png) 0 0 no-repeat;
    width: 37px;
    height: 29px;
    top: -19px;
    right:0;
    left: 0;
    margin: 0 auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
 .home_sort{
    padding-top: 82px;
    padding-bottom: 71px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.home_item{}
.home_item_list{
    display: none;
}
.home_item_list.item_list_on{
    display: block;
}
.home_item_list li{
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ccc 1px;
    width: 332px;
    margin: 0 0 22px 20px;
}
.home_item_list li:nth-child(3n+1){
    margin-left: 0;
}
.home_item_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.home_item_no0,
.home_item_no1,
.home_item_no2,
.home_item_no3{
    position: absolute;
    z-index: 6;
    font-size: 20px;
    padding: 8px 0;
    width: 49px;
    text-align: center;
}
.home_item_no0{
    background: #565765;
    color: #fff;
}
.home_item_no1{
    background: #f1ff0f;
    color: #949a30;
}
.home_item_no2{
    background: #f3f3f3;
    color: #787985;
}
.home_item_no3{
    background: #eda353;
    color: #97632b;
}

.home_item_new{
    position: absolute;
    z-index: 6;
    font-size: 13px;
    color: #fff;
    background: #FF4E62;
    top: 9px;
    right: 9px;
    padding: 2px 9px;
    border-radius: 3px;
}
.home_item_name{
    position: relative;
    width: 215px;
    padding: 20px 0 5px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    z-index: 5;
}
.home_item_img{
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_product{
    text-align: center;
}
.home_item_product img{
    width: 72%;
}
.home_item_mes{
    font-size: 14px;
    text-align: center;
    display: table;
    width: 100%;
    margin: 0 0 23px;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_mes span{
    display: table-cell;
    padding: 9px 0;
    vertical-align: middle;

}
.home_item_m{
    background: #F7F8FC;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_m p{
    font-size: 15px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 12px;
    vertical-align: middle;
}
.home_item_m1{
    font-size: 24px;
    color: #ff4e62;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_m2{
    display: block;
    font-size: 12px;
}
.home_item_bg{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    z-index: 2;
}

.home_item_list a:hover .home_item_img{
    opacity: 0;
}
.home_item_list a:hover .home_item_bg{
    display: block;
    opacity: 1;
}
.home_item_list a:hover .home_item_mes{
    color: #fff;
    background: #000;
}
.home_item_list a:hover .home_item_m{
    background: #ff4e62;
    color: #fff;
}
.home_item_list a:hover .home_item_m1{
    color: #fff;
}
.home_item_list a:hover{
    opacity: 1;
}

/*---------------------------------------------------------
pickup
 ---------------------------------------------------------*/
.pickup{
    padding-top: 29px;
    padding-bottom: 80px;
}
.pickup_title{
    font-size: 19px;
    text-align: center;
    margin: 0 0 30px;
}
.pickup_title_en{
    text-align: center;
    margin: 0 0 19px;
}
.pickup_bnr{}
.pickup_bnr a{
    display: block;
    /* float: left; */
    /* margin: 0 0 0 16px; */
}

.pickup_bnr a:first-child{
    margin: 0 0 29px;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.splist{
    background:  #E9EAF1;
}
.splist_inner{}
.splist_list{
    padding: 40px 0;
}
.splist_list li{
    position: relative;
    z-index: 1;
    float: left;
    width: 505px;
    padding: 23px 36px 31px 160px;
    margin: 0 0 0 30px;
    background: #fff;
}
.splist_list li:first-child{
    margin-left: 0;
}
/* .splist_list li:first-child:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/line01.png) 0 0 repeat-y;
    width: 3px;
    top:0;
    bottom: 0;
    right: -50px;
} */
.splist_img{
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 21px;
}
.splist_title{
    font-size: 20px;
    margin: 0 0 8px;
}
.splist_mes{
    font-size: 14px;
    line-height: 1.8;
    margin: 0 0 17px;
}

/*---------------------------------------------------------
campaign
 ---------------------------------------------------------*/
.campaign{
    border-bottom: 1px solid #ccc;
}
.campaign_inner{
    padding-top: 54px;
    padding-bottom: 50px;
}
.campaign_text{
    float: left;
    width: 343px;
}
.campaign_title{
    font-size: 32px;
    margin: 0 0 12px;
    padding: 0 0 0 52px;
    letter-spacing: -3px;
    position: relative;
    z-index: 1;
}
.campaign_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/icon01.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 0;
}
.campaign_mes{
    line-height: 1.8;
    margin: 0 0 32px;
    letter-spacing: 1px;
}

.campaign_list{
    float: right;
    width: 640px;
    padding: 14px 0 0;
}
.campaign_list li{
    float: left;
    margin: 0 0 20px 20px;
}
.campaign_list li:nth-child(3n+1){
    margin-left: 0;
}
.campaign_list a{
    display: block;
}

/*---------------------------------------------------------
recommend
 ---------------------------------------------------------*/
.recommend{
    padding-top: 56px;
}

.recommend_text{
    float: left;
    width: 336px;
}
.recommend_title{
    font-size: 32px;
    margin: 0 0 11px;
    letter-spacing: -3px;
    padding: 0 0 0 51px;
    position: relative;
    z-index: 1;
}
.recommend_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/icon02.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 0;
}
.recommend_mes{
    line-height: 1.8;
    margin: 0 0 47px;
}

.recommend_list{
    float: right;
    width: 637px;
    padding: 14px 0 0;
}
.recommend_list li{
    float: left;
    margin: 0 0 24px 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.recommend_list li:nth-child(2n+1){
    margin-left: 0;
}
.recommend_list a{}

