@charset "utf-8";

.main .container-fluid{
    padding: 0;
    width: auto;
    max-width: none;
}
#main, .main_l{
    width: auto !important;
    float: none;
}




/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_top{
    margin-bottom: 41px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_sort{
}
.list_sort_title{
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 0 98px;
}
.list_sort_title span{
    background: #fff;
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 0 25px;
}
.list_sort_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-bottom:1px solid #5A5A5A;
    bottom: 22px;
    right:0;
    left: 0;
}
.list_sort .sort{
    padding-bottom: 76px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_body{
    margin-bottom: 55px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_item{
    border-top: #B0B1BB solid 1px;
    display: none;
}
.list_item_on{
    display: block;
}
.list_item li{
    float: left;
    width: 50%;
    padding: 46px 0;
    position: relative;
    z-index: 1;
}
.list_item li:nth-child(odd):before{
    content: "";
    z-index: 1;
    position: absolute;
    border-bottom:1px solid #B0B1BB;
    width: 200%;
    bottom: 0;
    left: 0;
}
.list_item li:nth-child(odd):after{
    content: "";
    z-index: 1;
    position: absolute;
    border-right:1px solid #B0B1BB;
    right: 0;
    top: 20px;
    bottom: 20px;
}

.list_item_name{
    width: 315px;
    font-size: 26px;
    text-align: center;
    margin: 0 auto 15px;
}
.list_item_new{
    font-size: 14px;
    background: #FF4E62;
    color: #fff;
    padding: 3px 7px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    top: -4px;
    margin: 0 14px 0 0;
}
.list_item_img{
    position: relative;
    z-index: 1;
    text-align: center;
}
.list_item_img img{
    width: auto;
    height: 255px;
}
.list_item_img div{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}
.list_item_img div:first-child{
    position: relative;
    opacity: 1;
}
.list_item_img .list_item_img_on{
    opacity: 1 !important;
}
.list_item_img .list_item_img_off{
    opacity: 0 !important;
}

.list_item_img_btn{
    position: absolute;
    z-index: 5;
    right: 21px;
    top: 39px;
    text-align: center;
}
.list_item_img_btn img{
    width: auto;
    height: 72px;
}
.list_item_img_btn div{
    overflow: hidden;
    border:solid 1px transparent;
    border-radius: 3px;
    margin: 2% 0;
    cursor: pointer;
}
.list_item_img_btn div:first-child{
    border:solid 1px #B0B1BB;
}
.list_item_img_btn .list_item_img_btn_on{
    border:solid 1px #B0B1BB !important;
}
.list_item_img_btn .list_item_img_btn_off{
    border:solid 1px transparent !important;
}

.list_item_mes{
    display: table;
    width: 100%;
    margin: 0 0 10px;
}
.list_item_mes span{
    font-size: 17px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 5px;
}
.list_item_m{
    display: table;
    width: 100%;
    margin: 0 0 26px;
}
.list_item_m p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px;
}
.list_item_m1{
    font-size: 32px;
    color: #ff4e62;
}
.list_item_m2{
    display: block;
    font-size: 14px;
    line-height: 1;
}
.list_item_btn{
    overflow: hidden;
}
.list_item_btn a,.list_item_btn button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    width: 180px;
    text-align: center;
    padding: 16px 0;
    display: block;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

.list_item_btn a:before,.list_item_btn button:before{
    left: auto;
    right: 15px;
}
.list_item_btn1{
    float: left;
    background: #fff;
    border: 1px solid #B0B1BB;
    /*#919191*/
    margin: 0 0 0 68px;
}
.list_item_btn1:before{
    border-color: #919191;
}
.list_item_btn2{
    float: right;
    background: #ff4e62;
    border: 1px solid #ff4e62;
    color: #fff;
    margin: 0 68px 0 0;
}
.list_item_btn2:hover{
    color: #fff;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_sw{
    margin-bottom: 53px;
}
.list_sw_img{
    margin: 0 0 60px;
}
.list_sw_mes{
    font-size: 12px;
    text-align: right;
    padding: 13px 0;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_bnr{
    margin-bottom: 177px;
}
.list_bnr_title{
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    line-height: 1.8;
    margin: 0 0 21px;
}
.list_bnr1{
    display: block;
    margin: 0 0 41px;
}
.ist_bnr_box{}
.list_bnr2{
    float: left;
    margin: 0 0 0 30px;
    display: block;
}
.list_bnr2:first-child{
    margin-left:0;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
