@charset "utf-8";


/*---------------------------------------------------------
    sec01
 ---------------------------------------------------------*/
.sec01 {
	color: #565765;
}
.sec01_box1 p {
    float: right;
    text-align: right;
    font-size: 12px;
}
.sec01_box2 {
	padding-top: 20px;
}
.sec01_item {
	margin-bottom: 46px;
}
.sec01_item h3 {
	font-size: 18px;
	margin-bottom: 26px;
}
.sec01_item p {
	font-size: 14px;
	line-height: 1.8;
}
.sec01_item a {
	color: #2a98cd;
	text-decoration: underline;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
