/*
 * Base structure
 */


html {
    font-size: 62.5%; /* 62.5%を指定すると「1.0 rem = 10px」 */
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.3;
    color: #444;
    -webkit-text-size-adjust: 100%;
    background: #EFF0F4;
}

ul,ol {
    list-style: none;
    padding: 0; margin: 0;
}
a:not([href]) {
    color: inherit;
}
a:not([href]):hover {
    text-decoration: none;
}

.wrapper {
    min-height:100%;
    position:static;
    overflow:hidden
}
.wrapper:before, .wrapper:after {
    content:" ";
    display:table
}
.wrapper:after {
    clear:both
}


.navbar:before,
.navbar:after { display: inline; content: normal;}
.navbar:after { clear: none;}

small, .small {
    font-size: 80%;
}
.copyright {
    font-size: 12px;
    font-size: 1.2rem;
}

/* svg icon */
#svgicon {
    display: block;
    width: 0; height: 0; overflow: hidden;
}
.cb {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}
.cb-images {
    width: 1.125em;
}
.icon-bg {
    fill: #d4d4d5;
}
.icon-with-bg {
    fill: #fff;
}
#file_upload:hover {
	opacity: 0.8;
	cursor: pointer;
}


/* table reset */

.table-responsive {
    border: 0 none;
}
.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
    background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #f9f9f9;
}



/*	module
============================ */

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.is-padding {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.no-border {
    border: 0 none !important;
}
.word-break{
    word-wrap: break-word
}

/* grid setting
============================ */

ul.col-2 li {
    float: left;
    width: 49%;
}
ul.col-2 li:first-child {
    margin-left: 2%;
}
ul.col-3 li {
    float: left;
    width: 32%;
    margin-left: 2%;
}
ul.col-3 li:first-child {
    margin-left: 0;
}

/*	color setting
============================ */

/* text */
.text-primary {
    color: #5D8FC2;
}
a.text-primary:hover {
    color: #3F6FAB;
}
.text-success {
    color: #18A689;
}
a.text-success:hover {
    color: #0D8969;
}
.text-info {
    color: #31708f;
}
a.text-info:hover {
    color: #245269;
}
.text-warning {
    color: #f0ad4e;
}
a.text-warning:hover {
    color: #E99133;
}
.text-danger {
    color: #DE5D50;
}
a.text-danger:hover {
    color: #CF3F34;
}

/* bg */
.bg-primary {
    color: #fff;
    background-color: #5D8FC2;
}
a.bg-primary:hover {
    background-color: #3F6FAB;
}
.bg-success {
    background-color: #dff0d8;
}
a.bg-success:hover {
    background-color: #c1e2b3;
}
.bg-info {
    background-color: #d9edf7;
}
a.bg-info:hover {
    background-color: #afd9ee;
}
.bg-warning {
    background-color: #fcf8e3;
}
a.bg-warning:hover {
    background-color: #f7ecb5;
}
.bg-danger {
    background-color: #f2dede;
}
a.bg-danger:hover {
    background-color: #e4b9b9;
}

/* btn */
.btn-default {
    color: #444;
    background-color: #F8F8F8;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #444;
    background-color: #F1F1F1;
    border-color: #ccc;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #F0F0F0;
    border-color: #C4CCCE;
    color: #a2a2a2;
}
.btn-default .badge {
    color: #fff;
    background-color: #444;
}
.btn-primary {
    color: #fff;
    background-color: #5d8fc2;
    border-color: #5d8fc2;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3F6FAB;
    border-color: #3F6FAB;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #5D8FC2;
    border-color: #5d8fc2;
}
.btn-primary .badge {
    color: #5D8FC2;
    background-color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #18A689;
    border-color: #18A689;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #0D8969;
    border-color: #0D8969;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #18A689;
    border-color: #18A689;
}
.btn-success .badge {
    color: #18A689;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #3DA8CF;
    border-color: #3DA8CF;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #E99133;
    border-color: #E99133;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #CF3F34;
    border-color: #CF3F34;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}
.btn-link {
    font-weight: normal;
    color: #5D8FC2;
    cursor: pointer;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}

/* label */
.label-default {
    background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}
.label-primary {
    background-color: #5D8FC2;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3F6FAB;
}
.label-success {
    background-color: #18A689;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #0D8969;
}
.label-info {
    background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #3DA8CF;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #E99133;
}
.label-danger {
    background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #CF3F34;
}

/* panel */
.panel-primary {
    border-color: transparent;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color:#5D8FC2;
    border-color: transparent;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-primary > .panel-heading .badge {
    color: #5D8FC2;
    background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #5D8FC2;
}
.panel-success {
    border-color: transparent;
}
.panel-success > .panel-heading {
    color: #18A689;
    background-color: #dff0d8;
    border-color: transparent;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-success > .panel-heading .badge {
    color: #dff0d8;
    background-color: #18A689;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: transparent;
}
.panel-info {
    border-color: transparent;
}
.panel-info > .panel-heading {
    color: #fff;
    background-color: #42B3E5;
    border-color: transparent;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-info > .panel-heading .badge {
    color: #fff;
    background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: transparent;
}
.panel-warning {
    border-color: transparent;
}
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #fcf8e3;
    border-color: transparent;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-warning > .panel-heading .badge {
    color: #fff;
    background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: transparent;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel-danger > .panel-heading {
    color: #fff;
    background-color: #DE5D50;
    border-color: transparent;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-danger > .panel-heading .badge {
    color: #fff;
    background-color: #DE5D50;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: transparent;
}

/* alert */

.alert-success {
    color:#fff;
    background-color:#18a689;
    border-color: transparent;
}
.alert-success hr {
    border-color: transparent;
}
.alert-success .alert-link {
    color:#fff
}
.alert-info {
    color:#fff;
    background-color:#42B3E5;
    border-color: transparent;
}
.alert-info hr {
    border-top-color:#a6e1ec
}
.alert-info .alert-link {
    color:#fff
}
.alert-warning {
    color:#fff;
    background-color:#f0ad4e;
    border-color: transparent;
}
.alert-warning hr {
    border-color: transparent;
}
.alert-warning .alert-link {
    color:#fff
}
.alert-danger {
    color:#fff;
    background-color:#DE5D50;
    border-color: transparent;
}
.alert-danger hr {
    border-color: transparent;
}
.alert-danger .alert-link {
    color:#fff
}


/*	button
============================ */

.btn {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 7px 12px;
    border-radius: 3px;
}

.btn .cb-angle-right {
	position: relative;
	top: -1px;
}

.btn-lg, .btn-group-lg > .btn {
    padding:16px;
    font-size:16px;
    font-size:1.6rem;
    line-height:1.33;
    font-weight: normal;
    border-radius: 3px;
}
.btn-sm, .btn-group-sm > .btn {
    padding:8px 10px;
    font-size:14px;
    font-size:1.4rem;
    line-height:1.5;
    border-radius: 3px;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 5px;
    font-size:12px;
    font-size:1.2rem;
    line-height:1.5;
    border-radius: 3px;
}


.close {
    color:#fff;
    text-shadow: none;
    filter:alpha(opacity=80);
    opacity:.8;
    font-size: 14px;
    font-size: 1.4rem;
}
.close:hover, .close:focus {
    color:#fff;
    filter:alpha(opacity=100);
    opacity:1
}
.alert-dismissable .close, .alert-dismissible .close {
	font-size: 13px;
}

.alert-close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

.modal-close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #ccc;
    text-shadow: 0 1px 0 #fff;
}

.btn_area2 {
    padding: 16px 0 48px;
}

/*	dl-horizontal
============================ */

.dl-horizontal dt {
	text-align: left;
	white-space: normal;
	padding-bottom: 8px;
}
.dl-horizontal dd {
	padding-bottom: 8px;
}

/*	icon
============================ */

.icon_edit {
    padding: 0 !important;
    text-align: right;
}
.icon_edit .dropdown > a {
    display: block;
    padding: 13px 16px;
}
.icon_edit .dropdown-menu {
    min-width: auto;
    margin-top: -10px;
}
.icon_edit .cb {
    color: #B8BEC4;
}

.with-icon .cb {
    margin-right: 5px;
	position: relative;
	top: -2px;
}

.with-icon .cb-plus {
    fill: #C0C0C0;
}

@media (min-width:768px) {
	.icon_edit .dropdown > a {
		padding: 13px 32px 13px 16px;
	}
}

/*	tableish
============================ */

.tableish-striped .tr:nth-child(2n+1) > .td, .tableish-striped .tr:nth-child(2n+1) > .th {
    background-color: #f9f9f9;
}

@media (min-width:768px) {
    .tableish {
        display: table;
        width: 100%;
    }
    .tableish .thead {
        display: table-header-group;
    }
    .tableish .tbody {
        display: table-row-group;
    }
    .tableish .tr {
        display: table-row;
    }
    .tableish .th,
    .tableish .td {
        display: table-cell
    }
}



/*	pagination
============================ */

.pagination > li > a, .pagination > li > span {
    margin-left:2px;
    line-height:1.42857143;
    color:#333;
    background-color:#EFF2F7;
    border: 0 none;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color:#2a6496;
    background-color:#eee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color:#fff;
    cursor:default;
    background-color:#18A689;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination >.disabled > a, .pagination >.disabled>a:hover, .pagination >.disabled>a:focus {
    background-color:#EFF2F7;
}


/*	form
============================ */

label {
    font-weight: normal;
}
.form-group .errormsg {
    margin-top: 3px;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}
dd.form-group .errormsg {
    margin-bottom: 0;
}

.form-control {
    border-radius:3px !important;
    box-shadow:none;
    border-color:#C4CCCE;
    font-size: 16px;
    font-size: 1.6rem;
    height: 40px;
    line-height: 1.5
}
textarea.form-control{
    min-height: 160px;
}
.form-control:focus {
    border-color:#3c8dbc !important;
    box-shadow:none
}
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus {
    box-shadow:none;
    background: none;
}
.has-success .form-control { border-color: #0D8969; background: #e7f6f3; }
.has-warning .form-control { border-color: #E99133; background: #fdf7ed; }
.has-error .form-control { border-color: #CF3F34; background: #FDF1F0; }

.has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: inherit;  background: #FDF1F0;
}

.has-error .help-block, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #de5d50;
}
.has-error .control-label {
    color: #444;
}

.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    margin-right: 5px;
}
.form-inline input + .btn {
    margin-left: 5px;
}

.form-control::-moz-placeholder {
    color:#bbb;
    opacity:1
}
.form-control:-ms-input-placeholder {
    color:#bbb
}
.form-control::-webkit-input-placeholder {
    color:#bbb
}
.form-control:not(select) {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.form-inline .form-group {
    margin-right: 8px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#drag-drop-area {
    border-radius:3px;
    box-shadow:none;
    border: 1px solid #C4CCCE;
    padding: 16px;
    text-align: center;
}

#drag-drop-area .no-image {
    fill: #d0d0d0;
    font-size: 60px;
}
#drag-drop-area {
}

#wysiwyg-area {
    height: 200px;
}

.alert-section {
    border-radius: 0;
    margin-top: -16px;
    position: relative;
}

/* form inline for smartphone */
@media (max-width:768px) {
    .form-inline .form-group {
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .form-control {
        display:inline-block;
        width:auto;
        vertical-align:middle
    }
    .form-inline .input-group {
        display:inline-table;
        vertical-align:middle
    }
    .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
        width:auto
    }
    .form-inline .input-group>.form-control {
        width:100%
    }
    .form-inline .control-label {
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .radio, .form-inline .checkbox {
        display:inline-block;
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .radio label, .form-inline .checkbox label {
        padding-left:0
    }
    .form-inline .radio input[type=radio], .form-inline .checkbox input[type=checkbox] {
        position:relative;
        margin-left:0
    }
    .form-inline .has-feedback .form-control-feedback {
        top:0
    }
}


/*	box
============================ */

.box {
    background: #fff;
    border-radius: 3px 3px 0 0;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.box .with-border {
    border-top: 1px solid #D1D8D9;
}
.box .with-border2 {
    border-top: 1px dotted #D1D8D9;
}
.box-header {
    display: block;
    padding: 12px 16px;
    position: relative;
}
.box-header.with-arrow {
    padding-right: 50px
}
.box-header::before, .box-header::after {
    content: " ";
    display: table;
}
.box-header::after {
    clear: both;
}
.box-header .icon_wrap {
    display: inline-block;
    width: 32px; height: 32px;
    line-height: 32px;
    background: #EFF2F7;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 16px; top: 12px;
    color: #666;
}
.box-header a.icon_wrap:hover {
    background: #f2f5f9;
}
.box-title {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    height: 32px; line-height: 32px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.box-title .normal {
    font-weight: normal;
    margin-left: 16px;
}
.box-body {
    padding: 16px;
    border-top: 1px solid #D1D8D9;
}
.box-body.dropdown-menu {
    border: 0 none;
    border-top: 1px solid #D1D8D9;
    position: relative;
    float: none;
}
.no-header .box-body {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 0 none;
}
.box-footer {
    background-color: #fff;
    border-top: 1px solid #D1D8D9;
    padding: 10px 16px;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}
.box .form-horizontal .accordion .toggle,
.box .form-horizontal .text_link {
    display: block;
    padding: 5px 0;
}
.form-horizontal .photo_files {
    border-radius:3px;
    border: 1px solid #C4CCCE;
    padding: 16px 16px 0 0;
    text-align: center;
    min-height: 100px;
}
.form-horizontal .photo_files li {
    width: 150px;
    float: left;
    margin-left: 16px;
    margin-bottom: 16px;
    position: relative;
}
.form-horizontal .photo_files li .delete-image {
    display: block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -13px;
    top: -13px;
    border: 1px solid #C4CCCE;
    background: rgba(248, 248, 248, 0.9);
    color: #666666;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.form-horizontal .photo_files li a .cb {
    position: relative;
    top: -3px;
}
.form-horizontal .photo_files li a:hover {
    color: #cdcdcd;
	cursor: pointer;
}
.form-horizontal .photo_files li img {
    max-width: 100%;
}

.add_item li {
    float: left;
    width: 80px; height: 80px;
    overflow: hidden;
    background: #efefef;
    margin-right: 16px;
}
.add_item li a {
    display: block;
    width: 80px; height: 80px;
    line-height: 80px;
    font-size: 0;
    border: 1px solid #C4CCCE;
    color: #C1C1C1;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
}
.add_item li a .cb {
    font-size: 30px;
    vertical-align: middle;
}
.add_item li a:hover {
    color: #cdcdcd;
}
.add_item li img {
    max-width: 100%;
    vertical-align: middle;
}

.tag_list {
    font-size: 12px;
    font-size: 1.2rem;
    padding-top: 5px;
}
.tag_list li {
    display: inline;
    color: #444;
    margin-right: 10px;
}
.tag_list button.close,
.tag_list button.close:hover {
    background-color: #B8BEC4;
    width: 15px; height: 15px;
    border-radius: 50%;
}
.tag_list button.close .cb,
.tag_list button.close:hover .cb {
    fill: #fff;
    font-size: 10px;
    font-size: 1rem;
    position: relative;
    top: -1px;
}

.tag_list .alert-dismissible {
    padding: 0;
}
.tag_list .alert-dismissable .close, .tag_list .alert-dismissible .close {
    position: static;
    float: none;
    vertical-align: middle;
    margin-right: 3px;
}

.btn_area .btn + p {
    margin-top: 16px;
}

/* item_box */

.item_box > div {
	border-top: 1px solid #d1d8d9;
    padding: 8px 16px;
}
.item_box .item_photo img {
	width: 100%;
    max-width: 80px;
}
.item_box .icon_edit {
    position: absolute;
    top: 8px; right: 16px;
    text-align: right;
    font-size: 20px;
    font-size: 2rem;
}
.item_box .item_detail textarea {
    margin-top: 8px;
    margin-bottom: 8px;
}
.no-header > .box-body .item_box:first-child {
    border-top: 0 none;
}

.item_list table {
    margin-bottom: 0;
    border-top: 1px solid #d1d8d9;
}
.item_list .item_box {
    border-top: 1px solid #d1d8d9;
    position: relative;
}

.item_list .tableish {
	display: table;
	width: 100%;
}
.item_list .tableish .thead {
	display: table-header-group;
}
.item_list .tableish .tbody {
	display: table-row-group;
}
.item_list .tableish .tr {
	display: table-row;
}
.item_list .tableish .th,
.item_list .tableish .td {
	display: table-cell;
	vertical-align: middle;
}
.item_list .item_box .item_id {
	width: 1em;
}
.item_list .item_box .item_photo {
    width: 80px;
	padding-right: 0;
}
.item_list .item_box .item_id + .item_photo {
	padding-left: 0;
}
.item_list .item_box .item_detail {
	font-size: 14px;
	font-size: 1.4rem;
}
.item_list .item_box .icon_edit {
    position: static;
    right: auto;top: auto;
}


.order_list .item_box {
    border-top: 1px dotted #d1d8d9;
    position: relative;
}
.order_list .item_box .icon_edit {
	top: 16px;
}
.order_list .item_name_area {
	padding-right: 66px;
	padding-bottom: 8px;
}
.order_list .item_box input.form-control {
	margin: 0;
}
.order_list .item_subtotal {
	margin: 8px 0;
	padding: 8px 15px;
}
.order_list .item_subtotal span {
	margin-right: 10px;
}

@media (max-width:768px) {
	.order_list  .item_box .item_quantity input {
		width: 66.6667%;
	}
}
.order_list .btn_area {
    padding: 0 0 8px;
}
.order_list .item_box > div {
    vertical-align: top;
	border-top: 0 none;
}
.order_list .item_box .item_tax .input-group {
    width: 80px;
}
.order_list .btn_area li {
    min-width: 160px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.order_list .btn_area li .btn {
    min-width: 160px;
}

.order_list .with-border2 {
    padding-top: 16px;
}

/* sortable_list */

.sortable_list table {
    margin-bottom: 0;
}
.sortable_list .item_box {
    border-top: 1px solid #d1d8d9;
    position: relative;
    padding-left: 1em;
}
.sortable_list .item_box > div {
	border-top: 0 none;
}
.sortable_list .icon_sortable {
    position: absolute;
    left: 0; top: 50%;
    margin-top: -1.5em;
    padding: 0.8em 0.3em;
    width: 4%;
    color: #b8bec4;
    font-size: 20px;
    font-size: 2rem;
}
.sortable_list .icon_sortable .cb {
	position: relative;
	top: -1px;
}
.sortable_list .number_sort {
    white-space: nowrap;
    text-align: right;
}
.sortable_list .number_sort .form-group {
    margin: 0;
}
.sortable_list .number_sort input[type="number"] {
    width: 7em;
    margin-right: 5px;
    text-align: right;
}
.sortable_list .item_pattern {
    padding: 16px 2em 16px 16px;
}
.sortable_list .item_pattern + .icon_edit {
    top: 0; right: 0;
    padding: 16px 8px;
}

.ui-sortable .item_box {
	cursor: move;
}
.ui-sortable .ui-sortable-helper {
	border-bottom: 1px solid #d1d8d9;
}



/* link_list */

.link_list {
    background: #fff;
}
.link_list .tableish {
    display: table;
    width: 100%;
}
.link_list .tableish .thead {
    display: table-header-group;
}
.link_list .tableish .tbody {
    display: table-row-group;
}
.link_list .tableish .tr {
    display: table-row;
}
.link_list .tableish a.tr {
    color: #333;
    text-decoration: none;
    outline: none;
}
.link_list .tableish a.tr:hover .th,
.link_list .tableish a.tr:hover .td {
    background: #f9f9f9;
}
.link_list .tableish .th,
.link_list .tableish .td {
    display: table-cell;
    border-top: 1px dashed #d1d8d9;
    padding: 16px;
}
.link_list .tableish .tr:first-child .th,
.link_list .tableish .tr:first-child .td {
    border-top-style: solid;
}
.link_list .tableish .icon {
    width: 50px;
    vertical-align: middle;
}
.link_list .tableish .tr .td.icon:first-child {
    padding-right: 0;
}
.link_list .tableish .icon .cb {
    color: #c1c1c1;
    font-size: 32px;
    font-size: 3.2rem;
}
.link_list .tableish .icon_link {
    width: 55px;
    vertical-align: middle;
}
.link_list .tableish .item_number {
    font-weight: bold;
    font-size: 20px;
    font-size: 2rem;
}
.link_list .tableish .item_number .small {
    font-weight: normal;
    font-size: 12px;
    font-size: 1.2rem;
    color: #444;
}
.link_list .tableish .item_news {
    font-size: 14px;
    font-size: 1.4rem;
}
.link_list .tableish .item_news img {
    width: auto;
    max-width: 120px;
    float: left;
    margin: 0 12px 6px 0;
}

.link_list_wrap {
    height: 236px;
	border: 0 none;
	width: 100%;
    border-top: 1px solid #d1d8d9;
	vertical-align: bottom;
}

.news_area .tableish .tr:first-child .th, .news_area .tableish .tr:first-child .td {
    border-top: 0 none;
}


/* sale_box */

.sale_box > div {
    text-align: center;
    border-top: 1px solid  #D1D8D9;
    color: #333;
    padding: 16px 0;
}
.sale_box .item_number {
    font-weight: bold;
    font-size: 20px;
    font-size: 2rem;
    padding: 0 16px;
}
.sale_box .item_number span {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal;
}
.sale_box .item_number .small {
    font-weight: normal;
    font-size: 12px;
    font-size: 1.2rem;
    color: #444;
}
.sale_box .monthly_sale .item_number {
    font-size: 24px;
    font-size: 2.4rem;
}
.sale_box .yesterday_sale {
    font-size: 20px;
    font-size: 2rem;
    background: #F7F9FA;
}
.sale_box .today_sale {
    font-size: 20px;
    font-size: 2rem;
    background: #F7F9FA;
}

@media (min-width:768px) {
    .sale_box .yesterday_sale {
        width: 50%;
        float: left;
    }
    .sale_box .yesterday_sale .item_number {
        border-right: 1px solid  #D1D8D9;
    }
    .sale_box .today_sale {
        width: 50%;
        float: right;
    }
}


/* order_info */

#order_info .link_list {
    min-height: 236px;
    background: #fff;
}

/* readmore */

.readmore {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #D2D5DF;
    background: #F7F9FA;
}
.readmore:hover {
    color: #D2D5DF;
    opacity: 0.8;
}
.readmore .cb {
    position: relative;
    top: -2px;
}

@media (min-width:768px) {
    .item_box {
        border: 0 none;
        position: static;
    }
    .item_box > div {
        padding: 16px;
        vertical-align: middle;
    }
    .no-header > .box-body .item_box:first-child > div {
        border-top: 0 none;
    }
	.order_list  .item_box .icon_edit {
		position: absolute;
	}
	.order_list  .item_box .icon_edit .btn {
		margin: 0;
	}
    .item_box > div:first-child {
        padding-left: 16px;
    }
    .item_box > div:last-child {
        padding-right: 16px;
    }
    .item_box .item_photo {
        padding: 8px 16px;
		width: 135px;
    }
	.item_box .item_photo a:hover img {
		opacity: 0.8;
	}
    .item_box .icon_edit {
        position: static;
    }
    .icon_edit .btn {
        margin-top: 8px;
        margin-right: 16px;
    }

    /* ui-sortable */
    .tableish.ui-sortable {
        display: block;
    }
    .tableish.ui-sortable .thead {
        display: block;
    }
    .tableish.ui-sortable .tbody {
        display: block;
    }
    .tableish.ui-sortable .tr {
        display: block;
    }

    /* sortable_list */
    .sortable_list .tableish:not(.ui-sortable) .item_box {
        padding-left: 16px;
    }
	.sortable_list .tableish:not(.ui-sortable) .item_box > div {
		border-top: 1px solid #d1d8d9;
	}
    .sortable_list .tableish:not(.ui-sortable) .item_box > div:first-child {
        padding-left: 8px;
    }
    .sortable_list .tableish:not(.ui-sortable) .item_box > .item_pattern:first-child {
        padding-left: 16px;
    }
    .sortable_list .tableish:not(.ui-sortable) .icon_sortable {
        display: table-cell;
        position: inherit;
        vertical-align: middle;
        margin-top: 0;
    }
    .sortable_list .tableish:not(.ui-sortable) .item_pattern {
        padding: 16px;
    }
    .sortable_list .tableish:not(.ui-sortable) .icon_sortable + .item_photo {
        padding-left: 0;
    }
	.sortable_list .tableish:not(.ui-sortable) .item_pattern + .icon_edit {
		width: 4%;
	}

	.sortable_list .ui-sortable .icon_sortable {
		padding: 0.8em 0.3em;
	}
	.ui-sortable .item_pattern {
		display: block;
	}
	.ui-sortable .icon_edit {
		position: absolute;
	}

}


/* amount_area */

.amount_area {
    padding-top: 16px;
    text-align: right;
}
.amount_area dt {
    clear: left;
    float: left;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.amount_area dd.form-group {
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}
.amount_area input {
	margin: 0;
}

@media (max-width:768px) {
	.amount_area dt {
		width: 30%;
	}
}

/* table_list */

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-bottom: 1px solid #ddd;
	border-top: 0 none;
}

.table_list tr > th, .table_list tr > td {
    vertical-align: middle;
    border-left: 1px solid #d1d8d9;
}
.table_list thead > tr > th {
    border-bottom-width: 1px;
    background: #F9F9F9;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 12px 8px;
}
.table_list tr th:first-child,
.table_list tr td:first-child {
    border-left: 0 none;
}
.table_list .icon_edit {
    text-align: center;
}
.table_list .icon_edit .dropdown-toggle {
    padding: 8px;
}

/* accordion dropdown */

dl.accordion {
    margin: 0;
}
.accordion .toggle {
    cursor: pointer;
}
.accordion .toggle .icon_down {
    font-size: 15px;
    font-size: 1.5rem;
    position: absolute;
    right: 16px; top: 22px;
}
.accordion .toggle.active .icon_down {
    -webkit-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg)
}
.accordion .toggle.active .icon_plus {
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.accordion .accpanel {
    display: none;
}

.accordion .toggle.with-icon:hover {
	opacity: 0.8;
}

.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}
.dropdown-menu>li>a:not([href]) {
    color: #999;
}
.dropdown-menu>li>a:not([href]):hover {
    background-color: inherit;
}
.dropdown .dropdown-toggle {
    cursor: pointer;
}
.dropdown .dropdown-toggle .icon_down {
    font-size: 15px;
    font-size: 1.5rem;
    position: absolute;
    right: 16px; top: 22px;
}
.dropdown.open .dropdown-toggle .icon_down {
    -webkit-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg)
}
.dropdown.open .dropdown-toggle .icon_plus {
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg)
}



/* update-area */

.update-area p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.update-area p:last-child {
    margin-bottom: 0;
}
.update-area p .cb {
    color: #BFBFBF;
    font-size: 16px;
    font-size: 1.6rem;
    margin-right: 5px;
}


/* tree */

.tree a {
    color: #444;
}
.tree .active a {
    font-weight: bold;
}
.tree > p {
    margin: 0 0 8px;
}
.tree ul {
    margin-left: 1.2em;
}
.tree > ul {
    margin-left: 0;
}
.tree li a {
    display: inline-block;
    margin: 0 0 8px;
}
.tree ul li .cb {
    display: inline-block;
    color: #bbb;
    margin-right: 1px;
	font-size: 13px;
	font-size: 1.3rem;
	position: relative;
	top: -1px;
}


/*	modal
============================ */

.modal-header .close {
	margin-top: 5px;
}
.modal-header .close .cb {
	fill: #444;
	color: #444;
}


/*	header
============================ */

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/* logo */

#header {
    position:fixed;
    left: 0;right: 0;top: 0;
    max-height:100px;
    z-index:1030;
    background: #334454;
}
#header .navbar {
    margin-bottom:0;
    border:none;
    border-radius:0;
    display: table;
    width: 100%;
}
#header .navbar > a:link{ color: #fff; text-decoration: none;}
#header .navbar > a:visited{ color: #fff; text-decoration: none;}
#header .navbar > a:hover,
#header .navbar > a.active,
#header .navbar > a:focus { color: #fff; text-decoration: none; background: #3F5467;}
#header .navbar > a:active{ color: #fff; text-decoration: none;}

#header .navbar > div > a:link{ color: #fff; text-decoration: none;}
#header .navbar > div > a:visited{ color: #fff; text-decoration: none;}
#header .navbar > div > a:hover,
#header .navbar > div > a.active,
#header .navbar > div > a:focus { color: #fff; text-decoration: none; background: #3F5467;}
#header .navbar > div > a:active{ color: #fff; text-decoration: none;}

#header .navbar > div {
    display: table-cell;
    vertical-align: middle;
}
#header .navbar .logo {
    display: none;
}
#header .navbar .logo .cb-logomark {
	font-size: 30px;
}
#header .navbar .logo .cb-logotext {
	font-size: 140px;
	fill: #fff;
	height: 64px;
	line-height: 64px;
	margin-left: 2px;
}
#header .navbar #sitename {
    display: table-cell;
    padding: 0 8px;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    max-width: 1px; /* for ellipsis */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#header .navbar #sitename .cb-external-link {
    color: #C1C1C1;
    margin-left: 8px;
    font-size: 13px;
    font-size: 1.3rem;
}
#header .navbar .navbar-menu {
    margin-right:15px;
    width: 50px;
}
#header .navbar .navbar-menu dl {
    position: relative;
    margin-bottom: 0;
}
#header .navbar .navbar-menu dt {
    height: 64px;
    line-height: 64px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 0 32px 0 8px;
	white-space: nowrap;
	font-size: 14px;
	font-size: 1.4rem;
}
#header .navbar .navbar-menu dt .cb-user-circle {
    font-size: 38px;
    font-size: 3.8rem;
}
#header .navbar .navbar-menu dt .cb-user-circle .icon-bg {
    fill: #b5bbc1;
}
#header .navbar .navbar-menu dt .icon_down {
    top: 25px;
}

#header .navbar .navbar-menu dt:hover,
#header .navbar .navbar-menu dt.active,
#header .navbar .navbar-menu dt:focus{ color: #fff; text-decoration: none; background: #3F5467;}

#header .navbar .navbar-menu dd {
    position: absolute;
	right:0; left: auto;
    border: 1px solid #D9D9D9;
    border-top: 0 none;
    background: #fff;
    padding: 16px;
    font-size: 12px;
    font-size: 1.2rem;
}
#header .navbar .navbar-menu dd .btn {
    width: 100%;
    margin-top: 8px;
}


@media (min-width:768px) {
    #header .navbar .logo {
        display: table-cell;
        background: #2f3f4e;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        width: 230px; height: 64px;
        line-height: 64px;
        padding: 0 15px;
        text-align: center;
        border-right: 1px solid #293744;
        border-bottom: 1px solid #293744;
    }
    #header .navbar .navbar-menu {
        width: 158px;
    }
}
@media (max-width:991px) {
    #header .navbar-menu .navbar-nav > li {
        float:left
    }
    #header .navbar-menu .navbar-nav {
        margin:0;
        float:left
    }
    #header .navbar-menu .navbar-nav > li > a {
        padding-top:15px;
        padding-bottom:15px;
        line-height:20px
    }
}



/*
 * bt_drawermenu
 */

.bt_toggle {
    text-align: center;
    vertical-align: middle;
    width: 54px; height: 64px;
    line-height: 64px;
}
.bt_drawermenu {
    display: block;
    height: 64px;
    padding: 22px 16px;
    vertical-align: middle;
    position: relative;
    background-color: transparent;
    background-image: none;
	white-space: nowrap;
}

.bt_drawermenu .cb-bars {
    display: block;
    font-size: 22px;
    font-size: 2.2rem;
    color: #fff;
}




/*	Sidebar
============================ */

#side {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;

    width:230px;
    position: fixed;
    top: 64px; bottom: 0; left: 0;
    z-index:810;
    display: block;
    color: #d6dadd;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F3F4F6;
    border-right: 1px solid #DFDFDF;
    -webkit-transition:-webkit-transform .3s ease;
    -moz-transition:-moz-transform .3s ease;
    -o-transition:-o-transform .3s ease;
    transition:transform .3s ease;

    -webkit-transform:translate(-230px, 0);
    -ms-transform:translate(-230px, 0);
    -o-transform:translate(-230px, 0);
    transform:translate(-230px, 0)
}

@media (max-width:767px) {
    #side {
        -webkit-transform:translate(-230px, 0);
        -ms-transform:translate(-230px, 0);
        -o-transform:translate(-230px, 0);
        transform:translate(-230px, 0)
    }
}

#side a {
    display: block;
    position: relative;
    padding: 10px 30px 10px 20px;
    color: #000;
    cursor: pointer;
}

#side a:link { color: #000; text-decoration: none;}
#side a:visited { color: #000; text-decoration: none;}
#side a:hover { color: #000; text-decoration: none; background: #FAFBFC;}
/*#side a.active,
#side li.active a,
#side a:focus { color: #d6dadd; text-decoration: none; background: #3F5467;}*/
#side a:active { color: #000; text-decoration: none;}


#side ul.nav-sidebar {
    padding-bottom: 50px;
}
#side ul {
    list-style: none;
}
#side li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #DFDFDF;
}
#side li a .cb {
	color: #89949B;
}
#side li a .cb:first-child {
    margin-right: 10px;
    margin-top: -3px;
}
#side li a .cb:last-child {
    font-size: 15px;
    font-size: 1.5rem;
    position: absolute;
    right: 15px; top: 14px;
}
#side li a[href] .cb:last-child {
    color: transparent;
}
#side li.active > a .cb:last-child {
    -webkit-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg)
}
#side ul > li.active {
	border-bottom: 0 none;
}
#side li ul {
    padding: 0;
    display: none;
}
#side li ul.active,
#side li ul[style*="block"]{
	border-top: 1px solid #DFDFDF;
}
#side ul > li > ul > li.active {
    border-bottom: 1px solid #DFDFDF;
}
#side li ul li a {
    padding: 10px 30px 10px 47px;
	font-size: 14px;
	font-size: 1.4rem;
}
#side li ul li a .cb:last-child {
    right: 5px;
}
#side li ul li ul li {
    border: 0 none;
}
#side li ul li ul li a {
    padding: 8px 30px 8px 56px;
	font-size: 92%;
	opacity: 0.8;
    border: 0 none;
}
#side li ul li ul li:hover,
#side li ul li ul li.active {
    border: 0 none;
}
#side li ul li ul {
    background: #EAEBEE !important;
}
#side li ul li ul li a {
    background: #EAEBEE !important;
	font-size: 14px;
	font-size: 1.4rem;
}
#side li ul li ul li a:hover{
    background: #FAFBFC !important;
	opacity: 1;
}
#side li.active > a {
    background: #FAFBFC !important;
}
#side li.active > a:hover{
    background: #FAFBFC !important;
}
#side > ul li.active > a {
    background: #F3F4F6 !important;
}

.sidebar-open #side {
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}
#side ul > li:last-child.active {
	border-bottom: 0 none;
}
#side ul > li:last-child.active > ul {
}
#side ul > li:last-child.active > ul.active,
#side ul > li:last-child.active > ul[style*="block"]{
	border-bottom: 1px solid #DFDFDF;
}
#side ul > li:last-child > ul[style*="none"]{
	border-bottom: 0 none;
}

#side li ul li.active > a {
    background: #FAFBFC !important;
}
#side li ul li.active > a:hover {
    background: #FAFBFC !important;
}

/*	Main content
============================ */

#main {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;

    -webkit-transition:-webkit-transform .3s ease;
    -moz-transition:-moz-transform .3s ease;
    -o-transition:-o-transform .3s ease;
    transition:transform .3s ease;
    -webkit-transition:margin-left .3s ease;
    -o-transition:margin-left .3s ease;
    transition:margin-left .3s ease;
    margin-left:230px;
    z-index:820;
    padding: 0 0 50px;
    margin-top: 64px;
}


/*	hideShowPassword
============================ */

::-ms-reveal,
::-ms-clear {
    display: none !important;
}

.hideShowPassword-toggle {
    background-color: transparent;
    background-image: url(../img/wink.png); /* fallback */
    background-image: url(../img/wink.svg), none;
    background-position: 0 center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    margin: 0;
    max-height: 100%;
    padding: 0;
    width: 46px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: 0 none;
}

.hideShowPassword-toggle .cb-eye {
    font-size: 30px;
    font-size: 3rem;
    fill: #ccc;
}

.hideShowPassword-toggle-hide .cb-eye {
    fill: #666;
    overflow: hidden;
    text-indent: -999em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hideShowPassword-toggle-hide {
    background-position: -44px center;
}

.hideShowPassword-toggle:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    #main {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    #main {
        margin-left: 0;
    }
}
.sidebar-open #main {
    margin-left: 230px;
}
#main h1.page-header {
    margin: 0 0 16px;
    padding: 16px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
	font-size: 20px;
	font-size: 2.0rem;
	font-weight: normal;
}
#main h1.page-header span {
    font-size: 16px;
    font-size: 1.6rem;
    margin-left: 16px;
	vertical-align: middle;
	position: relative;
	top: -1px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* search-box */

.search-box .input_search {
    width: 86%;
    margin-right: 2%;
    float: left;
}

.search-box .input_search + .toggle {
    display: block;
    float: left;
    position: relative;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #eff0f4;
    height: 48px;width: 12%;
    padding: 3px;
    text-align: center;
    outline: none;
    color: #BFBFBF;
}

@media (min-width: 768px) {
    .search-box .input_search {
        width: 33.3333%;
        margin-left: 33.3333%;
        margin-right: 8px;
    }
    .search-box .input_search + .toggle {
        width: 40px;
    }
}
.search-box .input_search + .toggle.active {
    border-width: 1px;
    border-color:  #D1D8D9 #D1D8D9 #F8F8F8 #D1D8D9;
    background: #F8F8F8;
	z-index: 1;
}

.search-box .search-box-inner {
    clear: both;
    background: #F8F8F8;
    border-top: 1px solid #D1D8D9;
    border-bottom: 1px solid #D1D8D9;
    padding: 32px 0 16px;
    position: relative;
    top: -1px;
}
.search-box .search-box-inner .row {
    margin: 0;
}
.search-box .search-box-inner > .row {
	position: relative;
	z-index: 1;
}
.search-box .btn_area {
    padding: 16px 0 48px;
}
.search-box .toggle .cb {
    position: absolute;
    left: 50%; top: 10px;
    margin-left: -8px;
}
.search-box .toggle .cb:last-child {
    transform: rotate(-90deg);
}
.search-box .toggle.active .cb:last-child {
    transform: rotate(0deg);
}
.search-box .search-box-inner label {
    font-size: 86%;
}


/* link-with-bar */

ul.link-with-bar {
    padding: 12px;
}
ul.link-with-bar li {
    display: inline-block;
    vertical-align: middle;
	font-size: 14px;
	font-size: 1.4rem;
}
ul.link-with-bar li::after {
    content: "|";
    display: inline-block;
    margin: 0 5px 0 10px;
}
ul.link-with-bar li:last-child::after {
    content: "";
}

/* sort-dd */

.sort-dd {
    padding: 12px;
    text-align: right;
}
.sort-dd > li {
    display: inline-block;
    margin-left: 16px;
	font-size: 14px;
	font-size: 1.4rem;
}
.sort-dd li a {
    cursor: pointer;
}
.sort-dd .dropdown-menu {
    min-width: auto;
}
.sort-dd .dropdown .dropdown-toggle .icon_down {
    position: static;
    margin-left: 8px;
}

/* form layout */

.form-group.range .form-control,
.form-group.range label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
}
.form-group.range .form-control {
    width: 28%;
}
.form-group.range input.input_cal.form-control {
    width: 43%;
}
.form-group.range input.input_cal.form-control:first-child {
    margin-left: 0;
}

.input_tel input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    width: 30%;
    max-width: 5em;
}
.form-group .input_tel input:first-child {
    margin-left: 0;
}
.form-group .input_name input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    margin-bottom: 0;
    width: 48%;
}
.form-group .input_name input:first-child {
    margin-left: 0;
}
.form-group .input_zip input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    max-width: 5em;
}
.form-group .item_price input,
.form-group .item_quantity input,
.form-group .item_tax input {
    text-align: right;
    width: 50%;
}
.item_detail .form-group {
    margin: 8px 0;
}
.item_detail .item_subtotal span.small {
    margin-right: 16px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 0;
    margin-right: 10px;
}
.radio-inline + .radio-inline:last-child, .checkbox-inline + .checkbox-inline:last-child {
	margin-right: 0;
}

#product-class-form .table-menu input[type=text].form-control {
    width: 70px;
}
#product-class-form .table-menu input[type=number].form-control {
    width: 70px;
}
#product-class-form .table-menu select.form-control {
    width: 100px;
}
#product-class-form .table-menu .radio-inline {
    padding-left: 0;
    width: 150px;
}


/* each area style */

.box-title-category {
	font-weight: normal;
}

.box-title-category a:link,
.box-title-category a:visited,
.box-title-category a:hover,
.box-title-category a:active {
	color: #444;
}
.box-title-category a:last-child {
	font-weight: bold;
}
.box-title-category .cb-angle-right {
	position: relative;
	top: -1px;
	fill:#b8bec4;
}

.price_cell input[type="text"] {
	min-width: 7em;
	text-align: right;
}


/* datetimepicker */

.bootstrap-datetimepicker-widget.dropdown-menu {
	z-index: 100;
}


/* プラグインインストール追加パネル */

div.col-xs-12.col-md-6.grid-item {
    padding-right: 2px;
    padding-left: 2px;
}

.plugin-panel {
    border: 1px solid #dedede;
    padding: 10px;
    margin: 5px;
    font-size: 1.4rem;
}

.plugin-panel-not {
    background:  #f3f4f6;
}

.plugin-panel-pr {
    background:  #ffffea;
}

.plugin-content-top {
    margin-left: 180px;
}

.plugin-logo {
    margin: 0;
}

.plugin-logo img {
    /*
    position: absolute;
    */
    width: 168px;
    height: 126px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    float: left;
}

.plugin-title {
    margin-bottom: 20px;
}

.plugin-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.plugin-meta.dl-horizontal dt {
    text-align: right;
    padding-bottom: 0;
    width: 180px;
}
.plugin-meta.dl-horizontal dd {
    padding-bottom: 0;
    margin-left: 200px
}

@media(max-width: 760px)  {
    .plugin-meta.dl-horizontal dt {
        text-align: left;
    }
    .plugin-meta.dl-horizontal dd {
        margin-left: 0;
    }
}

a.plugin-name {
    font-size: 1.6rem;
}
a.plugin-name:hover {
    text-decoration: none;
}

.plugin-description {
    /*
    margin-top: 15px;
    */
    margin-bottom: 25px;
}

.plugin-panel-pr .plugin-name,
.plugin-panel-pr .plugin-description {
    font-size: 1.7rem;
}

.plugin-meta {
    padding: 0;
    list-style: none;
    margin:0 0 15px
}

.plugin-developer {
}

.plugin-table .tp {
    width: 350px;
    word-break: break-all;
}

.plugin-table .tc {
    width: 250px;
    word-break: break-all;
}

.plugin-table .tu {
    width: 400px;
}

.plugin-table .tv {
    width: 90px;
    word-break: break-all;
}

.plugin-table .ta {
    width: 50px;
    word-break: break-all;
}


/* 権限管理 */
#table-authority td .input-authority {
    width: 200px;
}
#table-authority td .input-deny-url {
    width: 100%;
}

/* ログ表示 */
#line-max {
    width: 60px;
}

textarea#log {
    font-size: 1.4rem;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace, 'ＭＳ ゴシック', 'MS Gothic', 'Osaka-等幅', 'Osaka-Mono';
    line-height: 1.9;
    color: #141823;
    background-color: #fdfdfd;
}

/* 商品登録 */
#detail_category_box__list select {
    height: 200px;
}

/*	Fixed Column
============================ */


#aside_column .with-border {
    padding-top: 16px;
    margin-top: 16px;
}

#aside_column {
    top: 0;
}

/*	Footer
============================ */

#footer {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;

    -webkit-transition:-webkit-transform .3s ease;
    -moz-transition:-moz-transform .3s ease;
    -o-transition:-o-transform .3s ease;
    transition:transform .3s ease;
    -webkit-transition:margin-left .3s ease;
    -o-transition:margin-left .3s ease;
    transition:margin-left .3s ease;
    margin-left:230px;
    z-index:820;
    padding: 0;
    margin-top: 40px;

    background:#fff;
    padding:15px;
    color:#444;
    text-align: right;
}



@media (max-width:767px) {
    #footer {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    #footer {
        margin-left: 0;
    }
}
.sidebar-open #footer {
    margin-left: 230px;
}


/*	LOGIN PAGE
============================ */

.login-box {
    margin: 7% auto;
    width: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.login-logo {
    margin: 7% auto 25px;
    max-width: 1200px;
    padding: 0 5%;
    text-align: center;
}
.login-page {
    background: #d2d6de;
}
.login-box {
    margin: 0 auto 7px;
    width: 360px;
}
@media (max-width: 768px) {

    .login-box {
        margin-top: 20px;
        width: 90%;
    }
}
.login-box-body {
    background: #fff;
    color: #666;
    padding: 32px 12%;
    margin-bottom: 24px;
}
.login-box-body .form-control-feedback {
    color: #D0D0D0;
    font-size: 20px;
    top: 9px;
}
.login-logo2 {
    margin: 0;
    padding: 0 20px 30px;
    text-align: center;
}
.login-box .btn_area {
    padding-top: 10px;
}



/*	design-layout ====== */

.design-layout {
	border-collapse: collapse !important;
}
.design-layout td {
	height: 50px;
	padding: 15px 10px !important;
	border: 1px solid #ccc !important;
	background: #d0d0d0;
}
.design-layout td[rowspan] {
	width: 33%;
}
.design-layout td[id^="position"]  {
	background: #fff;
	padding-top: 25px !important;
}
.design-layout td[id^="position"]:before {
	text-align: left;
	float: left;
	background: #666;
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	display: inline-block;
	position: relative;
	margin-top: -25px;
	margin-left: -10px;
	padding: 3px 5px;
}
.design-layout td#position_0:before {content: "未使用ブロック"; background: #ccc;}
.design-layout td#position_1:before {content: "head"}
.design-layout td#position_2:before {content: "#header"}
.design-layout td#position_3:before {content: "#contents_top"}
.design-layout td#position_4:before {content: "#side_left"}
.design-layout td#position_5:before {content: "#main_top"}
.design-layout td#position_6:before {content: "#main_bottom"}
.design-layout td#position_7:before {content: "#side_right"}
.design-layout td#position_8:before {content: "#contents_bottom"}
.design-layout td#position_9:before {content: "#footer"}

.design-layout td div.sort {
	border-radius: 5px;
	border: 1px solid #ccc;
	background: rgba(153,153,153,0.2);
	margin: 5px 0;
	padding: 5px;
}
.design-layout .placeholder {
    border: 1px dashed #aaa;
    height: 40px;
	margin: 0;
}

@media print {
    .no-print, #header, #side {
        display:none!important
    }
    #main {
        margin-left:0!important;
        min-height:0!important;
        -webkit-transform:translate(0, 0) !important;
        -ms-transform:translate(0, 0) !important;
        -o-transform:translate(0, 0) !important;
        transform:translate(0, 0) !important
    }
    .fixed #main {
        padding-top:0!important
    }
    .table-responsive {
        overflow:auto
    }
    .table-responsive>.table tr th, .table-responsive>.table tr td {
        white-space:normal!important
    }
}


.data-empty {
    padding: 1.5em;
    text-align: center;
}
.data-empty .cb {
    font-size: 70px;
    font-size: 7rem;
    color: #d0d0d0;
    margin: 8px;
}

/* error */

.message_box {
    padding: 1.5em;
    text-align: center;
}
.message_box .cb {
    font-size: 70px;
    font-size: 7rem;
    color: #d0d0d0;
    margin: 8px;
}
.message_box .btn_group {
	padding: 30px 0;
}

/* fees_area */

.fees_area input {
	text-align: right;
}


/* !Inline Align ------------------------------------------------------------ */
.alignL { text-align: left   !important;}
.alignC { text-align: center !important;}
.alignR { text-align: right  !important;}
.valignT { vertical-align: top    !important;}
.valignM { vertical-align: middle !important;}
.valignB { vertical-align: bottom !important;}
.blockC { margin-right: auto; margin-left: auto;}

/* !Width ------------------------------------------------------------------- */
.w03per { width: 3%  !important;}
.w05per { width: 5%  !important;}
.w10per { width: 10% !important;}
.w13per { width: 13% !important;}
.w15per { width: 15% !important;}
.w20per { width: 20% !important;}
.w25per { width: 25% !important;}
.w30per { width: 30% !important;}
.w35per { width: 35% !important;}
.w40per { width: 40% !important;}
.w45per { width: 45% !important;}
.w50per { width: 50% !important;}

.w160 { width: 160px !important;}
.w200 { width: 200px !important;}
.w300 { width: 300px !important;}

@media (min-width: 320px) {
	.max_w160 { max_width: 160px !important;}
	.max_w200 { max_width: 200px !important;}
	.max_w300 { max_width: 300px !important;}
}

/* !Floats ------------------------------------------------------------------ */
.flL    { float: left;}
.flR    { float: right;}

/* !Tools ------------------------------------------------------------------- */
.clear { clear: both;}
.block { display: block;}
.hide  { display: none;}

/* !Margin ------------------------------------------------------------------ */

.marT00 { margin-top: 0   !important;}
.marT05 { margin-top: 5px !important;}
.marT08 { margin-top: 8px !important;}
.marT10 { margin-top:10px !important;}
.marT12 { margin-top:12px !important;}
.marT15 { margin-top:15px !important;}
.marT16 { margin-top:16px !important;}
.marT20 { margin-top:20px !important;}
.marT24 { margin-top:24px !important;}
.marT25 { margin-top:25px !important;}
.marT30 { margin-top:30px !important;}
.marT32 { margin-top:32px !important;}
.marT35 { margin-top:35px !important;}
.marT40 { margin-top:40px !important;}
.marT45 { margin-top:45px !important;}
.marT50 { margin-top:50px !important;}
.marR00 { margin-right: 0   !important;}
.marR05 { margin-right: 5px !important;}
.marR08 { margin-right: 8px !important;}
.marR10 { margin-right:10px !important;}
.marR12 { margin-right:12px !important;}
.marR15 { margin-right:15px !important;}
.marR16 { margin-right:16px !important;}
.marR20 { margin-right:20px !important;}
.marR24 { margin-right:24px !important;}
.marR25 { margin-right:25px !important;}
.marR30 { margin-right:30px !important;}
.marR32 { margin-right:32px !important;}
.marR35 { margin-right:35px !important;}
.marR40 { margin-right:40px !important;}
.marR45 { margin-right:45px !important;}
.marR50 { margin-right:50px !important;}
.marB00 { margin-bottom: 0   !important;}
.marB05 { margin-bottom: 5px !important;}
.marB08 { margin-bottom: 8px !important;}
.marB10 { margin-bottom:10px !important;}
.marB12 { margin-bottom:12px !important;}
.marB15 { margin-bottom:15px !important;}
.marB16 { margin-bottom:16px !important;}
.marB20 { margin-bottom:20px !important;}
.marB24 { margin-bottom:24px !important;}
.marB25 { margin-bottom:25px !important;}
.marB30 { margin-bottom:30px !important;}
.marB32 { margin-bottom:32px !important;}
.marB35 { margin-bottom:35px !important;}
.marB40 { margin-bottom:40px !important;}
.marB45 { margin-bottom:45px !important;}
.marB50 { margin-bottom:50px !important;}
.marL00 { margin-left: 0   !important;}
.marL05 { margin-left: 5px !important;}
.marL08 { margin-left: 8px !important;}
.marL10 { margin-left:10px !important;}
.marL12 { margin-left:12px !important;}
.marL15 { margin-left:15px !important;}
.marL16 { margin-left:16px !important;}
.marL20 { margin-left:20px !important;}
.marL24 { margin-left:24px !important;}
.marL25 { margin-left:25px !important;}
.marL30 { margin-left:30px !important;}
.marL32 { margin-left:32px !important;}
.marL35 { margin-left:35px !important;}
.marL40 { margin-left:40px !important;}
.marL45 { margin-left:45px !important;}
.marL50 { margin-left:50px !important;}

/* !Padding  ---------------------------------------------------------------- */
.padT00 { padding-top: 0   !important;}
.padT05 { padding-top: 5px !important;}
.padT07 { padding-top: 7px !important;}
.padT08 { padding-top: 8px !important;}
.padT10 { padding-top:10px !important;}
.padT12 { padding-top:12px !important;}
.padT15 { padding-top:15px !important;}
.padT16 { padding-top:16px !important;}
.padT20 { padding-top:20px !important;}
.padT24 { padding-top:24px !important;}
.padT25 { padding-top:25px !important;}
.padT30 { padding-top:30px !important;}
.padT32 { padding-top:32px !important;}
.padT35 { padding-top:35px !important;}
.padT40 { padding-top:40px !important;}
.padT45 { padding-top:45px !important;}
.padT50 { padding-top:50px !important;}
.padR00 { padding-right: 0   !important;}
.padR05 { padding-right: 5px !important;}
.padR08 { padding-right: 8px !important;}
.padR10 { padding-right:10px !important;}
.padR12 { padding-right:12px !important;}
.padR15 { padding-right:15px !important;}
.padR16 { padding-right:16px !important;}
.padR20 { padding-right:20px !important;}
.padR24 { padding-right:24px !important;}
.padR25 { padding-right:25px !important;}
.padR30 { padding-right:30px !important;}
.padR32 { padding-right:32px !important;}
.padR35 { padding-right:35px !important;}
.padR40 { padding-right:40px !important;}
.padR45 { padding-right:45px !important;}
.padR50 { padding-right:50px !important;}
.padB00 { padding-bottom: 0   !important;}
.padB05 { padding-bottom: 5px !important;}
.padB08 { padding-bottom: 8px !important;}
.padB10 { padding-bottom:10px !important;}
.padB12 { padding-bottom:12px !important;}
.padB15 { padding-bottom:15px !important;}
.padB16 { padding-bottom:16px !important;}
.padB20 { padding-bottom:20px !important;}
.padB24 { padding-bottom:24px !important;}
.padB25 { padding-bottom:25px !important;}
.padB30 { padding-bottom:30px !important;}
.padB32 { padding-bottom:32px !important;}
.padB35 { padding-bottom:35px !important;}
.padB40 { padding-bottom:40px !important;}
.padB45 { padding-bottom:45px !important;}
.padB50 { padding-bottom:50px !important;}
.padL00 { padding-left: 0   !important;}
.padL05 { padding-left: 5px !important;}
.padL08 { padding-left: 8px !important;}
.padL10 { padding-left:10px !important;}
.padL12 { padding-left:12px !important;}
.padL15 { padding-left:15px !important;}
.padL16 { padding-left:16px !important;}
.padL20 { padding-left:20px !important;}
.padL24 { padding-left:24px !important;}
.padL25 { padding-left:25px !important;}
.padL30 { padding-left:30px !important;}
.padL32 { padding-left:32px !important;}
.padL35 { padding-left:35px !important;}
.padL40 { padding-left:40px !important;}
.padL45 { padding-left:45px !important;}
.padL50 { padding-left:50px !important;}

/* csv download dropdown */
.dl_dropdown .dropdown > a {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 11px 32px 11px 5px;
}
.dl_dropdown {
    padding: 0 !important;
    text-align: right;
}
.dl_dropdown .dropdown-menu {
    margin-top: -10px;
    min-width: auto;
}
.dl_dropdown .dropdown .dropdown-toggle .icon_down {
    top: 14px;
}

@media (min-width: 768px) {
    .dl_dropdown .dropdown > a {
        padding-right: 46px;
    }
    .dl_dropdown .dropdown .dropdown-toggle .icon_down {
        right: 27px;
    }
}

/* --------------------------------
    display table-responsive dropdown-menu
-------------------------------- */
@media (max-width: 767px) {
    .icon_edit .dropdown-menu {
        margin-top:  0;
    }
    .table-responsive .dropdown-menu {
        left: -160px !important;
        top: -115% !important;
    }
    .table-responsive .dropdown-menu-right {
        right: 50px;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
    .table-responsive.table-responsive-overflow {
        overflow: auto;
    }
}

/* --------------------------------
    display mask
-------------------------------- */
.prevention-masked {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3040;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
}

#shipping_info__button_new {
    margin-bottom: 20px;
}
