@charset "utf-8";
/*----------------------------------------------------------------------------------------------------
	リセット及びbody初期設定 (このCSSは通常変更しない)
----------------------------------------------------------------------------------------------------*/

/* Style Reset(html5) */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ol,ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
}
address {
	font-style: normal;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	border: 0;
	height: 1px;
	border-bottom: 1px solid #ccc;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
button{
	border: none;
	background: none;
	display: block;
	cursor:pointer;
}
textarea,
input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}


button,
a {
	text-decoration:none;
    color: #565765;
	opacity: 1.0;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

button:hover,
a:hover{
	  filter: alpha(opacity=75);
	  -moz-opacity:0.75;
	  opacity:0.75;	
}

.bold , .strong {
	font-weight: bold;
}

html {
	/*overflow-y: scroll;*/
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*　画像
---------------------------------------------------------------------------------------*/
img{
	border:0px none;
	margin:0;
	padding:0;
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
}

/*　img のリンク　マウスオーバー
--------------------------------------------------------------------------------------- */
a img{
/*	opacity: 1.0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;*/
}
a:hover img {
/*	opacity: 0.7;*/
}

/*　body
---------------------------------------------------------------------------------------*/
body {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height:1.6;
}
/*　font
---------------------------------------------------------------------------------------*/
.fwn{
	font-weight:normal;
}


/*　Bold
---------------------------------------------------------------------------------------*/
.strong{
	font-weight:bold;
 }


/*　Color
---------------------------------------------------------------------------------------*/
.red{
	color:#CC0000;
 }

.green{
	color:#006600;
 }

.brown{
	color:#993300;
 }

/*　フォントサイズ
---------------------------------------------------------------------------------------*/
.font10{
	font-size:10px;
}
.font11{
	font-size:11px;
}
.font12{
	font-size:12px;
}
.font13{
	font-size:13px;
}
.font14{
	font-size:14px;
}
.font15{
	font-size:15px;
}
.font16{
	font-size:16px;
}
.font17{
	font-size:17px;
}
.font18{
	font-size:18px;
}
.font19{
	font-size:19px;
}
.font20{
	font-size:20px;
}

.min{
	font-family: 'Times New Roman', '游明朝体', 'Yu Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HGS明朝B', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.goshick{
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.marugo{
		font-family: "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","メイリオ";
}

/*　clearfix
---------------------------------------------------------------------------------------*/
.clr:after {
	content: " ";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

.clr {
	display: inline-block;
	min-height: 1%;
}

/* Hides from IE-mac \*/

* html .clr {
	height: 1%;
}

.clr {
	display: block;
}
/* End hide from IE-mac */

form{
	display: inline;
}

a:focus, *:focus {
 outline:none;
}

/*　よせの設定
---------------------------------------------------------------------------------------*/
.tal{
	text-align:left;
}
.tac{
	text-align:center;
}
.tar{
	text-align:right;
}


/*　float
---------------------------------------------------------------------------------------*/
.fl{
	float:left;
	}
.fr{
	float:right;
}
	
/*　マージン、パディング
---------------------------------------------------------------------------------------*/

/*　上　*/
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}

/*　右　*/
.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}

/*　下　*/
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb8{margin-bottom:8px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}

/*　左　*/
.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml70{margin-left:70px !important;}


/*　上下　*/
.mgn_v5px{
	margin-top:5px;
	margin-bottom:5px;
	}

.mgn_v10px{
	margin-top:10px;
	margin-bottom:10px;
	}

.mgn_v15px{
	margin-top:15px;
	margin-bottom:15px;
	}

.mgn_v20px{
	margin-top:20px;
	margin-bottom:20px;
	}


/*　左右　*/
.mgn_h5px{
	margin-right:5px;
	margin-left:5px;
	}

.mgn_h10px{
	margin-right:10px;
	margin-left:10px;
	}

.mgn_h15px{
	margin-right:15px;
	margin-left:15px;
	}


/* パディングの設定 */
	
/*　上　*/
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt30{padding-top:30px;}

/*　右　*/
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}

/*　下　*/
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}

/*　左　*/
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}

/*　上下　*/
.pad_v5px{
	padding-top:5px;
	padding-bottom:5px;
	}

.pad_v10px{
	padding-top:10px;
	padding-bottom:10px;
	}

.pad_v15px{
	padding-top:15px;
	padding-bottom:15px;
	background:#999
}
