<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if subtitle is defined and subtitle is not empty %}{{ subtitle }} | {% elseif title is defined and title is not empty %}{{ title }} | {% endif %}{{ BaseInfo.shop_name }}</title>

<meta property="og:title" content="{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} | {{ subtitle }}{% elseif title is defined and title is not empty %} | {{ title }}{% endif %}">

{% if PageLayout.description is not empty %}
    <meta name="description" content="{{ PageLayout.description }}">
    <meta property="og:description" content="{{ PageLayout.description }}">
{% endif %}
{% if PageLayout.keyword is not empty %}
    <meta name="keywords" content="{{ PageLayout.keyword }}">
{% endif %}
{% if PageLayout.meta_robots is not empty %}
    <meta name="robots" content="{{ PageLayout.meta_robots }}">
{% endif %}

{% block site_og_url %}
    <meta property="og:url" content="{{app.request.getSchemeAndHttpHost()}}{{app.request.getPathInfo()}}">
{% endblock %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% if currentPath=='/' %}
    <meta property="og:type" content="website">
{% else %}
    <meta property="og:type" content="article">
{% endif %}

{% block meta_og_image %}
    <meta property="og:image" content="{{app.request.getSchemeAndHttpHost()}}{{ app.config.front_urlpath }}/img/og.png">
{% endblock %}

<meta property="og:site_name" content="{{ BaseInfo.shop_name }}">
<meta property="og:locale" content="ja_JP">

<meta name="viewport" content="width=device-width, initial-scale=1">
{% block site_canonical %}
<link rel="canonical" href="{{app.request.getSchemeAndHttpHost()}}{{app.request.getPathInfo()}}" >
{% endblock %}

<link rel="icon" href="{{app.request.getSchemeAndHttpHost()}}{{ app.config.front_urlpath }}/img/common/favicon.ico">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/style.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/slick.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/default.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/css/drawer.css">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/common/css/default.css">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/common/css/common.css">
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/common/css/sub.css">
<!-- for original theme CSS -->
{% block stylesheet %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ app.config.front_urlpath }}/js/vendor/jquery-1.11.3.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"><\/script>')</script>

<!--[if lt IE 9]>
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/html5shiv.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/selectivizr-min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery/jquery-2.1.0.min.js"></script>
<!--<![endif]-->

{# ▼Head COLUMN #}
{% if PageLayout.Head %}
    {# ▼上ナビ #}
    {{ include('block.twig', {'Blocks': PageLayout.Head}) }}
    {# ▲上ナビ #}
{% endif %}
{# ▲Head COLUMN #}

</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }} drawer2 drawer--left">
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}
<div id="wrapper" class="wrapper">

    {% block sbm_bottom_bnr_box %}{% endblock %}
    {% block sbm_top_bnr_box %}{% endblock %}

    <header id="header">
        <div class="container-fluid inner hed_inner mainWidth clr">
            {# ▼HeaderInternal COLUMN #}
            {% if PageLayout.Header %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocks': PageLayout.Header}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲HeaderInternal COLUMN #}
        </div>
    </header>
{% block sbm_header_menu_include %}
    {% include 'Block/sbm_sp_header_menu.twig' ignore missing %}
{% endblock %}

    <div id="contents" class="{{ PageLayout.theme }}">

    <main class="main">
        <div id="contents_top">
            {# ▼TOP COLUMN #}
            {% if PageLayout.ContentsTop %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocks': PageLayout.ContentsTop}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲TOP COLUMN #}
        </div>

        <div class="container-fluid inner">
            {# ▼LEFT COLUMN #}
            {% if PageLayout.SideLeft %}
                <div id="side_left" class="side">
                    {# ▼左ナビ #}
                    {{ include('block.twig', {'Blocks': PageLayout.SideLeft}) }}
                    {# ▲左ナビ #}
                </div>
            {% endif %}
            {# ▲LEFT COLUMN #}

            <div id="main">
                {# ▼メイン上部 #}
                {% if PageLayout.MainTop %}
                    <div id="main_top">
                        {{ include('block.twig', {'Blocks': PageLayout.MainTop}) }}
                    </div>
                {% endif %}
                {# ▲メイン上部 #}

                <div id="main_middle">
                    {% block main %}{% endblock %}
                </div>

                {# ▼メイン下部 #}
                {% if PageLayout.MainBottom %}
                    <div id="main_bottom">
                        {{ include('block.twig', {'Blocks': PageLayout.MainBottom}) }}
                    </div>
                {% endif %}
                {# ▲メイン下部 #}
            </div>

            {# ▼RIGHT COLUMN #}
            {% if PageLayout.SideRight %}
                <div id="side_right" class="side">
                    {# ▼右ナビ #}
                    {{ include('block.twig', {'Blocks': PageLayout.SideRight}) }}
                    {# ▲右ナビ #}
                </div>
            {% endif %}
            {# ▲RIGHT COLUMN #}

            {# ▼BOTTOM COLUMN #}
            {% if PageLayout.ContentsBottom %}
                <div id="contents_bottom">
                    {# ▼下ナビ #}
                    {{ include('block.twig', {'Blocks': PageLayout.ContentsBottom}) }}
                    {# ▲下ナビ #}
                </div>
            {% endif %}
            {# ▲BOTTOM COLUMN #}

        </div>
    </main>

        <footer id="footer">
            {# ▼Footer COLUMN#}
            {% if PageLayout.Footer %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocks': PageLayout.Footer}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲Footer COLUMN#}

        </footer>

    </div>

    <div id="drawer" class="drawer sp">
    </div>

</div>

<div class="overlay"></div>

<script src="{{ app.config.front_urlpath }}/js/vendor/bootstrap.custom.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/vendor/slick.min.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script src="{{ app.config.front_urlpath }}/js/eccube.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
<script>
$(function () {
    $('#drawer').append($('.drawer_block').clone(true).children());
    $.ajax({
        url: '{{ app.config.front_urlpath }}/img/common/svg.html',
        type: 'GET',
        dataType: 'html',
    }).done(function(data){
        $('body').prepend(data);
    }).fail(function(data){
    });
});
</script>

{% block javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>window.jQuery.easing.def || document.write('<script src="{{ app.config.front_urlpath }}/js/front/jquery.easing.min.js"><\/script>');</script>
<script src="{{ app.config.front_urlpath }}/js/front/jquery.colorbox-min.js"></script>
<script src="{{ app.config.front_urlpath }}/js/front/common.js"></script>
{% endblock %}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}
</body>
</html>