﻿#detail_description_box__body .payment-price {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}
#detail_description_box__body .payment-price .number-payment {
    font-size: 14px;
    font-weight: normal;
}
#detail_description_box__body .payment-price .strong {
    padding-left: 5px;
    color: #e9193a;
    font-size: 26px;
}
#detail_description_box__body .caution {
    font-size: 10px;
    color: #666;
}

#detail_description_box__body .item_code {
    display: none;
}

#detail_free_box__freearea.freearea .note{
    font-size: 12px;
    color: #888;
}
@media only screen and (min-width: 768px) {
    #detail_free_box__freearea.freearea .note{
      width: 1000px;
    }
}