{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['order', 'order_master'] %}

{% block title %}受注管理{% endblock %}
{% block sub_title %}メール通知{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
$(function() {
    $('#template-change').on('change', function() {
        $('#mode').val('change');
        $('#order-mail-form').submit();
    });
});
</script>
{% endblock javascript %}

{% block main %}
<div id="top_wrap" class="row">
    <div id="top_box" class="col-md-9">
        <form id="order-mail-form" class="form-horizontal" method="post" action="{{ url('admin_order_mail_all') }}">
        {{ form_widget(form._token) }}
        <input type="hidden" name="ids" value="{{ ids }}">
        <input id="mode" type="hidden" name="mode">
        <div id="top_box__body" class="box">
            <div id="top_box__header" class="box-header">
                <h3 class="box-title">メール配信</h3>
            </div><!-- /.box-header -->
            <div id="top_box__body_inner" class="box-body">
                <div id="top_box__template" class="form-group">
                    {{ form_label(form.template) }}
                    <div class="col-sm-9 col-lg-10">
                        {{ form_widget(form.template, {'id': 'template-change'}) }}
                        {{ form_errors(form.template) }}
                    </div>
                </div>
                <div id="top_box__subject" class="form-group">
                    {{ form_label(form.subject) }}
                    <div class="col-sm-9 col-lg-10">
                        {{ form_widget(form.subject) }}
                        {{ form_errors(form.subject) }}
                    </div>
                </div>
                <div id="top_box__item_header" class="form-group">
                    {{ form_label(form.header) }}
                    <div class="col-sm-9 col-lg-10">
                        {{ form_widget(form.header, {'attr': {'rows': '7'}}) }}
                        {{ form_errors(form.header) }}
                    </div>
                </div>
                <div id="top_box__item_footer" class="form-group">
                    {{ form_label(form.footer) }}
                    <div class="col-sm-9 col-lg-10">
                        {{ form_widget(form.footer, {'attr': {'rows': '7'}}) }}
                        {{ form_errors(form.footer) }}
                    </div>
                </div>
                <div class="extra-form">
                    {% for f in form.getIterator %}
                        {% if f.vars.name matches '[^plg*]' %}
                            {{ form_row(f) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div id="top_box__footer" class="row">
            <div id="top_box__button_menu" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                <button type="submit" class="btn btn-primary btn-lg" name="mode" value="confirm">送信内容を確認</button>
                <p><a href="{{ url('admin_order_page', { page_no: app.session.get('eccube.admin.order.search.page_no')|default('1') }) }}?resume=1">検索結果へ戻る</a></p>
            </div>
        </div>
        </form>

    </div><!-- /.col -->
</div>

{% endblock %}
