<div style="display: none">
    {{ form_widget(shipmentItemForm.new) }}
    {{ form_widget(shipmentItemForm.Product) }}
    {{ form_widget(shipmentItemForm.ProductClass) }}
    {{ form_widget(shipmentItemForm.price, {'type': 'hidden'}) }}
    {{ form_widget(shipmentItemForm.quantity, {'type': 'hidden'}) }}
    {{ form_widget(shipmentItemForm.itemidx) }}
</div>