@charset "utf-8";

.main .container-fluid{
	padding: 0;
	width: auto;
    max-width: none;
}
#main, .main_l{
    width: auto !important;
	float: none;
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charge_top{
		background-image: -webkit-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: -moz-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: -o-radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
		background-image: radial-gradient(circle 612px at 50%, #f5f6fa 13%, #e1e1e9 60%);
    margin-bottom: 50px;
}
.charge_top h1{
		background: url(../img/charge/main_bg.png) no-repeat right center;
		height: 210px;
		line-height: 210px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charm_link{
    padding: 0 0 23px;
    margin: 0 auto 10px;
}
.charm_link li{
    float: left;
    width: 330px;
    margin: 0 0 0 25px;
}
.charm_link li:first-child{
    margin-left: 0;
}
.charm_link a{
    display: block;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
		background-position: center top;
		background-repeat: no-repeat;
    border: #565765 solid 2px;
    padding: 150px 0 30px;
    font-weight: bold;
    border-radius: 5px;
}
.charm_link li:nth-of-type(1) a{background-image: url(../img/charge/anc01.jpg);}
.charm_link li:nth-of-type(2) a{background-image: url(../img/charge/anc02.jpg);}
.charm_link li:nth-of-type(3) a{background-image: url(../img/charge/anc03.jpg);}
.charm_link a:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/arrow01.png) 0 0 no-repeat;
    width: 44px;
    height: 37px;
    margin: 0 auto;
    bottom: -24px;
    right:0;
    left: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charm_link a:hover{
    background-color: #ECEEF4;
    opacity: 1;
}
.charm_link a:hover:before{
    background-image: url(../common/img/arrow01_on.png);
}
.charm_link dl{
	padding: 28px;
}
.charm_link dt{
	margin-bottom: 20px;
	color: #ff4e62;
	font-size: 20px;
	font-weight: bold;
}
.charm_link dd{
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	line-height: 1.8;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charm_body{
	padding: 45px 0 35px;
	text-align: center;
}
.charm_body.charm02{background: #FAFAFA;}
.charm_inner{
}
.charm_inner02{
	padding: 55px 0 15px;
}
.charm_body h2{
	position: relative;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: normal;
}
.charm_body h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	border: solid 1px #565765;
	margin: auto;
	width: 160px;
	height: 3px;
}
.charm_body h3{
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}
.charm_body .catch{
	margin-bottom: 20px;
	font-size: 34px;
}
.charm_body .catch span{
	color: #ff4e62;
	font-size: 44px;
}
.charm_body .catch span span{
	font-size: 40px;
}
.charm_body .charm_text01{
	margin-bottom: 40px;
	line-height: 1.8;
}
.charm_body .image{
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.comparison {
	padding: 0 55px;
}
.comparison > div {
	float: left;
	width: 430px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison > div:last-child {
	margin-left: 70px;
}
.comparison h4 {
	color: #FFFFFF;
	padding: 12px 10px;
	font-size: 18px;
}
.comparison01 {
	background: #F1F1F1;
}
.comparison01 h4 {
	background: #565765;
	font-weight: normal;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.comparison01 .plus{
	position: relative;
	background: #FFFFFF;
	border: solid 2px #CCCCCC;
	margin-bottom: 30px;
	padding: 8px 10px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison01 .plus:before{
	content: '';
	position: absolute;
	bottom: -23px;
	left: 0;
	right: 0;
	background-image: url(../img/charge/plus.png);
	background-repeat: no-repeat;
	background-size: 12px auto;
	margin: auto;
	width: 12px;
	height: 11px;
}
.comparison01 .plus.last{
	margin-bottom: 15px;
	padding: 18px;
}
.comparison01 .plus.last:before{
	display: none;
}
.comparison01 .plus.last > div{
	float: left;
	margin-left: 20px;
	width: 155px;
}
.comparison01 .plus.last > div:first-child{
	margin-left: 0;
}
.comparison01 .plus.last > div ul{
	background: #F1F1F1;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison01 .plus.last > div ul:last-child{
	margin-bottom: 0;
}
.comparison01 .plus.last > div ul.no_selection{
	background: #F8F8F8;
	border: dotted 1px #b2b2b2;
	color: #b2b2b2;
}
.comparison01 .comparison_inner{
	padding: 29px;
}
.conclusion {
	font-size: 16px;
	font-weight: bold;
}
.comparison02 {
	border: solid 4px #ff4e62;
}
.comparison02 h4 {
	background: #ff4e62;
	font-weight: bold;
}
.comparison02 .comparison_inner{
	padding: 29px 25px 25px;
}
.comparison02 dl {
	margin-bottom: 35px;
}
.comparison02 dt {
	display: inline-block;
	background: #565765;
	margin-bottom: 12px;
	padding: 5px;
	color: #FFFFFF;
	width: 222px;
	font-size: 13px;
	line-height: 1;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison02 dd {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
}
.comparison02 dd span {
	color: #FF4E62;
}
.comparison02 .unnecessary {
	position: relative;
	background: #F1F1F1;
	margin-bottom: 15px;
	padding: 32px 18px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison02 .unnecessary p {
	position: absolute;
	top: -14px;
	left: 0;
	right: 0;
	background: #ff4e62;
	margin: auto;
	padding: 6px;
	color: #FFFFFF;
	width: 300px;
	font-size: 16px;
	line-height: 1;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comparison02 .unnecessary li {
	position: relative;
	background: #FFFFFF;
	border: solid 2px #CCCCCC;
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.comparison02 .unnecessary li:last-child {
	margin-bottom: 0;
}
.comparison02 .unnecessary li span {
	color: #ff4e62;
	font-weight: bold;
}
.comparison02 .note {
	margin-left: 1em;
	color: #777777;
	font-size: 12px;
	text-align: left;
	text-indent: -1em;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.purpose_box {}
.purpose {
	float: left;
	width: 720px;
}
.purpose li {
	float: left;
	border: solid 1px #595cce;
	margin-left: 15px;
	width: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.purpose li:first-child {
	margin-left: 0;
}
.purpose h4 {
	background: #595cce;
	color: #FFFFFF;
	padding: 7px 17px 15px;
	font-size: 16px;
	font-weight: bold;
}
.purpose h4 span {
	display: block;
	background: #FFFFFF;
	margin: 8px auto 0;
	padding: 5px 5px 3px;
	color: #595cce;
	width: 192px;
	font-size: 13px;
	line-height: 1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.purpose_inner {
	padding: 13px 20px 10px;
	text-align: left;
}
.purpose_inner p {
	background-repeat: no-repeat;
	background-position: left center;
	padding: 7px 0 7px 40px;
	font-size: 14px;
	text-align: left;
}
.purpose_inner p.icon01 {background-image: url(../common/img/icon05.png);}
.purpose_inner p.icon02 {background-image: url(../common/img/icon06.png);}
.purpose_box .detail {
	float: right;
	width: 280px;
	text-align: left;
}
.purpose_box .detail_title {
	color: #333333;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
.purpose_box .detail_icon {
	margin-bottom: 5px;
}
.purpose_box .detail_icon img {
	display: inline-block;
	margin-left: 3px;
	vertical-align: top;
}
.purpose_box .detail_icon img:first-child {
	margin-left: 0;
}
.purpose_box .detail .note {
	color: #777777;
	font-size: 12px;
}


.rate_list{
    float: left;
		width: 720px;
}
.rate_list li{
    border: solid #595CCE 1px;
    width: 230px;
    float: left;
    margin: 0 0 0 15px;
}
.rate_list li:first-child{
    margin-left: 0;
}
.rate_list_title{
    font-size: 16px;
    font-weight: normal;
    background: #595CCE;
    color: #fff;
    padding: 10px 19px 17px;
    text-align: center;
}
.rate_list_title span{
    color: #595CCE;
    display: block;
    background: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin: 7px 0 0;
}


.rate_list_main{
    padding: 22px 25px 16px;
}
.rate_list_icon1,
.rate_list_icon2{
    position: relative;
    z-index: 1;
    text-align: left;
    line-height: 1.4;
}
.comment{
	 font-size: 11px;
}

.rate_list_icon1:before,
.rate_list_icon2:before{
    content: "";
    z-index: 1;
    position: absolute;
    background-position: 0 0;
    background-repeat:  no-repeat;
    width: 28px;
    height: 34px;
    top: -6px;
    left: 0;
}
.rate_list_icon1:before{
    background: url(../common/img/icon05.png) 0 0 no-repeat;
}
.rate_list_icon2:before{
    background: url(../common/img/icon06.png) 0 0 no-repeat;
}
.rate_list_icon1{
    margin: 0 0 16px;
    padding: 0 0 0 38px;
}
.rate_list_icon2{
    padding: 0 0 0 38px;
}

.rate_list_kome{
    margin: 0 0 46px;
}
.rate_list_link{
    display: block;
    border: #565765 1px solid;
    text-align: center;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    margin: 0 50px 70px;
}
.rate_list_link:before{
    border-color: #565765;
    right: 21px;
    left: auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.charge_item{}
.charge_item_list{}
.charge_item_list li{
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ccc 1px;
    width: 332px;
    margin: 0 0 22px 20px;
}
.charge_item_list li:nth-child(3n+1){
    margin-left: 0;
}
.charge_item_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.charge_item_name{
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 0;
    position: relative;
    z-index: 5;
}
.charge_item_img{
    position: relative;
    text-align: center;
    z-index: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_img img{
	width: 72%;
}
.charge_item_mes{
    font-size: 14px;
    text-align: center;
    display: table;
    width: 100%;
    margin: 0 0 14px;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_mes span{
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle;

}
.charge_item_m{
    background: #F7F8FC;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_m p{
    font-size: 15px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 6px 0 14px;
    vertical-align: middle;
}
.charge_item_m1{
    font-size: 24px;
    color: #ff4e62;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.charge_item_m2{
    display: block;
    font-size: 12px;
}
.charge_item_bg{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    display: block;
    opacity: 0;
    background-color: #fff;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.charge_item_list a:hover .charge_item_img{
    opacity: 0;
}
.charge_item_list a:hover .charge_item_bg{
    opacity: 1;
}
.charge_item_list a:hover .charge_item_mes{
    color: #fff;
    background: #000;
}
.charge_item_list a:hover .charge_item_m{
    background: #ff4e62;
    color: #fff;
}
.charge_item_list a:hover .charge_item_m1{
    color: #fff;
}
.charge_item_list a:hover{
    opacity: 1;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
