@charset "utf-8";


/*---------------------------------------------------------
    sec01
 ---------------------------------------------------------*/
.sec01 {
	color: #565765;
}
.sec01_tbl {
	width: 100%;
	line-height: 2;
}
.sec01_tbl th {
	width: 250px;
	font-weight: bold;
	vertical-align: middle;
}
.sec01_tbl td {
	width: 470px;
}
.sec01_tbl th,
.sec01_tbl td {
	padding: 16px 0;
	border-bottom: 1px solid #d9dbe6;
}
.sec01_tbl tr:last-child th,
.sec01_tbl tr:last-child td {
	border-bottom: none;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
