@charset "utf-8";



/*---------------------------------------------------------

 ---------------------------------------------------------*/

.details_top{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafc+0,f8f9fb+75,eaebf3+100 */
    padding: 0 0 50px;
    background: -webkit-linear-gradient(top,  #fafafc 0%,#f8f9fb 75%,#eaebf3 100%);
    background: linear-gradient(to bottom,  #fafafc 0%,#f8f9fb 75%,#eaebf3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafc', endColorstr='#eaebf3',GradientType=0 );
}

.details_top_r{
    float: right;
    margin: 0 101px 0 0;
    width: 322px;
    padding: 38px 0 0;
}
.details_top_logo{
    margin-bottom: -10px;
    font-size: 28px;
    text-align: center;
    line-height: 1.4em;
}
.details_top_mes{
    line-height: 1.6;
    text-align: center;
    margin: 0 0 12px;
    font-size: 18px;
}
.details_top_m{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0  0 1px;
}
.details_top_m span{
    color: #ff4e62;
    font-size: 32px;
}
.details_top_type{
    margin: 0  0 35px;
    font-weight: bold;
    text-align: center;
}

.details_top_type li:nth-child(3n+1){
    margin-left: 0;
}

.details_top2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c397b+0,3b4495+17,575aca+50,3b4495+83,2c397b+100 */
    background: #2c397b; /* Old browsers */
    background: -moz-linear-gradient(left,  #2c397b 0%, #3b4495 17%, #575aca 50%, #3b4495 83%, #2c397b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #2c397b 0%,#3b4495 17%,#575aca 50%,#3b4495 83%,#2c397b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #2c397b 0%,#3b4495 17%,#575aca 50%,#3b4495 83%,#2c397b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c397b', endColorstr='#2c397b',GradientType=1 ); /* IE6-9 */
}
.details_top2_inner{text-align: center;padding: 31px 0 31px;}
.details_btn{
    color: #fff;
}

.details_btn.btn02 p{
    line-height: 24px;
    background: #FF4E62;
    line-height: 24px;
    background: #FF4E62;
    padding: 15px 0;
}
.details_btn.btn02:before {
    background: #CC3E4E;
}
.details_btn .arrow01:before{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: auto;
    right: 12px;
}

.details_btn:hover{
    color: #fff;
}


.details_top_l{
    float: left;
    width: 550px;
    padding: 12px 0 0;
    position: relative;
    z-index: 1;
}

.details_top_no1,
.details_top_no2,
.details_top_no3{
    position: absolute;
    z-index: 6;
    top: 21px;
    left: 53px;
}
.details_top_no1 img,
.details_top_no2 img,
.details_top_no3 img{
    display: none;
}

.details_top_no1 .details_top_no1_img{
    display: block;
}
.details_top_no2 .details_top_no2_img{
    display: block;
}
.details_top_no3 .details_top_no3_img{
    display: block;
}

.details_top_img{
    position: relative;
    height: 400px;
    z-index: 1;
    text-align: center;
    margin: 0 0 15px;
}
.details_top_img li{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 80px;
    opacity: 0;
}
.details_top_img li:first-child{
    opacity: 1;
}
.details_top_img .details_top_img_on{
    opacity: 1 !important;
}
.details_top_img .details_top_img_off{
    opacity: 0 !important;
}
.details_top_img_btn{
    text-align: center;
    letter-spacing: -.4em;
}
.details_top_img_btn li{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: #ccc 1px solid;
    margin: 5px;
    box-sizing: border-box;
    letter-spacing: normal;
    vertical-align: top;
    cursor: pointer;
}
.details_top_img_btn li img{
    width: 100%;
}
.details_top_img_btn li:first-child{
    border-color: #333333;
}

.details_top_img_btn .details_top_img_btn_on{
    border-color: #333333 !important;
}
.details_top_img_btn .details_top_img_btn_off{
    border-color: #CCCCCC !important;
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/

.details_pglink{
    padding: 0 0 23px;
    margin: 0 0 31px;
}
.details_pglink li{
    float: left;
    width: 136px;
    margin: 0 0 0 10px;
}
.details_pglink li:first-child{
    margin-left: 0;
}
.details_pglink a{
    display: block;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
    border: #565765 solid 2px;
    padding: 30px 0;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.details_pglink a:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/arrow01.png) 0 0 no-repeat;
    width: 44px;
    height: 37px;
    margin: 0 auto;
    bottom: -24px;
    right:0;
    left: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.details_pglink a:hover{
    background-color: #ECEEF4;
    opacity: 1;
}
.details_pglink a:hover:before{
    background-image: url(../common/img/arrow01_on.png);
}

.details_title1{
    font-size: 18px;
    margin: 0 0 17px;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.side_details{
    border: #D9DBE6 solid 1px;
}
.side_details_top{
    padding-top: 19px;
    padding-bottom: 8px;
}
.side_details .model_box{
    position: relative;
    height: 100px;
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 14px;
    margin: 0 0 12px;
}
.side_details .model_box figure{
		position: absolute;
        top: -5px;
        left: -25px;
}
.side_details .model_box figure img{
        height: 90px;
}
.side_details .model_detail{
		position: absolute;
        top: 0;
        left: 50px;
        width: 160px;
}

.side_details_foot{
    background-color: #e9eaf1;
    padding-top: 10px;
    padding-bottom: 19px;
}

.side_details_icon{
    margin: 0 0 6px;
}

.side_details_no1,
.side_details_no2,
.side_details_no3,
.side_details_new{
    border: 1px solid #000;
    display: inline-block;
    font-size: 11px;
    padding: 2px 10px 1px;
    margin: 0 6px 0 0;
}

.side_details_no1{
    border-color: #AB930F;
    color: #AB930F;
}
.side_details_no2{
    border-color: #9A9A9A;
    color: #9A9A9A;
}
.side_details_no3{
    border-color: #B46144;
    color: #B46144;
}
.side_details_new{
    border-color: #595CCE;
    color: #595CCE;
}

.side_details_name{
    font-size: 15px;
    line-height: 1.4;
}
.side_details_color{margin: 0 0 2px;}
.side_details_color_list{
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 7px;
    margin: 0 0 10px;
}
.side_details_color_list label input{
    display: none;
}
.side_details_color_list label{
    cursor: pointer;
}
.side_details_color_list label,
.side_details_color_list a{
    background: #fff;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.side_details_color_list label:before,
.side_details_color_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: #000;
    top:1px;
    bottom: 1px;
    right:1px;
    left: 1px;
}


.side_details_color_list .red:before{   background: #FF4E62;}
.side_details_color_list label.label_on,
.side_details_color_list label:hover{    border-color: #FF4E62;}

.side_details_color_list .black:before{   background: #000000;}

.side_details_color_list .brown:before{ background: #BB9D69; }

.side_details_color_list .gray:before{ background: #898989; }

.side_details_color_list .rosegold:before{   background: #f4cbc5;}

.side_details_color_list .jetblack:before{   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2d2d2d+51,a0a0a0+86,777777+94,a5a5a5+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 51%, rgba(160,160,160,1) 86%, rgba(119,119,119,1) 94%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.side_details_color_list .royalpurple:before{   background: #603e94;}

.side_details_color_list .lightpink:before{   background: #f5b6c6;}

.side_details_color_list .gold:before{   background: #d4bba3;}

.side_details_color_list .lilacsilver:before{   background: #d8d7e8;}

.side_details_color_list .yellowgreen:before{   background: #d5e0af;}

.side_details_color_list .lightsideedition:before{   background: #f1fafe;}

.side_details_color_list .deeppink:before{   background: #edc5c6;}

.side_details_color_list .platinum:before{   background: #dbdbd9;}

.side_details_color_list .mineralblack:before{   background: #000;}

.side_details_color_list .forestblue:before{   background: #414b55;}

.side_details_color_list .darksideedition:before{   background: #000;}

.side_details_color_list .blue:before{   background: #a8dbea;}

.side_details_color_list .pink:before{   background: #f9cfc8;}

.side_details_color_list .white:before{   background: #eee;}

.side_details_color_list .cherrypink:before{   background: #e9717d;}

.side_details_color_list .palemint:before{   background: #70b8c6;}

.side_details_color_list .silver:before{   background: #d0d0d4;}

.side_details_color_list .yellow:before{   background: #feec01;}

.side_details_color_list .vividpink:before{   background: #e83987;}

.side_details_color_list .limegreen:before{   background: #accc25;}

.side_details_color_list .lightgreen:before{   background: #c4d847;}

.side_details_color_list .citrus:before{   background: #c6c956;}


.side_details_m{
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
}
.side_details_m a{
    font-size: 11px;
    color: #2a98cd;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 3px;
}
.side_details_m a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-left: 4px solid #2a98cd;
    border-right: 4px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 16px;
    height: 5px;
    top: 5px;
    left: -12px;
}
.side_details_m_list{
    margin: 0 0 21px;
}
.side_details_m_list li{
    margin: 0 0 9px;
}
.side_details_m_list li.osusume{
    position: relative;
}
.side_details_m_list li.osusume:before{
    content: "";
    display: inline-block;
    width: 42px;
    height: 26px;
    background: url(../img/details/osusume.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -8px;
    left: -10px;
    z-index: 10;
}
.side_details_m_list label{
    cursor: pointer;
}
.side_details_m_list label input{
    display: none;
}
.side_details_m_list label,
.side_details_m_list a{
    font-size: 12px;
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px 50% 15px 12px;
}
.side_details_m_list label:before,
.side_details_m_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.side_details_m_list .label_on:before,
.side_details_m_list label:hover:before,
.side_details_m_list a:hover:before{
    border:2px solid #FF4E62;
}
.side_details_m_list span{
    font-size: 18px;
    position: absolute;
    z-index: 1;
    right: 13px;
    top: 50%;
    font-weight: bold;
    color: #ff4e62;
    margin-top: -13px;
}
.side_details_m_list small{
    font-size: 12px;
}


.side_details_btn{
    font-size: 16px;
    color: #fff;
    margin: 0 0 14px;
    width: 100%;
}
.side_details_btn:hover{
    color: #fff;
}
.side_details_btn.btn02 p{
    background: #FF4E62 url(../common/img/icon02_02.png) 13px 50% no-repeat;
    padding: 16px 0 16px 28px;
}
.side_details_btn.btn02:before {
    background: #CC3E4E;
}


.side_details_btn2{
    width: 100%;
    font-size: 14px;
    color: #333333;
    margin: 0 0 14px;
}
.side_details_btn2:hover{
    color: #333333;
}
.side_details_btn2.btn02 p{
    background: #e9e9e9 url(../img/details/icon04.png) 13px 50% no-repeat;
    padding: 11px 0 10px 28px;
    line-height: 1.3;
}
.side_details_btn2.btn02:before {
    background: #bababa;
}


.side_details_tel_mes{
    font-size: 12px;
}
.side_details_tel{
    font-size: 26px;
    font-weight: bold;
    padding: 0 0 0 33px;
    letter-spacing: 0px;
    position: relative;
    z-index: 1;
}
.side_details_tel:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/tel3.png) 0 0 no-repeat;
    width: 28px;
    height: 19px;
    top: 9px;
    left: 0;
}
.side_details_kome{
    color: #595cce;
    font-size: 12px;
    padding: 0 0 0 25px;
    position: relative;
    z-index: 1;
    margin: 0 0 9px;
}
.side_details_kome:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/icon03.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
}
.side_details_kome_list{}
.side_details_kome_list li{
    background: #595cce;
    color: #fff;
    float: left;
    font-size: 11px;
    text-align: center;
    width: 64px;
    margin: 0 0 0 8px;
    line-height: 13px;
    border-radius: 3px;
}
.side_details_kome_list li:nth-child(1){
    margin-left: 0;
    padding: 13px 0 14px;
}
.side_details_kome_list li:nth-child(2){
    padding: 7px 0;
}
.side_details_kome_list li:nth-child(3){
    padding: 7px 0;
}

.details_text1{
    line-height: 1.8;
    margin: 0 0 21px;
}
.details_img1{
    margin: 0 0 45px;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.itemdata{
    margin: 0 0 50px;
}
.itemdata_tab{
    border-bottom: #cccccc solid 5px;
    margin: 0 0 32px;
}
.itemdata_tab li{
    float: left;
    width: 203px;
    text-align: center;
    margin: 0 10px 0 0;
}


.itemdata_tab a{
    display: block;
    background: #f1f1f1;
    padding: 17px 0;
}


.itemdata_tab li.itemdata_tab_on a,
.itemdata_tab a:hover{
    background: #cccccc;
    color: #fff;
}

.itemdata_boxs{}
.itemdata_box{
    /* display: none; */
}
.itemdata_box.itemdata_on{
    display: block;
}

.itemdata_tab_table{
    width: 100%;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin: 0 0 22px;
}
.itemdata_tab_table td,
.itemdata_tab_table th{
    padding: 12px 19px 11px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.itemdata_tab_table td{

}
.itemdata_tab_table th{
    width: 240px;
    background: #EEE;
    font-weight: bolder;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.review{
    margin: 0 0 47px;
}
.review_box{
    border: solid #D9DBE6 1px;
    margin: 0 0 20px;
}
.review_box_name{
    background:#F5F5FA;
    font-size: 16px;
    padding: 10px 29px;
}
.review_box_name span{
    margin: 0 0 0 11px;
    position: relative;
    z-index: 1;
    top: -3px;
}
.review_box_main{
    padding: 27px 29px 21px;
}
.review_box_title{
    font-size: 18px;
    margin: 0 0 12px;
}
.review_box_mes{
    margin: 0 0 17px;
}
.review_box_user{
    padding: 0 0 0 26px;
    position: relative;
    z-index: 1;
}

.review_box_user:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/details/icon01.png) 0 0 no-repeat;
    width: 16px;
    height: 20px;
    top: 0px;
    left: 0;
}

.review_box_user span{
    color: #999999;
}

.rate_mes{
    line-height: 1.8;
    margin: 0 0 42px;
}
.rate_title1{
    background: #FF4E62;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 0;
    margin: 0 0 33px;
}
.rate_box1{
    margin: 0 0 34px;
}
.rate_box1_list{
    float: left;
    padding: 35px 16px 36px;
    position: relative;
    z-index: 1;
}
.rate_box1_list:before{
    content: "";
    z-index: 1;
    position: absolute;

    border:1px solid #565765;

    top:0;
    bottom: 0;
    right:0;
    left: 0;
}

.rate_box1_list li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 140px;
    padding: 107px 0 0;
    line-height: 1.3;
    background-repeat: no-repeat;
    background-position: 50% 14px;
    position: relative;
    z-index: 1;
}
.rate_box1_list li:nth-child(1){
    background-image: url(../img/details/rate_01.png);
}
.rate_box1_list li:nth-child(2){
    background-image: url(../img/details/rate_03.png);
}
.rate_box1_list li:nth-child(3){
    background-image: url(../img/details/rate_02.png);
}
.rate_box1_list li:nth-child(1):before{
    display: none;
}
.rate_box1_list li:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/details/icon03.png) 0 0 no-repeat;
    width: 22px;
    height: 20px;
    top: 41px;
    left: -12px;
}

.rate_box1_m{
    float: right;
    text-align: center;
    position: relative;
    z-index: 1;
    background: url(../img/details/rate_04.png) 50% 34px no-repeat;
}


.rate_box1_m:before{
    content: "";
    z-index: 1;
    position: absolute;

    border: 3px solid #FF4E62;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
}
.rate_box1_m:after{
    content: "";
    z-index: 1;
    position: absolute;
    border-top: 3px solid #565765;
    border-bottom: 3px solid #565765;
    width: 25px;
    height: 12px;
    top: 46%;
    left: -47px;
}

.rate_box1_m p{
    font-size: 22px;
    color: #ff4e62;
    font-weight: bold;
    width: 202px;
    padding: 107px 0 27px;
    line-height: 1.3;
}
.rate_box1_m span{
    font-size: 12px;
    position: relative;
    z-index: 1;
    top: -6px;
}

.rate_list{
    margin: 0 0 14px;
}
.rate_list li{
    border: solid #595CCE 1px;
    width: 230px;
    float: left;
    margin: 0 0 0 15px;
}
.rate_list li:first-child{
    margin-left: 0;
}
.rate_list_title{
    font-size: 16px;
    font-weight: normal;
    background: #595CCE;
    color: #fff;
    padding: 10px 19px 17px;
    text-align: center;
}
.rate_list_title span{
    color: #595CCE;
    display: block;
    background: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin: 7px 0 0;
}


.rate_list_main{
    padding: 22px 25px 16px;
}
.rate_list_icon1,
.rate_list_icon2{
    position: relative;
    z-index: 1;
}
.rate_list_icon1:before,
.rate_list_icon2:before{
    content: "";
    z-index: 1;
    position: absolute;
    background-position: 0 0;
    background-repeat:  no-repeat;
    width: 28px;
    height: 34px;
    top: -6px;
    left: 0;
}
.rate_list_icon1:before{
    background: url(../common/img/icon05.png) 0 0 no-repeat;
}
.rate_list_icon2:before{
    background: url(../common/img/icon06.png) 0 0 no-repeat;
}
.rate_list_icon1{
    margin: 0 0 16px;
    padding: 0 0 0 38px;
}
.rate_list_icon2{
    padding: 0 0 0 38px;
}

.rate_list_kome{
    margin: 0 0 46px;
}
.rate_list_link{
    display: block;
    border: #565765 1px solid;
    text-align: center;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    margin: 0px 50px 45px;
}
.rate_list_link:before{
    border-color: #565765;
    right: 21px;
    left: auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.rate_item{
    border: solid #595CCE 1px;
}
.rate_item_title{
    background: #595CCE;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 13px 0;
}
.rate_item_title span{
    position: relative;
    z-index: 1;
    padding: 0 0 0 30px;
}
.rate_item_title span:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/icon02_03.png) 0 0 no-repeat;
    width: 28px;
    height: 29px;
    top: 0px;
    left: 0;
}
.rate_item_inner{
    padding: 20px 30px 30px;
}
.rate_item_name{
    position: relative;
    z-index: 1;
    margin: 0 0 26px;
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 22px;
}
.rate_item_name figure{
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 0;
    width: 150px;
    height: 155px;
}
.rate_item_name figure img{
    width: 100%;
}
.rate_item_name p{
    display: table;
    width: 100%;
    height: 117px;
}
.rate_item_name p span{
    display: table-cell;
    padding: 0 0 0 155px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.rate_item_title2{
    margin: 0 0 9px;
}



.rate_item_color_list{
    border-bottom: dashed #A8A8A8 1px;
    padding: 0 0 5px;
    margin: 0 0 25px;
	letter-spacing: -0.5em;
}
.rate_item_color_list label input{
    display: none;
}
.rate_item_color_list label,
.rate_item_color_list a{
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
	margin-left: 20px;
    padding: 15px 10px;
		width: 149px;
		font-size: 13px;
		text-align: center;
		letter-spacing: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
        cursor: pointer;
}
.rate_item_color_list label:nth-child(4n+1),
.rate_item_color_list a:nth-child(4n+1){
		margin-left: 0;
}
.rate_item_color_list label:before,
.rate_item_color_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.rate_item_color_list .label_on:before,
.rate_item_color_list label:hover:before,
.rate_item_color_list a:hover:before{
    border-color: #ff4e62;
    border-width: 3px;
}

.rate_item_color_list span{
		position: relative;
		padding-left: 23px;
}

.rate_item_color_list span:before{
    content: "";
    z-index: 1;
    position: absolute;
    top:-1px;
    bottom: 0;
    left: 0;
    background-color: #ff4e62;
		margin: auto;
		width: 15px;
		height: 15px;
}

.rate_item_color_list .red:before {background-color: #FF4E62;}
.rate_item_color_list .black:before {background-color: #000000;}
.rate_item_color_list .brown:before {background-color: #BB9D69; }
.rate_item_color_list .gray:before {background-color: #898989; }
.rate_item_color_list .rosegold:before {background-color: #f4cbc5;}
.rate_item_color_list .royalpurple:before {background-color: #603e94;}
.rate_item_color_list .lightpink:before {background-color: #f5b6c6;}
.rate_item_color_list .gold:before {background-color: #d4bba3;}
.rate_item_color_list .lilacsilver:before {background-color: #d8d7e8;}
.rate_item_color_list .yellowgreen:before {background-color: #d5e0af;}
.rate_item_color_list .lightsideedition:before {background-color: #f1fafe;}
.rate_item_color_list .deeppink:before {background-color: #edc5c6;}
.rate_item_color_list .platinum:before {background-color: #dbdbd9;}
.rate_item_color_list .mineralblack:before {background-color: #000;}
.rate_item_color_list .forestblue:before {background-color: #414b55;}
.rate_item_color_list .darksideedition:before {background-color: #000;}
.rate_item_color_list .blue:before {background-color: #a8dbea;}
.rate_item_color_list .pink:before {background-color: #f9cfc8;}
.rate_item_color_list .white:before {background-color: #eee;}
.rate_item_color_list .silver:before {background-color: #d0d0d4;}
.rate_item_color_list .cherrypink:before {background-color: #e9717d;}
.rate_item_color_list .palemint:before {background-color: #70b8c6;}
.rate_item_color_list .spacegrey:before {background-color: #000;}
.rate_item_color_list .citrus:before {background-color: #c6c956;}
.rate_item_color_list .jetblack:before{   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2d2d2d+51,a0a0a0+86,777777+94,a5a5a5+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 51%, rgba(160,160,160,1) 86%, rgba(119,119,119,1) 94%, rgba(165,165,165,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 51%,rgba(160,160,160,1) 86%,rgba(119,119,119,1) 94%,rgba(165,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.rate_item_m_list{
    margin: 0 0 31px;
}
.rate_item_m_list li{
    float: left;
    width: 200px;
    margin: 0 0 0 29px;
}
.rate_item_m_list li:first-child{
    margin-left: 0;
}
.rate_item_m_list li.osusume{
    position: relative;
}
.rate_item_m_list li.osusume:before{
    content: "";
    display: inline-block;
    width: 54px;
    height: 33px;
    background: url(../img/details/osusume.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: -12px;
    left: -10px;
    z-index: 10;
}
.rate_item_m_list label input{
    display: none;
}
.rate_item_m_list label,
.rate_item_m_list a{
    font-size: 17px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 31px 0;
    cursor: pointer;
}
.rate_item_m_list label:before,
.rate_item_m_list a:before{
    content: "";
    z-index: 1;
    position: absolute;
    border:1px solid #ccc;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 5px;
}
.rate_item_m_list .label_on:before,
.rate_item_m_list label:hover:before,
.rate_item_m_list a:hover:before{
    border-color: #ff4e62;
    border-width: 3px;
}
.rate_item_m_list span{
    font-size: 26px;
    display: block;
    color: #ff4e62;
    font-weight: bold;
}
.rate_item_m_list small{
    font-size: 17px;
}


.rate_item_cart{
    margin: 0 0 26px;
}
.rate_item_cart_l{
    float: left;
    width: 319px;
}
.rate_item_btn{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
.rate_item_btn:hover{
    color:#fff;
}
.rate_item_btn.btn02 p{
    background: #FF4E62 url(../common/img/icon02_03.png) 56px 50% no-repeat;
    padding: 16px 0 16px 37px;
}
.rate_item_btn.btn02:before {
    background: #CC3E4E;
}


.rate_item_cart_r{
    float: right;
    text-align: right;
    padding: 0 7px 0 0;
}
.rate_item_tel_mes{
    font-size: 17px;
    margin: 0 0 6px;
}
.rate_item_tel{
		font-family: Arial, Helvetica, "sans-serif";
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.7px;
    line-height: 1;
    position: relative;
    z-index: 1;
}
.rate_item_tel:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/tel2.png) 0 0 no-repeat;
    width: 38px;
    height: 25px;
    top: 4px;
    left: -2px;
}
.rate_item_foot{
    background: #e9eaf1;
    padding: 10px 19px;
}
.rate_item_kome_title{
    font-size: 13px;
    color: #595cce;
    display: inline;
    padding: 0 0 0 31px;
    position: relative;
    z-index: 1;
}
.rate_item_kome_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../common/img/icon03.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0;
}
.rate_item_kome{
    display: inline-block;
    background: #595cce;
    font-size: 12px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 0 0 0 6px;
}

.rate_flow{
    margin: 50px 0 0;
}
.rate_flow .rate_flowList{
    display: table;
    width: 100%;
    height: 127px;
    border: #CCCCCC solid 1px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 0px 37px 0px 134px;
    background-position: 36px 50%;
    margin: 0 0 50px;
}
.rate_flow .rate_flowList:first-child:before{
    content: "";
    z-index: 49;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent;
    border-bottom: 1px solid #595cce;
    border-right: 1px solid #595cce;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: 3px;
    bottom: -30px;
}
.rate_flow_branch{
    overflow: hidden;
    width: 100%;
    margin-top: -50px;
}
.rate_flow_branch .rate_flow_branchList{
    display: table;
    position: relative;
    float: left;
    width: 48.5%;
    height: 127px;
    padding: 0px 15px 0px 134px;
    border: #CCC solid 1px;
    margin: 50px 0;
    background-repeat: no-repeat;
    background-position: 36px 50%;
    z-index: 1;
}
.rate_flow_branch .rate_flow_branchList:first-child{
    margin-right: 3%;
}
.rate_flow_branch .rate_flow_branchList:before{
    content: "";
    z-index: 49;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent;
    border-bottom: 1px solid #595cce;
    border-right: 1px solid #595cce;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: 3px;
    top: -40px;
}
.rate_flow_branch .rate_flow_branchList:after{
    content: "";
    z-index: 49;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: transparent;
    border-bottom: 1px solid #595cce;
    border-right: 1px solid #595cce;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: 3px;
    bottom: -30px;
}

.rate_flow_inner{
    display: table-cell;
    vertical-align: middle;
}
.rate_flow_icon01{
    background-image: url(../img/details/flow_01.png);
}
.rate_flow_icon02{
    background-image: url(../img/details/flow_02.png);
}
.rate_flow_icon03{
    background-image: url(../img/details/flow_03.png);
}
.rate_flow_icon04{
    background-image: url(../img/details/flow_04.png);
}
.rate_flow_icon05{
    background-image: url(../img/details/flow_05.png);
}
.rate_flow_name{
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
}
.rate_flow_mes{
    font-size: 14px;
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/

.step {
	margin-bottom: 20px;
}
.step li {
	position: relative;
	float: left;
	border: solid 2px #ECEEF4;
	margin-left: 15px;
	padding: 8px;
	width: 153px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.step li:first-child {
	margin-left: 0;
}
.step li:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -14px;
	margin: auto;
	width: 6px;
	height: 6px;
	border-top: 2px solid #595CCE;
	border-right: 2px solid #595CCE;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
}
.step li:first-child:before {
	display: none;
}
.step li dt {
	background: #595CCE;
	color: #FFFFFF;
	margin: 0 auto 10px;
	width: 100px;
	font-size: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.step li dd {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.05em;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.detailsData_list{
    margin: 0 0 28px;
}
.detailsData_list li{
    background-color: #595cce;
    background-position: 20px 50%;
    background-repeat: no-repeat;
    /* background-size: auto 20px; */
    color: #fff;
    float: left;
    margin: 0 0 8px 9px;
    width: 173px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    padding: 13px 0 13px 33px;
    border-radius: 3px;
    text-align: center;
}
.detailsData_list li.detailsData_br{
    padding: 6px 0 6px 33px;
}
.detailsData_list li.detailsData_not{
    background-color: #D8E1E8;
}
.detailsData_icn1{
    background-image: url(../img/details/spec01.png);
}
.detailsData_icn2{
    background-image: url(../img/details/spec02.png);
}
.detailsData_icn3{
    background-image: url(../img/details/spec03.png);
}
.detailsData_icn4{
    background-image: url(../img/details/spec04.png);
}
.detailsData_icn5{
    background-image: url(../img/details/spec05.png);
}
.detailsData_icn6{
    background-image: url(../img/details/spec06.png);
}
.detailsData_icn7{
    background-image: url(../img/details/spec07.png);
}
.detailsData_icn8{
    background-image: url(../img/details/spec08.png);
}
.detailsData_icn9{
    background-image: url(../img/details/spec09.png);
}
.detailsData_icn10{
    background-image: url(../img/details/spec10.png);
}
.detailsData_icn11{
    background-image: url(../img/details/spec11.png);
}




.detailsData_list li:nth-child(4n+1){
    margin-left: 0;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
