@charset "utf-8";

/*---------------------------------------------------------

 ---------------------------------------------------------*/

.qa_wrap{}
.qa_wrap dt{
	background: #f5f5fa;
	font-size: 15px;
	color: #595cce;
	position: relative;
	z-index: 1;
	padding: 13px 48px;
	margin: 0 0 15px;
}
.qa_wrap dt:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../img/faq/icon_q.png) 0 0 no-repeat;
	width: 19px;
	height: 14px;
	top: 17px;
	left: 18px;
}
.qa_wrap dd{
	position: relative;
	z-index: 1;
	padding: 0 48px;
	margin: 0 0 20px;
}
.faq_box2{
	margin: 0 -30px 0;
}
.faq_title2{margin: 15px 0 10px;}

.qa_wrap dd:before{
	content: "";
	z-index: 1;
	position: absolute;
	background: url(../img/faq/icon_a.png) 0 0 no-repeat;
	width: 14px;
	height: 10px;
	top: 4px;
	left: 18px;
}
.faq_table{
    width: 100%;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin: 0 0 30px;
}
.faq_table td,
.faq_table th{
    padding: 12px 19px 11px;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.faq_table td{

}
.faq_table th{
    width: 240px;
    background: #EEE;
    font-weight: bolder;
    vertical-align: middle;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
