@charset "utf-8";

.main .container-fluid{
	padding: 0;
	width: auto;
    max-width: none;
}
#main, .main_l{
    width: auto !important;
	float: none;
}
#header{
	padding: 0;
	height: 127px;
}

/*---------------
	mainv
-----------------*/
.mainv {
	background-image: url(../img/form-entry/mainv.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}
.mainv_inquiry{
	background: #ecf0f3 url(../img/form-entry/mainv2.jpg) 50% 50% no-repeat;

}
.mainv_inquiry .mainWidth{
	background: url(../img/form-entry/mainv2.jpg) 50% 50% no-repeat;
    height: 196px;
}
.mainv_l h1 {
	font-size: 30px;
	color: #333;
	margin-bottom: 20px;
    padding-top: 32px;
}
.mainv_l p {
	letter-spacing: 1px;
	line-height: 1.8;
	padding-bottom: 46px;
}
.mainv_l {
	float: left;
}
.mainv_r {
	float: right;
}
.mainv_flow {
	margin-top: 20px;
}
.mainv_flow>p {
	font-size: 13px;
	margin-bottom: 8px;
}
.mainv_ul {

}
.mainv_ul li {
	float: left;
	width: 110px;
	margin-right: 11px;
	text-align: center;
	background-color: #fff;
	padding: 8px;
	position: relative;
}
.mainv_ul li:last-child {
	margin-right: 0;
}
.mainv_ul li:after {
	content: "";
	width: 7px;
 	height: 7px;
	border: 0px;
	border-top: solid 2px #595cce;
	border-right: solid 2px #595cce;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	bottom: 0;
	right: -8px;
	margin: auto 0;
}
.mainv_ul li:last-child:after {
	content: none;
}
.mainv_ul li h4 {
	background-color: #595cce;
	color: #fff;
	font-size: 12px;
	border-radius: 13px;
	margin-bottom: 8px;
}
.mainv_ul li p {
	font-size: 12px;
	letter-spacing: -1px;
}
.mainv_ul li img {
	margin-bottom: 5px;
}
/*---------------
	sec01
-----------------*/
.sec01_ul {

}
.sec01_ul li {
	float: left;
	width: 33%;
	text-align: center;
	border-top: 1px solid #595cce;
	border-bottom: 1px solid #595cce;
	padding: 13px 0;
	position: relative;
}
.sec01_ul li:last-child {
	border-right: 1px solid #595cce;
}
.sec01_ul li.done {
	background-color: #595cce;
	color: #fff;
}
.sec01_ul li.done:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	right: -10px;
	top: 0;
	border-style: solid;
	border-width: 24px 0 24px 10px;
	border-color: transparent transparent transparent #595cce;
}
.sec01_ul li:nth-child(2):after {
	position: absolute;
	content: "";
	width: 11px;
	height: 50px;
	top: -1px;
	right: -11px;
	background-image: url(../img/form-entry/flow_arrow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.sec01_ul li.done:nth-child(3):before,
.sec01_ul li.done:nth-child(2):before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: 0px;
	top: 0;
	border-style: solid;
	border-width: 24px 0 24px 10px;
	border-color: transparent transparent transparent #fff;
}
.sec01_ul li.done:nth-child(3):after{
	display: none;
}
.sec01_ul li:nth-child(1) {
	border-left: 1px solid #595cce;
}
.sec01_ul li:nth-child(1):after {
	position: absolute;
	content: "";
	width: 11px;
	height: 50px;
	top: -1px;
	right: -11px;
	background-image: url(../img/form-entry/flow_arrow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*---------------
	sec02
-----------------*/
.sec02 {

}
.sec02Inner {
	padding: 40px 0;
}
.sec02Inner h3 {
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.sec02_box_l {
	float: left;
	width: 280px;
	margin-top: 15px;
}
.sec02_box_l p {
	text-align: center;
	height: 200px;
}
.sec02_box_l p img {
	height: 100%;
	width: auto;
}
.sec02_box_c {
	float: left;
	width: 420px;
	margin-top: 50px;
}
.sec02_box_c dl {
	margin-bottom: 15px;
}
.sec02_box_c dt {
	clear: left;
	float: left;
	margin-right: 10px;
	border-right: 1px solid #565765;
	width: 4em;
	line-height: 1;
	margin-bottom: 10px;
}
.sec02_box_c dd {
	line-height: 1;
	margin-bottom: 10px;
}
.sec02_box_c p {
	font-size: 12px;
}
.sec02_box_r {
	float: right;
	width: 290px;
	margin-top: 20px;
}
.sec02_box2 {
	background-color: #fafafa;
	border: 1px solid #ddd;
	padding: 22px 27px;
	text-align: center;
}
.sec02_tag {
	text-align: center;
	border: 1px solid #565765;
	border-radius: 4px;
	padding: 4px 6px;
	font-size: 11px;
	margin-right: 7px;
}
.sec02_tag:nth-child(3) {
	margin-right: 0;
}
.sec02_txt {
	font-size: 18px;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 10px;
}
.sec02_price {
	font-size: 44px;
	color: #ff4e62;
	line-height: 49px;
}
.sec02_price span:first-child {
	font-size: 26px;
	color: #565765;
	font-weight: bold;
}
.sec02_price span:nth-child(2) {
	font-size: 20px;
	color: #565765;
}
/*---------------
	sec03
-----------------*/
.sec03 {

}
.sec03Inner {
	padding-bottom: 78px;
}
.sec03Inner h3 {
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.sec03_tbl {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}
.sec03_tbl th {
	background-color: #eee;
	font-size: 16px;
	width: 250px;
}
.sec03_tbl td {
	vertical-align: middle;
}
.sec03_tbl th,
.sec03_tbl td {
	padding: 20px 30px;
	position: relative;
}
.sec03_tbl input {
	padding: 6px 16px;
	font-size: 15px;
	border: 1px solid #bbb;
	margin-right: 12px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sec03_tbl textarea {
	padding: 6px 16px;
	font-size: 15px;
	border: 1px solid #bbb;
	width: 100%;
    height: 100px;
}
input.zip1,
input.zip2 {
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 12px;
	width: 6em;
}
input.address {
	width: 100%;
}

.sec02 .btn-default,
.sec03 .btn-default{
    font-size: 15px;
    margin-bottom: 12px;
}
.sec02 .pref,
.sec03 .pref{
    font-size: 15px;
    border: 1px solid #bbb;
    box-shadow: none;
    height: 40px;
    padding: 6px 12px;
    width: auto;
    line-height: 1.5;
    margin-bottom: 12px;
}
.sec02 .address2,
.sec03 .address2{
    margin-bottom: 12px;
}

.tel input {
	width: 6em;
}
.tel input:first-child {
	margin-right: 6px;
}
.tel input:nth-child(n+2) {
	margin-left: 6px;
	margin-right: 6px;
}
input.mail {
	width: 60%;
}
input.notentered {
	background-color: #ffe1e1;
}
.caution {
	position: absolute;
	background-color: #000;
	color: #fff;
	padding: 8px 15px;
	border-radius: 6px;
}
.caution:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -12px;
	right: 0;
	left: 0;
	margin: 0 auto;
	border-style: solid;
	border-width: 12px 9px 0 9px;
	border-color: #000 transparent transparent transparent;
}
.carrier label {
	font-size: 11px;
	margin-right: 24px;
}
.carrier .nini {
	margin-top: -12px;
}
.hissu {
	display: inline-block;
	background-color: #ff4e62;
	color: #fff;
	text-align: center;
	padding: 3px 8px;
	border-radius: 2px;
	clear: right;
	float: right;
	margin-top: -3px;
	font-size: 13px;
}
.nini {
	display: inline-block;
	background-color: #aeaeae;
	color: #fff;
	text-align: center;
	padding: 3px 8px;
	border-radius: 2px;
	clear: right;
	float: right;
	margin-top: -3px;
	font-size: 13px;
}
.sec03_txt1 {
	font-size: 12px;
	margin: 15px 0 40px;
}
.sec03_btn {
	margin: 0 auto;
	display: block;
    border-radius: 3px;
    padding: 0 0 3px;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    width: 450px;
}
.sec03_btn:hover {
	padding: 3px 0 0;
    opacity: 1;
    color: #fff;
}
.sec03_btn:before {
	background-color: #7a7a7a;
    content: "";
    z-index: 1;
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 3px 3px;
}
.sec03_btn span {
	background-color: #999;
	position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    border-radius: 3px;
    display: block;
    padding: 20px 0;
}
.sec03_btn span:after {
	content: "";
    z-index: 1;
    position: absolute;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 10px;
    height: 10px;
    top: 41%;
    right: 20px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.form_fin{
    font-size: 24px;
    text-align: center;
    margin: 0 0 8px;
}
.form_fin_mes{
	font-size: 15px;
	text-align: center;
    margin: 0 0 38px;
}
.form_fin_mes p{
    margin: 0 0 8px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.form-control{
font-size: inherit;
}
.dl_table{

/*border-top: hidden;*/
border-right: 1px dotted #ccc;

}
.dl_table dt{
background-color : #eee;
width: inherit;
padding: 0 15px;
/*border-bottom: hidden;*/
}
.dl_table span.required{

display: inline-block;
background-color: #ff4e62;
color: #fff;
text-align: center;
padding: 3px 8px;
border-radius: 2px;
clear: right;
float: right;
margin-top: -3px;
font-size: 13px;
}

.dl_table dd{
/*border-bottom: hidden;*/
}

.bg-dog {
	height: 220px;
	background: url(../img/form-entry/dog.png) no-repeat right top;
	padding-top: 80px !important;
	margin-top: -70px;
}
#main,
.main_l{
    margin: 0;
}

.form-group .radio {
	float: left;
	margin-right: 30px;
}
.form-group .radio:last-child {
	margin-right: 0;
}