@charset "utf-8";



/*---------------
	sec01
-----------------*/
.sec01_ul {
	margin-top: 28px;
	margin-bottom: 39px;
}
.sec01_ul li {
	float: left;
	width: 173px;
	height: 111px;
	background-repeat: no-repeat;
	margin-right: 9.33px;
	transition: background-image .5s;
}
.sec01_ul li:last-child {
	margin-right: 0;
}
.sec01_ul li a {
	display: block;
	height: 111px;
}
.sec01_link1 {
	background-image: url(../img/guide/sec01_link1.png);
}
.sec01_link2 {
	background-image: url(../img/guide/sec01_link2.png);
}
.sec01_link3 {
	background-image: url(../img/guide/sec01_link3.png);
}
.sec01_link4 {
	background-image: url(../img/guide/sec01_link4.png);
}
.sec01_link1:hover {
	background-image: url(../img/guide/sec01_link1_hover.png);
}
.sec01_link2:hover {
	background-image: url(../img/guide/sec01_link2_hover.png);
}
.sec01_link3:hover {
	background-image: url(../img/guide/sec01_link3_hover.png);
}
.sec01_link4:hover {
	background-image: url(../img/guide/sec01_link4_hover.png);
}
/*---------------
	sec02
-----------------*/
.sec02Inner {
	padding-bottom: 52px;
}
.sec02_tbl {
	width: 100%;
}
.sec02_tbl th {
	width: 60px;
	background-color: #eceef4;
	text-align: center;
	background-image: url(../img/guide/sec02_tri.png);
	background-repeat: no-repeat;
}
.sec02_tbl tr:first-child th {
	background-image: none;
}
.sec02_tbl th span {
	display: block;
	font-size: 23px;
	line-height: 1;
}
.sec02_tbl td {
	padding: 15px 0 20px 19px;
}
.sec02_tbl td h3 {
	font-size: 20px;
	margin-bottom: 15px;
}
.sec02_btn {
	width: 207px;
	margin-left: 0;
	margin-top: 24px;
}
.sec02_btn:before {
	background: #469A33;
}
.sec02_btn p {
	line-height: 24px;
    background: #58C140;
    padding: 12px 0;
    color: #fff;
    font-size: 16px;
}
/*---------------
	sec03
-----------------*/
.sec03Inner {
	padding-bottom: 40px;
}
.sec03 h2+p {
	margin-bottom: 27px;
}
.sec03 h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
.sec03_box {
	padding-bottom: 3px;
}
.sec03_ul {
	margin-bottom: 6px;
}
.sec03_ul li {
	float: left;
	width: 350px;
	margin-right: 20px;
	margin-bottom: 15px;
	padding: 22px 33px 22px 87px;
	border: 1px solid #d9dbe6;
	background-repeat: no-repeat;
	background-position: 13px 50%;
}
.sec03_ul li:nth-child(2n) {
	margin-right: 0;
}
.sec03_ul .item1 {
	background-image: url(../img/guide/sec03_icon1.png);
}
.sec03_ul .item2 {
	background-image: url(../img/guide/sec03_icon2.png);
}
.sec03_ul .item3 {
	background-image: url(../img/guide/sec03_icon3.png);
}
.sec03_ul .item4 {
	background-image: url(../img/guide/sec03_icon4.png);
}
.sec03_ul .item5 {
	background-image: url(../img/guide/sec03_icon5.png);
}
.sec03_ul li h4 {
	font-size: 16px;
	margin-bottom: 14px;
}
.sec03_ul li p {
	font-size: 12px;
}
.sec03_txt {
	font-size: 11px;
	line-height: 2;
}
/*---------------
	sec04
-----------------*/
.sec04 h2+p {
	margin-bottom: 27px;
}
.sec04Inner {
	padding-bottom: 40px;
}
.sec04_tbl {
	width: 100%;
	margin-bottom: 16px;
}
.sec04_tbl th {
	width: 240px;
	background-color: #eceef4;
}
.sec04_tbl th,
.sec04_tbl td {
	padding: 12px 0 12px 20px;
}
.sec04_tbl td {
	border-top: 1px solid #eceef4;
}
.sec04_tbl td:last-child {
	border-bottom: 1px solid #eceef4;	
}
/*---------------
	sec05
-----------------*/
.sec05 h2+p {
	margin-bottom: 27px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
