{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form/common.css?v={{ constant('Eccube\\Common\\Constant::VERSION') }}">
{% endblock %}

{% block javascript %}
{% endblock javascript %}


{% block main %}
    <h1 class="page-heading">お申込情報の入力</h1>
    <div id="cart" class="container-fluid">
        <div id="cart_box" class="row">
            <div id="cart_box__body" class="col-md-10 col-md-offset-1">
                <div id="cart_box__flow_state" class="flowline step3">
                    <ul id="cart_box__flow_state_list" class="clearfix">
                        <li class="active"><span class="flow_number">1</span><br>お客様情報</li>
                        <li><span class="flow_number">2</span><br>入力内容確認</li>
                        <li><span class="flow_number">3</span><br>完了</li>
                    </ul>
                </div>

                {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
                {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                    {% set idx = loop.index0 %}
                    {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                    {% else %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
                    <div id="cart_box__message_error--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}

                {% if Cart.CartItems|length > 0 %}
                <div id="cart_item_list" class="cart_item table">
                    <div class="thead">
                        <ol id="cart_item_list__header">
                            <li id="cart_item_list__header_product_detail">商品内容</li>
                        </ol>
                    </div>
                    <div id="cart_item_list__body" class="tbody">

                        {% for CartItem in Cart.CartItems %}
                            {% set ProductClass = CartItem.Object %}
                            {% set Product = ProductClass.Product %}

                            <div id="cart_item_list__item" class="item_box tr">
                                <div class="td table">
                                    <div id="cart_item_list__product_image" class="item_photo">
                                        <a  target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                            <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}" />
                                        </a>
                                    </div>
                                    <dl class="item_detail">
                                        <dt id="cart_item_list__product_detail" class="item_name text-default">
                                            <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                        </dt>
                                        <dd id="cart_item_list__class_category" class="item_pattern small">
                                            {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                {{ ProductClass.ClassCategory1.ClassName }}：{{ ProductClass.ClassCategory1 }}
                                            {% endif %}
                                            {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                <br>{{ ProductClass.ClassCategory2.ClassName }}：{{ ProductClass.ClassCategory2 }}
                                            {% endif %}
                                            fff{{CartItem.color}}
                                        </dd>
                                    </dl>
                                </div>
                            </div><!--/item_box-->
                        {% endfor %}

                    </div>
                </div><!--/cart_item-->

                {% else %}
                <div id="cart_box__message" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>現在カート内に商品はございません。
                    </p>
                </div>
                {% endif %}

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
    <div id="detail_wrap" class="container-fluid inner no-padding">
        <div id="detail_box__body" class="row">
            <div id="detail_box__body_inner" class="col-md-10 col-md-offset-1">
                <form method="post" action="{{ url('plugin_customentryform_formentry', {id : id}) }}">
                    {{ form_widget(form._token) }}
                    <div id="detail_box__body" class="dl_table">
                        <dl id="confirm_box__name">
                            <dt>{{ form_label(form.name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name) }}
                            </dd>
                        </dl>
                        <dl id="detail_box__kana">
                            <dt>{{ form_label(form.kana) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01, {attr: {placeholder: '例：ソフトバンク'}}) }}
                                {{ form_widget(form.kana.kana02, {attr: {placeholder: '例：タロウ'}}) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__address_detail">
                            <dt>{{ form_label(form.address) }}</dt>
                            <dd>
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>
                        
                        <dl id="detail_box__tel">
                            <dt>{{ form_label(form.tel) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr: {placeholder: '例：08012341234'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__email">
                            <dt>{{ form_label(form.email) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="detail_box__usecarrier">
                            <dt>{{ form_label(form.usecarrier) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.usecarrier.usecarrier) }}
                                </div>
                            </dd>
                        </dl>

                    </div>

                    {% for f in form %}
                        {% if f.vars.name matches '[^plg*]' %}
                            <div class="extra-form dl_table">
                                {{ form_row(f) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div id="detail_box__footer" class="row no-padding">
                        <div id="detail_box__button_menu" class="btn_group col-sm-offset-4 col-sm-4">
                            <p id="detail_box__next_button">
                                <button type="submit" class="btn btn-primary btn-block">次へ</button>
                            </p>
                            <p id="detail_box__back_button"><a href="{{ url('cart') }}" class="btn btn-info btn-block">戻る</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>

    <h1 class="page-heading">ご注文内容のご確認</h1>
    <div id="confirm_wrap" class="container-fluid">
        <div id="confirm_flow_box" class="row">
            <div id="confirm_flow_box__body" class="col-md-12">


                {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                    <div id="confirm_flow_box__message" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}
            </div><!-- /.col -->
        </div><!-- /.row -->
        <form id="shopping-form" method="post" action="{{ url('plugin_customentryform_shopping_form'~formtype~'_confirm') }}">
            {{ form_widget(formShopping._token) }}
            <div id="shopping_confirm" class="row">
                <div id="confirm_main" class="col-md-12">
                    <div id="cart_box" class="cart_item table">
                        <div id="cart_box_list" class="tbody">
                            {% for orderDetail in Order.orderDetails %}
                            <div id="cart_box_list__item_box--{{ loop.index }}" class="item_box tr">
                                <div id="cart_box_list__item--{{ loop.index }}" class="td table">
                                    <div id="cart_box_list__photo--{{ loop.index }}" class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ orderDetail.product.MainListImage|no_image_product }}" alt="{{ orderDetail.productName }}" /></div>
                                    <dl id="cart_box_list__detail--{{ loop.index }}" class="item_detail">
                                        <dt id="cart_box_list__name--{{ loop.index }}" class="item_name text-default">{{ orderDetail.productName }}</dt>
                                        <dd id="cart_box_list__class_category--{{ loop.index }}" class="item_pattern small">
                                            {% if orderDetail.productClass.classCategory1 %}
                                                {{ orderDetail.productClass.classCategory1.className }}：{{ orderDetail.productClass.classCategory1 }}
                                            {% endif %}
                                            {% if orderDetail.productClass.classCategory2 %}
                                                <br>{{ orderDetail.productClass.classCategory2.className }}：{{ orderDetail.productClass.classCategory2 }} {{ orderDetail.productClass.price02|number_format }}円（＋税）
                                            {% endif %}
                                        </dd>
                                        <dd id="cart_box_list__price--{{ loop.index }}" class="item_price">{{ orderDetail.priceIncTax|price }} × {{ orderDetail.quantity|number_format }}</dd>
                                        <dd id="cart_box_list__subtotal--{{ loop.index }}" class="item_subtotal">小計：{{ orderDetail.totalPrice|price }}</dd>
                                    </dl>
                                </div>
                            </div><!--/item_box-->
                            {% endfor %}
                        </div>
                    </div><!--/cart_item-->
                    <h2 class="heading02">お客様情報</h2>
                    <div id="customer_detail_box" class="column is-edit">
                        <p id="customer_detail_box__customer_address" class="address"><span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span> 様<br>
                        〒<span class="customer-edit customer-zip01">{{ Order.zip01 }}</span>-<span class="customer-edit customer-zip02">{{ Order.zip02 }}</span> <span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span><br>
                        <span class="customer-edit customer-tel01">{{ Order.tel01 }}</span>-<span class="customer-edit customer-tel02">{{ Order.tel02 }}</span>-<span class="customer-edit customer-tel03">{{ Order.tel03 }}</span></p>
                        {% if is_granted('ROLE_USER') == false %}
                            <div class="customer-edit customer-email">{{ Order.email }}</div>
                            <div class="customer-edit customer-company_name">{{ Order.companyName }}</div>
                            <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                            <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                            <input type="hidden" id="customer-zip01" class="customer-in" name="customer_zip01" value="{{ Order.zip01 }}">
                            <input type="hidden" id="customer-zip02" class="customer-in" name="customer_zip02" value="{{ Order.zip02 }}">
                            <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                            <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                            <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                            <input type="hidden" id="customer-tel01" class="customer-in" name="customer_tel01" value="{{ Order.tel01 }}">
                            <input type="hidden" id="customer-tel02" class="customer-in" name="customer_tel02" value="{{ Order.tel02 }}">
                            <input type="hidden" id="customer-tel03" class="customer-in" name="customer_tel03" value="{{ Order.tel03 }}">
                            <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                            <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                        {% endif %}
                    </div>

                    <h2 class="heading02">配送情報</h2>
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        <div id="shipping_confirm_box--{{ idx }}" class="column is-edit">
                            <h3>お届け先{% if Order.multiple %}({{ loop.index }}){% endif %}</h3>
                            <div id="shipping_confirm_box__body--{{ idx }}" class="cart_item table">
                                <div id="shipping_confirm_box__list--{{ idx }}" class="tbody">
                                {% for shipmentItem in shipping.shipmentItems %}
                                    <div id="shipping_confirm_box__item--{{ idx }}_{{ shipmentItem.id }}" class="item_box tr">
                                        <div id="shipping_box__body_inner--{{ idx }}_{{ shipmentItem.id }}" class="td table">
                                            <div id="shipping_box__photo--{{ idx }}_{{ shipmentItem.id }}" class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ shipmentItem.product.MainListImage|no_image_product }}" alt="{{ shipmentItem.productName }}" /></div>
                                            <dl id="shipping_box__detail--{{ idx }}_{{ shipmentItem.id }}" class="item_detail">
                                                <dt id="shipping_box__name--{{ idx }}_{{ shipmentItem.id }}" class="item_name text-default">{{ shipmentItem.productName }}</dt>
                                                <dd id="shipping_box__class_category--{{ idx }}_{{ shipmentItem.id }}" class="item_pattern small">
                                                    {% if shipmentItem.productClass.classCategory1 %}
                                                        {{ shipmentItem.productClass.classCategory1.className }}：{{ shipmentItem.productClass.classCategory1 }}
                                                    {% endif %}
                                                    {% if shipmentItem.productClass.classCategory2 %}
                                                        <br>{{ shipmentItem.productClass.classCategory2.className }}：{{ shipmentItem.productClass.classCategory2 }}
                                                    {% endif %}
                                                </dd>
                                                <dd id="shipping_box__price--{{ idx }}_{{ shipmentItem.id }}" class="item_price">{{ shipmentItem.priceIncTax|price }} × {{ shipmentItem.quantity|number_format }}</dd>
                                                <dd id="shipping_box__subtotal--{{ idx }}_{{ shipmentItem.id }}" class="item_subtotal">小計：{{ shipmentItem.totalPrice|price }}</dd>
                                            </dl>
                                        </div>
                                    </div><!--/item_box-->
                                {% endfor %}
                                </div>
                            </div>

                            <p id="shopping_confirm_box__shipping_address_detail--{{ idx }}" class="address">{{ shipping.name01 }} {{ shipping.name02 }} 様<br>
                            〒{{ shipping.zip01 }}-{{ shipping.zip02 }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}<br>
                            {{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}</p>
                            <div id="shopping_confirm_box__shipping_delivery--{{ idx }}" class="form-inline form-group" style='display:none'>
                                <label>配送方法</label>
                                {{ form_widget(formShopping.shippings[idx].delivery, {'attr': {'class': 'delivery'}}) }}
                                {{ form_errors(formShopping.shippings[idx].delivery) }}
                            </div>

                            <div id="shopping_confirm_box__shipping_delivery_date_time--{{ idx }}" class="form-inline form-group">
                                <label>お届け時間</label>
                                {{ form_widget(formShopping.shippings[idx].deliveryTime) }}
                            </div>
                        </div>
                        {% if loop.last == false%}<hr>{% endif %}
                    {% endfor %}
                    <h2 class="heading02">お支払方法</h2>
                    <div id="payment_list" class="column">
                        <div id="payment_list__body" class="form-group">
                            <ul id="payment_list__list" class="payment_list">
                            {% for key, child in formShopping.payment %}
                            <li>
                                {{ form_widget(child, {'attr': {'class': 'payment' }}) }}
                                {% if formShopping.payment.vars.choices[key].data.payment_image is not null %}
                                <img src="{{ app.config.image_save_urlpath }}/{{ formShopping.payment.vars.choices[key].data.payment_image }}">
                                {% endif %}
                            </li>
                            {% endfor %}
                            {{ form_errors(formShopping.payment) }}
                            </ul>
                        </div>

                    </div>

                    <h2 class="heading02">お問い合わせ欄</h2>
                    <div id="contact_message" class="column">
                        {{ form_widget(formShopping.message, {'attr': {'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)', 'rows': '10'}}) }}
                        {{ form_errors(formShopping.message) }}
                    </div>
                    <div class="extra-form column">
                        {% for f in formShopping.getIterator %}
                            {% if f.vars.name matches '[^plg*]' %}
                                {{ form_row(f) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="summary_box__total_box" class="total_box">
                        <div id="summary_box__result" class="total_amount">
                            <p id="summary_box__confirm_button"><button id="order-button" type="submit" class="btn btn-primary btn-block prevention-btn prevention-mask">注文する</button></p>
                        </div>
                    </div>


                </div><!-- /.col -->

            </div><!-- /.row -->
        </form>
    </div>        
{% endblock %}
