{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}

{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
        <h1 class="main_title0 mainWidth">最大40,000円キャッシュバック！</h1>

        <div class="main_body mainWidth clr">
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/feature_campaign/campaign_main_40000cb.png" alt="レビューを書くだけ！現金キャッシュバック！"></figure>

		<h2 class="main_title1">キャンペーン概要</h2>
		<p class="campaign_mes">下記サイトに掲載するための、ソフトバンク携帯の使用感のレビュー作成にご協力いただけた場合、レビュー協力費として最大40,000円キャッシュバックをいたします。
		</p>
		<p class="campaign_mes">スマートフォン総合情報サイト モバレコ<br/><a style="color:#2a98cd;" href="https://mobareco.jp/" target="_blank">https://mobareco.jp/</a></p>

		<h2 class="main_title1">キャンペーン期間</h2>
		<p class="campaign_mes">2017年4月1日～2017年4月30日 まで	</p>

		<h2 class="main_title1">適用条件</h2>
		<p class="campaign_mes">当社のレビュー投稿規定に基づき、ソフトバンク携帯についてのレビューにご協力お願いいたします。<br/>
		投稿内容により、金額を設定させていただいております。<br/>
		お申し込み完了後、レビューの投稿方法等の詳細を別途メールにてご案内いたします。
		</p>

		<h3 class="campaign_title">15,000円キャッシュバック対象レビュー項目</h3>
		<ul class="campaign_mes">
			<li>・総合評価</li>
			<li>・デザインや色についての評価</li>
			<li>・カメラ機能についての評価</li>
			<li>・ディスプレイについての評価</li>
			<li>・操作性についての評価</li>
			<li>・バッテリーについての評価</li>
			<li>・通話品質についての評価</li>	
		</ul>

		<h3 class="campaign_title">40,000円キャッシュバック対象レビュー項目</h3>
		<ul class="campaign_mes">
			<li>・総合評価</li>
			<li>・デザインや色についての評価</li>
			<li>・カメラ機能についての評価</li>
			<li>・ディスプレイについての評価</li>
			<li>・操作性についての評価</li>
			<li>・バッテリーについての評価</li>
			<li>・通話品質についての評価</li>
			<li>・購入のきっかけ</li>
			<li>・買い替え前のスマホについて</li>
			<li>・月々の利用料金について</li>
			<li>・モバレコについて</li>
			<li>・購入の決め手について</li>
		</ul>

		<h3 class="campaign_title">【注意事項】</h3>
		<ul class="campaign_mes">
			<li>・本キャンペーンは予告なく終了または変更する場合がございます。</li>
			<li>・いただいたレビューの内容によっては追加加筆等をお願いする場合がございます。</li>
			<li>・投稿いただいたレビューのサイト掲載を保証するものではございません。</li>
		</ul>

		<p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>
        </div>
{%endblock%}