{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}

{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
        <h1 class="main_title0 mainWidth">学割モンスター</h1>

        <div class="main_body mainWidth clr">
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_main_gakuwari.png" alt=""></figure>

            <h2 class="main_title1">学割モンスター U18</h2>
            <p class="campaign_mes">新しくソフトバンクをお申し込みいただく18歳以下の方を対象としたおトクなプラン。通話もデータもコミコミで2,980円/月～！</p>
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_01.png" alt=""></figure>
            <h3 class="campaign_title">適用条件</h3>
            <p class="campaign_mes">キャンペーン期間内に、以下条件を満たすお客さまが対象です。 データ定額 20GB（U18）： ①新規（他社からお乗りかえ含む） ご契約の上、学割モンスターU18にお申し込みいただくこと。 ②通話定額基本料／通話定額ライト基本料およびウェブ使用料にご加入いただくこと。 ③4GのiPhone、スマートフォン、シンプルスマホをご利用いただくこと。 ④使用者の年齢がお申し込み時点で18歳以下であること。 ・使用者の来店および年齢がわかる書類（運転免許証、健康保険証、パスポートなど）のご提示が必要です。 ・家族データシェア・データシェアプラスは対象外です。 家族追加特典： データ定額 20GB（U18）適用回線のご家族が以下の条件を満たすこと。 ①新規（他社からお乗りかえ含む） ご契約いただくこと。 ②対象料金サービスおよび2年契約（フリープラン含む、ハートフレンド割引加入時は除く）にご加入いただくこと。 ③データ定額 20GB（U18） 適用回線と同一家族割引グループにご加入いただくこと。 ④データ定額 20GB（U18）に加入していないこと。 ・家族データシェアは対象外です。 おうち割 光セット： ①データ定額 20GB（U18）にご加入いただくこと。 ②キャンペーン期間内におうち割 光セットに本申し込みいただき適用となること。</p>


            <h2 class="main_title1">学割モンスター U25</h2>
            <p class="campaign_mes">たくさんの動画を見てもゲームをしても速度制限のしんぱい必要ナシ。学割モンスターU25なら20GB使えてさらにおトク！</p>
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_02.png" alt=""></figure>
            <h3 class="campaign_title">適用条件</h3>
            <p class="campaign_mes">キャンペーン期間内に、以下条件を満たすお客さまが対象です。 ①学割モンスターU25にお申し込みいただくこと。 ②データ定額 20GB、データ定額 30GBにご加入いただくこと。 ③通話定額基本料／通話定額ライト基本料／通話定額基本料（ケータイ）／通話定額ライト基本料（ケータイ）にご加入いただくこと。 ④専用2年契約（フリープラン含む）にご加入いただくこと（ハートフレンド割引ご加入の場合は除く）。 ⑤使用者の年齢がお申し込み時点で6歳以上25歳以下であること。 ・使用者の来店および年齢がわかる書類（運転免許証、健康保険証、パスポートなど）のご提示が必要です。</p>


            <h2 class="main_title1">学割SUPER FRIDAY</h2>
            <p class="campaign_mes">25歳以下のお客さまにはSUPER FRIDAYのクーポンを毎週2枚配信いたします。</p>
            <figure class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/gakuwari_monster/campaign_gakuwari_03.png" alt=""></figure>
            <h3 class="campaign_title">適用条件</h3>
            <p class="campaign_mes">学割2倍の特典は、使用者年齢登録が25歳以下の方限定です。 【使用者年齢登録とは】 契約者情報には「契約者」と、その携帯電話を使用する「使用者」の2種類があります。使用者年齢登録とは、「使用者」の年齢を登録する手続きとなります。 実際にスマートフォンを使用しているお客さまが25歳以下でも、「使用者」の年齢登録が26歳以上の場合は2倍特典の対象外となりますので、正しい年齢登録をお願いいたします。</p>

            <p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>

        </div>
{%endblock%}