{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_mail'] %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}メール管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        $(function(){
            $("#mail_template").on("change", function(){
                var id = $(this).val()
                if (id) {
                    location.href= '{{ url('admin_setting_shop_mail') }}/' + id;
                } else {
                    location.href= '{{ url('admin_setting_shop_mail') }}';
                }
            });
        });
    </script>
{% endblock javascript%}

{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="">
            {{ form_widget(form._token) }}

            <div id="mail_edit_box" class="col-md-9">
                <div id="mail_edit_box__body" class="box">
                    <div id="mail_edit_box__header" class="box-header">
                        <h3 class="box-title">メールテンプレート編集</h3>
                    </div><!-- /.box-header -->
                    <div id="mail_edit_box__body_inner" class="box-body">

                        {{ form_row(form.template) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.header) }}
                        {{ form_row(form.footer) }}

                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div>
            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->

        </form>
    </div>


{% endblock %}
