{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_payment'] %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}支払方法管理{% endblock %}

{% block main %}
    <div id="payment_wrap" class="row">
        <div id="payment_list_box" class="col-md-12">
            <div id="payment_list_box__body" class="box">
                <div id="payment_list_box__header" class="box-header with-arrow">
                    <h3 class="box-title">
                        支払方法
                    </h3>
                </div><!-- /.box-header -->
                <div id="payment_list_box__body_inner" class="box-body">
                    <div id="payment_list__list" class="table_list">
                        <div id="payment_list__list_body" class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr id="payment_list__list_header">
                                    <th id="payment_list__header_method">支払方法</th>
                                    <th id="payment_list__header_charge">手数料</th>
                                    <th id="payment_list__header_rule">利用条件</th>
                                    <th id="payment_list__header_menu_box">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <form name="delete_form" id="delete_form" action="" method="post">
                                    </form>
                                    {% for Payment in Payments %}
                                    <tr id="payment_list__item--{{ Payment.id }}">

                                        <td id="payment_list__method--{{ Payment.id }}" class="member_name">{{ Payment.method }}</td>
                                        <td id="payment_list__charge--{{ Payment.id }}" class="member_name">
                                            {{ Payment.charge }}
                                        </td>
                                        <td id="payment_list__rule--{{ Payment.id }}" class="member_name">
                                            {% if Payment.rule_min > 0 %}
                                                {{ Payment.rule_min }}
                                            {% else %}
                                                0
                                            {% endif %}円

                                            {% if Payment.rule_max > 0 %}
                                                ～{{ Payment.rule_max }}円
                                            {% elseif Payment.rule_max is null %}
                                                ～無制限
                                            {% endif %}
                                        </td>
                                        <td id="payment_list__menu_box--{{ Payment.id }}" class="icon_edit">
                                            <div id="payment_list__menu_toggle--{{ Payment.id }}" class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                <ul id="payment_list__menu--{{ Payment.id }}" class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        {% if Payment.fix_flg == 1 %}
                                                            <a href="{{ url('admin_setting_shop_payment_edit', { id: Payment.id}) }}">編集</a>
                                                        {% else %}
                                                            <a>編集</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        {% if Payment.fix_flg == 1 %}
                                                            <a href="{{ url('admin_setting_shop_payment_delete', { id: Payment.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete">削除</a>
                                                        {% else %}
                                                            <a>削除</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        {% if loop.first == false %}
                                                            <li><a href="{{ url('admin_setting_shop_payment_up', {id: Payment.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a></li>
                                                        {% endif %}
                                                        {% if loop.last == false %}
                                                            <li><a href="{{ url('admin_setting_shop_payment_down', {id: Payment.id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a></li>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

    <div id="payment_list__footer" class="row">
        <div id="payment_list__insert_button" class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center btn_area">
            <a href="{{ url('admin_setting_shop_payment_new') }}" class="btn btn-primary btn-block btn-lg">支払方法を新規入力</a>
        </div>
    </div>
{% endblock %}