/*
 * Base structure
 */


html {
	font-size: 62.5%; /* 62.5%を指定すると「1.0 rem = 10px」 */
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.3;
	color: #a0a0a0;
	-webkit-text-size-adjust: 100%;
	background: #f9f9f9;
}

ul,ol {
	list-style: none;
	padding: 0; margin: 0;
}
a:not([href]) {
	color: inherit;
}
a:not([href]):hover {
	text-decoration: none;
}

.wrapper {
	min-height:100%;
	position:static;
	overflow:hidden
}
.wrapper:before, .wrapper:after {
	content:" ";
	display:table
}
.wrapper:after {
	clear:both
}


.navbar:before,
.navbar:after { display: inline; content: normal;}
.navbar:after { clear: none;}

small, .small {
	font-size: 80%;
}
.copyright {
	font-size: 12px;
	font-size: 1.2rem;
}

/* svg icon */
#svgicon {
	display: block;
	width: 0; height: 0; overflow: hidden;
}
.cb {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
}
.cb-images {
	width: 1.125em;
}
.icon-bg {
	fill: #d4d4d5;
}
.icon-with-bg {
	fill: #fff;
}


/* table reset */

.table-responsive {
	border: 0 none;
}
.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
	background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
	background-color: #f9f9f9;
}



/*	module
============================ */

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.is-padding {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.no-border {
	border: 0 none !important;
}


/* grid setting
============================ */

ul.col-2 li {
	float: left;
	width: 49%;
}
ul.col-2 li:first-child {
	margin-left: 2%;
}
ul.col-3 li {
	float: left;
	width: 32%;
	margin-left: 2%;
}
ul.col-3 li:first-child {
	margin-left: 0;
}

/*	color setting
============================ */

/* text */
.text-primary {
  color: #5D8FC2;
}
a.text-primary:hover {
  color: #3F6FAB;
}
.text-success {
  color: #18A689;
}
a.text-success:hover {
  color: #0D8969;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #f0ad4e;
}
a.text-warning:hover {
  color: #E99133;
}
.text-danger {
  color: #DE5D50;
}
a.text-danger:hover {
  color: #CF3F34;
}

/* bg */
.bg-primary {
  color: #fff;
  background-color: #5D8FC2;
}
a.bg-primary:hover {
  background-color: #3F6FAB;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/* btn */
.btn-default {
  color: #444;
  background-color: #F8F8F8;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #444;
  background-color: #F1F1F1;
  border-color: #ccc;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #F0F0F0;
  border-color: #C4CCCE;
  color: #a2a2a2;
}
.btn-default .badge {
  color: #fff;
  background-color: #444;
}
.btn-primary {
  color: #fff;
  background-color: #5d8fc2;
  border-color: #5d8fc2;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3F6FAB;
  border-color: #3F6FAB;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #5D8FC2;
  border-color: #5d8fc2;
}
.btn-primary .badge {
  color: #5D8FC2;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #18A689;
  border-color: #18A689;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #0D8969;
  border-color: #0D8969;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18A689;
  border-color: #18A689;
}
.btn-success .badge {
  color: #18A689;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #3DA8CF;
  border-color: #3DA8CF;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #E99133;
  border-color: #E99133;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #CF3F34;
  border-color: #CF3F34;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #5D8FC2;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}

/* label */
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #5D8FC2;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3F6FAB;
}
.label-success {
  background-color: #18A689;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #0D8969;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #3DA8CF;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #E99133;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #CF3F34;
}

/* panel */
.panel-primary {
  border-color: transparent;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color:#5D8FC2;
  border-color: transparent;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-primary > .panel-heading .badge {
  color: #5D8FC2;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #5D8FC2;
}
.panel-success {
  border-color: transparent;
}
.panel-success > .panel-heading {
  color: #18A689;
  background-color: #dff0d8;
  border-color: transparent;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #18A689;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-info {
  border-color: transparent;
}
.panel-info > .panel-heading {
  color: #fff;
  background-color: #42B3E5;
  border-color: transparent;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-info > .panel-heading .badge {
  color: #fff;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-warning {
  border-color: transparent;
}
.panel-warning > .panel-heading {
  color: #fff;
  background-color: #fcf8e3;
  border-color: transparent;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-warning > .panel-heading .badge {
  color: #fff;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #fff;
  background-color: #DE5D50;
  border-color: transparent;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-danger > .panel-heading .badge {
  color: #fff;
  background-color: #DE5D50;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}

/* alert */

.alert-success {
	color:#fff;
	background-color:#18a689;
	border-color: transparent;
}
.alert-success hr {
	border-color: transparent;
}
.alert-success .alert-link {
	color:#fff
}
.alert-info {
	color:#fff;
	background-color:#42B3E5;
	border-color: transparent;
}
.alert-info hr {
	border-top-color:#a6e1ec
}
.alert-info .alert-link {
	color:#fff
}
.alert-warning {
	color:#fff;
	background-color:#f0ad4e;
	border-color: transparent;
}
.alert-warning hr {
	border-color: transparent;
}
.alert-warning .alert-link {
	color:#fff
}
.alert-danger {
	color:#fff;
	background-color:#DE5D50;
	border-color: transparent;
}
.alert-danger hr {
	border-color: transparent;
}
.alert-danger .alert-link {
	color:#fff
}


/*	button
============================ */

.btn {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 7px 12px;
	border-radius: 3px;
}

.btn .cb-angle-right {
	font-size: 12px;
	font-size: 1.2rem;
}

.btn-lg, .btn-group-lg > .btn {
	padding:16px;
	font-size:16px;
	font-size:1.6rem;
	line-height:1.33;
	font-weight: normal;
	border-radius: 3px;
}
.btn-sm, .btn-group-sm > .btn {
	padding:8px 10px;
	font-size:14px;
	font-size:1.4rem;
	line-height:1.5;
	border-radius: 3px;
}
.btn-xs, .btn-group-xs > .btn {
	padding: 5px;
	font-size:12px;
	font-size:1.2rem;
	line-height:1.5;
	border-radius: 3px;
}

.btn_area {
	margin: 30px auto 0;
	max-width: 206px;
}
.btn_area li {
	margin-bottom: 5px;
}

.close {
	color:#fff;
	text-shadow: none;
	filter:alpha(opacity=80);
	opacity:.8;
	font-size: 14px;
	font-size: 1.4rem;
}
.close:hover, .close:focus {
	color:#fff;
	filter:alpha(opacity=100);
	opacity:1
}
.alert-dismissable .close, .alert-dismissible .close {
	top: 3px;
}


/*	icon
============================ */


/*	tableish
============================ */

.tableish-striped .tr:nth-child(2n+1) > .td, .tableish-striped .tr:nth-child(2n+1) > .th {
    background-color: #f9f9f9;
}

@media (min-width:768px) {
	.tableish {
		display: table;
		width: 100%;
	}
	.tableish .thead {
		display: table-header-group;
	}
	.tableish .tbody {
		display: table-row-group;
	}
	.tableish .tr {
		display: table-row;
	}
	.tableish .th,
	.tableish .td {
		 display: table-cell 
	}
}



/*	form
============================ */

label {
    font-weight: normal;
}
input[type="checkbox"] {
	margin: 0 10px;
}
.form-group {
	margin-bottom: 24px;
}
.form-group .errormsg {
	margin-top: 3px;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: bold;
}
dd.form-group .errormsg {
	margin-bottom: 0;
}

.form-control {
	border-radius:3px !important;
	box-shadow:none;
	border-color:#C4CCCE;
	font-size: 16px;
	font-size: 1.6rem;
	height: 40px;
	line-height: 1.5
}
.form-control:focus {
	border-color:#3c8dbc !important;
	box-shadow:none
}
.has-success .form-control:focus,
.has-warning .form-control:focus,
.has-error .form-control:focus {
	box-shadow:none;
	background: none;
}
.has-success .form-control { border-color: #0D8969; background: #e7f6f3; }
.has-warning .form-control { border-color: #E99133; background: #fdf7ed; }
.has-error .form-control { border-color: #CF3F34; background: #FDF1F0; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: inherit;  background: #FDF1F0;
}

.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
	margin-right: 5px;
}
.form-inline input + .btn {
	margin-left: 5px;
}

.form-control::-moz-placeholder {
	color:#bbb;
	opacity:1
}
.form-control:-ms-input-placeholder {
	color:#bbb
}
.form-control::-webkit-input-placeholder {
	color:#bbb
}
.form-control:not(select) {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}

.form-inline .form-group {
	margin-right: 8px;
}
.form-inline .small + .form-control {
	margin: 0 10px;
}

.alert {
	border-radius: 0;
}

label .required {
	color: #DE5D50;
	margin-left: 5px;
}
textarea.disp_area {
	width: 100%; height: 170px;
	text-align: left;
	color: #999;
	padding: 16px;
}


/* form inline for smartphone */
@media (max-width:768px) {
	.form-inline .form-group {
		display:inline-block;
		margin-bottom:0;
		vertical-align:middle
	}
	.form-inline .form-control {
		display:inline-block;
		width:auto;
		vertical-align:middle
	}
	.form-inline .input-group {
		display:inline-table;
		vertical-align:middle
	}
	.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
		width:auto
	}
	.form-inline .input-group>.form-control {
		width:100%
	}
	.form-inline .control-label {
		margin-bottom:0;
		vertical-align:middle
	}
	.form-inline .radio, .form-inline .checkbox {
		display:inline-block;
		margin-top:0;
		margin-bottom:0;
		vertical-align:middle
	}
	.form-inline .radio label, .form-inline .checkbox label {
		padding-left:0
	}
	.form-inline .radio input[type=radio], .form-inline .checkbox input[type=checkbox] {
		position:relative;
		margin-left:0
	}
	.form-inline .has-feedback .form-control-feedback {
		top:0
	}
}


/*	header
============================ */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/* logo */

#header {
	left: 0;right: 0;top: 0;
	max-height:100px;
	background: #2F3F4E;
}
#header .navbar {
	margin-bottom:0;
	border:none;
	border-radius:0;
	width: 100%;
}
#header .navbar .logo {
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	line-height: 64px;
	padding: 0 15px;
}
#header .navbar .logo .cb-logomark {
	font-size: 30px;
}
#header .navbar .logo .cb-logotext {
	font-size: 140px;
	fill: #fff;
	height: 64px;
	line-height: 64px;
	margin-left: 2px;
}



/*	Main Wrap
============================ */

.main_wrap {
	width: 100%;
	margin: 50px 0;
}

.main_inner {
    margin-left: 336px;
}
    
.main_content {
    margin: 0 auto;
	max-width: 864px;
	min-width: 500px;
}
    

/*	Sidebar
============================ */

#side {
	width: 336px;
	padding: 0 25px;
    margin-right: -336px;
    float: left;
}

.step_nav li {
	position: relative;
	padding-left: 32px;
	margin-bottom: 6px;
}
.step_nav .number {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	display: inline-block;
	width: 32px; height: 32px;
	line-height: 30px;
	margin-right: 16px;
	border: 1px solid #C4CCCE;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}

.step_nav .check_icon {
	position: absolute;
	left: 0; top: 5px;
	fill: #18A689;
	font-size: 20px;
}
.step_nav .current {
	font-weight: bold;
}
.step_nav .current .number {
	background: #fff;
}



/*	Main content
============================ */

#main {
    width: 100%;
    float: right;
}


/* page-header */

.page-header {
	text-align: center;
	margin: 0;
	padding: 0 0 24px;
	border: 0 none;
}
.page-header h1 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 8px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* form layout */

.form-group.lange input[type="text"],
.form-group.lange label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-left: 1%;
	margin-right: 1%;
}
.form-group.lange input[type="text"] {
	width: 28%;
}

.input_tel input {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0;
	width: 30%;
	max-width: 5em;
}
.form-group .input_tel input:first-child {
	margin-left: 0;
}
.form-group .input_name input {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2%;
	margin-bottom: 0;
	width: 49%;
}
.form-group .input_name input:first-child {
	margin-left: 0;
}
.form-group .input_zip input {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
	margin-right: 1%;
	width: 30%;
	max-width: 5em;
}
.form-group .item_price input,
.form-group .item_quantity input {
	text-align: right;
	width: 50%;
	margin: 0 1%;
}
.item_detail .form-group {
	margin: 8px 0;
}
.item_detail .item_subtotal span.small {
	margin-right: 16px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
}



/*	Step1
============================ */

.note_box {
	padding: 16px;
	margin: 0 0 16px;
	text-align: center;
	border: 1px solid #C4CCCE;
	background: #fff;
	border-radius: 5px;
}
.note_box .checkbox:last-child {
	margin-bottom: 0;
}
.note_box .checkbox input[type="checkbox"] {
	position: relative;
	top: 1px;
}


/*	Step1
============================ */

.step1 .page-header h1 {
	font-size: 36px;
	margin-top: 24px;
}
.step1 .intro {
	text-align: center;
}
.step1 .intro .cb {
	font-size: 80px;
	fill: #D0D0D0;
}
.step1 .intro .cb + p {
	margin-top: 30px;
	font-size: 22px;
}
.step1 .note_box {
	margin: 32px 0;
}

/*	Step4
============================ */

.step4 h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}
.step4 textarea {
	margin: 10px 0 30px;
}
.step4 .accpanel {
	padding: 24px 0 8px;
	display: none;
}


/*	Step6
============================ */

.step6 .page-header {
	padding-bottom: 15px;
}


/*	Step7
============================ */

#main.step7 {
	float: none;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}
.step7 h1 {
	font-size: 36px;
}
.step7 h2 {
	font-size: 20px;
	font-weight: bold;
}
.step7 img {
	max-width: 100%;
}
.step7 .image img {
	text-align: center;
}
.step7 .bnr_area {
	padding: 20px 0;
}
.step7 .bnr_area img {
	text-align: center;
}
.step7 .column {
	padding-bottom: 30px;
}
.step7 .column .btn_area {
	padding-top: 5px; 
}

@media print {
.no-print, #header, #side {
	display:none!important
}
#main {
	margin-left:0!important;
	min-height:0!important;
	-webkit-transform:translate(0, 0) !important;
	-ms-transform:translate(0, 0) !important;
	-o-transform:translate(0, 0) !important;
	transform:translate(0, 0) !important
}
.fixed #main {
	padding-top:0!important
}
.table-responsive {
	overflow:auto
}
.table-responsive>.table tr th, .table-responsive>.table tr td {
	white-space:normal!important
}
}
