{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form-entry.css">
{% endblock %}

{% block javascript %}
{% endblock javascript %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}


    <div class="main_body mainWidth clr">

        <section class="sec01">
            <div class="sec01Inner">
                <ul class="sec01_ul clr">
                    <li>1 お客様情報入力</li>
                    <li>2 お問い合わせ内容確認</li>
                    <li class="done">3 お問い合わせ完了</li>
                </ul>
            </div>
        </section>
        <section class="sec02">
            <div class="sec02Inner">
                <p class="form_fin">お問い合わせが完了しました</p>
                <div class="form_fin_mes">
                    <p>ありがとうございます。お問い合わせを承りました。</p>
                    <p>お問い合わせの確認で後ほどお電話させていただきます。<br>
                        お急ぎの場合やご不明な点などありましたら、<br>
                        ソフトバンク携帯お申し込みセンターまでお気軽にご連絡下さい。</p>
                </div>
                <a href="{{ url('homepage') }}" class="sec03_btn inq_btn"><span>トップに戻る</span></a>


            </div>
        </section>

    </div>

{% endblock %}