{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!-- ▼item_list▼ -->
<div id="item_list">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">

                <p class="item_comment">{{ FdRouteInfo.Route }}</p>
                <p class="item_comment">{{ FdRouteInfo.Fd}}</p>

            </div>
        </div>
    </div>
</div>
<!-- ▲item_list▲ -->