<ul class="details_pglink clr">
					<li><a href="#details01">主な仕様</a></li>
					<li><a href="#details02">特徴</a></li>
					<li><a href="#details03">商品情報</a></li>
					<li><a href="#details04">商品レビュー</a></li>
					<li><a href="#details05">料金形態</a></li>
				</ul>

				<div id="details01">
					<h2 class="main_title1">主な仕様</h2>

					<ul class="detailsData_list clr">
						<li class="detailsData_icn1">4GLTE</li>
						<li class="detailsData_icn2">プラチナバンド</li>
						<li class="detailsData_icn3">5.2インチ</li>
						<li class="detailsData_icn4 detailsData_br">Android™<br>6.0</li>
						<li class="detailsData_icn7 detailsData_not">おサイフケータイ</li>
						<li class="detailsData_icn8 detailsData_br">インカメラ<br>約800万画素</li>
						<li class="detailsData_icn8 detailsData_br">インカメラ<br>約1300万画素</li>
						<li class="detailsData_icn9">防水・防塵</li>
						<li class="detailsData_icn5">VoLTE</li>
						<li class="detailsData_icn10">テザリング</li>
						<li class="detailsData_icn11 detailsData_br">バッテリー容量<br>300mAh</li>
						<li class="detailsData_icn6 detailsData_br">下り最大速度<br>220Mbps※1</li>
					</ul>

					<h2 class="main_title1">特徴</h2>

					<h3 class="main_title2">メタルフレームでさらに際立つ「EDGEST」</h3>
					<p class="details_text1">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。<br>またベゼルが非常に狭く、本体に対する画面占有率が高いのが非常に良い。</p>
					<figure class="details_img1"><img src="{{ app.config.front_urlpath }}/img/details/img01.jpg" height="440" width="720" alt=""></figure>

					<h3 class="main_title2">息をのむ美しさ、5.2インチIGZO搭載で3日間*1超えの電池持ち</h3>
					<p class="details_text1">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。<br>またベゼルが非常に狭く、本体に対する画面占有率が高いのが非常に良い。</p>
					<figure class="details_img1"><img src="{{ app.config.front_urlpath }}/img/details/img02.jpg" height="440" width="720" alt=""></figure>

					<h3 class="main_title2">驚きの体験！全天球撮影と検索ファインダー</h3>
					<p class="details_text1">これは本当に秀逸なデザインだと思います。アルミフレームが良い感じで樹脂の質感も良い。さらにださいブランドロゴ等がほぼなく非常にシンプルなのも評価点。<br>またベゼルが非常に狭く、本体に対する画面占有率が高いのが非常に良い。</p>
					<figure class="details_img1"><img src="{{ app.config.front_urlpath }}/img/details/img03.jpg" height="602" width="719" alt=""></figure>

				</div>

				<div id="details02" class="itemdata">
					<h2 class="main_title1">商品情報</h2>


					<div class="itemdata_box">
						<h3 class="details_title1">基本仕様</h3>
						<table class="itemdata_tab_table">
							<tr>
								<th>商品名</th>
								<td>AQUOS PHONE Xx 304SH</td>
							</tr>
							<tr>
								<th>メーカー名</th>
								<td>シャープ株式会社</td>
							</tr>
							<tr>
								<th>発売日</th>
								<td>シャープ株式会社</td>
							</tr>
							<tr>
								<th>カラー</th>
								<td>2015年6月28日</td>
							</tr>
							<tr>
								<th>OS</th>
								<td>2015年6月28日</td>
							</tr>
							<tr>
								<th>本体サイズ</th>
								<td>2015年6月28日</td>
							</tr>
							<tr>
								<th>重さ</th>
								<td>2015年6月28日</td>
							</tr>
						</table>

					</div>
					
					<div class="itemdata_box">
						<h3 class="details_title1">ディスプレイ</h3>
						<table class="itemdata_tab_table">
							<tr>
								<th>液晶サイズ</th>
								<td>AQUOS PHONE Xx 304SH</td>
							</tr>
							<tr>
								<th>画面解像度</th>
								<td>シャープ株式会社</td>
							</tr>
						</table>

					</div>


					<div class="itemdata_box">
						<h3 class="details_title1">カメラ</h3>
						<table class="itemdata_tab_table">
							<tr>
								<th>メインカメラ</th>
								<td>AQUOS PHONE Xx 304SH</td>
							</tr>
							<tr>
								<th>サブカメラ</th>
								<td>シャープ株式会社</td>
							</tr>
						</table>
					</div>


					<div class="itemdata_box">
						<h3 class="details_title1">バッテリー</h3>
						<table class="itemdata_tab_table">
							<tr>
								<th>電池容量</th>
								<td>AQUOS PHONE Xx 304SH</td>
							</tr>
						</table>
					</div>

					<div class="itemdata_box">
						<h3 class="details_title1">CPU ＆ 内蔵メモリ</h3>
						<table class="itemdata_tab_table">
							<tr>
								<th>CPU</th>
								<td>AQUOS PHONE Xx 304SH</td>
							</tr>
							<tr>
								<th>ROM</th>
								<td>シャープ株式会社</td>
							</tr>
							<tr>
								<th>RAM</th>
								<td>シャープ株式会社</td>
							</tr>
						</table>
					</div>
				</div>