<div class="details_top">
			<div class="details_top_inner clr">
			
				<div class="details_slider">
					<ul class="bxslider">
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01.jpg" height="600" width="640" alt=""></li>
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01_02.jpg" height="600" width="640" alt=""></li>
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01_03.jpg" height="600" width="640" alt=""></li>
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01_04.jpg" height="600" width="640" alt=""></li>
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01_05.jpg" height="600" width="640" alt=""></li>
						<li><img src="{{ app.config.front_urlpath }}/img/details/item01_06.jpg" height="600" width="640" alt=""></li>
					</ul>
				</div>
				
			</div>
		</div>