<div class="foot_info">
			<div class="foot_info_inner mainWidth clr">
				<div class="foot_info_l">
					<p class="foot_info_name1">お電話でのお申し込み・お問い合わせ</p>
					<p class="foot_info_tel oswald">0120-301-492</p>
					<p class="foot_info_time">受付時間 10:00～19:00（土日祝除く）</p>
				</div>
				<div class="foot_info_r">
					<p class="foot_info_name2">Webからは24時間受付中</p>
					<ul class="foot_info_btns clr">
						<li><a class="btn02" href="./"><p>お申し込み相談<span>来店不要・Webで完結</span></p></a></li>
						<li><a class="btn02" href="./"><p>お問い合わせ</p></a></li>
					</ul>
				</div>
			</div>
		</div>