<div class="c_nav_privilege">
			<h2 class="c_nav_title">安さの秘密や特典を調べる</h2>
			<div class="c_nav_privilege_inner">
				<ul class="c_nav_privilege_list clr">
					<li><a href="./">SMARTPHON STOREの安さの秘密</a></li>
					<li><a href="./">キャンペーン</a></li>
					<li><a href="./">ご利用ガイド</a></li>
				</ul>
			</div>
		</div>