<div class="hed_r">
				<p class="hed_link">
					<a href="./">よくある質問</a>
					<a href="./">お問い合わせ</a>
				</p>
				<p class="hed_tel oswald"><span>0120-301-492</span></p>
				<p class="hed_time">受付時間／10:00~20:00（年中無休）通話料無料！</p>
				<form action="./" method="post">
					<div class="hed_form clr">
						<a class="hed_store" href="./">SMARTPHONE STORE<br>安さの秘密</a>
						<div class="hed_input">
							<input type="text" name="" value="" placeholder="製品を探す">
							<button type="submit"><img src="{{ app.config.front_urlpath }}/common/img/icon01.png" height="16" width="17" alt=""></button>
						</div>
					</div>
				</form>
			</div>