<div class="foot_bottom">
			<div class="foot_bottom_inner mainWidth clr">
				<a href="./">プライバシーポリシー</a>
				<a href="./">会社概要</a>
				<address class="foot_copy">© smartphone-store.jp</address>
			</div>
		</div>