<div class="foot_top mainWidth">
			<a class="foot_logo" href="./"><img src="{{ app.config.front_urlpath }}/common/img/logo2.png" height="29" width="379" alt="softbank smart phone store">
			<span class="foot_logo_text1">正規販売店</span>
			<span class="foot_logo_text2">ソフトバンクのスマートフォン・ガラケーがお得に買えるサイト</span>
			</a>
		</div>