<div class="hed_l">
	<h1 class="hed_mes">Softbankのスマートフォン・ケータイがおトクなオンラインショップ</h1>
	<a class="hed_logo" href="./"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="33" width="403" alt="softbank smart phone store"><span>正規販売店</span></a>
	<ul class="hed_nav clr">
		<li><a href="./">スマートフォン</a></li>
		<li><a href="./">3Gケータイ</a></li>
		<li><a href="./">キャンペーン</a></li>
		<li><a href="./">ご利用ガイド</a></li>
	</ul>
</div>