<section class="recommend mainWidth clr">
			<div class="recommend_text">
				<h2 class="recommend_title"><span>おすすめコンテンツ</span></h2>
				<p class="recommend_mes">ご契約時の不安や疑問はここで解決！<br>安心してご購入いただくためにぜひご覧下さい！</p>
			</div>
			<ul class="recommend_list clr">
				<li><a href=""><img src="{{ app.config.front_urlpath }}/img/home/recommend01.jpg" height="200" width="600" alt="安さの秘密"></a></li>
				<li><a href=""><img src="{{ app.config.front_urlpath }}/img/home/recommend02.jpg" height="200" width="600" alt="ご利用ガイド"></a></li>
			</ul>
		</section>