<div class="foot_merit">
			<div class="foot_merit_inner mainWidth">
				<p class="foot_merit_title">SMARTPHONE STORE 5つのメリット</p>
				<ul class="foot_merit_list clr">
					<li><a href="./"><span>Webだけ</span>で<br>買える</a></li>
					<li><a href="./"><span>格安価格</span>で<br>買える</a></li>
					<li><a href="./">安心の<br><span>アフターフォロー</span></a></li>
					<li><a href="./">最短<br><span>1日で発送</span></a></li>
					<li><a href="./"><span>最新機種</span>を<br>取り扱い</a></li>
				</ul>
			</div>
		</div>