
<!-- Modal -->
<div style="margin-top: 20%;" class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="false">
  <input type="hidden" name="status_page_status" value="{{ page_status }}">
  <input type="hidden" name="status_update_mode" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>


{% endblock modal %}