@charset "utf-8";

.hed_nav li:nth-child(3) a{
    color: #FF4E62;
    background-image: url(../common/img/nav03_on.png);
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/
.section {
		margin-bottom: 23px;
}

.campaign_btn{
    position: relative;
    display: block;
    width: 90%;
    padding: 12px 0;
    border: 1px solid #565765;
    border-radius: 50px;
    margin: 30px auto 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
    color: #565765;
    z-index: 1;
}
.campaign_btn:after{
    transform:rotate(45deg);
    content: '';
    position: absolute;
    top: 0;
    right: 7%;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #565765;
    border-right: 2px solid #565765;
    margin: auto 0;
}
.campaign_mainimg{
    margin: 0 0 10px;
}
.campaign_title{
    font-size: 13px;
    /*color: #2a98cd;*/
    margin: 0 0 5px;
}
.campaign_mes{
    margin: 0 0 20px;
	font-size: 12px;
}
.campaign_list{
    margin: 0 0 30px;
}
.campaign_list li{
	margin: 0 0 20px;
}
.campaign_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.campaign_list_img{
		margin: 0 0 10px;
}
.campaign_list_name{
    font-size: 13px;
    /*color: #2a98cd;*/
    margin: 0 0 5px;
}
.campaign_list_mes{
	font-size: 12px;
}

.campaign_text1{
	font-size: 12px;
}
.note{
	margin-left: 1em;
	color: #999999;
	font-size: 11px;
	text-indent: -1em;
}
.list_decimal{
	list-style: decimal;
	font-size: 12px;
}
.list_decimal li{
	margin-left: 1.3em;
}
.link_pageBack {
    display: inline-block;
    border: #565765 solid 1px;
    border-radius: 50px;
    font-size: 12px;
	font-weight: bold;
    padding: 10px 0;
    text-align: center;
    width: 266px;
    position: relative;
    z-index: 1;
}
.link_pageBack:before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #565765;
    border-right: 2px solid #565765;
    top: 41%;
    right: 14px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main_title2.mb5 {
	margin-bottom: 5px !important;
}

hr.border {
	border-bottom: solid 1px #D9DBE6;
	margin: 0;
}
.main_title0.reco_title {
	margin-top: 10px
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
