@charset "utf-8";


/*---------------------------------------------------------
    sec01
 ---------------------------------------------------------*/
.sec01 {
	color: #565765;
}
.sec01_tbl {
	width: 100%;
	line-height: 2;
}
.sec01_tbl th {
	width: 120px;
	font-weight: bold;
}
.sec01_tbl td {
	width: -webkit-calc(100% - 120px);
	width: calc(100% - 120px);
}
.sec01_tbl th,
.sec01_tbl td {
	font-size: 11px;
	line-height: 1.4;
	padding: 10px 0;
	border-bottom: 1px solid #d9dbe6;
	vertical-align: middle;
}
.sec01_tbl tr:last-child th,
.sec01_tbl tr:last-child td {
	border-bottom: none;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
