@charset "utf-8";

/*---------------
	sec01
-----------------*/
.sec01_ul {
	margin-top: 15px;
	margin-bottom: 25px;
}
.sec01_ul li {
	float: left;
	width: 48.5%;
	background-repeat: no-repeat;
	margin: 0 0 7px 3%;
	transition: background-image .5s;
}
.sec01_ul li:nth-child(2n+1) {
	margin-left: 0;
}
.sec01_ul li a {
	display: block;
}
/*---------------
	sec02
-----------------*/
.sec02Inner {
	padding-bottom: 27px;
}
.sec02_list {
	width: 100%;
}
.sec02_list li {
	margin-bottom: 18px;
}
.sec02_list li:last-child {
	margin-bottom: 0;
}
.sec02_list .titleBox {
	margin-bottom: 10px;
}



.sec02_list .titleBox p {
	position: relative;
	float: left;
	background-color: #eceef4;
	padding: 2px 0 2px 19px;
	width: 68px;
	font-size: 11px;
	text-align: center;
	color: #595cce;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 3px 2px;
	background-size: 18px auto;
}
.sec02_list .titleBox p:before {
/* 	content: "";
position: absolute;
bottom: -38px;
left: 0;
right: 0;
margin: auto;
width: 26px;
height: 26px;
border: 26px solid transparent;
border-top: 12px solid #eceef4;
 */
}
.sec02_list .titleBox p span {
	font-size: 13px;
}
.sec02_list .titleBox .titleBox_step1{
	background-image: url(../img/guide/icon01.png);
}
.sec02_list .titleBox .titleBox_step2{
	background-image: url(../img/guide/icon02.png);
}
.sec02_list .titleBox .titleBox_step3{
	background-image: url(../img/guide/icon03.png);
}
.sec02_list .titleBox .titleBox_step4{
	background-image: url(../img/guide/icon04.png);
}


.sec02_list h3 {
	width: -webkit-calc(100% - 64px);
	width: calc(100% - 79px);
	font-size: 13px;
	margin: 0 0 15px 79px;
}
.sec02_list li > p {
	font-size: 12px;
}
.sec02_btn {
	display: inline-block;
	width: 265px;
	margin-left: 0;
	margin-top: 15px;
}
.sec02_btn:before {
	background: #469A33;
}
.sec02_btn p {
	line-height: 12px;
	background: #58C140;
	padding: 12px 0;
	color: #fff;
	font-size: 12px;
}
/*---------------
	sec03
-----------------*/
.sec03Inner {
	padding-bottom: 30px;
}
.sec03 h2+p {
	margin-bottom: 20px;
	font-size: 12px;
}
.sec03 h3 {
	font-size: 13px;
	margin-bottom: 10px;
}
.sec03_box {
}
.sec03_ul {
	margin-bottom: 10px;
}
.sec03_ul li {
	float: left;
	width: 48.5%;
	margin-left: 3%;
	margin-bottom: 10px;
	padding: 12px;
	border: 1px solid #d9dbe6;
}
.sec03_ul li:nth-child(2n+1) {
	margin-left: 0;
}
.sec03_ul li h4 {
	display: table;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.sec03_ul li h4 span {
	display: table-cell;
	vertical-align: middle;
}
.sec03_ul li p {
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 30px auto;
	padding-top: 40px;
	font-size: 11px;
}
.sec03_ul .item1 p {
	background-image: url(../img/guide/sec03_icon1.png);
}
.sec03_ul .item2 p {
	background-image: url(../img/guide/sec03_icon2.png);
}
.sec03_ul .item3 p {
	background-image: url(../img/guide/sec03_icon3.png);
}
.sec03_ul .item4 p {
	background-image: url(../img/guide/sec03_icon4.png);
}
.sec03_ul .item5 p {
	background-image: url(../img/guide/sec03_icon5.png);
}
.sec03_txt {
	margin-top: -10px;
}
.sec03_txt li {
	margin-left: 0.8em;
	font-size: 11px;
	text-indent: -0.8em;
	line-height: 2;
}
.sec03_txt li:first-child {
	margin-left: 2em;
	text-indent: -2em;
}
/*---------------
	sec04
-----------------*/
.sec04 h2+p {
	margin-bottom: 20px;
	font-size: 12px;
}
.sec04Inner {
	padding-bottom: 30px;
}
.sec04_tbl {
	border-right: 1px solid #eceef4;
	border-bottom: 1px solid #eceef4;
	width: 100%;
	margin-bottom: 10px;
}
.sec04_tbl th {
	width: 89px;
	background-color: #eceef4;
}
.sec04_tbl th,
.sec04_tbl td {
	border-top: 1px solid #eceef4;
	padding: 10px 5px 10px 10px;
	font-size: 11px;
	vertical-align: middle;
}
.sec04_tbl td {
	width: -webkit-calc(100% - 89px);
	width: calc(100% - 89px);
}
.sec04_txt li {
	margin-left: 2em;
	font-size: 11px;
	text-indent: -2em;
	line-height: 2;
}
/*---------------
	sec05
-----------------*/
.sec05 {
	padding-bottom: 10px;
}
.sec05 h2+p {
	margin-bottom: 20px;
	font-size: 12px;
}
.sec05 .sec04_tbl th {
	width: 130px;
	background-color: #eceef4;
}
.sec05 .sec04_tbl td {
	width: -webkit-calc(100% - 130px);
	width: calc(100% - 130px);
}
.sec05 .sec04_tbl td img {
	width: 100%;
	max-width: 200px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
