@charset "utf-8";


/*---------------------------------------------------------

 ---------------------------------------------------------*/


.mainVisual{
    background: #F4B300 url(../img/home/topimg01.jpg) 50% 0 no-repeat;
    background-size: cover;
		padding: 39% 0;
}
.home_top_inner{
    padding-top: 28px;
    padding-bottom: 15px;
}
.home_top_mes{
    font-size: 12px;
    text-align: center;
    border: solid 1px #ccc;
		margin-bottom: 15px;
    padding: 14px 15px;
    position: relative;
    z-index: 1;
}
.home_top_mes:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/top_icon.png) 0 0 no-repeat;
    width: 37px;
    height: 29px;
    top: -19px;
    right:0;
    left: 0;
    margin: 0 auto;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.home_nav{
		background: #E9EAF1;
}
.home_nav_inner{
		padding-top: 10px;
}
.home_nav_list{
}
.home_nav_list li{
		position: relative;
    font-size: 12px;
		font-weight: bold;
    text-align: center;
    border: 1px solid #DADCE9;
    width: 48.5%;
		height: 73px;
    float: left;
    margin: 0 0 10px 3%;
		background-color: #FFFFFF;
    background-position: 50% 9px;
    background-repeat: no-repeat;
		background-size: 30px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.home_nav_list li:nth-child(2n+1){
		margin: 0 0 10px 0;
}
.home_nav_list li:nth-child(1){
    background-image: url(../common/img/nav01_on.png);
}
.home_nav_list li:nth-child(2){
    background-image: url(../common/img/nav02_on.png);
}
.home_nav_list li:nth-child(3){
    background-image: url(../common/img/nav03_on.png);
}
.home_nav_list li:nth-child(4){
    background-image: url(../common/img/nav04_on.png);
}
.home_nav_list li:before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #FF4E62;
    border-right: 2px solid #FF4E62;
    top: 47%;
    right: 12px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.home_nav_list a{
    display: block;
		padding-top: 47px;
		height: 100%;
    line-height: 1.2;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
 .home_sort{
    padding-top: 28px;
    padding-bottom: 20px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/

.home_item{}
.home_item_list{
	border-top: solid #DADCE9 1px;
	border-left: solid #DADCE9 1px;
	display: none;
}
.item_list_on{
    display: block;
}
.home_item_list li{
    float: left;
		border-bottom: solid #DADCE9 1px;
		border-right: solid #DADCE9 1px;
    width: 50%;
		-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.home_item_list a{
    display: block;
    position: relative;
    z-index: 1;
}
.home_item_no0,
.home_item_no1,
.home_item_no2,
.home_item_no3{
    position: absolute;
    z-index: 6;
    font-size: 11px;
		font-weight: bold;
    padding: 5px 0;
    width: 25px;
    text-align: center;
}
.home_item_no0{
    background: #565765;
    color: #fff;
}
.home_item_no1{
    background: #f1ff0f;
    color: #949a30;
}
.home_item_no2{
    background: #f3f3f3;
    color: #787985;
}
.home_item_no3{
    background: #eda353;
    color: #97632b;
}

.home_item_new{
    position: absolute;
    z-index: 6;
    font-size: 11px;
		font-weight: bold;
    color: #fff;
    background: #FF4E62;
    top: 0;
    right: 0;
    padding: 5px 5px;
}
.home_item_name{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 27px 5px 5px;
    position: relative;
    z-index: 5;
}
.home_item_product{
    text-align: center;
}
.home_item_product img{
    width: 75%;
}
.home_item_img{
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_mes{
    font-size: 11px;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_mes span{
    display: table-cell;
    padding: 7px 12px 10px;
    vertical-align: middle;

}
.home_item_m{
    background: #F7F8FC;
    display: table;
    width: 100%;
    position: relative;
    z-index: 5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_m p{
    font-size: 12px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    vertical-align: middle;
}
.home_item_m1{
    font-size: 16px;
    color: #ff4e62;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
.home_item_m2{
    display: block;
    font-size: 11px;
}


/*---------------------------------------------------------
pickup
 ---------------------------------------------------------*/
.pickup{
}
.lineup_title_box{
	padding: 25px 0;
}
.pickup_title{
    padding: 25px 0;
    text-align: center;
}
.pickup_title img{
    width: 190px;
}
.pickup_title_en{
    text-align: center;
    margin: 0 0 19px;
}
.pickup_bnr{}
.pickup_bnr a{
    display: block;
    /* float: left; */
    /* margin: 0 0 0 16px; */
}

.pickup_bnr a:first-child{
    margin: 0 0 2px;
}

/*---------------------------------------------------------
splist
 ---------------------------------------------------------*/
.splist{
    background:  #E9EAF1;
}
.splist_inner{}
.lineup_title_box{
	background: #FFFFFF;
	padding: 25px 0;
}
.lineup_title{
    text-align: center;
}
.lineup_title img{
    width: 190px;
}
.splist_list{
    padding: 10px 0;
}
.splist_list li{
    width: 100%;
		margin-bottom: 10px;
		padding: 20px 12px 23px 10px;
    background: #fff;
}
.splist_list li:last-child{
    margin-bottom: 0;
}
/* .splist_list li:first-child:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/line01.png) 0 0 repeat-y;
    width: 3px;
    top:0;
    bottom: 0;
    right: -50px;
} */
.splist_list li div.splist_detail {
    position: relative;
    z-index: 1;
		min-height: 92px;
		margin-bottom: 20px;
    padding-left: 90px;
}
.splist_img{
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 5px;
		width: 55px;
}
.splist_title{
    font-size: 16px;
    margin: 0 0 5px;
}
.splist_mes{
    font-size: 12px;
    line-height: 1.8;
    margin: 0 0 17px;
}

/*---------------------------------------------------------
campaign
 ---------------------------------------------------------*/
.campaign{
    border-bottom: 1px solid #ccc;
}
.campaign_inner{
    padding-top: 30px;
    padding-bottom: 30px;
}
.campaign_text{}
.campaign_title{
    font-size: 19px;
    margin: 0 0 20px;
		text-align: center;
    letter-spacing: 0.04em;
}
.campaign_title span{
    position: relative;
    z-index: 1;
		padding: 0 0 0 37px;
}
.campaign_title span:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/icon01.png) 0 0 no-repeat;
    background-size: 27px auto;
    width: 27px;
    height: 27px;
    top: 0;
    left: 0;
}
.campaign_mes{
    font-size: 12px;
    line-height: 1.8;
    margin: 0 0 20px;
}
.campaign_list{
	margin-bottom: 15px;
	width: 100%;
    text-align: center;
    overflow: hidden;
}
.campaign_list li{
    float: left;
	width: 48.5%;
    margin: 0 0 10px 3%;
    box-sizing: border-box;
}
.campaign_list li:nth-child(2n+1){
    margin-left: 0;
}
.campaign_list a{
    display: block;
}

/*---------------------------------------------------------
recommend
 ---------------------------------------------------------*/
.recommend{
    padding-top: 30px;
    padding-bottom: 30px;
}
.recommend_text{}
.recommend_title{
    font-size: 19px;
    margin: 0 0 20px;
		text-align: center;
    letter-spacing: 0.04em;
}
.recommend_title span{
    position: relative;
    z-index: 1;
		padding: 0 0 0 37px;
}
.recommend_title span:before{
    content: "";
    z-index: 1;
    position: absolute;
    background: url(../img/home/icon02.png) 0 0 no-repeat;
		background-size: 27px auto;
    width: 27px;
    height: 27px;
    top: 0;
    left: 0;
}
.recommend_mes{
		font-size: 12px;
    line-height: 1.8;
    margin: 0 0 20px;
}
.recommend_list{}
.recommend_list li{
    margin: 0 0 10px 0;
}
.recommend_list li:last-child{
    margin-bottom: 0;
}
.recommend_list a{}

/*---------------------------------------------------------
merit
 ---------------------------------------------------------*/
.home_merit{
    border-top: solid #D9DBE6 1px;
}
.home_merit_inner{
		padding: 30px 0 20px;
}
.home_merit_title{
    font-size: 19px;
    font-weight: bold;
		text-align: center;
		line-height: 1.4;
    margin: 0 0 25px;
}
.home_merit_list{
}
.home_merit_list li{
    font-size: 12px;
    text-align: center;
    border: 2px solid #E9EAF1;
    border-radius: 5px;
    width: 48.5%;
		height: 100px;
    float: left;
    margin: 0 0 10px 3%;
    background-position: 50% 9px;
    background-repeat: no-repeat;
		background-size: 70px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.home_merit_list li:first-child,
.home_merit_list li:nth-child(2n){
		margin: 0 0 10px 0;
}
.home_merit_list li:nth-child(1){
		width: 100%;
		height: 74px;
}
.home_merit_list li:nth-child(2){
    background-image: url(../common/img/foot_icon02.png);
}
.home_merit_list li:nth-child(3){
    background-image: url(../common/img/foot_icon03.png);
}
.home_merit_list li:nth-child(4){
    background-image: url(../common/img/foot_icon04.png);
}
.home_merit_list li:nth-child(5){
    background-image: url(../common/img/foot_icon05.png);
}
.home_merit_list a{
    display: block;
		padding-top: 64px;
		height: 100%;
    line-height: 1.2;
}
.home_merit_list li:nth-child(1) a{
    padding-top: 0;
}
.home_merit_list li:nth-child(3) a{
    padding-top: 58px;
}
.home_merit_list li:nth-child(1) p{
		display: inline-block;
    background-image: url(../common/img/foot_icon01.png);
		background-position: left 50%;
    background-repeat: no-repeat;
		background-size: 70px auto;
		padding-left: 70px;
		line-height: 70px;
}
.home_merit_list span{
    font-size: 14px;
		font-weight: bold;
    color: #ff4e62;
}
