@charset "utf-8";

.hed_nav li:nth-child(1) a{
    color: #FF4E62;
    background-image: url(../common/img/nav01_on.png);
}


/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_top{
    margin-bottom: 20px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_sort{
}
.list_sort_title{
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 0 25px;
}
.list_sort_title span{
    background: #fff;
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 0 12px;
}
.list_sort_title span img{
    width: 168px;
}
.list_sort_title:before{
    content: "";
    z-index: 1;
    position: absolute;
    border-bottom:1px solid #5A5A5A;
    bottom: 12px;
    right:0;
    left: 0;
}
.list_sort .sort{
    padding: 10px 0 25px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_item{
    border-top: #DADCE9 solid 1px;
		border-left: #DADCE9 solid 1px;
        display: none;
}
.list_item_on{
    display: block;
}
.list_item li{
		border-bottom: #DADCE9 solid 1px;
		border-right: #DADCE9 solid 1px;
    float: left;
    width: 50%;
    padding: 15px 10px;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list_item_name{
    font-size: 12px;
    text-align: center;
    margin: 0 0 7px;
}
.list_item_new{
    font-size: 10px;
    background: #FF4E62;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    top: -1px;
    margin: 0 7px 0 0;
}
.list_item_img{
    position: relative;
    z-index: 1;
    text-align: center;
}
.list_item_img div{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}
.list_item_img div:first-child{
    position: relative;
    opacity: 1;
}
.list_item_img .list_item_img_on{
    opacity: 1 !important;
}
.list_item_img .list_item_img_off{
    opacity: 0 !important;
}

.list_item_mes{
    display: table;
    width: 100%;
    margin: 0 0 10px;
}
.list_item_mes span{
    font-size: 11px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 4px 0 0;
}
.list_item_m{
    display: table;
    width: 100%;
    margin: 0 0 5px;
}
.list_item_m p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 10px;
}
.list_item_m1{
    font-size: 16px;
    color: #ff4e62;
}
.list_item_m2{
    display: block;
    font-size: 11px;
		font-weight: normal;
    line-height: 1.4;
}
.list_item_btn a,.list_item_btn button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
		font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 6px 0;
    display: block;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.list_item_btn a:before,.list_item_btn button:before{
    left: auto;
    right: 15px;
}
.list_item_btn1{
    float: left;
    background: #fff;
    border: 1px solid #B0B1BB;
		margin-bottom: 5px;
}
.list_item_btn1:before{
    border-color: #919191;
}
.list_item_btn2{
    float: right;
    background: #ff4e62;
    border: 1px solid #ff4e62;
    color: #fff;
}

/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_sw{
    margin-bottom: 23px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
.list_bnr{
    margin-top: 15px;
    margin-bottom: 40px;
}
.list_bnr_title{
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    line-height: 1.8;
    margin: 0 0 25px;
}
.list_bnr1{
    display: block;
    margin: 0 0 25px;
}
.ist_bnr_box{}
.list_bnr2{
    display: block;
}
.list_bnr2:first-child{
    margin-bottom:10px;
}
/*---------------------------------------------------------

 ---------------------------------------------------------*/
/*---------------------------------------------------------

 ---------------------------------------------------------*/
