{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'admin_customurluserpage'] %}

{% block title %}カスタムURL管理{% endblock %}
{% block sub_title %}カスタムURL内容設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{# form_theme searchPageLayoutModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' #}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload.css">
<link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload-ui.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock stylesheet %}


{% block javascript %}

<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>

<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.iframe-transport.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-process.js"></script>
<script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>



<script>
    $(function() {
        $('#showSearchProductModal').on('click', function() {
                var tbody = $('#searchProductModalList tbody');
                tbody.children().remove();
            }
        );

        $('#searchProductModalButton').on('click', function() {
            var tbody = $('#searchProductModalList tbody');
            tbody.children().remove();
            $.ajax({
                type: 'POST',
                dataType: 'html',
                data: {
                    'id' : $('#admin_search_product_id').val(),
                    'category_id' : $('#admin_search_product_category_id').val()
                },
                url: '{{ url('admin_recommend_search_product') }}',
                success: function(data) {
                    // モーダルに結果を書き出し.
                    $('#searchProductModalList').html(data);

                },
                error: function() {
                    console.log('search product failed.');
                }
            });
        });
    });

    var setModeAndSubmit = function(mode, keyname, keyid) {
        document.form1.mode.value = mode;
        if(keyname !== undefined && keyname !== "" && keyid !== undefined && keyid !== "") {
            document.form1[keyname].value = keyid;
        }
        document.form1.submit();
        return false;
    };

    $(function() {

        $("#thumb").sortable({
            cursor: 'move',
            opacity: 0.7,
            placeholder: 'ui-state-highlight',
            update: function (event, ui) {
                updateRank();
            }
        });
        var proto_img = ''
                + '<li class="ui-state-default">'
                + '<img src="__path__">__FILENAME__</img>'
                + '<a class="delete-image">'
                + '<svg class="cb cb-close">'
                + '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-close"></use>'
                + '</svg>'
                + '</a>'
                + '</li>';
        var proto_dlf = '{{ form_widget(form.dlfilenames.vars.prototype) }}';
        var proto_add_dlf = '{{ form_widget(form.add_dlfilenames.vars.prototype) }}';
        var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
        var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';

        {% for image in form.images %}
        //image}}
        //ss{{form.dlfilenames[loop.index0].vars.value}}
            var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_save_urlpath }}/{{ image.vars.value }}').replace(/__FILENAME__/g, '{{form.dlfilenames[loop.index0].vars.value}}'));
            var $widget = $('{{ form_widget(image) }}');
            $widget.val('{{ image.vars.value }}');
            $("#thumb").append($img.append($widget));
        {% endfor %}
        {% for dlf in form.dlfilenames %}
            $("#thumb").append('{{ form_widget(dlf) }}');
        {% endfor %}
        
        {% for add_image in form.add_images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ app.config.image_temp_urlpath }}/{{ add_image.vars.value }}'));
            var $widget = $('{{ form_widget(add_image) }}');
            $widget.val('{{ add_image.vars.value }}');
            $("#thumb").append($img.append($widget));
        {% endfor %}
        {% for add_dlfilename in form.add_dlfilenames %}
            var $img = $(proto_img.replace(/__FILENAME__/g, '{{ add_dlfilename.vars.value }}'));
            var $widget = $('{{ form_widget(add_dlfilename) }}');
            $widget.val('{{ add_dlfilename.vars.value }}');
            //$("#thumb").append($img.append($widget));
        {% endfor %}
        
        {% for delete_image in form.delete_images %}
            $("#thumb").append('{{ form_widget(delete_image) }}');
        {% endfor %}
        
        var hideSvg = function () {
            if ($("#thumb li").length > 0) {
                $("#icon_no_image").css("display", "none");
            } else {
                $("#icon_no_image").css("display", "");
            }
        };
        var updateRank = function () {
            $("#thumb li").each(function (index) {
                $(this).find(".rank_images").remove();
                filename = $(this).find("input[type='hidden']").val();
                $rank = $('<input type="hidden" class="rank_images" name="rank_images[]" />');
                $rank.val(filename + '//' + parseInt(index + 1));
                $(this).append($rank);
            });
        }
        hideSvg();
        updateRank();
        // 画像削除時
        var count_del = 0;
        $("#thumb").on("click", ".delete-image", function () {
            var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
            var src = $(this).prev().attr('src')
                    .replace('{{ app.config.image_temp_urlpath }}/', '')
                    .replace('{{ app.config.image_save_urlpath }}/', '');
            $new_delete_image.val(src);
            $("#thumb").append($new_delete_image);
            $(this).parent("li").remove();
            hideSvg();
            updateRank();
            count_del++;
        });
        var count_add = {{ form.add_images|length|default(0) }};
        $('#{{ form.customurluserpageimage.vars.id }}').fileupload({
                url: "{{ url('admin_customurluserpage_image_add') }}",
                type: "post",
                dataType: 'json',
                done: function (e, data) {
                    $('#progress').hide();
                    $.each(data.result.files, function (index, file) {
                        var path = '{{ app.config.image_temp_urlpath }}/' + file.name;
                        var $img = $(proto_img.replace(/__path__/g, path).replace(/__FILENAME__/g,file.dlname));
                        var $new_img = $(proto_add.replace(/__name__/g, count_add));
                        var $new_dlf = $(proto_add_dlf.replace(/__name__/g, count_add));
                        $new_img.val(file.name);
                        $new_dlf.val(file.dlname);
                        $child = $img.append($new_img);
                        $child = $img.append($new_dlf);
                        $('#thumb').append($child);
                        count_add++;
                    });
                    hideSvg();
                    updateRank();
                },
                fail: function (e, data) {
                    alert('アップロードに失敗しました。');
                },
                always: function (e, data) {
                    $('#progress').hide();
                    $('#progress .progress-bar').width('0%');
                },
                start: function (e, data) {
                    console.log(data);
                    $('#progress').show();
                },
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png|pdf|zip)$/i,
                maxFileSize: 10000000,
                maxNumberOfFiles: 1,
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                },
                processalways: function (e, data) {
                    if (data.files.error) {
                        alert("画像ファイルサイズが大きいか画像ファイルではありません。");
                    }
                }
            });
        // 画像アップロード
        $('#file_upload').on('click', function () {
            $('#{{ form.customurluserpageimage.vars.id }}').click();
        });
    });

</script>
{% endblock javascript %}

{% block main %}
<div class="row" id="aside_wrap">
    <form role="form" name="form1" id="form1" method="post">
    <input type="hidden" name="mode" value="">
    {{ form_widget(form._token) }}
        <div class="col-md-9">
            <div class="box accordion">
                <div class="box-header toggle active">
                    <h3 class="box-title">カスタムURL定義情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                </div><!-- /.box-header -->
                <div class="box-body accpanel" style="display: block;">
                    <div class="order_list form-horizontal">
                        <div class="form-group">
                            {{ form_label(form.index_flg) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.index_flg) }}
                                {{ form_errors(form.index_flg) }}
                            </div>
                        </div>

                        {# おすすめ商品ID #}
                        <div class="form-group">
                            {{ form_label(form.customurl) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.customurl) }}
                                {{ form_errors(form.customurl) }}
                            </div>
                        </div>

                        {#  #}
                        <div class="form-group">
                            {{ form_label(form.userpage) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.userpage) }}
                            </div>
                        </div>
                        {# 対象のユーザー定義ページ #}
                        <div class="form-group">
                            {{ form_label(form.pagelayout) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pagelayout) }}
                                {{ form_errors(form.pagelayout) }}
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            {{ form_label(form.bindname) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.bindname) }}
                            </div>
                        </div>
                        <div class="form-group">

                            <td id="result_box__customurluserpageimage">
                                <div id="detail_box__image" class="form-group">
                                    <label class="col-sm-2 control-label" for="admin_customurluserpageimage_image">
                                    </label>
                                    <div id="detail_files_box" class="col-sm-9 col-lg-10">
                                        <div class="photo_files" id="drag-drop-area">
                                            <svg id="icon_no_image" class="cb cb-photo no-image"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-photo"></use></svg>
                                            <ul id="thumb" class="clearfix"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group marB30">
                                    <div id="detail_box__file_upload" class="col-sm-offset-2 col-sm-9 col-lg-10 ">

                                        <div id="progress" class="progress progress-striped active" style="display:none;">
                                            <div class="progress-bar progress-bar-info"></div>
                                        </div>

                                        {{ form_widget(form.customurluserpageimage, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                        <a id="file_upload" class="with-icon">
                                            <svg class="cb cb-plus"> <use xlink:href="#cb-plus" /></svg>
                                        </a>

                                    </div>
                                </div>                                    
                                {# form_widget(product_class_form.product_image) #}
                                {# form_errors(product_class_form.product_image) #}
                            </td>
                        </div>


                        <div class="form-group">
                            {{ form_label(form.pagethumbnail) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pagethumbnail) }}
                                {{ form_errors(form.pagethumbnail) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pageinfo) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pageinfo) }}
                                {{ form_errors(form.pageinfo) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pagecategorykey) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pagecategorykey) }}
                                {{ form_errors(form.pagecategorykey) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pagesubcategorykey) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pagesubcategorykey) }}
                                {{ form_errors(form.pagesubcategorykey) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pagesubcategoryinfo) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.pagesubcategoryinfo) }}
                                {{ form_errors(form.pagesubcategoryinfo) }}
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">

                    <button class="btn btn-primary btn-block btn-sm" type="submit">登録</button>
                    {% if form.customurl is not null %}
                        <p><a href="{{ url('admin_customurluserpage') }}">戻る</a></p>
                    {% endif %}
                </div>
            </div>

        </div><!-- /.col -->
    </form>
</div>
{% endblock %}

{% block modal %}
{#
// =======================================
// 商品検索モーダル ダイアログ表示
// =======================================
#}
<div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
