<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svgicon">
<symbol id="cb-angle-down" viewBox="0 0 360 360">
	<path d="M179.634,248.918c-2.085,0-3.93-0.805-5.531-2.404L62.04,134.416c-1.604-1.604-2.405-3.45-2.405-5.532
		c0-2.086,0.8-3.932,2.405-5.533l12.024-12.027c1.601-1.605,3.445-2.405,5.531-2.405c2.082,0,3.926,0.8,5.531,2.405l94.509,94.537
		l94.509-94.537c1.601-1.605,3.446-2.405,5.532-2.405c2.082,0,3.927,0.8,5.53,2.405l12.024,12.027
		c1.602,1.601,2.405,3.447,2.405,5.533c0,2.082-0.804,3.928-2.405,5.532L185.165,246.514
		C183.56,248.114,181.716,248.918,179.634,248.918z"/>
</symbol>
<symbol id="cb-angle-right" viewBox="0 0 360 360">
	<path d="M249.635,178.918c0,2.086-0.805,3.931-2.405,5.531L135.133,296.514c-1.604,1.604-3.45,2.404-5.532,2.404
		c-2.086,0-3.932-0.8-5.533-2.404L112.04,284.49c-1.605-1.601-2.405-3.444-2.405-5.53c0-2.082,0.8-3.927,2.405-5.531l94.538-94.51
		L112.04,84.41c-1.605-1.601-2.405-3.446-2.405-5.531c0-2.082,0.8-3.927,2.405-5.531l12.028-12.024
		c1.601-1.601,3.446-2.405,5.533-2.405c2.082,0,3.928,0.804,5.532,2.405L247.23,173.387
		C248.831,174.992,249.635,176.836,249.635,178.918z"/>
</symbol>
<symbol id="cb-search" viewBox="0 0 360 360">
	<path d="M339.635,314.304c0,6.664-2.437,12.434-7.309,17.308c-4.873,4.87-10.643,7.307-17.307,7.307
		c-6.924,0-12.692-2.437-17.308-7.307l-65.962-65.77c-22.951,15.898-48.528,23.846-76.731,23.846
		c-18.335,0-35.866-3.558-52.596-10.674c-16.731-7.114-31.155-16.729-43.27-28.845c-12.115-12.116-21.73-26.539-28.846-43.27
		c-7.115-16.731-10.673-34.262-10.673-52.597c0-18.333,3.558-35.866,10.673-52.597c7.116-16.73,16.731-31.152,28.846-43.269
		c12.115-12.115,26.539-21.731,43.27-28.847c16.73-7.115,34.261-10.673,52.596-10.673c18.332,0,35.866,3.558,52.596,10.673
		s31.153,16.731,43.269,28.847c12.116,12.116,21.731,26.538,28.847,43.269c7.116,16.73,10.673,34.264,10.673,52.597
		c0,28.207-7.951,53.783-23.846,76.731l65.962,65.962C337.261,301.737,339.635,307.506,339.635,314.304z M215.884,215.169
		c16.857-16.858,25.289-37.146,25.289-60.866c0-23.717-8.432-44.005-25.289-60.865C199.025,76.581,178.735,68.15,155.02,68.15
		c-23.72,0-44.009,8.431-60.865,25.288c-16.86,16.86-25.289,37.148-25.289,60.865c0,23.72,8.428,44.008,25.289,60.866
		c16.856,16.859,37.146,25.288,60.865,25.288C178.735,240.458,199.025,232.029,215.884,215.169z"/>
</symbol>
<symbol id="cb-shopping-cart" viewBox="0 0 360 360">
	<path d="M344.635,77.1v101.817c0,3.183-1.06,6-3.173,8.452c-2.116,2.455-4.828,3.877-8.132,4.275l-207.043,24.261
		c0.13,0.93,0.427,2.355,0.893,4.275c0.461,1.925,0.857,3.68,1.189,5.271c0.328,1.591,0.496,3.051,0.496,4.375
		c0,2.121-1.587,6.362-4.76,12.727h182.453c3.437,0,6.411,1.262,8.924,3.778c2.51,2.52,3.768,5.503,3.768,8.948
		c0,3.45-1.258,6.433-3.768,8.949c-2.513,2.52-5.487,3.778-8.924,3.778H103.481c-3.44,0-6.415-1.259-8.925-3.778
		c-2.513-2.517-3.768-5.499-3.768-8.949c0-1.854,0.725-4.475,2.182-7.854c1.453-3.381,3.402-7.325,5.85-11.833
		c2.445-4.506,3.799-7.026,4.065-7.557L67.783,64.374H27.327c-3.44,0-6.415-1.26-8.925-3.779c-2.514-2.518-3.768-5.5-3.768-8.949
		c0-3.445,1.254-6.428,3.768-8.949c2.51-2.516,5.484-3.777,8.925-3.777h50.77c2.112,0,3.997,0.432,5.651,1.291
		c1.651,0.864,2.975,1.891,3.966,3.082c0.993,1.195,1.851,2.82,2.579,4.873c0.725,2.058,1.221,3.813,1.486,5.27
		c0.265,1.463,0.627,3.416,1.092,5.867c0.461,2.455,0.759,4.146,0.893,5.072h238.179c3.437,0,6.41,1.262,8.924,3.777
		C343.376,70.67,344.635,73.655,344.635,77.1z M134.121,275.465c4.957,4.972,7.437,10.972,7.437,17.998
		c0,7.025-2.479,13.025-7.437,17.997s-10.942,7.458-17.949,7.458c-7.008,0-12.988-2.486-17.946-7.458
		c-4.959-4.972-7.437-10.972-7.437-17.997c0-7.026,2.478-13.026,7.437-17.998c4.958-4.971,10.938-7.457,17.946-7.457
		C123.179,268.008,129.164,270.495,134.121,275.465z M311.813,275.465c4.958,4.972,7.437,10.972,7.437,17.998
		c0,7.025-2.479,13.025-7.437,17.997c-4.957,4.972-10.941,7.458-17.947,7.458c-7.009,0-12.99-2.486-17.947-7.458
		c-4.958-4.972-7.437-10.972-7.437-17.997c0-7.026,2.479-13.026,7.437-17.998c4.957-4.971,10.938-7.457,17.947-7.457
		C300.872,268.008,306.856,270.495,311.813,275.465z"/>
</symbol>
<symbol id="cb-user-circle" viewBox="0 0 360 360">
	<circle class="icon-bg" cx="179.635" cy="178.918" r="155"/>
	<path class="icon-with-bg" d="M179.215,336.811c40.641,0,77.622-15.649,105.266-41.241c-1.154-3.576-2.645-6.928-4.463-9.31
		c-16.117-20.975-36.773-31.812-71.836-35.359c-6.271-1.217-11.041-6.885-11.041-13.573c0-4.763,15.611-19.351,15.504-19.555
		c16.115-16.615,24.723-43.763,24.723-64.632c0-32.316-26.039-58.658-58.152-58.658c-32.114,0-58.153,26.342-58.153,58.658
		c0,20.969,8.41,48.323,24.614,64.939c0,0,15.612,14.484,15.612,19.247c0,7.089-5.273,12.966-12.169,13.776
		c-34.33,3.646-54.8,14.385-70.708,35.156c-1.819,2.383-3.309,5.737-4.457,9.315C101.597,321.165,138.576,336.811,179.215,336.811z"
		/>
</symbol>
<symbol id="cb-close-thin" viewBox="0 0 360 360">
	<path d="M337.207,292.838l-113.922-113.92L337.207,64.997c3.547-3.546,3.163-9.678-0.855-13.7l-29.095-29.093
		c-4.022-4.021-10.153-4.402-13.7-0.856l-113.921,113.92L65.714,21.347c-3.547-3.547-9.681-3.165-13.702,0.856L22.919,51.296
		c-4.02,4.022-4.404,10.154-0.857,13.7l113.921,113.922L22.063,292.838c-3.547,3.545-3.163,9.678,0.857,13.701l29.093,29.092
		c4.021,4.023,10.155,4.406,13.702,0.857l113.921-113.922l113.92,113.922c3.548,3.549,9.679,3.166,13.701-0.857l29.095-29.092
		C340.37,302.516,340.755,296.383,337.207,292.838z"/>
</symbol>
<symbol id="cb-question" viewBox="0 0 360 360">
	<path d="M302.635,115.168c0,9.563-1.377,18.506-4.126,26.828c-2.755,8.325-5.856,15.1-9.317,20.32
		c-3.462,5.225-8.345,10.493-14.643,15.804c-6.301,5.313-11.404,9.163-15.306,11.555c-3.906,2.392-9.317,5.537-16.238,9.431
		c-7.279,4.075-13.355,9.828-18.235,17.266c-4.883,7.438-7.32,13.373-7.32,17.798c0,3.013-1.065,5.889-3.195,8.632
		c-2.13,2.748-4.616,4.116-7.453,4.116h-63.889c-2.662,0-4.926-1.636-6.788-4.913c-1.864-3.274-2.796-6.595-2.796-9.961V220.09
		c0-14.697,5.766-28.556,17.303-41.571c11.534-13.015,24.225-22.621,38.067-28.82c10.47-4.781,17.923-9.737,22.361-14.875
		c4.435-5.134,6.654-11.862,6.654-20.188c0-7.438-4.125-13.987-12.378-19.656c-8.252-5.666-17.793-8.5-28.617-8.5
		c-11.537,0-21.121,2.569-28.75,7.703c-6.214,4.428-15.707,14.609-28.484,30.547c-2.309,2.834-5.057,4.25-8.251,4.25
		c-2.131,0-4.352-0.706-6.655-2.125L60.92,93.652c-2.309-1.769-3.686-3.984-4.127-6.641c-0.443-2.656,0.043-5.134,1.465-7.438
		c28.393-47.103,69.567-70.656,123.52-70.656c14.196,0,28.482,2.748,42.859,8.234c14.375,5.491,27.327,12.841,38.865,22.047
		c11.534,9.209,20.939,20.499,28.218,33.867C298.996,86.438,302.635,100.471,302.635,115.168z M218.514,274.543v63.751
		c0,2.833-1.064,5.311-3.194,7.438c-2.13,2.124-4.618,3.187-7.454,3.187h-63.889c-2.841,0-5.324-1.063-7.454-3.187
		c-2.13-2.127-3.194-4.604-3.194-7.438v-63.751c0-2.832,1.064-5.313,3.194-7.438c2.13-2.126,4.613-3.187,7.454-3.187h63.889
		c2.836,0,5.324,1.061,7.454,3.187C217.45,269.23,218.514,271.711,218.514,274.543z"/>
</symbol>
<symbol id="cb-warning" viewBox="0 0 360 360">
	<path d="M200.862,33.642l145.551,267.386c4.42,7.975,4.293,15.952-0.379,23.927c-2.151,3.671-5.089,6.582-8.814,8.735
		c-3.728,2.152-7.74,3.229-12.033,3.229H34.084c-4.296,0-8.309-1.076-12.035-3.229c-3.728-2.153-6.666-5.064-8.813-8.735
		c-4.673-7.975-4.8-15.952-0.379-23.927l145.55-267.386c2.146-3.922,5.117-7.026,8.907-9.305s7.896-3.418,12.319-3.418
		c4.421,0,8.529,1.14,12.318,3.418C195.745,26.616,198.711,29.72,200.862,33.642z M203.515,211.013l3.41-87.167
		c0-1.519-0.633-2.72-1.895-3.608c-1.644-1.392-3.159-2.089-4.548-2.089h-41.696c-1.392,0-2.907,0.697-4.549,2.089
		c-1.264,0.888-1.895,2.217-1.895,3.988l3.222,86.787c0,1.266,0.631,2.311,1.896,3.132c1.262,0.826,2.778,1.236,4.548,1.236h35.062
		c1.769,0,3.251-0.41,4.454-1.236C202.724,213.324,203.387,212.279,203.515,211.013z M203.893,282.037v-36.082
		c0-1.772-0.601-3.259-1.8-4.462c-1.203-1.203-2.623-1.806-4.265-1.806h-36.387c-1.644,0-3.065,0.603-4.265,1.806
		c-1.203,1.203-1.801,2.689-1.801,4.462v36.082c0,1.775,0.598,3.261,1.801,4.463c1.199,1.205,2.621,1.804,4.265,1.804h36.387
		c1.642,0,3.062-0.599,4.265-1.804C203.292,285.297,203.893,283.812,203.893,282.037z"/>
</symbol>
<symbol id="cb-eye" viewBox="0 0 360 360">
	<path d="M348.639,174.32c-0.464-1.089-11.673-26.979-37.563-52.848c-23.995-23.975-65.678-52.554-127.993-52.554
		c-49.146,0-94.481,17.939-131.104,51.877c-27.547,25.528-40.49,51.054-41.029,52.127c-1.85,3.699-1.741,8.074,0.289,11.677
		c23.411,41.515,55.459,71.367,95.252,88.728c32.262,14.072,60.733,15.592,71.473,15.592c2.73,0,4.64-0.092,5.545-0.15
		c44.984-0.112,87.715-18.072,123.603-51.955c26.898-25.395,40.505-50.712,41.071-51.777
		C349.946,181.717,350.112,177.776,348.639,174.32z M289.569,219.284c-31.64,29.637-67.465,44.664-106.486,44.664
		c-0.308,0-0.65,0.013-0.959,0.037c-0.014,0.003-1.505,0.111-4.161,0.111c-21.395,0-93.583-6.303-141.653-85.684
		c5.025-8.229,15.943-24.226,33.135-40.003c32.297-29.642,70.53-44.669,113.638-44.669c42.908,0,79.868,15.024,109.854,44.653
		c16.132,15.94,25.892,32.111,30.247,40.268C318.067,186.819,306.774,203.167,289.569,219.284z"/>
	<path d="M181.138,104.911c-40.035,0-72.491,32.546-72.491,72.691c0,40.146,32.457,72.693,72.491,72.693
		c40.035,0,72.491-32.547,72.491-72.693C253.629,137.457,221.173,104.911,181.138,104.911z M174.761,140.452
		c-10.81,0.373-18.331,4.465-22.997,12.505c-3.881,6.688-4.365,13.692-4.369,13.765c-0.296,6.212-5.412,11.013-11.552,11.013
		c-0.188,0-0.376-0.003-0.565-0.012c-6.39-0.305-11.318-5.792-11.013-12.197c0.767-16.134,12.143-46.988,49.698-48.285
		c6.438-0.221,11.755,4.796,11.975,11.207C186.157,134.857,181.154,140.23,174.761,140.452z"/>
</symbol>
<symbol id="cb-ellipsis-h" viewBox="0 0 360 360">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M9.635,178.918c0-25.941,17.006-47,37.777-47s37.777,21.059,37.777,47
		s-17.006,47-37.777,47S9.635,204.86,9.635,178.918z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M141.857,178.918c0-25.941,17.008-47,37.779-47c20.765,0,37.777,21.059,37.777,47
		s-17.012,47-37.777,47C158.865,225.918,141.857,204.86,141.857,178.918z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M274.082,178.918c0-25.941,17.008-47,37.777-47s37.775,21.059,37.775,47
		s-17.006,47-37.775,47S274.082,204.86,274.082,178.918z"/>
</symbol>
<symbol id="cb-ellipsis-v" viewBox="0 0 360 360">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M179.635,8.918c25.942,0,47,17.006,47,37.777s-21.059,37.777-47,37.777
		c-25.941,0-47-17.006-47-37.777S153.693,8.918,179.635,8.918z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M179.635,141.141c25.942,0,47,17.008,47,37.779c0,20.766-21.059,37.777-47,37.777
		c-25.941,0-47-17.012-47-37.777C132.635,158.149,153.693,141.141,179.635,141.141z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M179.635,273.366c25.942,0,47,17.008,47,37.777s-21.059,37.775-47,37.775
		c-25.941,0-47-17.006-47-37.775S153.693,273.366,179.635,273.366z"/>
</symbol>
<symbol id="cb-chart" viewBox="0 0 360 360">
	<path d="M331.853,58.733c-5.154-5.157-11.639-7.813-18.932-7.813H46.346c-7.455,0-13.775,2.656-18.899,7.813
		c-5.153,5.157-7.812,11.606-7.812,18.936v202.532c0,7.297,2.658,13.781,7.812,18.938c5.124,5.137,11.444,7.778,18.899,7.778
		h266.575c7.293,0,13.777-2.642,18.932-7.778c5.3-5.157,7.781-11.642,7.781-18.938V77.668
		C339.634,70.339,337.153,63.89,331.853,58.733z M316.911,284.189c-1.17,1.004-2.339,1.49-3.989,1.49H46.346
		c-1.49,0-2.819-0.486-3.807-1.49c-1.151-1.167-1.672-2.336-1.672-3.988V77.668c0-1.667,0.521-2.836,1.672-3.989
		c0.987-1.003,2.316-1.489,3.807-1.489h266.575c1.65,0,2.819,0.486,3.989,1.489c1,1.153,1.489,2.322,1.489,3.989v202.532
		C318.4,281.853,317.911,283.022,316.911,284.189z M254.343,93.428v171.013h42.824V93.428H254.343z M190.25,157.502v106.938h42.823
		V157.502H190.25z M126.192,115.023v149.418h42.824V115.023H126.192z M62.458,200.335v64.105h42.5v-64.105H62.458z"/>
</symbol>
<symbol id="cb-clock" viewBox="0 0 360 360">
	<path d="M318.177,98.607c14.304,24.515,21.458,51.286,21.458,80.312c0,29.03-7.154,55.802-21.458,80.313
		c-14.306,24.515-33.718,43.924-58.229,58.228c-24.516,14.304-51.285,21.459-80.313,21.459c-29.029,0-55.801-7.155-80.313-21.459
		c-24.516-14.304-43.926-33.713-58.229-58.228c-14.308-24.512-21.458-51.283-21.458-80.313c0-29.025,7.15-55.797,21.458-80.312
		c14.304-24.513,33.714-43.922,58.229-58.23c24.512-14.303,51.283-21.458,80.313-21.458c29.028,0,55.797,7.155,80.313,21.458
		C284.459,54.685,303.872,74.094,318.177,98.607z M277.76,235.793c10.137-17.36,15.208-36.318,15.208-56.875
		c0-20.554-5.071-39.512-15.208-56.875c-10.14-17.358-23.891-31.109-41.25-41.25c-17.363-10.136-36.321-15.208-56.875-15.208
		c-20.557,0-39.516,5.072-56.875,15.208c-17.363,10.141-31.113,23.892-41.25,41.25c-10.141,17.363-15.208,36.321-15.208,56.875
		c0,20.557,5.067,39.515,15.208,56.875c10.137,17.363,23.887,31.113,41.25,41.25c17.359,10.141,36.318,15.209,56.875,15.209
		c20.554,0,39.512-5.068,56.875-15.209C253.87,266.907,267.621,253.157,277.76,235.793z M206.303,105.584v93.335
		c0,1.946-0.627,3.541-1.877,4.791c-1.25,1.251-2.848,1.875-4.791,1.875h-66.667c-1.947,0-3.543-0.624-4.793-1.875
		c-1.25-1.25-1.875-2.845-1.875-4.791v-13.333c0-1.944,0.625-3.543,1.875-4.793s2.846-1.875,4.793-1.875h46.666v-73.334
		c0-1.941,0.625-3.541,1.875-4.79c1.25-1.25,2.846-1.874,4.791-1.874h13.334c1.943,0,3.541,0.624,4.791,1.874
		C205.676,102.043,206.303,103.643,206.303,105.584z"/>
</symbol>
<symbol id="cb-cog" viewBox="0 0 360 360">
	<path d="M339.635,156.21v46.25c0,1.667-0.557,3.265-1.667,4.792c-1.113,1.53-2.499,2.431-4.167,2.708l-38.541,5.833
		c-2.641,7.5-5.349,13.822-8.125,18.959c4.86,6.946,12.292,16.53,22.292,28.749c1.386,1.667,2.083,3.405,2.083,5.209
		c0,1.807-0.625,3.404-1.875,4.792c-3.75,5.14-10.625,12.64-20.625,22.499c-10,9.863-16.53,14.792-19.584,14.792
		c-1.666,0-3.473-0.625-5.416-1.875l-28.75-22.499c-6.113,3.195-12.432,5.833-18.958,7.916c-2.224,18.886-4.238,31.804-6.042,38.75
		c-0.973,3.887-3.474,5.833-7.5,5.833h-46.25c-1.947,0-3.646-0.592-5.104-1.771c-1.459-1.182-2.26-2.675-2.396-4.479l-5.834-38.333
		c-6.806-2.22-13.057-4.791-18.749-7.708l-29.376,22.291c-1.389,1.25-3.125,1.875-5.209,1.875c-1.945,0-3.681-0.762-5.207-2.291
		c-17.5-15.834-28.959-27.501-34.375-35c-0.974-1.388-1.459-2.985-1.459-4.792c0-1.667,0.554-3.262,1.667-4.792
		c2.083-2.917,5.625-7.532,10.625-13.854c4.999-6.318,8.75-11.214,11.249-14.687c-3.749-6.944-6.598-13.818-8.541-20.625
		l-38.125-5.625c-1.807-0.276-3.265-1.146-4.375-2.604c-1.113-1.458-1.666-3.089-1.666-4.896v-46.25
		c0-1.668,0.553-3.263,1.666-4.791c1.11-1.527,2.43-2.43,3.959-2.71l38.75-5.833c1.943-6.387,4.651-12.777,8.125-19.166
		c-5.557-7.916-12.988-17.5-22.291-28.75c-1.391-1.668-2.084-3.334-2.084-5c0-1.387,0.625-2.985,1.875-4.791
		c3.609-5.002,10.449-12.464,20.52-22.396c10.07-9.928,16.633-14.896,19.688-14.896c1.805,0,3.611,0.697,5.418,2.083l28.75,22.292
		c6.109-3.192,12.429-5.833,18.958-7.916c2.221-18.888,4.235-31.803,6.042-38.75c0.97-3.888,3.471-5.833,7.5-5.833h46.25
		c1.943,0,3.646,0.592,5.104,1.771c1.459,1.183,2.256,2.676,2.396,4.48l5.834,38.333c6.803,2.223,13.053,4.792,18.749,7.708
		l29.584-22.292c1.249-1.251,2.917-1.875,4.999-1.875c1.804,0,3.543,0.697,5.209,2.083c17.916,16.53,29.375,28.333,34.375,35.417
		c0.971,1.115,1.458,2.641,1.458,4.584c0,1.666-0.556,3.264-1.667,4.791c-2.082,2.916-5.625,7.536-10.624,13.854
		c-5.001,6.324-8.75,11.219-11.251,14.688c3.611,6.948,6.459,13.749,8.542,20.417l38.125,5.833c1.804,0.28,3.262,1.146,4.375,2.604
		C339.079,152.773,339.635,154.406,339.635,156.21z M217.343,216.627c10.417-10.417,15.625-22.986,15.625-37.709
		c0-14.721-5.208-27.291-15.625-37.707c-10.417-10.418-22.987-15.626-37.708-15.626c-14.724,0-27.291,5.208-37.708,15.626
		c-10.417,10.416-15.626,22.986-15.626,37.707c0,14.723,5.209,27.292,15.626,37.709c10.417,10.416,22.984,15.625,37.708,15.625
		C194.356,232.252,206.926,227.043,217.343,216.627z"/>
</symbol>
<symbol id="cb-comment" viewBox="0 0 360 360">
	<path d="M321.67,95.211c14.643,18.308,21.965,38.257,21.965,59.85c0,21.596-7.322,41.546-21.965,59.851
		c-14.643,18.31-34.533,32.765-59.669,43.376c-25.139,10.611-52.594,15.917-82.367,15.917c-8.543,0-17.388-0.495-26.541-1.49
		c-24.16,21.718-52.228,36.735-84.196,45.052c-5.979,1.737-12.935,3.102-20.866,4.095c-2.075,0.248-3.935-0.311-5.582-1.675
		c-1.647-1.365-2.717-3.165-3.203-5.398v-0.186c-0.366-0.498-0.397-1.242-0.091-2.234c0.303-0.995,0.426-1.615,0.366-1.862
		c-0.063-0.249,0.211-0.837,0.823-1.768c0.608-0.932,0.976-1.49,1.098-1.676c0.12-0.186,0.55-0.715,1.282-1.582
		c0.731-0.87,1.218-1.429,1.464-1.676c0.853-0.995,2.745-3.136,5.674-6.424c2.929-3.289,5.033-5.647,6.315-7.073
		c1.28-1.428,3.172-3.88,5.673-7.354c2.5-3.477,4.485-6.641,5.949-9.494s3.111-6.515,4.942-10.983
		c1.83-4.469,3.414-9.183,4.758-14.148c-19.157-11.044-34.258-24.694-45.301-40.955c-11.045-16.257-16.564-33.695-16.564-52.312
		c0-16.13,4.33-31.554,12.995-46.26c8.663-14.706,20.317-27.395,34.96-38.069c14.644-10.674,32.091-19.144,52.349-25.412
		c20.254-6.266,41.486-9.4,63.696-9.4c29.773,0,57.228,5.305,82.367,15.917C287.137,62.446,307.028,76.906,321.67,95.211z"/>
</symbol>
<symbol id="cb-file-text" viewBox="0 0 360 360">
	<path d="M312.635,132.251v186.667c0,5.554-1.941,10.276-5.819,14.167c-3.881,3.887-8.591,5.833-14.132,5.833H66.586
		c-5.545,0-10.255-1.946-14.133-5.833c-3.88-3.891-5.818-8.613-5.818-14.167v-280c0-5.554,1.938-10.276,5.818-14.167
		c3.878-3.887,8.588-5.833,14.133-5.833h132.999c5.541,0,11.638,1.39,18.289,4.168c6.649,2.78,11.913,6.113,15.792,9.999
		l64.838,65.001c3.877,3.889,7.202,9.166,9.975,15.832C311.249,120.585,312.635,126.699,312.635,132.251z M73.234,312.251h212.8
		V152.25h-86.45c-5.543,0-10.253-1.942-14.131-5.833c-3.879-3.885-5.819-8.608-5.819-14.166V45.586h-106.4V312.251z
		 M259.435,185.586v13.333c0,1.945-0.623,3.541-1.869,4.791c-1.249,1.251-2.842,1.875-4.78,1.875H106.484
		c-1.94,0-3.531-0.624-4.78-1.875c-1.245-1.25-1.869-2.846-1.869-4.791v-13.333c0-1.944,0.624-3.543,1.869-4.793
		c1.249-1.25,2.84-1.875,4.78-1.875h146.301c1.938,0,3.531,0.625,4.78,1.875C258.812,182.043,259.435,183.642,259.435,185.586z
		 M259.435,238.918v13.333c0,1.948-0.623,3.543-1.869,4.792c-1.249,1.25-2.842,1.876-4.78,1.876H106.484
		c-1.94,0-3.531-0.626-4.78-1.876c-1.245-1.249-1.869-2.844-1.869-4.792v-13.333c0-1.942,0.624-3.541,1.869-4.791
		c1.249-1.251,2.84-1.876,4.78-1.876h146.301c1.938,0,3.531,0.625,4.78,1.876C258.812,235.377,259.435,236.976,259.435,238.918z
		 M206.235,125.585h78.138c-1.387-4.027-2.908-6.875-4.572-8.541l-65.044-65.208c-1.664-1.668-4.504-3.194-8.521-4.585V125.585z"/>
</symbol>
<symbol id="cb-folder" viewBox="0 0 360 360">
	<path d="M327.08,139.79v126.563c0,11.026-3.967,20.494-11.9,28.403c-7.932,7.911-17.428,11.865-28.484,11.865
		H67.464c-11.06,0-20.552-3.954-28.486-11.865c-7.932-7.909-11.898-17.377-11.898-28.403V93.766
		c0-11.025,3.966-20.495,11.898-28.405c7.934-7.91,17.426-11.865,28.486-11.865h57.692c11.056,0,20.554,3.956,28.486,11.865
		c7.932,7.91,11.899,17.38,11.899,28.405v5.753h121.154c11.057,0,20.553,3.955,28.484,11.865
		C323.113,119.295,327.08,128.764,327.08,139.79z M304.003,266.352V139.79c0-4.792-1.685-8.869-5.048-12.225
		c-3.366-3.354-7.454-5.033-12.26-5.033H159.771c-4.808,0-8.895-1.677-12.259-5.034c-3.365-3.354-5.048-7.43-5.048-12.226V93.766
		c0-4.792-1.684-8.868-5.048-12.225c-3.366-3.354-7.454-5.034-12.259-5.034H67.464c-4.809,0-8.896,1.68-12.259,5.034
		c-3.366,3.356-5.048,7.433-5.048,12.225v172.586c0,4.795,1.682,8.87,5.048,12.223c3.364,3.358,7.451,5.035,12.259,5.035h219.231
		c4.806,0,8.894-1.677,12.26-5.035C302.318,275.222,304.003,271.147,304.003,266.352z"/>
</symbol>
<symbol id="cb-folder-open" viewBox="0 0 360 360">
	<path d="M347.066,197.611c0,6.93-2.571,13.634-7.71,20.113l-49.445,60.844c-4.806,5.924-11.288,10.812-19.443,14.666
		c-8.157,3.855-15.979,5.783-23.465,5.783H64.639c-10.283,0-19.108-3.688-26.483-11.063c-7.375-7.374-11.063-16.202-11.063-26.483
		V100.563c0-10.279,3.688-19.108,11.063-26.482c7.375-7.375,16.2-11.063,26.483-11.063h53.636c10.279,0,19.108,3.688,26.482,11.063
		c7.375,7.374,11.063,16.203,11.063,26.482v5.363h91.183c10.278,0,19.107,3.688,26.482,11.063
		c7.374,7.376,11.063,16.204,11.063,26.482v26.819h32.181c6.034,0,11.565,1.37,16.595,4.106c5.026,2.738,8.769,6.678,11.229,11.816
		C346.229,189.791,347.066,193.589,347.066,197.611z M134.366,170.291h128.728v-26.819c0-4.468-1.566-8.267-4.693-11.397
		c-3.131-3.127-6.931-4.692-11.397-4.692h-96.546c-4.471,0-8.271-1.563-11.397-4.693c-3.129-3.127-4.693-6.927-4.693-11.397v-10.728
		c0-4.468-1.567-8.268-4.693-11.397c-3.13-3.127-6.93-4.693-11.398-4.693H64.639c-4.47,0-8.271,1.566-11.398,4.693
		c-3.129,3.13-4.693,6.93-4.693,11.397v142.974l42.909-52.798c4.916-5.921,11.398-10.812,19.444-14.666
		C118.945,172.218,126.766,170.291,134.366,170.291z M325.613,197.611c0-3.91-2.963-5.867-8.884-5.867H134.366
		c-4.471,0-9.249,1.203-14.332,3.604c-5.085,2.404-9.08,5.337-11.984,8.799l-49.278,60.845c-2.012,2.683-3.017,4.918-3.017,6.703
		c0,3.914,2.959,5.867,8.883,5.867h182.364c4.467,0,9.272-1.228,14.413-3.688c5.14-2.456,9.106-5.418,11.901-8.883l49.276-60.845
		C324.607,201.691,325.613,199.511,325.613,197.611z"/>
</symbol>
<symbol id="cb-home" viewBox="0 0 360 360">
	<path d="M338.224,184.695l-12.306,14.995c-1.061,1.216-2.45,1.96-4.169,2.229h-0.596
		c-1.721,0-3.109-0.471-4.168-1.418L179.635,83.572L42.284,200.5c-1.588,1.084-3.176,1.555-4.764,1.418
		c-1.722-0.269-3.111-1.013-4.168-2.229l-12.307-14.995c-1.061-1.351-1.522-2.939-1.389-4.764c0.13-1.823,0.858-3.273,2.183-4.355
		L164.55,54.187c4.233-3.511,9.262-5.269,15.085-5.269c5.822,0,10.849,1.758,15.085,5.269l48.43,41.342V56.011
		c0-1.891,0.596-3.444,1.787-4.661c1.19-1.214,2.71-1.823,4.564-1.823h38.109c1.852,0,3.374,0.609,4.564,1.823
		c1.191,1.217,1.787,2.771,1.787,4.661v82.682l43.469,36.883c1.32,1.082,2.049,2.532,2.183,4.355
		C339.744,181.755,339.281,183.344,338.224,184.695z M293.962,198.677v97.271c0,3.515-1.26,6.554-3.771,9.119
		c-2.516,2.568-5.492,3.851-8.932,3.851h-76.218v-77.817h-50.812v77.817H78.011c-3.441,0-6.42-1.282-8.932-3.851
		c-2.516-2.565-3.771-5.604-3.771-9.119v-97.271c0-0.133,0.03-0.336,0.099-0.608c0.065-0.27,0.1-0.473,0.1-0.607l114.128-96.057
		l114.128,96.057C293.894,197.733,293.962,198.139,293.962,198.677z"/>
</symbol>
<symbol id="cb-inbox" viewBox="0 0 360 360">
	<path d="M339.635,198.454v100.165c0,3.604-1.322,6.721-3.958,9.353c-2.64,2.633-5.765,3.947-9.376,3.947H32.968
		c-3.613,0-6.738-1.314-9.374-3.947c-2.641-2.632-3.959-5.748-3.959-9.353V198.454c0-8.589,1.734-17.108,5.208-25.562L74.426,58.179
		c1.387-3.462,3.924-6.371,7.604-8.728c3.679-2.354,7.325-3.532,10.938-3.532h173.333c3.61,0,7.256,1.179,10.938,3.532
		c3.679,2.357,6.215,5.266,7.605,8.728l49.583,114.713C337.897,181.345,339.635,189.865,339.635,198.454z M232.76,192.218h65.833
		c-0.14-0.414-0.313-0.967-0.521-1.662c-0.209-0.691-0.385-1.247-0.521-1.662L253.385,85.818h-147.5L61.717,188.894
		c-0.139,0.279-0.313,0.831-0.52,1.662c-0.209,0.832-0.385,1.387-0.521,1.662h65.834l19.792,39.9h66.667L232.76,192.218z"/>
</symbol>
<symbol id="cb-photo" viewBox="0 0 360 360">
	<path d="M349.635,71.252v215.334c0,7.791-2.774,14.459-8.322,20.009c-5.55,5.548-12.219,8.323-20.011,8.323H37.969
		c-7.792,0-14.463-2.775-20.011-8.323c-5.55-5.55-8.323-12.218-8.323-20.009V71.252c0-7.792,2.773-14.46,8.323-20.011
		c5.548-5.548,12.219-8.323,20.011-8.323h283.333c7.792,0,14.461,2.775,20.011,8.323C346.861,56.792,349.635,63.46,349.635,71.252z
		 M321.302,65.585H37.969c-1.536,0-2.864,0.562-3.984,1.683c-1.123,1.123-1.684,2.451-1.684,3.984v215.334
		c0,1.534,0.561,2.863,1.684,3.983c1.12,1.124,2.448,1.683,3.984,1.683h283.333c1.533,0,2.86-0.559,3.984-1.683
		c1.121-1.12,1.683-2.449,1.683-3.983V71.252c0-1.533-0.562-2.861-1.683-3.984C324.163,66.147,322.835,65.585,321.302,65.585z
		 M113.052,98.169c6.61,6.612,9.917,14.639,9.917,24.083c0,9.445-3.307,17.473-9.917,24.082c-6.612,6.614-14.64,9.917-24.083,9.917
		c-9.447,0-17.473-3.303-24.084-9.917c-6.612-6.609-9.916-14.637-9.916-24.082c0-9.444,3.304-17.471,9.916-24.083
		c6.611-6.61,14.637-9.917,24.084-9.917C98.412,88.252,106.439,91.559,113.052,98.169z M304.302,190.252v79.333H54.969v-34
		l56.666-56.667l28.334,28.334l90.667-90.668L304.302,190.252z"/>
</symbol>
<symbol id="cb-plus-square" viewBox="0 0 360 360">
	<path d="M339.635,84.373v189.091c0,18.033-6.402,33.45-19.204,46.251c-12.807,12.804-28.221,19.204-46.25,19.204
		H85.089c-18.032,0-33.449-6.4-46.25-19.204c-12.805-12.801-19.204-28.218-19.204-46.251V84.373c0-18.029,6.399-33.444,19.204-46.25
		c12.801-12.802,28.218-19.204,46.25-19.204h189.092c18.029,0,33.443,6.402,46.25,19.204
		C333.233,50.928,339.635,66.343,339.635,84.373z M310.544,273.463V84.373c0-10-3.562-18.559-10.684-25.684
		c-7.121-7.118-15.68-10.68-25.68-10.68H85.089c-10.001,0-18.563,3.562-25.683,10.68c-7.122,7.125-10.681,15.684-10.681,25.684
		v189.091c0,10.001,3.559,18.563,10.681,25.684c7.12,7.121,15.682,10.68,25.683,10.68h189.092c10,0,18.559-3.559,25.68-10.68
		C306.983,292.026,310.544,283.464,310.544,273.463z M281.453,171.646v14.544c0,2.124-0.681,3.865-2.046,5.229
		c-1.362,1.363-3.105,2.045-5.226,2.045h-80v80c0,2.125-0.683,3.864-2.046,5.227c-1.363,1.365-3.107,2.046-5.229,2.046h-14.543
		c-2.124,0-3.865-0.681-5.229-2.046c-1.363-1.362-2.046-3.102-2.046-5.227v-80h-80c-2.124,0-3.863-0.682-5.229-2.045
		c-1.362-1.363-2.043-3.104-2.043-5.229v-14.544c0-2.121,0.681-3.864,2.043-5.229c1.365-1.362,3.104-2.046,5.229-2.046h80V84.373
		c0-2.12,0.683-3.864,2.046-5.226c1.363-1.366,3.104-2.046,5.229-2.046h14.543c2.121,0,3.865,0.68,5.229,2.046
		c1.363,1.361,2.046,3.105,2.046,5.226v79.999h80c2.12,0,3.863,0.684,5.226,2.046C280.772,167.782,281.453,169.525,281.453,171.646z
		"/>
</symbol>
<symbol id="cb-point" viewBox="0 0 360 360">
	<circle class="icon-bg" cx="179.635" cy="178.918" r="155"/>
	<path class="icon-with-bg" d="M130.829,95.202c11.955-2.242,28.391-3.984,49.56-3.984c24.157,0,42.337,4.731,54.541,15.191
		c11.456,9.712,18.429,25.153,18.429,42.835c0,52.548-43.832,64.252-72.472,64.252c-5.23,0-9.712-0.248-13.448-0.995v71.724h-36.61
		V95.202z M167.438,183.612c3.486,0.746,7.471,0.996,12.95,0.996c22.913,0,36.36-12.95,36.36-33.621
		c0-20.421-12.95-31.131-33.371-31.131c-7.473,0-12.702,0.748-15.939,1.495V183.612z"/>
</symbol>
<symbol id="cb-tag" viewBox="0 0 360 360">
	<path d="M342.415,216.22c0,7.465-2.607,13.802-7.815,19.01L230.89,339.151c-5.492,5.208-11.901,7.815-19.221,7.815
		c-7.466,0-13.803-2.607-19.012-7.815L41.635,187.916c-5.354-5.207-9.895-12.32-13.624-21.332
		c-3.732-9.01-5.597-17.248-5.597-24.713V54.002c0-7.319,2.673-13.657,8.025-19.01c5.351-5.351,11.687-8.026,19.01-8.026h87.869
		c7.462,0,15.699,1.867,24.713,5.598c9.01,3.731,16.19,8.273,21.545,13.623l151.022,150.812
		C339.807,202.49,342.415,208.9,342.415,216.22z M109.12,113.671c5.281-5.28,7.922-11.65,7.922-19.114
		c0-7.462-2.641-13.835-7.922-19.116c-5.279-5.279-11.652-7.92-19.114-7.92c-7.466,0-13.836,2.641-19.116,7.92
		c-5.28,5.281-7.921,11.654-7.921,19.116c0,7.464,2.641,13.834,7.921,19.114c5.28,5.281,11.65,7.921,19.116,7.921
		C97.467,121.592,103.84,118.953,109.12,113.671z"/>
</symbol>
<symbol id="cb-tag-slash" viewBox="0 0 360 360">
	<path d="M330.979,200.98l-72.08-71.329L122.654,264.352l72.238,71.688c4.992,4.947,11.067,7.426,18.227,7.426
		c7.018,0,13.162-2.479,18.426-7.426l99.435-98.737c4.993-4.947,7.495-10.97,7.495-18.061
		C338.474,212.289,335.972,206.196,330.979,200.98z"/>
	<path d="M328.68,40.532l-19.059-18.886c-2.156-2.138-4.968-2.82-6.278-1.523l-77.313,76.616l-47.04-46.549
		c-5.132-5.083-12.019-9.397-20.656-12.943c-8.642-3.544-16.538-5.319-23.694-5.319H50.396c-7.021,0-13.097,2.544-18.226,7.626
		c-5.133,5.086-7.696,11.108-7.696,18.063V141.1c0,7.094,1.789,14.92,5.368,23.479c3.574,8.567,7.928,15.323,13.062,20.269
		l47.075,46.716L27.07,293.905c-1.309,1.298-0.619,4.083,1.537,6.221l19.06,18.886c2.156,2.138,4.968,2.821,6.276,1.524
		L330.217,46.752C331.525,45.455,330.837,42.668,328.68,40.532z M70.952,114.31c-5.063-5.019-7.596-11.069-7.596-18.163
		c0-7.089,2.532-13.146,7.596-18.162c5.062-5.018,11.169-7.526,18.327-7.526c7.153,0,13.264,2.509,18.327,7.526
		c5.062,5.017,7.594,11.073,7.594,18.162c0,7.094-2.532,13.145-7.594,18.163c-5.063,5.016-11.174,7.524-18.327,7.524
		C82.121,121.834,76.013,119.326,70.952,114.31z"/>
</symbol>
<symbol id="cb-users" viewBox="0 0 360 360">
	<path d="M118.468,178.918c-17.999,0.557-32.724,7.65-44.166,21.286H51.969c-9.113,0-16.779-2.245-23.001-6.734
		c-6.224-4.49-9.333-11.059-9.333-19.707c0-39.134,6.888-58.701,20.667-58.701c0.667,0,3.083,1.163,7.25,3.492
		c4.166,2.328,9.582,4.684,16.249,7.066c6.668,2.387,13.276,3.577,19.834,3.577c7.442,0,14.833-1.274,22.167-3.825
		c-0.559,4.102-0.834,7.761-0.834,10.975C104.968,151.758,109.468,165.948,118.468,178.918z M113.801,42.39
		c8.333,8.314,12.501,18.351,12.501,30.101c0,11.753-4.168,21.784-12.501,30.1c-8.332,8.314-18.391,12.472-30.166,12.472
		c-11.779,0-21.833-4.157-30.167-12.472c-8.333-8.315-12.499-18.347-12.499-30.1c0-11.75,4.166-21.786,12.499-30.101
		c8.334-8.315,18.388-12.472,30.167-12.472C95.41,29.918,105.469,34.075,113.801,42.39z M296.968,284.849
		c0,13.303-4.057,23.805-12.166,31.512c-8.112,7.705-18.892,11.558-32.334,11.558H106.801c-13.444,0-24.224-3.853-32.333-11.558
		c-8.112-7.707-12.167-18.209-12.167-31.512c0-5.876,0.193-11.612,0.584-17.212c0.389-5.596,1.167-11.641,2.333-18.126
		c1.167-6.486,2.638-12.498,4.417-18.043c1.775-5.543,4.166-10.946,7.167-16.213c3-5.266,6.442-9.756,10.332-13.471
		c3.889-3.714,8.639-6.678,14.251-8.896c5.609-2.217,11.805-3.326,18.583-3.326c1.109,0,3.5,1.192,7.166,3.575
		c3.668,2.385,7.723,5.046,12.168,7.981c4.442,2.938,10.388,5.601,17.832,7.983c7.444,2.385,14.943,3.575,22.501,3.575
		c7.555,0,15.055-1.19,22.5-3.575c7.444-2.383,13.389-5.045,17.834-7.983c4.443-2.936,8.5-5.597,12.166-7.981
		c3.668-2.383,6.056-3.575,7.168-3.575c6.775,0,12.972,1.109,18.583,3.326c5.609,2.219,10.359,5.183,14.249,8.896
		c3.889,3.715,7.334,8.205,10.334,13.471c3.001,5.267,5.388,10.67,7.167,16.213c1.775,5.545,3.25,11.557,4.416,18.043
		c1.167,6.485,1.943,12.53,2.334,18.126C296.773,273.237,296.968,278.973,296.968,284.849z M224.885,91.198
		c12.5,12.473,18.75,27.522,18.75,45.149c0,17.628-6.25,32.678-18.75,45.148c-12.5,12.474-27.584,18.709-45.25,18.709
		c-17.667,0-32.75-6.235-45.251-18.709c-12.499-12.471-18.749-27.521-18.749-45.148c0-17.627,6.25-32.677,18.749-45.149
		c12.501-12.472,27.584-18.707,45.251-18.707C197.301,72.491,212.385,78.726,224.885,91.198z M305.802,42.39
		c8.333,8.314,12.499,18.351,12.499,30.101c0,11.753-4.166,21.784-12.499,30.1c-8.334,8.314-18.391,12.472-30.167,12.472
		c-11.778,0-21.834-4.157-30.166-12.472c-8.335-8.315-12.501-18.347-12.501-30.1c0-11.75,4.166-21.786,12.501-30.101
		c8.332-8.315,18.388-12.472,30.166-12.472C287.412,29.918,297.468,34.075,305.802,42.39z M339.635,173.763
		c0,8.648-3.112,15.217-9.333,19.707c-6.224,4.489-13.892,6.734-23.001,6.734h-22.333c-11.445-13.636-26.167-20.729-44.166-21.286
		c9-12.971,13.5-27.16,13.5-42.571c0-3.214-0.279-6.873-0.834-10.975c7.334,2.551,14.722,3.825,22.167,3.825
		c6.555,0,13.166-1.19,19.834-3.577c6.665-2.383,12.083-4.738,16.249-7.066c4.167-2.329,6.583-3.492,7.25-3.492
		C332.745,115.062,339.635,134.629,339.635,173.763z"/>
</symbol>
<symbol id="cb-minus-square" viewBox="0 0 360 360">
	<path d="M339.634,84.374v189.09c0,18.033-6.402,33.449-19.204,46.251c-12.806,12.804-28.222,19.204-46.25,19.204
		H85.089c-18.032,0-33.447-6.4-46.25-19.204c-12.805-12.802-19.203-28.218-19.203-46.251V84.374c0-18.028,6.398-33.445,19.203-46.25
		c12.803-12.802,28.218-19.205,46.25-19.205H274.18c18.028,0,33.444,6.403,46.25,19.205
		C333.232,50.928,339.634,66.345,339.634,84.374z M310.544,273.463V84.374c0-9.999-3.563-18.558-10.684-25.682
		c-7.123-7.12-15.682-10.682-25.681-10.682H85.089c-10,0-18.562,3.562-25.682,10.682c-7.123,7.124-10.682,15.683-10.682,25.682
		v189.09c0,10,3.559,18.562,10.682,25.682c7.12,7.123,15.682,10.682,25.682,10.682H274.18c9.999,0,18.558-3.559,25.681-10.682
		C306.982,292.025,310.544,283.463,310.544,273.463z M281.453,171.646v14.545c0,2.124-0.683,3.864-2.046,5.228
		s-3.107,2.045-5.227,2.045H85.089c-2.123,0-3.863-0.682-5.229-2.045c-1.361-1.363-2.044-3.104-2.044-5.228v-14.545
		c0-2.12,0.683-3.863,2.044-5.228c1.365-1.362,3.105-2.046,5.229-2.046H274.18c2.119,0,3.863,0.684,5.227,2.046
		C280.77,167.783,281.453,169.526,281.453,171.646z"/>
</symbol>
<symbol id="cb-close" viewBox="0 0 360 360">
	<path d="M339.635,276.428c0,7.183-2.516,13.29-7.542,18.316l-36.632,36.632c-5.031,5.026-11.137,7.542-18.318,7.542
		c-7.184,0-13.291-2.516-18.316-7.542l-79.192-79.192l-79.191,79.192c-5.029,5.026-11.137,7.542-18.316,7.542
		c-7.186,0-13.292-2.516-18.316-7.542l-36.634-36.632c-5.03-5.026-7.542-11.134-7.542-18.316s2.512-13.287,7.542-18.319
		l79.192-79.191L27.177,99.726c-5.03-5.024-7.542-11.132-7.542-18.317c0-7.18,2.512-13.287,7.542-18.316L63.811,26.46
		c5.024-5.026,11.131-7.542,18.316-7.542c7.18,0,13.287,2.516,18.316,7.542l79.191,79.191l79.192-79.191
		c5.025-5.026,11.133-7.542,18.316-7.542c7.182,0,13.287,2.516,18.318,7.542l36.632,36.632c5.026,5.029,7.542,11.136,7.542,18.316
		c0,7.186-2.516,13.293-7.542,18.317l-79.192,79.191l79.192,79.191C337.12,263.141,339.635,269.246,339.635,276.428z"/>
</symbol>
<symbol id="cb-minus" viewBox="0 0 360 360">
	<path d="M339.634,156.918v44.001c0,6.112-2.122,11.308-6.363,15.583c-4.242,4.279-9.396,6.416-15.454,6.416H41.454
		c-6.063,0-11.215-2.137-15.455-6.416c-4.243-4.275-6.363-9.471-6.363-15.583v-44.001c0-6.108,2.12-11.305,6.363-15.582
		c4.24-4.277,9.393-6.418,15.455-6.418h276.363c6.058,0,11.212,2.141,15.454,6.418C337.512,145.614,339.634,150.81,339.634,156.918z
		"/>
</symbol>
<symbol id="cb-plus" viewBox="0 0 360 360">
	<path d="M339.635,157.1v43.638c0,6.062-2.123,11.214-6.364,15.454c-4.243,4.243-9.396,6.363-15.454,6.363h-94.545
		v94.546c0,6.062-2.124,11.215-6.363,15.454c-4.244,4.243-9.396,6.363-15.455,6.363h-43.637c-6.061,0-11.214-2.12-15.455-6.363
		c-4.243-4.239-6.363-9.393-6.363-15.454v-94.546H41.453c-6.062,0-11.215-2.12-15.455-6.363c-4.243-4.24-6.363-9.393-6.363-15.454
		V157.1c0-6.058,2.12-11.211,6.363-15.454c4.24-4.24,9.394-6.363,15.455-6.363h94.545V40.738c0-6.06,2.12-11.211,6.363-15.455
		c4.241-4.239,9.395-6.364,15.455-6.364h43.637c6.059,0,11.211,2.125,15.455,6.364c4.239,4.244,6.363,9.396,6.363,15.455v94.545
		h94.545c6.059,0,11.211,2.123,15.454,6.363C337.512,145.889,339.635,151.042,339.635,157.1z"/>
</symbol>
<symbol id="cb-bars" viewBox="0 0 360 360">
	<path d="M339.635,59.218v26.6c0,3.604-1.322,6.722-3.957,9.352c-2.641,2.633-5.767,3.948-9.376,3.948H32.969
		c-3.613,0-6.738-1.315-9.375-3.948c-2.639-2.63-3.959-5.748-3.959-9.352v-26.6c0-3.601,1.32-6.718,3.959-9.352
		c2.637-2.629,5.762-3.948,9.375-3.948h293.333c3.609,0,6.735,1.318,9.376,3.948C338.313,52.5,339.635,55.618,339.635,59.218z
		 M339.635,165.618v26.601c0,3.604-1.322,6.722-3.957,9.351c-2.641,2.634-5.767,3.95-9.376,3.95H32.969
		c-3.613,0-6.738-1.316-9.375-3.95c-2.639-2.629-3.959-5.747-3.959-9.351v-26.601c0-3.601,1.32-6.717,3.959-9.351
		c2.637-2.63,5.762-3.948,9.375-3.948h293.333c3.609,0,6.735,1.318,9.376,3.948C338.313,158.9,339.635,162.017,339.635,165.618z
		 M339.635,272.018v26.601c0,3.604-1.322,6.72-3.957,9.352c-2.641,2.633-5.767,3.948-9.376,3.948H32.969
		c-3.613,0-6.738-1.315-9.375-3.948c-2.639-2.632-3.959-5.747-3.959-9.352v-26.601c0-3.6,1.32-6.719,3.959-9.352
		c2.637-2.63,5.762-3.949,9.375-3.949h293.333c3.609,0,6.735,1.319,9.376,3.949C338.313,265.299,339.635,268.418,339.635,272.018z"
		/>
</symbol>
<symbol id="cb-info-circle" viewBox="0 0 360 360">
	<path d="M318.177,98.606c14.303,24.514,21.457,51.286,21.457,80.312c0,29.03-7.154,55.801-21.457,80.313
		c-14.307,24.515-33.717,43.925-58.23,58.229s-51.285,21.459-80.312,21.459c-29.03,0-55.801-7.155-80.313-21.459
		c-24.515-14.304-43.926-33.714-58.229-58.229c-14.307-24.512-21.459-51.283-21.459-80.313c0-29.026,7.152-55.797,21.459-80.312
		c14.303-24.512,33.713-43.923,58.229-58.229c24.512-14.304,51.283-21.459,80.313-21.459c29.026,0,55.798,7.155,80.312,21.459
		C284.46,54.684,303.871,74.094,318.177,98.606z M232.968,278.918v-33.334c0-1.943-0.625-3.541-1.875-4.791
		s-2.848-1.876-4.791-1.876h-20V132.252c0-1.944-0.625-3.542-1.875-4.792s-2.849-1.875-4.793-1.875h-66.666
		c-1.947,0-3.542,0.625-4.792,1.875c-1.25,1.25-1.875,2.848-1.875,4.792v33.333c0,1.946,0.625,3.542,1.875,4.792
		c1.25,1.25,2.845,1.875,4.792,1.875h20v66.666h-20c-1.947,0-3.542,0.626-4.792,1.876c-1.25,1.25-1.875,2.848-1.875,4.791v33.334
		c0,1.945,0.625,3.541,1.875,4.792c1.25,1.249,2.845,1.874,4.792,1.874h93.333c1.943,0,3.541-0.625,4.791-1.874
		C232.343,282.459,232.968,280.864,232.968,278.918z M206.302,92.252V58.918c0-1.943-0.625-3.542-1.875-4.792
		c-1.25-1.25-2.849-1.875-4.793-1.875h-39.999c-1.947,0-3.542,0.625-4.792,1.875c-1.25,1.25-1.875,2.849-1.875,4.792v33.334
		c0,1.946,0.625,3.542,1.875,4.792c1.25,1.25,2.845,1.875,4.792,1.875h39.999c1.944,0,3.543-0.625,4.793-1.875
		C205.677,95.794,206.302,94.199,206.302,92.252z"/>
</symbol>
<symbol id="cb-external-link" viewBox="0 0 360 360">
	<path d="M288.729,200.081v59.959c0,14.867-5.261,27.578-15.779,38.133c-10.521,10.555-23.188,15.832-38.001,15.832
		H79.581c-14.817,0-27.483-5.277-38.003-15.832c-10.521-10.555-15.78-23.266-15.78-38.133V104.144
		c0-14.864,5.259-27.572,15.78-38.131C52.097,55.458,64.763,50.18,79.581,50.18h131.465c1.742,0,3.174,0.563,4.295,1.688
		c1.121,1.124,1.681,2.562,1.681,4.309v11.992c0,1.75-0.56,3.186-1.681,4.31s-2.553,1.687-4.295,1.687H79.581
		c-8.217,0-15.252,2.936-21.104,8.807c-5.853,5.872-8.776,12.928-8.776,21.173V260.04c0,8.246,2.924,15.303,8.776,21.174
		c5.852,5.873,12.887,8.807,21.104,8.807h155.368c8.216,0,15.248-2.934,21.101-8.807c5.851-5.871,8.777-12.928,8.777-21.174v-59.959
		c0-1.748,0.56-3.188,1.681-4.311s2.551-1.686,4.295-1.686h11.951c1.742,0,3.176,0.563,4.296,1.686S288.729,198.333,288.729,200.081z
		 M345.797,52.413v83.262c0,2.821-1.027,5.26-3.08,7.318c-2.053,2.062-4.483,3.09-7.292,3.09c-2.812,0-5.243-1.028-7.294-3.09
		l-28.525-28.621l-91.149,92.371c-1.08,1.084-2.323,1.625-3.727,1.625c-1.406,0-2.649-0.541-3.729-1.625l-18.477-18.541
		c-1.08-1.08-1.619-2.33-1.619-3.74c0-1.406,0.539-2.654,1.619-3.74l91.15-92.37l-28.524-28.62c-2.054-2.059-3.079-4.499-3.079-7.318
		c0-2.818,1.025-5.258,3.079-7.319c2.052-2.058,4.482-3.089,7.294-3.089h82.98c2.809,0,5.239,1.031,7.292,3.089
		C344.77,47.155,345.797,49.595,345.797,52.413z"/>
</symbol>
<symbol id="cb-logomark" viewBox="0 0 240 240">
	<ellipse fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" cx="120" cy="169.159" rx="120" ry="49.707"/>
	<polygon fill-rule="evenodd" clip-rule="evenodd" fill="#575564" points="21.539,63.046 20.849,171.956 133.528,198.487 
		213.697,164.175 213.697,48.802 151.742,24.498 93.439,63.046 	"/>
	<g>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#D0AB00" d="M133.884,17.109l71.19,28.338c0,0,17.73,98.165-72.836,118.937
			L133.884,17.109z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#FCCF00" d="M21.539,63.046L73.371,41.82l60.513-24.711l0.088,147.065
			C133.972,164.175,13.256,184.04,21.539,63.046z"/>
	</g>
</symbol>
<symbol id="cb-logotext" viewBox="0 0 720 240">
	<path d="M692.208,162.45v-8.777h3.924c0.787,0,1.388,0.075,1.798,0.231c0.411,0.158,0.74,0.438,0.983,0.836
		c0.247,0.401,0.368,0.845,0.368,1.327c0,0.621-0.203,1.146-0.608,1.573c-0.404,0.428-1.034,0.699-1.885,0.813
		c0.313,0.15,0.547,0.298,0.707,0.44c0.344,0.31,0.666,0.7,0.975,1.165l1.537,2.391h-1.476l-1.168-1.825
		c-0.344-0.528-0.625-0.935-0.845-1.211c-0.223-0.277-0.421-0.477-0.595-0.589c-0.173-0.107-0.354-0.187-0.534-0.231
		c-0.132-0.026-0.352-0.041-0.653-0.041h-1.355v3.897H692.208z M693.381,157.545h2.517c0.534,0,0.952-0.053,1.254-0.166
		c0.304-0.108,0.529-0.286,0.688-0.524c0.158-0.242,0.236-0.507,0.236-0.787c0-0.416-0.152-0.757-0.456-1.027
		c-0.306-0.265-0.783-0.4-1.44-0.4h-2.798V157.545z"/>
	<path d="M702.644,158.23h-0.462c0,1.776-0.726,3.381-1.897,4.545c-1.171,1.164-2.784,1.881-4.573,1.881
		c-1.791,0-3.407-0.717-4.579-1.882c-1.173-1.164-1.897-2.768-1.897-4.544c0-1.775,0.725-3.379,1.897-4.544
		c1.172-1.163,2.788-1.882,4.579-1.882c1.786,0,3.402,0.719,4.573,1.882c1.175,1.165,1.897,2.769,1.897,4.544H702.644h0.463
		c0-4.055-3.313-7.345-7.396-7.345c-4.087,0-7.402,3.29-7.402,7.345c0,4.057,3.315,7.345,7.402,7.345
		c4.083,0,7.396-3.288,7.396-7.345H702.644z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M23.106,79.342v86.674h82.952v-17.677H46.531
		c-3.39,0-5.094-1.594-5.094-4.799v-6.807c0-3.194,1.705-4.8,5.094-4.8h59.527v-17.666H46.531c-3.39,0-5.094-1.682-5.094-5.048
		v-7.165c0-3.354,1.705-5.037,5.094-5.037h59.527V79.342H23.106z M127.665,79.342v86.674h82.951v-17.677h-59.515
		c-3.4,0-5.095-1.624-5.095-4.895v-41.53c0-3.262,1.695-4.897,5.095-4.897h59.515V79.342H127.665z M600.447,78.218v86.663h82.952
		v-17.665h-59.518c-3.4,0-5.093-1.598-5.093-4.802v-6.806c0-3.194,1.692-4.8,5.093-4.8h59.518v-17.675h-59.518
		c-3.4,0-5.093-1.672-5.093-5.04v-7.163c0-3.366,1.692-5.047,5.093-5.047h59.518V78.218H600.447z M268.193,78.218v86.663h89.93
		v-17.665h-66.504c-3.391,0-5.097-1.634-5.097-4.896v-41.532c0-3.262,1.706-4.905,5.097-4.905h66.504V78.218H268.193z
		 M381.483,164.881h89.931V78.218h-18.329v64.083c0,3.281-1.697,4.915-5.086,4.915h-43.101c-3.38,0-5.077-1.634-5.077-4.915V78.218
		h-18.338V164.881z M554.156,113.133h-37.309c-3.39,0-5.095-1.672-5.095-5.04v-7.163c0-3.366,1.705-5.047,5.095-5.047h37.786
		l-0.048,0.074c0,0,6.001-0.889,6.001,4.992v6.739C560.587,107.688,561.279,113.133,554.156,113.133z M554.424,147.216h-36.52
		c-2.725,0-4.266-0.718-5.142-1.617c-0.628-0.783-1.01-1.805-1.01-3.185v-0.387v-6.419c0-0.727,0.124-1.343,0.286-1.899
		c0.096-0.282,0.239-0.491,0.36-0.718c0.124-0.228,0.258-0.464,0.418-0.653c0.184-0.206,0.373-0.378,0.573-0.53
		c0.303-0.232,0.647-0.45,1.058-0.602l0.313-0.114c0.611-0.181,2.113-0.283,2.113-0.283h38.97c1.645,0.046,4.73,0.67,4.73,4.8
		v6.419C560.575,142.027,561.225,147.216,554.424,147.216z M569.594,121.574c3.752-0.112,6.761-3.045,6.761-6.685l-0.029-32.446
		c-0.074-4.652-6.188-4.14-6.188-4.14l-76.716-0.085v86.663l76.743-0.057c0,0,6.087,0.159,6.161-4.141l0.029-32.419
		C576.354,124.627,573.346,121.706,569.594,121.574z"/>
	<path d="M236.678,78.878v87.933c0,1.676,1.368,3.034,3.057,3.034c1.688,0,3.056-1.358,3.056-3.034V78.878
		c0-1.675-1.368-3.033-3.056-3.033C238.046,75.845,236.678,77.203,236.678,78.878"/>
</symbol>

</svg>
