{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form-entry.css">
{% endblock %}


{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
{% endblock javascript %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}

    <div class="mainWidth">
        <h1>店舗受け取りフォーム</h1>
    </div>

    <div class="mainWidth clr">
        <section class="sec01">
            <div class="sec01Inner">
                <ul class="sec01_ul clr">
                    <li>1<br>お客様情報<br>入力</li>
                    <li>2<br>お申し込み<br>内容確認</li>
                    <li class="done">3<br>お申し込み<br>完了</li>
                </ul>
            </div>
        </section>
    </div>



    <div class="main_body mainWidth clr">

        <section class="sec02">
            <div class="sec02Inner">
                <p class="form_fin">お申込みが完了しました</p>
                <div class="form_fin_mes">
                    <p>ありがとうございます。お申込みを承りました。</p>
                    <p>お申込みの確認で後ほどお電話させていただきます。<br>お急ぎの場合やご不明な点などありましたら、<br>ソフトバンク携帯お申し込みセンターまでお気軽にお申込み下さい。</p>
                </div>
                <div id="complete_box__footer" class="row no-padding">
                    <div id="complete_box__top_button" class="btn_group col-sm-offset-4 col-sm-4">
                        <p><a href="{{ url('homepage') }}" class="btn btn-block back-btn">トップページへ</a></p>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
