{#
* Plugin Name : CheckedItem
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}
<!-- ▼最近チェックした商品▼ -->
<div class="footItem">
    <div class="footItem_inner mainWidth">
      <h2 class="main_title1">最近閲覧した商品</h2>
      <ul class="footItem_list clr">
      {% for checkedItem in CheckedItem.ProductList|slice(0,CheckedItem.displayNum)  %}


        <li><a href="{{url('product_detail',{id:checkedItem.Product.id})}}">
          <figure><img src="{{ app.config.image_save_urlpath }}/{{ checkedItem.Product.main_list_image|no_image_product }}" width="75" alt=""></figure>
          <p class="footItem_list_name"><span>{# CheckedItem.__EX_PRODUCT_LIST_MAKER[checkedItem.Product.id].name #}{{ checkedItem.Product.name }}</span></p>
          <p class="footItem_list_m">月額<span>{{ checkedItem.Product.getPrice02IncTaxMin|number_format }}円</span>～</p>
        </a></li>
      {% else %}

        <li>
          <figure><img src="{{ app.config.front_urlpath }}/common/img/nodata01.jpg" height="200" width="200" alt=""></figure>
        </li>
      {% endfor %}

      </ul>
    </div>
  </div>

<!-- ▲最近チェックした商品▲ -->