{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}


<nav class="home_sort mainWidth">
			<ul class="sort clr">
				<li><a class="arrow01 sort_on" href="">売れ筋ランキング<span>SoftBankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">安さでランキング<span>SoftBankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">新着順でランキング<span>SoftBankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
			</ul>
		</nav>

		<section class="home_item mainWidth">
			<div class="home_item_body">
				<ul class="home_item_list item_list_on clr">
			    {% for Product in Sort01Products %}
					{% set __EX_PRODUCT_LIST = __EX_PRODUCT_LIST3 %}
					{% set __EX_PRODUCT_LIST_MAKER = __EX_PRODUCT_LIST_MAKER3 %}
					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></figure>
						{% if (__EX_PRODUCT_LIST[Product.id][86].valuetext.0) %}
						<img class="home_item_bg" src="{{ app.config.image_save_urlpath }}/{{__EX_PRODUCT_LIST[Product.id][86].valuetext.0}}" alt="">
						{% endif %}
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

				</ul>
				<ul class="home_item_list clr">

			    {% for Product in LowerPriceProducts %}
					{% set __EX_PRODUCT_LIST = __EX_PRODUCT_LIST1 %}
					{% set __EX_PRODUCT_LIST_MAKER = __EX_PRODUCT_LIST_MAKER1 %}

					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></figure>
						{% if (__EX_PRODUCT_LIST[Product.id][86].valuetext.0) %}
						<img class="home_item_bg" src="{{ app.config.image_save_urlpath }}/{{__EX_PRODUCT_LIST[Product.id][86].valuetext.0}}" alt="">
						{% endif %}
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

				</ul>
				<ul class="home_item_list clr">

			    {% for Product in NewerProducts %}
					{% set __EX_PRODUCT_LIST = __EX_PRODUCT_LIST2 %}
					{% set __EX_PRODUCT_LIST_MAKER = __EX_PRODUCT_LIST_MAKER2 %}

					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></figure>
						{% if (__EX_PRODUCT_LIST[Product.id][86].valuetext.0) %}
						<img class="home_item_bg" src="{{ app.config.image_save_urlpath }}/{{__EX_PRODUCT_LIST[Product.id][86].valuetext.0}}" alt="">
						{% endif %}
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

				</ul>
			</div>
		</section>