{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<section class="charm_body">
			<div class="charm_inner mainWidth">
				<h2>今すぐスマホをゲット!</h2>
				<p class="catch">人気のスマートフォンを<span>購入する</span></p>
				<p class="charm_text01">多数の人気スマートフォン機種をお取り扱いしております。<br>
				表示価格がそのまま月々にお支払いいただく金額です。<br>
				<div class="charge_item">
					<ul class="charge_item_list clr">
				    {% for Product in Sort01Products %}
						{% set __EX_PRODUCT_LIST = __EX_PRODUCT_LIST3 %}
						{% set __EX_PRODUCT_LIST_MAKER = __EX_PRODUCT_LIST_MAKER3 %}
				    	
						<li><a href="{{url('product_detail',{'id':Product.id})}}">
							<p class="charge_item_name">{{ Product.name }}</p>
							<figure class="charge_item_img"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></figure>
							{% if (__EX_PRODUCT_LIST[Product.id][86].valuetext.0) %}
							<img class="charge_item_bg" src="{{ app.config.image_save_urlpath }}/{{__EX_PRODUCT_LIST[Product.id][86].valuetext.0}}" alt="">
							{% endif %}
							<p class="charge_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
						</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</section>