{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{# <div>
    {% for Product in LowerPriceProducts %}
        {{ Product.name }}
    {% endfor %}
</div>
<div>
    {% for Product in NewerProducts %}
        {{ Product.name }}
    {% endfor %}
</div> #}

<div class="footItem">
		<div class="footItem_inner mainWidth">
			<h2 class="main_title1">当ストア売れ筋ランキング</h2>
			<ul class="footItem_list clr">
			    {% for Product in Sort01Products|slice(0,5) %}
					{% set __EX_PRODUCT_LIST = __EX_PRODUCT_LIST3 %}
					{% set __EX_PRODUCT_LIST_MAKER = __EX_PRODUCT_LIST_MAKER3 %}
			    	
				<li><a href="{{url('product_detail',{'id':Product.id})}}">
					<span class="footItem_list_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</span>
					<figure><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" width="75" alt=""></figure>
					<p class="footItem_list_name"><span>{{ Product.name }}</span></p>
					<p class="footItem_list_m">月額<span>{{ Product.getPrice02IncTaxMin|number_format }}円</span>～</p>
				</a></li>
			    {% endfor %}
			</ul>
		</div>
	</div>