{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

<div id="details04" class="review">

    {% if ProductReviews %}
        <h2 class="main_title1">商品レビュー</h2>
        {% for ProductReview in ProductReviews %}
            <div class="review_box clr">
                <p class="review_box_name">総合評価<span><img src="{{ app.config.front_urlpath }}/img/details/hosi{{ProductReview.recommend_level}}.png" height="16" width="82" alt=""></span></p>
                <div class="review_box_main">
                    <h3 class="review_box_title">{{ ProductReview.title }}</h3>
                    <p class="review_box_mes">{{ ProductReview.comment }}</p>
                    <p class="review_box_user">投稿者：{{ ProductReview.reviewer_name }} 様　<span>投稿日：{{ ProductReview.create_date|date_format }}</span></p>
                </div>
            </div>



        {% endfor %}

    {% endif %}
</div>