{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<section class="pickup mainWidth">
            <h2 class="pickup_title"><img src="{{ app.config.front_urlpath }}/img/home/pickup.png" height="35" width="363" alt="注目の新商品 Pick Up New Arrival"></h2>
            <div class="pickup_bnr clr">
                {% for RecommendProduct in RecommendProducts.ProductList %}
                    <a href="{{ url('product_detail', {'id': RecommendProduct.Product.id}) }}">
                        <img src="{{ app.config.image_save_urlpath }}/{{ RecommendProduct.MainFileName.FileName|no_image_product }}" height="195" width="1040" alt="{{ RecommendProducts.__EX_PRODUCT_LIST_MAKER[RecommendProduct.Product.id].name }} {{ RecommendProduct.Product.name }}">
                    </a>

                {% endfor %}


            </div>
        </section>