<div class="details_menu_fixed">
		<div class="details_menu_fixed_pd mainWidth clr">
			<div>
				<figure><img src="{{ app.config.front_urlpath }}/img/details/model01.jpg" alt=""></figure>
				<p class="pd_name">AQUOS PHONE Xx 304SH</p>
			</div>
			<ul class="c_nav_info_btns  clr">
				<li><a class="btn02" href="./"><p><span>お電話</span></p></a></li>
				<li><a class="btn02" href="./" target="_blank"><p><span>お申し込み</span></p></a></li>
			</ul>	
		</div>
		<div class="details_pglink_wrap">	
			<ul class="details_pglink mainWidth clr">
				<li><a href="#details01">主な仕様</a></li>
				<li><a href="#details02">特徴</a></li>
				<li><a href="#details03">商品情報</a></li>
				<li><a href="#details04">商品レビュー</a></li>
				<li><a href="#details05">料金形態</a></li>
				<li><a href="#details06">購入の流れ</a></li>
			</ul>
		</div>
	</div>