<div class="foot_bottom">
			<div class="foot_bottom_inner mainWidth clr">
				<a href="./">会社概要</a>
				<a href="./">プライバシーポリシー</a>
			</div>
			<p class="foot_logo"><img src="{{ app.config.front_urlpath }}/common/img/logo2.png" height="24" width="545" alt="softbank smart phone store 【正規販売店】"></p>
			<address class="foot_copy">© smartphone-store.jp</address>
		</div>