<div class="details_top">
				<div class="details_top_inner mainWidth clr">
					<div class="details_top_r">
						<h2 class="details_top_logo"><img src="{{ app.config.front_urlpath }}/img/details/item_logo.png" height="155" width="322" alt="hybrid4g lte aquos xx soft bank 304sh"></h2>
						<p class="details_top_mes">メタルフレームで際立つ大画面<br>IGZO搭載 AQUOS Xx</p>
						<p class="details_top_m">月々<span>4,289</span>円</p>
						<p class="details_top_type">[ 端末代 + 通話し放題 + ネットし放題 ]</p>

						<a class="details_btn btn02" href=""><p class="arrow01">購入手続きへ</p></a>
					</div>
					<div class="details_top_l">
						<div class="details_top_no1">
							<img class="details_top_no1_img" src="{{ app.config.front_urlpath }}/img/details/no01.png" height="103" width="104" alt="no1">
							<img class="details_top_no2_img" src="{{ app.config.front_urlpath }}/img/details/no02.png" height="103" width="104" alt="no2">
							<img class="details_top_no3_img" src="{{ app.config.front_urlpath }}/img/details/no03.png" height="103" width="104" alt="no3">
						</div>
						<ul class="details_top_img">
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_02.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_02.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_03.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_04.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_05.png" height="362" width="394" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/item01_06.png" height="362" width="394" alt=""></li>
						</ul>
						<ul class="details_top_img_btn">
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn01.jpg" height="48" width="48" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn02.jpg" height="48" width="48" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn03.jpg" height="48" width="48" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn04.jpg" height="48" width="48" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn05.jpg" height="48" width="48" alt=""></li>
							<li><img src="{{ app.config.front_urlpath }}/img/details/btn06.jpg" height="48" width="48" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="details_top2">
				<div class="details_top2_inner mainWidth clr">
					<img src="{{ app.config.front_urlpath }}/img/details/mes01.png" height="90" width="792" alt="表示価格はすべてコミコミ！おトクでシンプルな料金プラン！">
				</div>
			</div>