<section class="recommend mainWidth clr">
			<div class="recommend_text">
				<h2 class="recommend_title">おすすめコンテンツ</h2>
				<p class="recommend_mes">ご契約時の不安や疑問はここで解決！<br>安心してご購入いただくためにぜひご覧下さい！</p>
			</div>
			<ul class="recommend_list clr">
				<li><a href="{{url('sbm_content_charge')}}"><img src="{{ app.config.front_urlpath }}/img/home/recommend01.jpg" height="100" width="305" alt=""></a></li>
				<li><a href="{{url('help_guide')}}"><img src="{{ app.config.front_urlpath }}/img/home/recommend02.jpg" height="100" width="305" alt=""></a></li>
			</ul>
		</section>