<div class="side_logo">
					<img src="{{ app.config.front_urlpath }}/common/img/logo3.png" height="84" width="210" alt="softbank smart phone store">
				</div>				
				<div class="sideInfo sideWidth">

					<p class="sideInfo_name">お電話からのご相談・お申し込み</p>
					<p class="sideInfo_tel oswald">{{app.session.get(app.config.FDROUTEKEY).fd_num}}</p>
					<p class="sideInfo_time">［受付時間］ {{ BaseInfo.business_hour }}</p>

					<p class="sideInfo_web">ウェブからは24時間受付中！</p>

					<div class="sideInfo_btn"><a class="sideInfo_btn1 btn02" href="{{url('plugin_customentryform_formeasy')}}"><p class="arrow01">お申し込み相談<span>来店不要・Webで完結</span></p></a></div>
					<div class="sideInfo_btn"><a class="sideInfo_btn2 btn02" href="{{url('plugin_customentryform_forminquiry')}}"><p class="arrow01">お問い合わせ</p></a></div>

				</div>