<div class="foot_nav">
			<div class="foot_nav_inner mainWidth clr">
				<div class="foot_nav_body clr">
					<div class="foot_nav_box">
						<a class="foot_nav_name" href="./">スマホ一覧</a>
						<ul class="foot_nav_list">
							<li><a href="./">iPhone7</a></li>
							<li><a href="./">iPhone7Plus</a></li>
							<li><a href="./">iPhone7SE</a></li>
							<li><a href="./">STAR WARS mobile</a></li>
							<li><a href="./">Xperia XZ</a></li>
							<li><a href="./">AQUOS Xx3 mini</a></li>
							<li><a href="./">DIGNO F</a></li>
							<li><a href="./">シンプルスマホ3</a></li>
						</ul>
					</div>
					<div class="foot_nav_box">
						<a class="foot_nav_name" href="./">3Gケータイ一覧</a>
						<ul class="foot_nav_list">
							<li><a href="./">COLOR LIFE4 WATER<br>PROOF 301P</a></li>
							<li><a href="./">THE PREMIUM 10<br>WATERPROOF 301SH</a></li>
							<li><a href="./">PANTONE® WATER<br>PROOF 202SH</a></li>
							<li><a href="./">AQUOS ケータイ2</a></li>
						</ul>
					</div>
					<div class="foot_nav_box">
						<a class="foot_nav_name" href="./">キャンペーン</a>
						<ul class="foot_nav_list">
							<li><a href="./">40,000円キャッシュバック</a></li>
							<li><a href="./">おうち割キャンペーン</a></li>
							<li><a href="./">タダで機種変更キャンペーン</a></li>
							<li><a href="./">学割モンスター</a></li>
							<li><a href="./">スーパーフライデー</a></li>
						</ul>
					</div>
					<div class="foot_nav_box">
						<a class="foot_nav_name" href="{{url('help_guide')}}">ご利用ガイド</a>
						<ul class="foot_nav_list2">
							<li><a href="{{url('sbm_content_charge')}}">ソフトバンク<br>モバレコ店の安さの秘密</a></li>
						</ul>
						<p class="foot_nav_btn1"><img src="{{ app.config.front_urlpath }}/common/img/foot_bnr01.png" height="90" width="260" alt="当サイトはSSLに対応しています。"></p>
					</div>
				</div>
			</div>
		</div>