<section class="charm_body">
			<div class="charm_inner mainWidth">
				<h2>今すぐスマホをゲット!</h2>
				<p class="catch">人気のスマートフォンを<span>購入する</span></p>
				<p class="charm_text01">多数の人気スマートフォン機種をお取り扱いしております。<br>
				表示価格がそのまま月々にお支払いいただく金額です。<br>
				<div class="charge_item">
					<ul class="charge_item_list clr">
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_01.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>デザイン性、操作性抜群！<br>スマホシェアNo.1の最新iPhone！</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">3,789</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 Plus</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">4,289</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 SE</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">3,789</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_01.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>デザイン性、操作性抜群！<br>スマホシェアNo.1の最新iPhone！</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">3,789</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 Plus</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">4,289</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 SE</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">3,789</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 Plus</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">4,289</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
						<li><a href="">
							<h2 class="charge_item_name">iPhone 7 SE</h2>
							<figure class="charge_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
							<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
							<p class="charge_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
							<div class="charge_item_m"><p>月々<span class="charge_item_m1">3,789</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
						</a></li>
					</ul>
				</div>
			</div>
		</section>