<div class="foot_top mainWidth">
			<a class="foot_logo" href="{{url('homepage')}}"><img src="{{ app.config.front_urlpath }}/common/img/logo2.png" height="39" width="290" alt="softbank smart phone store">
			<span class="foot_logo_text2">ソフトバンクのスマートフォン・ガラケーがお得に買えるサイト</span>
			</a>
		</div>