<div class="foot_bottom">
			<div class="foot_bottom_inner mainWidth clr">
				<a href="{{url('help_privacy')}}">プライバシーポリシー</a>
				<a href="{{url('help_tradelaw')}}">会社概要</a>
				<address class="foot_copy">&copy; {{ BaseInfo.shop_name_eng }}</address>
			</div>
		</div>