<p class="rate_mes">当サービスでは、月々のお支払い金額を分かりやすく表示しています。<br>サイト内に記載された金額は月々にお支払いいただく料金となっています。<br>月々の料金の中には「①端末料金」「②5ソフトバンク同士通話し放題」「③ネットし放題」を含んでいます。</p>

                    <p class="rate_title1">サイトの表示価格が月々のお支払いいただく金額です！</p>

                    <h3 class="details_title1">表示価格に含まれているもの</h3>

                    <div class="rate_box1 clr">
                        <ol class="rate_box1_list clr">
<li>① 端末代金</li>
                            <li>② ソフトバンク同士<br>通話し放題</li>
                            <li>③ ネットし放題</li>
                        </ol>
<div class="rate_box1_m">
                            <p>月々の<br>支払い金額<br><span>(サイト表示価格)</span></p>
                        </div>
                    </div>

                    <a class="rate_list_link arrow01" href="{{url('sbm_content_charge')}}">安さの秘密はこちら</a>