<div class="foot_merit">
			<div class="foot_merit_inner mainWidth">
				<p class="foot_merit_title">ソフトバンク モバレコ店 5つのメリット</p>
				<ul class="foot_merit_list clr">
					<li><p><span>Webだけ</span>で<br>買える</p></li>
					<li><p><span>格安価格</span>で<br>買える</p></li>
					<li><p>安心の<br><span>アフターフォロー</span></p></li>
					<li><p>最短<br><span>1日で発送</span></p></li>
					<li><p><span>最新機種</span>を<br>取り扱い</p></li>
				</ul>
			</div>
		</div>