<div class="footItem">
		<div class="footItem_inner mainWidth">
			<h2 class="main_title1">最近閲覧した商品</h2>
			<ul class="footItem_list clr">
				<li>
					<figure><img src="{{ app.config.front_urlpath }}/common/img/nodata01.jpg" height="200" width="200" alt=""></figure>
				</li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
			</ul>
		</div>
	</div>