<div class="hed_l">
	<h1 class="hed_mes">SoftBankのスマートフォン・ケータイがおトクなオンラインショップ</h1>
	<a class="hed_logo" href="{{url('homepage')}}"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="39" width="316" alt="softbank smart phone store"></a>
	<ul class="hed_nav clr">
		<li {% if app.request.query.get('category_id')==1 %}class="active_on"{% endif %}><a href="{{url('product_list',{'category_id':1})}}">スマートフォン</a></li>
		<li {% if app.request.query.get('category_id')==2 %}class="active_on"{% endif %}><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ</a></li>
		<li {% if app.request.get('_route')=='campaign_index' %}class="active_on"{% endif %}><a href="{{url('campaign_index')}}">キャンペーン</a></li>
		<li {% if app.request.get('_route')=='help_guide' %}class="active_on"{% endif %}><a href="{{url('help_guide')}}">ご利用ガイド</a></li>
	</ul>
</div>