{% if Category.id in app.config.productlist_category_grp %}
<div class="list_top mainWidth">
	<img src="{{ app.config.front_urlpath }}/img/list/main_0{{ Category.id }}.jpg" height="423" width="1037" alt="">
</div>
{% else %}
<div class="list_top mainWidth">
	<img src="{{ app.config.front_urlpath }}/img/list/main_00.jpg" height="423" width="1037" alt="">
</div>
{% endif %}