<div class="fhed_l">
			<h1><a href="{{url('homepage')}}" class="hed_logo"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="39" width="316" alt="softbank smart phone store"></a></h1>
		</div>