<nav class="home_sort mainWidth">
			<ul class="sort clr">
				<li><a class="arrow01 sort_on" href="">売れ筋ランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">安さでランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
				<li><a class="arrow01" href="">新着順でランキング<span>Softbankのスマートフォン・ケータイが<br>おトクなオンラインショップ</span></a></li>
			</ul>
		</nav>

		<section class="home_item mainWidth">
			<div class="home_item_body">
				<ul class="home_item_list item_list_on clr">
			    {% for Product in Sort01Products %}

					<li><a href="">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						<p class="home_item_new">NEW</p>
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>{{ Product.description}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

					<li><a href="">
						<p class="home_item_no2">2</p>
						<p class="home_item_new">NEW</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no3">3</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">4</p>
						<h2 class="home_item_name">iPhone 7</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_01.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>デザイン性、操作性抜群！<br>スマホシェアNo.1の最新iPhone！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">5</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">6</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">7</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">8</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
				</ul>
				<ul class="home_item_list clr">
					<li><a href="">
						<p class="home_item_no1">1</p>

						<h2 class="home_item_name">iPhone 7</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_01.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>デザイン性、操作性抜群！<br>スマホシェアNo.1の最新iPhone！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no2">2</p>
						<p class="home_item_new">NEW</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no3">3</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">4</p>
						<h2 class="home_item_name">iPhone 7</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_01.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>デザイン性、操作性抜群！<br>スマホシェアNo.1の最新iPhone！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">5</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">6</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">7</p>
						<h2 class="home_item_name">iPhone 7 Plus</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_02.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>人気の最新iPhone 7から<br>大画面でさらに楽しめるPlus登場！</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">4,289</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
					<li><a href="">
						<p class="home_item_no0">8</p>
						<h2 class="home_item_name">iPhone 7 SE</h2>
						<figure class="home_item_img"><img src="{{ app.config.front_urlpath }}/img/home/item_03.jpg" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>速さと美しさの進化を果たした、<br>時代の先端をいくXperia</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">3,789</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
				</ul>
				<ul class="home_item_list clr">

				</ul>
			</div>
		</section>