<section class="splist">
			<div class="splist_inner mainWidth">
				<ul class="splist_list clr">
					<li>
						<figure class="splist_img"><img src="{{ app.config.front_urlpath }}/img/home/splist01.png" height="151" width="101" alt=""></figure>
						<h2 class="splist_title">スマートフォン一覧へ</h2>
						<p class="splist_mes">人気モデルXperia、AQUOS、DIGNO、iPhone<br>などの話題の最新機種を取り揃えています。</p>
						<a class="btn01 arrow01" href="{{url('product_list',{'category_id':1})}}">一覧を見る</a>
					</li>
					<li>
						<figure class="splist_img"><img src="{{ app.config.front_urlpath }}/img/home/splist02.png" height="151" width="101" alt=""></figure>
						<h2 class="splist_title">3Gケータイ一覧へ</h2>
						<p class="splist_mes">最新の3Gケータイを料金やデザイン、機能などで比較して検索できます。</p>
						<a class="btn01 arrow01" href="{{url('product_list',{'category_id':2})}}">一覧を見る</a>
					</li>
				</ul>
			</div>
		</section>