{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="hed_r">
                <p class="hed_link">
                    <a href="{{url('sbm_content_faq')}}">よくある質問</a>
                    <a href="{{url('plugin_customentryform_forminquiry')}}">お問い合わせ</a>
                </p>
                <p class="hed_tel oswald"><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></p>
                <p class="hed_time">受付時間／{{ BaseInfo.business_hour }}（年中無休）通話料無料！</p>
                <form method="get" id="searchform" action="{{ path('product_list') }}">
                    <div class="hed_form clr">
                        <a class="hed_store" href="{{url('sbm_content_charge')}}">ソフトバンク モバレコ店<br>安さの秘密</a>
                        <div class="hed_input">
                            <input type="text" name="name" value="" placeholder="製品を探す">
                            <button type="submit"><img src="{{ app.config.front_urlpath }}/common/img/icon01.png" height="16" width="17" alt=""></button>
                        </div>
                    </div>
                </form>
            </div>