{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['store', 'authentication_setting'] %}

{% block title %}オーナーズストア{% endblock %}
{% block sub_title %}認証キー設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_store_authentication_setting') }}">
    {{ form_widget(form._token) }}
    <div class="row" id="aside_wrap">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">認証キー設定</h3>
                </div><!-- /.box-header -->
                <div class="box-body form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">認証キー</label>
                        <div class="col-sm-9 col-lg-10">
                            {{ form_widget(form.authentication_key) }}
                            {{ form_errors(form.authentication_key) }}
                            <p>※認証キーは<a target="_blank" href="https://www.ec-cube.net/owners/">EC-CUBEオーナーズストア</a>で取得できます。</p>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-3" id="aside_column">
            <div class="col_inner">
                <div class="box no-header">
                    <div class="box-body">
                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" type="submit">設定</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col -->
    </div>
    </form>

    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">証明書ダウンロード</h3>
                </div><!-- /.box-header -->
                <div class="box-body form-horizontal">
                    <div class="form-group">
                        <label class="col-md-7 control-label">オーナーズストア通信できない方は証明書をダウンロードしてお試しください。</label>
                        <div class="col-md-5">
                            <a href="{{ url('admin_setting_system_authority_download') }}" class="btn btn-default" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">ダウンロード</a>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
{% endblock %}