{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% set version_check = item.version_check  %}
<div class="plugin-panel {% if version_check == 0 %}plugin-panel-not{% endif %} {% if item.promotion == 1 %}plugin-panel-pr{% endif %}">
    {% if item.promotion == 1 %}
        <p class="text-center text-primary">
            <span class="glyphicon glyphicon-star"></span> <strong>おすすめ追加機能</strong> <span class="glyphicon glyphicon-star"></span>
        </p>
    {% endif %}
    <div class="plugin-logo">
        <a href="{{ item.product_url }}" target="_blank"><img class="img-rounded" src="{{ item.product_image_url }}"></a>
    </div>
    <div class="plugin-content-top">
        <div class="plugin-title">
            <span class="pull-right">
                {% if item.update_status == 2 %}
                    <h4><span class="label label-success">インストール済</span></h4>
                {% elseif item.update_status == 3 %}
                    <a class="btn btn-default btn-xs" href="{{ url('admin_store_plugin_upgrade', {'action': 'update', 'id': item.product_id, 'version': item.version}) }}">今すぐ更新</a>
                {% elseif item.update_status == 4 %}
                    <a class="btn btn-success btn-xs" href="{{ item.product_url }}" target="_blank">今すぐ購入</a>
                {% else %}
                    <a class="btn btn-warning btn-xs" href="{{ url('admin_store_plugin_upgrade', {'action': 'install', 'id': item.product_id, 'version': item.version}) }}">今すぐインストール</a>
                {% endif %}
            </span>
              <a class="plugin-name" href="{{ item.product_url }}" target="_blank">{{ item.name }}</a>
        </div>
        <div class="plugin-description">
        {% if item.promotion == 1 %}
           {{ item.description|ellipsis(200) }}
        {% else %}
            {{ item.description|ellipsis(100) }}
        {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="plugin-content-bottom">
        <dl class="plugin-meta dl-horizontal">
            <dt class="plugin-version">プラグインバージョン</dt><dd>{{ item.version }}</dd>
            <dt class="plugin-update">更新日</dt><dd>{{ item.last_update_date|time_ago }}</dd>
            <dt class="plugin-eccubeversion">EC-CUBE対応バージョン</dt><dd>{% for version in item.eccube_version %}{{ version }} {%- if loop.last == false%}, {% endif -%}{% endfor %}</dd>
            <dt class="plugin-size">ファイルサイズ</dt><dd>約 {{ (item.file_size / 1024)|round(0, 'ceil')|number_format }} KB</dd>
        </dl>
        {% if version_check == 0 %}
            <p class="text-danger">このプラグインはEC-CUBE {{ constant('Eccube\\Common\\Constant::VERSION') }}をサポートしていないため、正常に動作しない可能性があります。</p>
        {% endif %}
        <p class="plugin-developer">
            <strong>提供元</strong> : {% if item.developer_url is not null %}<a href="{{ item.developer_url }}" target="_blank">{{ item.developer }}</a>{% else %}{{ item.developer }}{% endif %}
        </p>
    </div>
</div>
