{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['store', 'template', 'template_install'] %}

{% block title %}オーナーズストア{% endblock %}
{% block sub_title %}テンプレートのアップロード{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="{{ url('admin_store_template_install') }}" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">新規テンプレートアップロード</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">テンプレートコード</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.code) }}
                            {{ form_errors(form.code) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">テンプレート名</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">テンプレートファイル<br>(zip、tar、tar.gz形式)</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.file, {'attr': {'accept': 'application/zip,application/x-tar,application/x-gzip'}}) }}
                            {{ form_errors(form.file) }}
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="col_inner" id="aside_column">
                <div class="box no-header">
                    <div class="box-body">
                        <div class="row text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" type="submit">アップロード</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col -->

        </form>
    </div>

{% endblock %}
