{#
This file is part of EC-CUBE
Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
http://www.lockon.co.jp/
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="table_list plugin-table">
    <div class="table-responsive with-border">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>プラグイン</th>
                <th>バージョン</th>
                <th>コード</th>
                <th>アップデート</th>
                <th>設定</th>
            </tr>
            </thead>
            <tbody>
            {% for Plugin in Plugins %}
                <form id="{{ Plugin.name }}" name="{{ Plugin.name }}" method="post" action="">
                    <tr class="{% if Plugin.enable == 0 %}active{% endif %}">
                        {% if Plugin.name is defined %}
                            <td class="tp">
                                <strong>{{ Plugin.name }}</strong>
                            </td>
                        {% else %}
                            <td class="tp">
                                <strong>不明</strong>
                            </td>
                        {% endif %}
                        {% if Plugin.version is defined %}
                            <td class="tv text-center">{{ Plugin.version }}</td>
                        {% else %}
                            <td class="tv text-center">不明</td>
                        {% endif %}
                        {% if Plugin.code is defined %}
                            <td class="tc">{{ Plugin.code }}</td>
                        {% else %}
                            <td class="tc">不明</td>
                        {% endif %}
                        <td class="tu">
                            &nbsp;-&nbsp;
                        </td>
                        <td class="ta text-center">
                            {% if unregisterdPluginsConfigPages[Plugin.code] is defined %}
                                <a href='{{ unregisterdPluginsConfigPages[Plugin.code]}}'>設定</a>
                            {% else %}
                                &nbsp;-&nbsp;
                            {% endif %}
                        </td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
