{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

<div class="footItem">
    <div class="footItem_inner mainWidth">
        <h2 class="main_title1">キャンペーン情報</h2>
        <ul class="footItem_campaign clr">
            {% for CustomUrlUserPageProduct in CustomUrlUserPageProducts.ProductList %}

            <li class="js-footItem_campaignList"><a href="{{url(CustomUrlUserPageProduct.PageLayout.Url)}}">
                <figure>
                {% if CustomUrlUserPageProduct.CustomUrlUserPageImage|length %}
                {% if loop.index0 %}
                <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.MainImageFile }}" height="125" width="200" alt=""></img>
                {% else %}
                <img src="{{ app.config.image_save_urlpath }}/{{ CustomUrlUserPageProduct.MainImageFile }}" height="125" width="200" alt=""></img>
                {% endif %}
                {% endif %}

                </figure>
                <p class="footItem_campaign_name">{{ CustomUrlUserPageProduct.PageLayout.name }}</p>
                <p class="footItem_campaign_mes">{{ CustomUrlUserPageProduct.pageinfo }}</p>
            </a></li>
            {% endfor %}

        </ul>
    </div>
</div>