<p class="sideLink_title">商品を探す</p>
				<div class="sideLink">
					<ul class="sideLink_list">
						<li class="sideLink_name"><a href="{{url('product_list',{'category_id':1})}}">スマートフォン一覧</a></li>
                        {% for product in ProductList.1 %}
                        <li><a href="{{url('product_detail',{id:product.id})}}">{{product.name}}</a></li>
                        {% endfor %}
						<li class="sideLink_name"><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ一覧</a></li>
                        {% for product in ProductList.2 %}
                        <li><a href="{{url('product_detail',{id:product.id})}}">{{product.name}}</a></li>
                        {% endfor %}
					</ul>
				</div>