<div class="foot_nav">
            <div class="foot_nav_inner mainWidth clr">
                <div class="foot_nav_body clr">

                    <div class="foot_nav_box">
                        <a class="foot_nav_name" href="{{url('product_list',{'category_id':1})}}">スマホ一覧</a>
                        <ul class="foot_nav_list">
                            {% for product in ProductList.1 %}
                            <li><a href="{{url('product_detail',{id:product.id})}}">{{product.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="foot_nav_box">
                        <a class="foot_nav_name" href="{{url('product_list',{'category_id':2})}}">3Gケータイ一覧</a>
                        <ul class="foot_nav_list">
                            {% for product in ProductList.2 %}
                            <li><a href="{{url('product_detail',{id:product.id})}}">{{product.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="foot_nav_box">
                        <a class="foot_nav_name" href="{{url('campaign_index')}}">キャンペーン</a>
                        <ul class="foot_nav_list">
                            {% for Campaign in CampaignList %}
                            <li><a href="{{url(Campaign.PageLayout.Url)}}">{{Campaign.PageLayout.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="foot_nav_box">
                        <a class="foot_nav_name" href="{{url('help_guide')}}">ご利用ガイド</a>
                        <ul class="foot_nav_list2">
                            <li><a href="{{url('sbm_content_charge')}}">SMARTPHONE<br>STOREの安さの秘密</a></li>
                        </ul>
                        <p class="foot_nav_btn1"><img src="{{ app.config.front_urlpath }}/common/img/foot_bnr01.png" height="90" width="100%" alt="当サイトはSSLに対応しています。"></p>
                    </div>
                </div>
            </div>
        </div>