<section class="campaign">
			<div class="campaign_inner mainWidth clr">
				<div class="campaign_text">
					<h2 class="campaign_title">開催中のキャンペーン</h2>
					<p class="campaign_mes">SUPER STUDENTにスーパーフライデー、SoftBankのキャンペーンにはスーパーお得が盛りだくさん！<br>さらに今なら、当ショップ限定のお得なキャンペーン実施中で、どこよりもお得にSoftBankスマホ・ケータイが申し込めます！</p>
					<a class="btn01 arrow01" href="{{url('campaign_index')}}">一覧を見る</a>
				</div>
				<ul class="campaign_list clr">
            {% for ProductList in CustomUrlUserPageProducts.ProductList %}

					<li class="campaign_listItem"><a href="{{url(ProductList.PageLayout.Url)}}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductList.MainImageFile }}" height="125" width="200" alt=""></a></li>
            {% endfor %}

				</ul>
			</div>
		</section>