{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
             <div class="header_logo_area">
                <p class="copy">くらしを楽しむライフスタイルグッズ</p>
                <h1 class="header_logo"><a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a></h1>
            </div>
#}
<div id="genaral-page-header">
	<div class="inner"">

{% set currentPath = path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) %}
{% if currentPath=='/' %}


		<h1 class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="スマホマニアbyモバレコ"></a></h1>
		<p class="sub-introduce-text"><img src="{{ app.config.front_urlpath }}/img/common/header-sub-text.png" alt="スマホマニアならどこよりも安く、お得に、SIMフリースマホとSIMカードがゲットできる"></p>

{% else %}
		<p class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="スマホマニアbyモバレコ"></a></p>

		<p class="sub-introduce-text"><img src="{{ app.config.front_urlpath }}/img/common/header-sub-text.png" alt="スマホマニアならどこよりも安く、お得に、SIMフリースマホとSIMカードがゲットできる"></p>

{% endif %}
	</div>
</div>