{% set cate = app.config.producttype_ex_detail_bread_disp[Product.ProductClasses.0.ProductType.id].cateid %}
{% set catename = app.config.producttype_ex_detail_bread_disp[Product.ProductClasses.0.ProductType.id].cate %}
{% set pagecatename = app.config.producttype_ex_detail_bread_disp[Product.ProductClasses.0.ProductType.id].pagecatename %}


{% for ProductCategory in Product.ProductCategories %}
{% for Category in ProductCategory.Category.path %}
  {% if app.config.producttype_ex_detail_bread_disp.CategoryPart[Category.id] %}
    {% set cate = Category.id %}
    {% set catename = app.config.producttype_ex_detail_bread_disp.CategoryPart[Category.id].cate %}
    {% set pagecatename = app.config.producttype_ex_detail_bread_disp.CategoryPart[Category.id].pagecatename %}
    
  {% endif %}
{% endfor %}
{% endfor %}


<nav id="pageNav">
    <ul class="mainWidth clr" prefix="v:http://rdf.data-vocabulary.org/#">
        <li class="children first" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{url('homepage')}}">{{ BaseInfo.shop_name }}トップ</a></li>
        <li class="children" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{url('product_list',{'category_id':cate})}}">{{catename}}</a></li>
        <li class="children" typeof="v:Breadcrumb"><span property="v:title">{{ __EX_PRODUCT_MAKER.name }}</span> {{ Product.name }}</li>
    </ul>
</nav>