{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="col-sm-12 news_contents">
    <div id="news_area">
        <h2 class="heading01">新着情報</h2>
        <div class="accordion">
            <div class="newslist">

                {% for News in NewsList %}
                <dl>
                    <dt>
                        <span class="date">{{ News.date|date("Y/m/d") }}</span>
                        <span class="news_title">
                            {{ News.title }}
                        </span>
                        {% if News.comment or News.url %}
                        <span class="angle-circle"><svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg></span>
                        {% endif %}
                    </dt>
                    {% if News.comment or News.url %}
                    <dd>{{ News.comment|raw|nl2br}}
                        {% if News.url %}<br>
                        <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>
                        詳しくはこちら
                        </a>{% endif %}
                    </dd>
                    {% endif %}
                </dl>
                {% endfor %}

            </div>
        </div>
    </div>
</div>



