<section class="pickup mainWidth">
			<h2 class="pickup_title"><img src="{{ app.config.front_urlpath }}/img/home/pickup.png" height="35" width="363" alt="注目の新商品 Pick Up New Arrival"></h2>
			<div class="pickup_bnr clr">
				<a href=""><img src="{{ app.config.front_urlpath }}/img/home/pickup_bnr01.jpg" height="195" width="1040" alt="iPhone se "></a>
				<a href=""><img src="{{ app.config.front_urlpath }}/img/home/pickup_bnr02.jpg" height="195" width="1040" alt="star wars"></a>
			</div>
		</section>