<div class="footItem">
		<div class="footItem_inner mainWidth">
			<h2 class="main_title1">キャンペーン情報</h2>
			<ul class="footItem_campaign clr">
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="125" width="200" alt=""></figure>
					<p class="footItem_campaign_name">おうち割</p>
					<p class="footItem_campaign_mes">おうち割は自宅のインターネット、でんきなど、おうちに関するさまざまなサービスをソフトバンク携帯電話とセットで</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr03.png" height="125" width="200" alt=""></figure>
					<p class="footItem_campaign_name">スマホデビュー割</p>
					<p class="footItem_campaign_mes">ケータイ、みまもりケータイまたはあんしんファミリーケータイから機種変更で、iPhone、スマートフォンを購入され</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr02.png" height="125" width="200" alt=""></figure>
					<p class="footItem_campaign_name">学割モンスターU18</p>
					<p class="footItem_campaign_mes">18歳以下の方なら通話もデータもコミコミ 2,980円／月からスマートフォンをご利用いただけます。</p>
				</a></li>
				<li><a href="./">
					<figure><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="125" width="200" alt=""></figure>
					<p class="footItem_campaign_name">おうち割</p>
					<p class="footItem_campaign_mes">おうち割は自宅のインターネット、でんきなど、おうちに関するさまざまなサービスをソフトバンク携帯電話とセットで</p>
				</a></li>
			</ul>
		</div>
	</div>