<p class="sideItem_title">おすすめ端末</p>
				<div class="sideItem sideWidth">
					<ul class="sideItem_list">
						<li>
							<p class="sideItem_name">i Phone7</p>
							<figure class="sideItem_img"><img src="{{ app.config.front_urlpath }}/img/campaign/img01.png" height="165" width="203" alt=""></figure>
							<p class="sideItem_m">月々<span>4,279</span>円/月～</p>
							<p class="sideItem_mes">(端末代+通話し放題+ネットし放題)</p>
							<a class="sideItem_link arrow01" href="./">詳細を見る</a>
						</li>
						<li>
							<p class="sideItem_name">i Phone7</p>
							<figure class="sideItem_img"><img src="{{ app.config.front_urlpath }}/img/campaign/img01.png" height="165" width="203" alt=""></figure>
							<p class="sideItem_m">月々<span>4,279</span>円/月～</p>
							<p class="sideItem_mes">(端末代+通話し放題+ネットし放題)</p>
							<a class="sideItem_link arrow01" href="./">詳細を見る</a>
						</li>
					</ul>
				</div>