<div class="mainWidth">
			<div class="rate">
				<h2 class="main_title1" id="details05">料金について</h2>

				<p class="rate_mes">当サービスでは、月々のお支払い金額を分かりやすく表示しています。<br>サイト内に記載された金額は月々にお支払いいただく料金となっています。<br>月々の料金の中には「①端末料金」「②5分以内の通話し放題」「③ネットし放題」を含んでいます。</p>

				<p class="rate_title1">サイトの表示価格が<br>月々のお支払いいただく金額です！</p>

				<h3 class="details_title1">表示価格に含まれているもの</h3>

				<div class="rate_box1 clr">
					<ol class="rate_box1_list clr">
						<li>① 端末代金</li>
						<li>② 5分以内の<br>通話し放題</li>
						<li>③ ネットし放題</li>
					</ol>

					<div class="rate_box1_m">
						<p>月々の支払い金額<br><span>(サイト表示価格)</span></p>
					</div>
				</div>

				<h3 class="details_title1">各プランはこんな人におすすめ！</h3>

				<ul class="rate_list clr">
					<li>
						<h4 class="rate_list_title">月々の料金を<br>抑えたい<span>1GBパック</span></h4>
						<div class="rate_list_main">
							<p class="rate_list_icon1">長時間通話をしない</p>
							<p class="rate_list_icon2">ネットもそこまで頻繁にやらない<br />
                                <span class="comment">（月々1GBまで高速ネットがご利用頂けます）</span></p>
						</div>
					</li>
					<li>
						<h4 class="rate_list_title">月々の料金を<br>抑えたい<span>5GBパック</span></h4>
						<div class="rate_list_main">
							<p class="rate_list_icon1">通話もそこそこしたい</p>
							<p class="rate_list_icon2">SNSやLINEを頻繁に使いたい<br />
                                <span class="comment">（月々5GBまで高速ネットがご利用頂けます<）/span></p>
						</div>
					</li>
					<li>
						<h4 class="rate_list_title">動画やネットを<br>使いたい<span>20GBパック</span></h4>
						<div class="rate_list_main">
							<p class="rate_list_icon1">長時間通話をしない</p>
							<p class="rate_list_icon2">動画や漫画などネットをいっぱい使いたい<br />
                                <span class="comment">（月々20GBまで高速ネットがご利用頂けます）</span></p>
						</div>
					</li>
				</ul>
				<p class="rate_list_kome">※このプラン以外でもお客様のご要望にあわせて、内容の変更も可能です。</p>

				<a class="rate_list_link arrow01" href="#pricePlan">料金についてはこちら</a>

			</div>


			<div id="details06" class="flow">
				<h2 class="main_title1">申し込みの流れ</h2>
				<ul class="flow_list">
					<li>
						<dl>
							<dt>当サイトからお申し込み</dt>
							<dd>当サイトからのお申し込みフォームまたはお電話にてお申し込みください。</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>お申し込み内容確認のお電話</dt>
							<dd>お客様のお申し込み内容に間違いがないかの確認のため電話を差し上げます。<br>
							(0120-000-000から電話差し上げます)</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>手続き完了後　商品発送</dt>
							<dd>お申し込み内容が確定した後に、商品の発送準備・発送を行います。<br>
							受け取り方法を「店舗で受け取り」を選択した方は、指定の店舗まで受け取りに行ってください。</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>スマホ・ケータイご利用開始</dt>
							<dd>商品が届きましたら、その日からすぐにご利用が可能です！<br>
							楽しいスマホ・ケータイライフをご堪能ください。</dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="details_productInfo">
				<div class="model_box2">
					<h2 class="model_box2_title mainWidth">商品を購入する</h2>
					<div class="model_box2_inner mainWidth clr">
						<div class="model_box2_item_name">
							<figure><img src="{{ app.config.front_urlpath }}/img/details/item01_m.jpg" height="127" width="138" alt=""></figure>
							<p><span>AQUOS PHONE Xx 304SH</span></p>
						</div>
						<p class="details_productInfo_m">カラー選択</p>
						<p class="details_productInfo_color_list">
							<label class="red"><input type="radio" id="product_color_1" name="product_color" required="required" value="1"></label>
							<label class="black"><input type="radio" id="product_color_2" name="product_color" required="required" value="2"></label>
							<label class="brown"><input type="radio" id="product_color_3" name="product_color" required="required" value="3"></label>
							<label class="gray"><input type="radio" id="product_color_4" name="product_color" required="required" value="4"></label>
						</p>

						<p class="details_productInfo_m">料金選択<a href="">安さの秘密はこちら</a></p>

						<div class="rate_item_foot">
							<p class="rate_item_kome_title">表示価格は右の内容全て含めた金額です。</p>
							<div class="rate_item_kome_wrap">
								<p class="rate_item_kome">端末代金</p>
								<p class="rate_item_kome">ネッし放題</p>
								<p class="rate_item_kome">5分以内通話し放題</p>
							</div>
						</div>

						<ul class="details_productInfo_m_list">
							<li>
								<label><input type="radio" id="pack_1" name="pack" required="required" value="1">
									1GBパック
									<span>3,980<small>円 / 月</small></span>
								</label>
							</li>
							<li>
								<label><input type="radio" id="pack_2" name="pack" required="required" value="2">
									5GBパック
									<span>4,980<small>円 / 月</small></span>
								</label>
							</li>
							<li>
								<label><input type="radio" id="pack_3" name="pack" required="required" value="3">
									20GBパック
									<span>5,980<small>円 / 月</small></span>
								</label>
							</li>

						</ul>

						<a class="details_productInfo_btn btn02 btn_pink" href="" target="_blank"><p><span>この商品を申し込む</span></p></a>
						<a class="details_productInfo_btn btn02 btn_white" href="" target="_blank"><p><span>店舗で受け取る</span></p></a>

						<p class="details_productInfo_tel_mes">この商品を電話で問い合わせる</p>
						<div class="details_productInfo_tel">
							<a href="./" class="btn02">
								<dl>
									<dt>タップして電話をかける</dt>
									<dd><span>0120-301-492</span></dd>
								</dl>
							</a>
						</div>
						<p class="details_productInfo_open">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
					</div>
				</div>
			</div>

		</div>