<div class="fhed_r">
			<p class="fhed_txt">お急ぎの方はお電話からもお申し込みできます。</p>
			<p class="fhed_tel roboto"><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></p>
			<p class="fhed_time">受付時間　{{ BaseInfo.business_hour }}（土日祝除く）</p>
		</div>