<div class="main_body mainWidth clr">

			<div class="qa_wrap">
				<dl id="qa1_area">
					<dt>携帯電話のお申し込の場合には何が必要ですか？</dt>
					<dd>
						<p>【新規/携帯電話番号ポータビリティ(MNP)でのお申し込み】</p>
						<ul>
							<li>・運転免許証、パスポートなどのご本人確認書類</li>
							<li>・お支払い可能なクレジットカード</li>
							<li>・（MNPの場合のみ）MNP予約番号</li>
						</ul>
						<p>【機種変更でのお申し込み】</p>
						<ul>
							<li>・運転免許証、パスポートなどのご本人確認書類</li>
							<li>・ご利用中の携帯電話の電話番号・暗証番号</li>
							<li>・（MNPの場合のみ）MNP予約番号</li>
						</ul>
						<p>※ご本人確認書類の詳細(A~Gのうちいずれか1点が必要になります。)</p>
						<ul>
							<li>A.運転免許証</li>
							<li>B.日本国パスポート</li>
							<li>C.健康保険証　+ 住民票記載事項証明書ほか</li>
							<li>D.クレジットカード + 健康保険証</li>
							<li>E.写真付学生証 + 健康保険証</li>
							<li>F.身体障害者手帳または療育手帳または精神障害者保険福祉手帳</li>
							<li>G.外国人登録証明書または在留カード + 外国パスポート</li>
						</ul>
						<p>※本人確認書類に記載の住所とお申し込みの住所が異なる場合、または本人確認書類に健康保険証をご利用の場合 発効日から3ヶ月以内の、（ア）または（イ）または（ウ）のいずれかが必要です。</p>
						<ul>
							<li>（ア）住民票記載事項証明証</li>
							<li>（イ）公共料金証明証</li>
							<li>（ウ）官公庁発行の印刷物</li>
						</ul>
					</dd>
					<dt>お問い合せ以外の手続きはできますか？</td>
					<dd>
						<p>誠に恐れ入りますが、サービスに関するお問合せはソフトバンクカスタマーセンターまたは最寄のソフトバンクショップまでお問い合わせください。</p>

						<div class="faq_box2">
							<p class="faq_title2">ソフトバンクカスタマーセンター</p>
							
							<table class="faq_table">
								<tr>
									<th>電話番号</th>
									<td>ソフトバンク携帯電話から　157（無料）<br>一般電話から　0800-919-0157(無料)</td>
								</tr>
								<tr>
									<th>受付時間</th>
									<td>自動音声応答サービス 24時間<br>オペレーター対応 9時～20時まで</td>
								</tr>

							</table>
						</div>
					</dd>

					<dt>未成年ですが、お申し込みは可能ですか？</td>
					<dd>
					<p>11歳以下の方は、お申し込みいただくことが出来ません。<br>12歳以上、20歳未満のお客様がお申し込みされる場合は、親権者の方の同意書が必要となります。<br>詳しくはオペレーターまでお問い合わせください。</p>
					</dd>

					<dt>商品が使えるまでどのくらいかかりますか？</td>
					<dd>
					<p>お申し込みからお使いいただけるまで、最短で4営業日いただいております。<br>在庫状況により、お受け取りまで1週間以上かかる場合もございますので予めご了承ください。</p>
					</dd>


					<dt>月々の料金支払方法は、選択できますか？</td>
					<dd>
					<p>お客様の状況により異なります。詳しくはオペレーターにお問合せください。</p>
					</dd>


					<dt>端末代金の支払方法は、選択できますか？</td>
					<dd>
					<p>端末代金は、原則24回の分割払いでお支払いいただきます。</p>
					</dd>


					<dt>契約事務手数料の支払方法はどうなりますか？</td>
					<dd>
					<p>一回目の携帯電話の料金請求時と同時にお支払いいただきます。</p>
					</dd>

				</dl>
			</div>
		</div>