<p class="rate_mes">当サービスでは、月々のお支払い金額を分かりやすく表示しています。<br>サイト内に記載された金額は月々にお支払いいただく料金となっています。<br>月々の料金の中には「①端末料金」「②ソフトバンク同士通話し放題」「③ネットし放題」を含んでいます。</p>

                    <p class="rate_title1">サイトの表示価格が月々のお支払いいただく金額です！</p>

                    <h3 class="details_title1">表示価格に含まれているもの</h3>

                    <div class="rate_box1 clr">
                        <ol class="rate_box1_list clr">
<li>① 端末代金</li>
                            <li>② ソフトバンク同士<br>通話し放題</li>
                            <li>③ ネットし放題</li>
                        </ol>
<div class="rate_box1_m">
                            <p>月々の<br>支払い金額<br><span>(サイト表示価格)</span></p>
                        </div>
                    </div>

                    <h3 class="details_title1">各プランはこんな人におすすめ！</h3>

                    <ul class="rate_list clr">
<li>
                            <h4 class="rate_list_title">月々の料金を抑えたい<span>パケットし放題S</span>
</h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">長時間通話をしない</p>
                                <p class="rate_list_icon2">ネットもそこまで頻繁にやらない</p>
                                <span class="comment">（月々1GBまで高速ネットがご利用頂けます）</span>
                            </div>
                        </li>
                        <li>
                            <h4 class="rate_list_title">月々の料金を抑えたい<span>パケットし放題</span>
</h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">通話もそこそこしたい</p>
                                <p class="rate_list_icon2">SNSやLINEを頻繁に使いたい</p>
                            </div>
                        </li>
                        <li>
                            <h4 class="rate_list_title">動画やネットを使いたい<span>パケットし放題フラット</span>
</h4>
                            <div class="rate_list_main">
                                <p class="rate_list_icon1">長時間通話をしない</p>
                                <p class="rate_list_icon2">動画や漫画などネットをいっぱい使いたい</p>
                            </div>
                        </li>

                    </ul>
<p class="rate_list_kome">※このプラン以外でもお客様のご要望にあわせて、内容の変更も可能です。</p>

                    <a class="rate_list_link arrow01" href="{{url('sbm_content_charge')}}">安さの秘密はこちら</a>