<div class="fhed_l">
			<h1><a href="{{url('homepage')}}" class="hed_logo"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" alt="softbank smart phone store"><span>正規販売店</span></a></h1>
		</div>