<div class="list_bnr mainWidth">
{% if Category.id in app.config.productlist_category_grp %}
{% if Category.id == 1 %}
	<a class="list_bnr1" href="{{url('product_list',{'category_id':2})}}"><img src="{{ app.config.front_urlpath }}/img/list/lead_bnr01.jpg" height="170" width="1040" alt=""></a>
{% endif %}
{% if Category.id == 2 %}

	<a class="list_bnr1" href="{{url('product_list',{'category_id':1})}}"><img src="{{ app.config.front_urlpath }}/img/list/lead_bnr02.png" height="170" width="1040" alt=""></a>
{% endif %}

{% else %}
	<a class="list_bnr1" href="{{url('product_list',{'category_id':1})}}"><img src="{{ app.config.front_urlpath }}/img/list/lead_bnr02.png" height="170" width="1040" alt=""></a>
	<a class="list_bnr1" href="{{url('product_list',{'category_id':2})}}"><img src="{{ app.config.front_urlpath }}/img/list/lead_bnr01.jpg" height="170" width="1040" alt=""></a>

{% endif %}

	<h2 class="list_bnr_title">ご契約時の不安や疑問はここで解決！<br>安心してご購入いただくためにぜひご覧下さい！</h2>
	<div class="ist_bnr_box clr">
		<a class="list_bnr2" href="{{url('sbm_content_charge')}}"><img src="{{ app.config.front_urlpath }}/img/list/bnr02.jpg" height="170" width="505" alt="安さの秘密"></a>
		<a class="list_bnr2" href="{{url('help_guide')}}"><img src="{{ app.config.front_urlpath }}/img/list/bnr03.jpg" height="170" width="505" alt="ご利用ガイド"></a>
	</div>
</div>