{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'frame.twig' %}

{% set current = 3 %}

{% form_theme form _self %}
{% block form_row %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <label>{{ label }}
            {% if required %}<span class="required">*</span>{% endif %}
            {% if help %}<br><span class="small">{{ help }}</span>{% endif %}
        </label>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block checkbox_row %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block main %}
    <div id="main" class="step4">
        <div class="main_inner">
            <div class="main_content">
                <div class="page-header">
                    <h1>サイトの設定</h1>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form name="form1" id="form1" method="post" action="{{ url('install_step3') }}">
                                {{ form_widget(form._token) }}
                                {{ form_row(form.shop_name) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.login_id) }}
                                {{ form_row(form.login_pass) }}

                                <h2>セキュリティの設定</h2>
                                {{ form_row(form.admin_dir , {attr : {placeholder: 'セキュリティのため推測されにくいディレクトリ名を入力して下さい'}}) }}
                                {% if app.request.secure %}
                                    {{ form_row(form.admin_force_ssl) }}
                                {% else %}
                                    <span class="text-danger">httpsからの接続でなければSSL制限を設定できません。</span>
                                    {{ form_row(form.admin_force_ssl , {attr : {disabled: 'disabled', 'value': null}}) }}
                                {% endif %}
                                {{ form_row(form.admin_allow_hosts , {attr : {rows: '5'}}) }}

                                <div class="accordion">
                                    <a href="#" class="toggle">&gt; オプションを表示</a>
                                    <div class="accpanel">

                                        {{ form_row(form.mail_backend) }}
                                        {{ form_row(form.smtp_host) }}
                                        {{ form_row(form.smtp_port) }}
                                        {{ form_row(form.smtp_username) }}
                                        {{ form_row(form.smtp_password) }}

                                    </div>
                                </div>

                                <ul class="btn_area">
                                    <li><button type="submit" class="btn btn-primary btn-block btn-lg">次へ進む</button></li>
                                    <li><a href="{{ url('install_step2') }}" class="btn btn-link btn-block btn-lg">前に戻る</a></li>
                                </ul>
                            </form>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
