{#
/*
 * This file is part of the ProductExternalLink plugin
 *
 * Copyright (C) 2017 Shotaro HAMA All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<div class="box accordion form-horizontal">
    <div class="box-header toggle">
        <h3 class="box-title">メーカー設定<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
    </div><!-- /.box-header -->
    <div class="box-body accpanel">
        {{ form_row(form.pel_maker) }}
        {{ form_row(form.pel_maker_url) }}
        {{ form_row(form._token) }}
    </div>
</div>
