{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/guide.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/guide.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{%block main%}
				<h1 class="main_title0 mainWidth">ご利用ガイド</h1>
				<section class="sec01">
					<div class="sec01Inner">
						<p><img src="{{ app.config.front_urlpath }}/img/guide/mainv.jpg"></p>
						<ul class="sec01_ul clr">
							<li class="sec01_link1"><a href="#link1"></a></li>
							<li class="sec01_link2"><a href="#link2"></a></li>
							<li class="sec01_link3"><a href="#link3"></a></li>
							<li class="sec01_link4"><a href="#link4"></a></li>
						</ul>
					</div>					
				</section>

				<section class="sec02" id="link1">
					<div class="sec02Inner">
						<h2 class="main_title1">購入の流れについて</h2>
						<table class="sec02_tbl">
							<tbody>
								<tr>
									<th><p>STEP<span>1</span></p></th><td><h3>当サイトよりお申し込み</h3><p>ご希望の端末詳細ページの、『この機種の購入手続きへ』ボタンからWebフォームにお進みいただき、お申込みください。ご質問等は、お問い合わせフォームから受け付けております。</p><a href="form-inquiry/" class="sec02_btn btn02"><p class="arrow01">お問い合わせ</p></a></td>
								</tr>
								<tr>
									<th><p>STEP<span>2</span></p></th><td><h3>申し込み内容の確認の連絡をいたします</h3><p>お申込み内容の確認のため、お電話を差し上げますので、お申込みフォームから申し込まれる方は、ご都合のよろしいお時間をご設定ください。</p></td>
								</tr>
								<tr>
									<th><p>STEP<span>3</span></p></th><td><h3>商品の発送をいたします</h3><p>お申込み内容の確認がとれた後に、商品の発送を行いますので、届くまで1～4営業日ほどお待ちください。また、商品は届き次第、すぐに使用いただけます。</p></td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</section>

				<section class="sec03" id="link2">
					<div class="sec03Inner">
						<h2 class="main_title1">必要な書類について</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<div class="sec03_box">
							<h3>新規契約・乗り換え(MNP)のお客様</h3>
							<ul class="sec03_ul clr">
								<li class="item1"><h4>本人確認書類</h4>
								<p>マイナンバー、運転免許証、日本国パスポートなどのご本人確認書類になります。※1</p></li>
								<li class="item2"><h4>支払い手続きに必要なもの</h4>
								<p>クレジットカードまたはキャッシュカードなどお支払い可能なカードをお持ちください。</p></li>
								<li class="item3"><h4>MNP予約番号</h4>
								<p>他社からの乗り換えのお客様のみ取得していただく必要があります。</p></li>
								<li class="item4"><h4>申し込み印</h4>
								<p>契約時に使用する印鑑をお持ち下さい。<br>また、ご本人様のサインでも可能です。</p></li>
							</ul>
						</div>
						<div class="sec03_box">
							<h3>機種変更のお客様</h3>
							<ul class="sec03_ul clr">
								<li class="item1"><h4>本人確認書類</h4>
								<p>マイナンバー、運転免許証、日本国パスポートなどのご本人確認書類になります。※1</p></li>
								<li class="item5"><h4>契約中の携帯電話</h4>
								<p>現在、SoftBankで契約している携帯端末が必要になります。</p></li>
								<li class="item4"><h4>申し込み印</h4>
								<p>契約時に使用する印鑑をお持ち下さい。<br>また、ご本人様のサインでも可能です。</p></li>
							</ul>
							<p class="sec03_txt">※1 ご本人確認書類の詳細(A~Gのうちいずれか1点が必要になります。)<br>
							A.運転免許証<br>
							B.日本国パスポート<br>
							C.健康保険証　+ 住民票記載事項証明書ほか<br>
							D.クレジットカード + 健康保険証<br>
							E.写真付学生証 + 健康保険証<br>
							F.身体障害者手帳または療育手帳または精神障害者保険福祉手帳<br>
							G.外国人登録証明書または在留カード + 外国パスポート</p>
						</div>
					</div>
				</section>

				<section class="sec04" id="link3">
					<div class="sec04Inner">
						<h2 class="main_title1">商品のお届けについて</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<table class="sec04_tbl">
							<tbody>
								<tr>
									<th>発送目安</th><td>手続き完了後すぐ発送 ※1</td>
								</tr>
								<tr>
									<th>配送料金</th><td>全国一律500円</td>
								</tr>
								<tr>
									<th>配送業者</th><td>佐川急便 / クロネコヤマト ※2</td>
								</tr>
								<tr>
									<th>配達時間</th><td>8時~12時 / 12時～14時 / 14時～16時 / 16時～18時 /20時～21時 ※3</td>
								</tr>
							</tbody>
						</table>
						<p class="sec03_txt">※1 お住まいの地域によって、到着の日時は異なります。<br>
						※2 お客様にて配達業者を選択することはできません、あらかじめご了承ください。<br>
						※3 商品やプランによっては、到着の日時をお選びいただけない場合がございます。</p>
					</div>
				</section>


				<section class="sec05" id="link4">
					<div class="sec05Inner">
						<h2 class="main_title1">お支払い方法について</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<table class="sec04_tbl">
							<tbody>
								<tr>
									<th>お支払い方法</th><td>クレジットカード / 口座振込み</td>
								</tr>
								<tr>
									<th>対応クレジットカード</th><td><img src="{{ app.config.front_urlpath }}/img/guide/sec05_card.png">※</td>
								</tr>
							</tbody>
						</table>
						<p class="sec03_txt">※1 お住まいの地域によって、到着の日時は異なります。<br>
						※2 お客様にて配達業者を選択することはできません、あらかじめご了承ください。<br>
						※3 商品やプランによっては、到着の日時をお選びいただけない場合がございます。</p>
					</div>
				</section>
{%endblock%}