{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/form-entry.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
{% endblock javascript %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}


{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{% block main %}

    <div class="mainWidth">
        <h1>お申し込みフォーム</h1>
    </div>
    <div class="mainv">
        <p>下記の入力項目をご確認いただき、<br>
        「送信する」ボタンを<br>
        タップしてください。</p>
    </div>

    <div class="mainWidth clr">
        <section class="sec01">
            <div class="sec01Inner">
                <h2>お申し込みフォーム</h2>
                <div class="sec01_btn">
                    <a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
                        <dl>
                            <dt>タップして電話をかける</dt>
                            <dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
                        </dl>
                    </a>
                </div>
                <p class="sec01_txt2">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
                <ul class="sec01_ul clr">
                    <li>1<br>お客様情報<br>入力</li>
                    <li class="done">2<br>お申し込み<br>内容確認</li>
                    <li>3<br>お申し込み<br>完了</li>
                </ul>
            </div>
        </section>
    </div>


    <div class="secWrap">
        <div class="secWrapInner">

        <section class="sec03 mainWidth">
            <div class="sec03Inner">
                <h3>お客様情報</h3>
                <form name="form1" id="form1" method="post" action="{{ url('plugin_customentryform_formeasy_confirm') }}">
                    {{ form_widget(form._token) }}
                    <div id="top_box__body_inner" class="dl_table">
                        <dl id="top_box__name">
                            <dt>{{ form_label(form.name) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.name.name01) }}
                                {{ form_widget(form.name.name02) }}
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__kana">
                            <dt>{{ form_label(form.kana) }}</dt>
                            <dd class="form-group input_name">
                                {{ form_widget(form.kana.kana01) }}
                                {{ form_widget(form.kana.kana02) }}
                                {{ form_errors(form.kana.kana01) }}
                                {{ form_errors(form.kana.kana02) }}
                            </dd>
                        </dl>
                        <dl id="top_box__address_detail">
                            <dt>{{ form_label(form.address) }}</dt>
                            <dd>
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="top_box__tel">
                            <dt>{{ form_label(form.tel) }}</dt>
                            <dd>
                                <div class="form-inline form-group input_tel">
                                    {{ form_widget(form.tel, {attr : {class : 'short'}}) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="top_box__email">
                            <dt>{{ form_label(form.email) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl id="top_box__usecarrier">
                            <dt>{{ form_label(form.usecarrier) }}</dt>
                            <dd>
                                <div class="form-group">
                                    {{ form_widget(form.usecarrier.usecarrier) }}
                                </div>
                            </dd>
                        </dl>

                    </div>
                    <input id="top_box__hidden_mode" type="hidden" name="mode" value="confirm">

                    <p class="sec03_txt1">※ご希望の端末・カラー・容量・料金プランなどは、弊社コールセンターからご連絡させて頂き、お申し込み完了となります。<br>
                    お手続きや商品に関してのサポートを行っておりますので、お気軽にご相談下さい。</p>

                    <div id="confirm_box__footer" class="row no-padding">
                        <div id="confirm_box__button_menu" class="btn_group col-sm-offset-4 col-sm-4">
                            <p id="confirm_box__confirm_button"><button type="submit" class="btn btn-block next-btn" name="mode" value="complete">送信をする</button></p>
                            <p id="confirm_box__back_button"><button type="submit" class="btn btn-block back-btn mt15" name="mode" value="back">戻る</button></p>
                        </div>
                    </div>
                </form>

            </div>
        </section>
        </div>

    </div>

{% endblock %}