{#
/*
 * This file is part of the ProductExternalLink plugin
 *
 * Copyright (C) 2017 Shotaro HAMA All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{% if not pel_ProductMaker.disabled and pel_ProductMaker.other_url|length > 0 %}
    <a class="btn btn-primary btn-block" href="{{ pel_ProductMaker.other_url }}" target="{{ pel_ProductMaker.other_url_target }}">公式サイトで購入する</a>	
{% endif %}