{#
/*
 * This file is part of the ProductExternalLink plugin
 *
 * Copyright (C) 2017 Shotaro HAMA All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% if not pel_disabled %}
    <div class="plugin_maker_code">
        {% if pel_maker_url %}
            <p class="item_code">メーカー： <a href="{{ pel_maker_url }}" target="_blank">{{ pel_maker_name }}</a></p>
        {% else %}
            <p class="item_code">メーカー： {{ pel_maker_name }}</p>
        {% endif %}
    </div>
{% endif %}
