{#
/*
* This file is part of EC-CUBE
*
* Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
* http://www.lockon.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_index'] %}

{% block title %}基本情報設定{% endblock %}
{% block sub_title %}機能設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}


{% endblock %}