{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
<h1 class="page-heading">マイページ/退会手続き</h1>
<div id="complete_wrap" class="container-fluid">
    <div id="complete_box" class="unsubscribe_box">
        <div id="complete_box__body" class="row no-padding">
            <div id="complete_box__message" class="col-sm-6 col-sm-offset-3">
                    <h3>退会が完了いたしました</h3>
                    <p>ご利用いただき誠にありがとうございました。<br>
                    またのご来店をお待ちしております。</p>
            </div>
        </div>
        <div id="complete_box__top_button" class="row">
            <div class="btn_group col-sm-offset-4 col-sm-4">
                <p><a href="{{ url('homepage') }}" class="btn btn-info btn-block">トップページへ</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
