{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
<h1 class="page-heading">マイページ/退会手続き</h1>
<div id="confirm_wrap" class="container-fluid">
    {% include 'Mypage/navi.twig' %}
    <div id="confirm_box" class="unsubscribe_box">
        <div id="confirm_box__body" class="row no-padding">
            <div id="confirm_box__message" class="col-sm-6 col-sm-offset-3">
                    <div class="icon"><svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg></div>
                    <h3>退会手続きを実行してもよろしいでしょうか？</h3>
                    <p>退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。</p>
            </div>
        </div>
        <form method="post" action="{{ url('mypage_withdraw') }}">
            {{ form_widget(form._token) }}
                <div id="confirm_box__footer" class="row">
                    <div id="confirm_box__complete_button" class="btn_group col-sm-offset-4 col-sm-4">
                        <p><a href="{{ url('mypage') }}" class="btn btn-info btn-block">いいえ、退会しません</a></p>
                        <p><button type="submit" class="btn btn-default btn-block" name="mode" value="complete">はい、退会します</button></p>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}
