{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

            <li class="{% if active_menus(menus)[0] == 'customer' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-users"> <use xlink:href="#cb-users" /></svg>会員管理<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'customer' %}class="active" style="display: block;"{% endif %}>
                    <li  id="navi-customer-index" class="{% if active_menus(menus)[1] == 'customer_master' %}active{% endif %}"><a href="{{ url('admin_customer') }}">会員マスター</a></li>
                    <li  id="navi-customer-customer" class="{% if active_menus(menus)[1] == 'customer_edit' %}active{% endif %}"><a href="{{ url('admin_customer_new') }}">会員登録</a></li>
                </ul>
            </li>