{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{{ form_widget(plgForm.ShipmentItemOptions[item_idx].shipping_index) }}
{{ form_widget(plgForm.ShipmentItemOptions[item_idx].item_index) }}
{{ form_widget(plgForm.ShipmentItemOptions[item_idx].serial) }}
