{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<style>
.form-control {
  width: 100%;
}

textarea.form-control {
  height: 7em;
}

@media only screen and (min-width: 768px) {
  .form-control {
    width: 350px;
  }
}
</style>

{% if ProductOptions is defined %}
    <ul class="classcategory_list">
        {% for ProductOption in ProductOptions %}

            {% set value = 'productoption' ~ ProductOption.Option.id %}
            <li>{{ form_label(form[value]) }}
                {% if ProductOption.Option.description_flg == 1 %}
                    &nbsp;<a href="?" id="option_description_link_{{ ProductOption.Option.id }}">詳細説明</a>
                {% endif %}
            </li>

            {% if ProductOption.Option.Extension.descdisp_flg %}
                {% set Option = ProductOption.Option %}

                {% if Option.description_flg == 1 %}
                    <div>
                        <div class="header">
                            <p>{{ Option.description|raw|nl2br }}</p>
                        </div>

                        {% if Option.OptionCategories|length > 0%}
                        <div class="body">
                                {% for optionCategory in Option.OptionCategories %}
                                    {% if optionCategory.disable_flg != 1 %}
                                        <div>
                                            {% if optionCategory.option_image %}
                                                <img src="{{ app.config.image_save_urlpath }}/{{ optionCategory.option_image }}"/>
                                            {% endif %}
                                            <p>{{ optionCategory.description|raw|nl2br }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}


            <li>
                {{ form_widget(form[value] ,{ attr : { onChange : 'onOptionChange()' }} ) }}
                {{ form_errors(form[value]) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}