{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<style>
.option_description {
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: none;
  min-width: 50%;
  max-width: 80%;
  max-height: 80%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow:auto;
}
.option_description .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.option_description .modal-header .plainmodal-close {
  margin-top: -2px;
  float: right;
  font-size: 2.1rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
.option_description .modal-header .plainmodal-close:hover {
  opacity: 0.5;
}

.option_description .modal-header > p {
  margin: 1% 0 0 0;
  font-size: 1.4rem;
  line-height: 1.42857143;    
}

.option_description .modal-title {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  margin: 0;
}
.option_description .modal-body {
  padding: 3%;
  font-size: 1.4rem;
  line-height: 1.42857143;
  color: #333;
}
.option_description .modal-body > p {
    margin: 0 0 3%;
}
.option_description .modal-body > div {
    margin-bottom: 2%;
    overflow: hidden;
    padding-bottom: 2%;
}
.option_description .modal-body > div > p {
    margin: 2% 0 0;
}
.option_description img {
    float: none;
    margin: 1% auto 0;
    width: 40%;
    height: auto;
    display: block;
}
.option_description h3 {
    margin: 0;
    background: #efefef;
    padding: 1%;
}
.option_description .minus {
    color: #2980b9;
}
@media screen and (min-width: 768px) {
    .option_description img {
        float: left;
        margin: 1% 4% 0 0;
        width: 15%;
    }
}

.option_description span.small {
    font-size: 1.2rem;
}

.option_description .btn-info {
    width: 74px;
    float: none;
    margin: 15px auto 10px;
    border: 0;
    padding: 4px 0;
    display: block;
}

.option_description .btn-info:hover {
    background: #474757;
}

@media only screen and (min-width: 768px) {
    .option_description .btn-info {
    	float: right;
        margin: 0 10px 0 0;
    }

}

</style>

{% for ProductOption in ProductOptions %}
    {% set Option = ProductOption.Option %}
    {% if Option.description_flg == 1 %}
        <div id="option_description_{{ Option.id }}" class="option_description">
            <div class="modal-header">
                <div class="plainmodal-close">&#215;</div>
                <h4 class="modal-title">{{ Option.name }}</h4>
                <p>{{ Option.description|raw|nl2br }}</p>
            </div>

            {% if Option.OptionCategories|length > 0%}
            <div class="modal-body">
                    {% for optionCategory in Option.OptionCategories %}
                        {% if optionCategory.disable_flg != 1 %}
                            <div>
                                <h3>{{ optionCategory.name }}</h3>
                                {% if optionCategory.option_image %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ optionCategory.option_image }}"/>
                                {% endif %}
                                <p>{{ optionCategory.description|raw|nl2br }}</p>
                                {% if optionCategory.value|length > 0  %}
                                    {% if optionCategory.value > 0  %}
                                        <p class="plus">価格：{{ optionCategory.value|price }} <span class="small">+ 税</span></p>
                                    {% elseif optionCategory.value < 0 %}
                                        <p class="minus">価格：{{ optionCategory.value|price }} <span class="small">+ 税</span></p>
                                    {% endif %}
                                {% endif %}
                                {% if optionCategory.delivery_free_flg == 1 %}
                                    <p>送料無料</p>
                                {% endif %}
                                <button class="btn-info" onclick="func_submit({{ Option.id }},{{ optionCategory.id }}); return false;" >選択する</button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}