{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<dd>
    {% if plgOrderDetails[orderDetail.id] is defined %}
        {% for label in plgOrderDetails[orderDetail.id].label %}
            {% if loop.index0 != 0%}<br />{% endif %}{{ label }}　{% if plgOrderDetails[orderDetail.id].labelprice[loop.index0] > 0%}{{plgOrderDetails[orderDetail.id].labelprice[loop.index0]|number_format}}円（＋税）{% endif %}
        {% endfor %}
    {% endif %}
</dd>