<script>
    $(function(){

        $('#add-cart-bottom').click(function() {
            $('#form1-bottom #mode').val('customentryform_add_cart');
        });
        $('#add-cart-bottom-shop').click(function() {
            $('#form1-bottom #mode').val('customentryform_add_cart_shop');
        });

    });
    </script>

<div class="mainWidth">
            <div class="rate">
                <h2 class="main_title1" id="pricePlan">料金について</h2>
{% if ProductType == 1 %}

                <p class="rate_mes">当サービスでは、月々のお支払い金額を分かりやすく表示しています。<br>サイト内に記載された金額は月々にお支払いいただく料金となっています。<br>月々の料金の中には「①端末料金」「②5分以内の通話し放題」「③ネットし放題」を含んでいます。</p>

                <p class="rate_title1">サイトの表示価格が<br>月々のお支払いいただく金額です！</p>

                <h3 class="details_title1">表示価格に含まれているもの</h3>

                <div class="rate_box1 clr">
                    <ol class="rate_box1_list clr">
                        <li>① 端末代金</li>
                        <li>② 5分以内の<br>通話し放題</li>
                        <li>③ ネットし放題</li>
                    </ol>

                    <div class="rate_box1_m">
                        <p>月々の支払い金額<br><span>(サイト表示価格)</span></p>
                    </div>
                </div>

                <h3 class="details_title1">各プランはこんな人におすすめ！</h3>

                <ul class="rate_list clr">
                    <li>
                        <h4 class="rate_list_title">月々の料金を<br>抑えたい<span>1GBパック</span></h4>
                        <div class="rate_list_main">
                            <p class="rate_list_icon1">長時間通話をしない</p>
                            <p class="rate_list_icon2">ネットもそこまで頻繁にやらない<br />
                                <span class="comment">（月々1GBまで高速ネットがご利用頂けます）</span></p>
                        </div>
                    </li>
                    <li>
                        <h4 class="rate_list_title">月々の料金を<br>抑えたい<span>5GBパック</span></h4>
                        <div class="rate_list_main">
                            <p class="rate_list_icon1">通話もそこそこしたい</p>
                            <p class="rate_list_icon2">SNSやLINEを頻繁に使いたい<br />
                                <span class="comment">（月々5GBまで高速ネットがご利用頂けます<）/span></p>
                        </div>
                    </li>
                    <li>
                        <h4 class="rate_list_title">動画やネットを<br>使いたい<span>20GBパック</span></h4>
                        <div class="rate_list_main">
                            <p class="rate_list_icon1">長時間通話をしない</p>
                            <p class="rate_list_icon2">動画や漫画などネットをいっぱい使いたい<br />
                                <span class="comment">（月々20GBまで高速ネットがご利用頂けます）</span></p>
                        </div>
                    </li>
                </ul>
                <p class="rate_list_kome">※このプラン以外でもお客様のご要望にあわせて、内容の変更も可能です。</p>

                <a class="rate_list_link arrow01" href="{{url('sbm_content_charge')}}">安さの秘密はこちら</a>

            </div>
{% else %}
    {% if Product.id==129 %}
        {% include 'Block/sbm_detail_3gketai_aquos.twig' ignore missing %}
    {% else %}
        {% include 'Block/sbm_detail_3gketai_ptn01.twig' ignore missing %}
    {% endif %}

{% endif %}


            <div id="flow" class="flow">
                <h2 class="main_title1">申し込みの流れ</h2>
                <ul class="flow_list">
                    <li>
                        <dl>
                            <dt>当サイトからお申し込み</dt>
                            <dd>当サイトからのお申し込みフォームまたはお電話にてお申し込みください。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>お申し込み内容確認のお電話</dt>
                            <dd>お客様のお申し込み内容に間違いがないかの確認のため電話を差し上げます。<br>
                            ({{app.config.FDOUTBOUND}}から電話差し上げます)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>手続き完了後　商品発送</dt>
                            <dd>お申し込み内容が確定した後に、商品の発送準備・発送を行います。<br>
                            店舗での受け取りを希望された方は、指定された店舗にて商品をお受け取りください。</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>スマホ・ケータイご利用開始</dt>
                            <dd>商品が届きましたら、その日からすぐにご利用が可能です！<br>
                            楽しいスマホ・ケータイライフをご堪能ください。</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <div class="details_productInfo">
                <div class="model_box2">
                    <h2 class="model_box2_title mainWidth">商品を購入する</h2>
                    <div class="model_box2_inner mainWidth clr">
                        <div class="model_box2_item_name">
                            <figure>
                                {% if Product.ProductImage|length > 0 %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[0]|no_image_product }}" height="127" width="138"/>
                                {% else %}
                                <img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" height="127" width="138"/>
                                {% endif %}
                            </figure>
                            <p><span>{{Product.name}}</span></p>
                        </div>
                    <form action="?" method="post" id="form1-bottom" name="form1-bottom" target="_blank">
                        {{ form_widget(form._token) }}

                        <p class="details_productInfo_m">カラー選択</p>
                        <p class="details_productInfo_color_list">

                            {% set first = true %}
                            {% for cc in form.product_color.vars.choices %}
                            {% set color = ProductColor[cc.value].colorclass %}
                            {% if cc.value %}
                            {% if first %}
                                {% set lbon="label_on" %}
                                {% set ckon="checked" %}
                                {% set first=false %}
                            {% else %}
                                {% set lbon="" %}
                                {% set ckon="" %}
                            {% endif %}
                            <label class="{{color}} {{lbon}}"><input type="radio" id="product_color_{{loop.index0}}" name="product_color" required="required" value="{{cc.value}}" {{ckon}}></label>
                            {% endif %}
                            {% endfor %}


                        </p>

                        {# 数量 #}
                        <dl style="display:none">
                            <dt>数量</dt>
                            <dd>
                                {{ form_widget(form.quantity) }}
                                {{ form_errors(form.quantity) }}
                            </dd>
                        </dl>

                        <p class="details_productInfo_m">料金選択</p>

                        <div class="rate_item_foot">
                            <p class="rate_item_kome_title">表示価格は右の内容全て含めた金額です。</p>
                            <div class="rate_item_kome_wrap">
                                <p class="rate_item_kome">端末代金</p>
                                <p class="rate_item_kome">ネッし放題</p>
                                <p class="rate_item_kome">5分以内通話し放題</p>
                            </div>
                        </div>

                        {% if Product.stock_find %}
                            {# 規格 #}
                            {% if form.classcategory_id1 is defined %}
                            <ul class="details_productInfo_m_list">
                                {# 規格1 #}
                                {# 規格2 #}
                                {% if form.classcategory_id2 is defined %}
                                {# 規格2 #}
                                    {% set first = true %}
                                    {% for a in form.product_class_id.vars.choices %}
                                    {% set pc = Product.findProductClass(a.value) %}

                                    {% if pc.ClassCategory1.id==32 %}
                                    {% else %}
                                    <li{% if pc.Code=='push' %} class="osusume"{% endif %}>
                                        {% if first %}
                                            {% set lbon="class=label_on" %}
                                            {% set ckon="checked" %}
                                            {% set first=false %}
                                        {% else %}
                                            {% set lbon="" %}
                                            {% set ckon="" %}
                                        {% endif %}

                                        <label {{lbon}}><input type="radio" id="product_class_id_{{loop.index0}}" name="product_class_id" required="required" value="{{a.value}}" {{ckon}}>
                                            {{pc.ClassCategory1.name}}
                                            <span>{{pc.Price02IncTax|number_format}}<small>円 / 月</small></span>
                                        </label>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                 {% endif %}
                            </ul>
                            <button type="submit" id="add-cart-bottom" class="details_productInfo_btn btn02 btn_pink"><p><span>この商品を申し込む</span></p></button>
                            <button type="submit" id="add-cart-bottom-shop" class="details_productInfo_btn btn02 btn_white"><p><span>店舗で受け取る</span></p></button>

                            {% endif %}

                        {% else %}
                            {# 在庫がない場合は品切れボタンのみ表示 #}
                            <ul class="side_details_m_list">
                            <button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切中</button>
                            </ul>
                        {% endif %}


                        {{ form_widget(form.mode) }}
                        {{ form_widget(form.product_id) }}


                    </form>



                        <p class="details_productInfo_tel_mes">この商品を電話で問い合わせる</p>
                        <div class="details_productInfo_tel">
                            <a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
                                <dl>
                                    <dt>タップして電話をかける</dt>
                                    <dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
                                </dl>
                            </a>
                        </div>
                        <p class="details_productInfo_open">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
                    </div>
                </div>
            </div>

        </div>