<script>
$(function(){

    $('#add-cart-side').click(function() {
        $('#form1-side #mode').val('customentryform_add_cart');
    });
    $('#add-cart-side-shop').click(function() {
        $('#form1-side #mode').val('customentryform_add_cart_shop');
    });

});
</script>

<div class="details_top">
            <div class="details_top_inner clr">

                <div class="details_slider">
                    <ul class="details_sliderList bxslider">

                    {% for ProductImage in Product.ProductImage %}
                        <li><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt=""></li>
                    {% else %}
                        <li><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" alt=""></li>

                    {% endfor %}


                    </ul>
                </div>

            </div>
        </div>

        <div class="details_productInfo">
            <div class="model_box mainWidth clr">
                <div class="model_detail">
                    <p class="details_productInfo_icon">
                        {% for tag in ProductTags %}
                            <span class="details_productInfo_{{tag.Color1}}">{{tag.Tag.name}}</span>
                        {% endfor %}

                    </p>
                    <h2 class="details_productInfo_name">{{Product.name}}</h2>
                    <p class="details_productInfo_mes">{{Product.description_detail|raw|nl2br}}</p>
                    <p class="details_productInfo_fee">月々<span>{{Product.getPrice02IncTaxMin|number_format}}</span>円</p>
                </div>
            </div>
            <div class="model_box2">
                <div class="model_box2_inner mainWidth clr">
                <form action="?" method="post" id="form1-side" name="form1-side" target="_blank">
                    {{ form_widget(form._token) }}

                    <p class="details_productInfo_m">カラー選択</p>
                    <p class="details_productInfo_color_list">
                        {% set first = true %}
                        {% for cc in form.product_color.vars.choices %}
                        {% set color = ProductColor[cc.value].colorclass %}
                        {% if cc.value %}
                        {% if first %}
                            {% set lbon="label_on" %}
                            {% set ckon="checked" %}
                            {% set first=false %}
                        {% else %}
                            {% set lbon="" %}
                            {% set ckon="" %}
                        {% endif %}
                        <label class="{{color}} {{lbon}}"><input type="radio" id="product_color_{{loop.index0}}" name="product_color" required="required" value="{{cc.value}}" {{ckon}}></label>
                        {% endif %}
                        {% endfor %}

                    </p>
                    {# 数量 #}
                    <dl style="display:none">
                        <dt>数量</dt>
                        <dd>
                            {{ form_widget(form.quantity) }}
                            {{ form_errors(form.quantity) }}
                        </dd>
                    </dl>

                    <p class="details_productInfo_m">料金選択<a href="#pricePlan">料金について</a></p>

                    <div class="rate_item_foot">
                        <p class="rate_item_kome_title">表示価格は右の内容全て含めた金額です。</p>
                        <div class="rate_item_kome_wrap">
                            <p class="rate_item_kome">端末代金</p>
                            <p class="rate_item_kome">ネッし放題</p>
                            <p class="rate_item_kome">5分以内通話し放題</p>
                        </div>
                    </div>


                    {% if Product.stock_find %}
                        {# 規格 #}
                        {% if form.classcategory_id1 is defined %}
                        <ul class="details_productInfo_m_list">
                            {# 規格1 #}
                            {# 規格2 #}
                            {% if form.classcategory_id2 is defined %}
                            {# 規格2 #}
                                {% set first = true %}
                                {% for a in form.product_class_id.vars.choices %}
                                {% set pc = Product.findProductClass(a.value) %}

                                {% if pc.ClassCategory1.id==32 %}
                                {% else %}
                                <li{% if pc.Code=='push' %} class="osusume"{% endif %}>
                                    {% if first %}
                                        {% set lbon="class=label_on" %}
                                        {% set ckon="checked" %}
                                        {% set first=false %}
                                    {% else %}
                                        {% set lbon="" %}
                                        {% set ckon="" %}
                                    {% endif %}

                                    <label {{lbon}}><input type="radio" id="product_class_id_{{loop.index0}}" name="product_class_id" required="required" value="{{a.value}}" {{ckon}}>
                                        {{pc.ClassCategory1.name}}
                                        <span>{{pc.Price02IncTax|number_format}}<small>円 / 月</small></span>
                                    </label>
                                </li>
                                {% endif %}
                                {% endfor %}
                             {% endif %}
                        </ul>
                        <button type="submit" id="add-cart-side" class="details_productInfo_btn btn02 btn_pink"><p><span>この商品を申し込む</span></p></button>
                        <button type="submit" id="add-cart-side-shop" class="details_productInfo_btn btn02 btn_white"><p><span>店舗で受け取る</span></p></button>

                        {% endif %}

                    {% else %}
                        {# 在庫がない場合は品切れボタンのみ表示 #}
                        <ul class="side_details_m_list">
                        <button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切中</button>
                        </ul>
                    {% endif %}


                    <p class="details_productInfo_tel_mes">この商品を電話で問い合わせる</p>
                    <div class="details_productInfo_tel">
                        <a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
                            <dl>
                                <dt>タップして電話をかける</dt>
                                <dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
                            </dl>
                        </a>
                    </div>
                    <p class="details_productInfo_open">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>


                    {{ form_widget(form.mode) }}
                    {{ form_widget(form.product_id) }}



                    <!--▲買い物かご-->
                </form>

                </div>
            </div>
        </div>