<section class="campaign">
			<div class="campaign_inner mainWidth clr">	
				<div class="campaign_text">
					<h2 class="campaign_title"><span>開催中のキャンペーン</span></h2>
					<p class="campaign_mes">SUPER STUDENTにスーパーフライデー、SoftBankのキャンペーンにはスーパーお得が盛りだくさん！<br>
さらに今なら、当ショップ限定のお得なキャンペーン実施中で、どこよりもお得にSoftBankスマホ・ケータイが申し込めます！</p>
				</div>
				<ul class="campaign_list clr">
            {% for ProductList in CustomUrlUserPageProducts.ProductList %}

					<li class="campaign_listItem" ><a href="{{url(ProductList.PageLayout.Url)}}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductList.MainImageFile }}" style="height:16vh;" alt=""></a></li>
            {% endfor %}
				</ul>
				<div class="tac">
					<a class="btn01 arrow01" href="{{url('campaign_index')}}">キャンペーン一覧を見る</a>
				</div>
			</div>
		</section>