{% set l_producttype = 0 %}
{% for cc in Product.ProductClasses|slice(0,3) %}
    {% if (cc.ProductType.id != 0) %}
        {% set l_producttype = cc.ProductType.id %}
    {% endif %}
{% endfor %}

{% if (l_producttype == app.config.producttype_ex_sim_type) %}
{% block stylesheet %}
<style type="text/css">
/* ======== PC ==========*/

.item-dtl-purchase {
	width: 1000px;
	margin-bottom: 10px;
	background: #fff;
}
.item-dtl-purchase dt {
	border-top: 5px solid #333;
	border-bottom: 1px solid #ccc;
	padding: 15px 20px;
	font-size: 22px;
	font-weight: bold;
	color: #232f3e;
	line-height: 1;
}
.item-dtl-purchase dd {
	padding: 40px 30px 40px 35px;
	overflow: hidden;
}
.item-dtl-purchase dd .image {
	float: left;
}
.item-dtl-purchase .image {
	overflow: hidden;
	width: 300px;
	/*height: 230px;*/
}
.item-dtl-purchase dd .item-dtl-purchase-right {
	width: 613px;
	float: right;
}
.item-dtl-purchase dd .item-dtl-purchase-right h3 {
	background: #333;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 15px;
}
#item-dtl-purchase-tab {
	width: 613px;
	overflow: hidden;
}
.item-dtl-purchase-cont {
	background: #fff;
	border: 2px solid #333;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding: 25px 20px 25px 30px;
}
.item-dtl-purchase-cont .item-dtl-purchase-cont-left {
	float: left;
	width: 260px;
}
.item-dtl-purchase-cart {
	position: relative;
	padding: 10px 0 0;
	width: 250px;
	float: right;
}
.item-dtl-purchase-cont p {
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px;
}
.item-dtl-purchase-cont p span {
	font-size: 34px;
	font-weight: bold;
	margin-left: 10px;
	color: #da0d0d;
}

.item-dtl-purchase-tab-cont {
	position: relative;
	display: none;
	border: 2px solid #333;
	padding: 28px 40px;
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.item-dtl-purchase-tab-cont {
	position: relative;
	display: none;
	border: 2px solid #333;
	padding: 28px 40px;
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
#item-dtl-purchase-tab ul {
	width: 618px;
	margin-right: -5px;
}
#item-dtl-purchase-tab ul li.active, #item-dtl-purchase-tab ul li:hover {
	background: #333;
	color: #fff;
}
#item-dtl-purchase-tab ul li {
	width: 304px;
	float: left;
	margin-right: 5px;
	color: #fff;
	background: #ccc;
	line-height: 44px;
	height: 44px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-tab-cont-l {
	width: 270px;
	float: left;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-cart {
	position: relative;
	padding: 10px 0 0;
	width: 250px;
	float: right;
}
.item-dtl-purchase-cart {
	position: relative;
	padding: 10px 0 0;
	width: 250px;
	float: right;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-tab-cont-l dl {
	background: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-tab-cont-l dl dt {
	border: 1px solid #db1515;
	color: #db1515;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	padding: 5px 12px;
	letter-spacing: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.item-dtl-purchase dt {
	border-top: 5px solid #333;
	border-bottom: 1px solid #ccc;
	padding: 15px 20px;
	font-size: 22px;
	font-weight: bold;
	color: #232f3e;
	line-height: 1;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-tab-cont-l dl dd {
	display: block;
	padding: 0;
	font-size: 36px;
	font-weight: bold;
	line-height: 1;
}
.item-dtl-purchase dd {
	padding: 40px 30px 40px 35px;
	overflow: hidden;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-tab-cont-l dl dd span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 46px;
	color: #db1515;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-cart {
	position: relative;
	padding: 10px 0 0;
	width: 250px;
	float: right;
}
.item-dtl-purchase-cart {
	position: relative;
	padding: 10px 0 0;
	width: 250px;
	float: right;
}
.item-dtl-purchase-tab-cont .item-dtl-purchase-cart .btn-cart {
	padding: 20px 0 20px 22px;
	width: 248px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: "メイリオ", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 1.2;
	letter-spacing: 1.2px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #df8900;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) #ff912e;
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, from(#ffa51d), to(#ff912e));
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) no-repeat center center,linear-gradient(to bottom, #ffa51d 0%,#ff912e 100%);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.item-dtl-purchase-cart .btn-cart {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 0 20px 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	font-family: "メイリオ", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 1.2;
	letter-spacing: 1.2px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #df8900;
	text-decoration: none;
	transition: all 0.2s ease 0s;
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) #ff912e;
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, from(#ffa51d), to(#ff912e));
	background: url({{ app.config.front_urlpath }}/img/common/icon-cart2.png) no-repeat center center,linear-gradient(to bottom, #ffa51d 0%,#ff912e 100%);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.item-dtl-purchase-tab-cont {
	position: relative;
	display: none;
	border: 2px solid #333;
	padding: 28px 40px;
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
.item-dtl-purchase dd .item-dtl-purchase-right .note {
	padding-top: 15px;
	font-size: 10px;
	color: #888;
}



</style>
{% endblock %}

{% block javascript %}
<script>
    $(function(){
        $('.btn-cart').on('click',function(){
            $('#form1').submit();
        });
    });

</script>
{% endblock %}





<dl class="item-dtl-purchase pc">
	<dt>{{ __EX_PRODUCT_MAKER.name }} {{ Product.name }} のご購入はこちら</dt>
	<dd>
		<div class="image js-color-changed">
			<img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage.0|no_image_product }}" alt="{{ __EX_PRODUCT_MAKER.name }} {{ Product.name }}" style="display: inline;">
		</div>
		<div class="item-dtl-purchase-right">
			<div id="item-dtl-purchase-tab">
				<ul>
					<li data-tab="purchase1" class="active">お支払い金額</li>
				</ul>
			</div>

			<div id="purchase1" class="item-dtl-purchase-tab-cont" style="display: block;">
				<div class="item-dtl-purchase-tab-cont-l">
					<dl>
					
						<dt>初期費用*</dt>
						<dd><span>{{ __EX_PRODUCT[app.config.product_ex_s_init_price].valuetext |number_format}}</span>円</dd>
						<dt>月額料金*</dt>
						<dd><span>{{ sales_price_month|number_format }}</span>円/月</dd>
					</dl>
					
				</div>
				<div class="item-dtl-purchase-cart">
					<p class="btn-cart">カートに入れる</p>
				</div>
			</div>
			<div class="note">＊ 表示価格は税抜です。別途消費税が加算されます。</div>
		</div>
	</dd>
</dl>
{% endif %}