{% block main %}
    <div class="item_gallery">
        {% if rp_count > 0 %}
            <h4>{{ title }}</h4>
        {% endif %}
        <ul class="row">
            {% for reldat in hsd_related_product %}
                <div class="col-sm-3 col-xs-6">
                    <div class="pickup_item">
                        <a href="{{ url('product_detail', {'id': reldat.product_id}) }}">
                            <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ reldat.file_name | no_image_product }}"></div>
                            <dd class="item_comment">{{reldat.description_detail[:30] ~ '...' }}</dd>
                            <dl>
                                <dt class="item_name">{{reldat.maker_name}} {{reldat.name}}</dt>
                                {% if show_price == 'show_price' %}
                                    {{ app.config.producttype_ex_monthly_type_grp_disp.front[product_type] }} <span class="price-num">
                                    {{ reldat[app.config.producttype_ex_monthly_type_grp_disp.valuekey[product_type]]|number_format }}
                                    円</span> {% if product_type == app.config.producttype_ex_sp_type %}(税抜)<br>{{ app.config.producttype_ex_monthly_type_grp_disp.back[product_type] }}{% else %}{{ app.config.producttype_ex_monthly_type_grp_disp.back[product_type] }}(税抜){% endif %}

                                {% endif %}
                            </dl>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}