{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}


<nav class="home_sort mainWidth">
			<ul class="sort clr">
				<li><a class="arrow01 sort_on" href="">売れ筋<br>ランキング</a></li>
				<li><a class="arrow01" href="">安さで<br>ランキング</a></li>
				<li><a class="arrow01" href="">新着順で<br>ランキング</a></li>
			</ul>
		</nav>

		<section class="home_item">

			<div class="home_item_body">
				<ul class="home_item_list item_list_on clr">
			    {% for Product in Sort01Products %}

					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<p class="home_item_name">{{ Product.name }}</p>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></figure>
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>

			    {% endfor %}

				</ul>
				<ul class="home_item_list clr">
			    {% for Product in LowerPriceProducts %}

					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

				</ul>
				<ul class="home_item_list clr">
			    {% for Product in NewerProducts %}

					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<p class="home_item_no{% if loop.index > 3 %}0{% else %}{{loop.index}}{% endif %}">{{loop.index}}</p>
						{% for tag in Product.ProductTag %}
						{% if tag.Tag.name == 'NEW' %}
							<p class="home_item_new">{{tag.Tag.name}}</p>
						{% endif %}
						{% endfor %}
						<h2 class="home_item_name">{{ Product.name }}</h2>
						<figure class="home_item_product"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" height="228" width="280" alt=""></figure>
						<span class="home_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="home_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="home_item_m"><p>月々<span class="home_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="home_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>
					</a></li>
			    {% endfor %}

				</ul>
			</div>
		</section>