{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<section class="charm_body sp_get">
			<div class="charm_inner mainWidth">
				<h2>今すぐスマホをゲット!</h2>
				<p class="catch">人気のスマートフォンを<span>購入する</span></p>
				<p class="charm_text01">多数の人気スマートフォン機種をお取り扱いしております。<br>
				表示価格がそのまま月々にお支払いいただく金額です。<br>
			</div>
			<div class="charge_item">
				<ul class="charge_item_list clr">
			    {% for Product in Sort01Products %}
					<li><a href="{{url('product_detail',{'id':Product.id})}}">
						<h2 class="charge_item_name">{{ Product.name }}</h2>
						<figure><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" height="228" width="280" alt=""></figure>							
						<span class="charge_item_bg" data-img="{{ app.config.front_urlpath }}/img/home/item_01_bg.jpg"></span>
						<p class="charge_item_mes"><span>{{Product.description_detail|raw|nl2br}}</span></p>
						<div class="charge_item_m"><p>月々<span class="charge_item_m1">{{ Product.getPrice02IncTaxMin|number_format }}</span>円<span class="charge_item_m2">[ 端末代 + 通話し放題 + ネットし放題 ]</span></p></div>				
					</a></li>
				{% endfor %}
				</ul>
			</div>
		</section>