<div class="mainWidth">
            <div class="review">
    {% if ProductReviews %}
                
                <h2 class="main_title1" id="details04">商品レビュー</h2>
                {% for ProductReview in ProductReviews %}

                <div class="review_box clr">
                    <div class="review_top">
                        <p class="review_box_user">投稿者：{{ ProductReview.reviewer_name }} 様　<span>投稿日：{{ ProductReview.create_date|date_format }}</span></p>
                        <p class="review_box_name">総合評価<span><img src="{{ app.config.front_urlpath }}/img/details/hosi{{ProductReview.recommend_level}}.png" height="21" width="112" alt=""></span></p>
                    </div>
                    <div class="review_box_main">
                        <h3 class="review_box_title">{{ ProductReview.title }}</h3>
                        <p class="review_box_mes">{{ ProductReview.comment }}</p>
                    </div>
                </div>
                {% endfor %}
    {% endif %}


            </div>
        </div>