<div class="details_menu_fixed">
		<div class="details_pglink_wrap">
			<ul class="details_pglink mainWidth clr">
				<li><a href="#spec">主な仕様</a></li>
				<li><a href="#feature">特徴</a></li>
				<li><a href="#productInfo">商品情報</a></li>
				<li><a href="#pricePlan">料金</a></li>
				<li><a href="#flow">購入の流れ</a></li>
			</ul>
		</div>
	</div>