<div class="list_bnr mainWidth">
			<a class="list_bnr1" href=""><img src="{{ app.config.front_urlpath }}/img/list/bnr01.jpg" height="200" width="600" alt="3Gケータイをお探しの方はこちら"></a>
			<h2 class="list_bnr_title">ご契約時の不安や疑問はここで解決！<br>安心してご購入いただくためにぜひご覧下さい！</h2>
			<div class="ist_bnr_box clr">
				<a class="list_bnr2" href=""><img src="{{ app.config.front_urlpath }}/img/list/bnr02.jpg" height="200" width="600" alt="ソフトバンク モバレコ店 安さの秘密"></a>
				<a class="list_bnr2" href=""><img src="{{ app.config.front_urlpath }}/img/list/bnr03.jpg" height="200" width="600" alt="ご利用ガイド"></a>
			</div>
		</div>