<div class="c_nav_product">
			<h2 class="c_nav_title">製品を探す</h2>
			<div class="c_nav_product_inner">
				<ul class="c_nav_product_list clr">
					<li><a href="./">スマートフォン</a></li>
					<li><a href="./">3Gケータイ</a></li>
				</ul>
			</div>
		</div>
<div class="c_nav_privilege">
			<h2 class="c_nav_title">安さの秘密や特典を調べる</h2>
			<div class="c_nav_privilege_inner">
				<ul class="c_nav_privilege_list clr">
					<li><a href="./">ソフトバンク モバレコ店の安さの秘密</a></li>
					<li><a href="./">キャンペーン</a></li>
					<li><a href="./">ご利用ガイド</a></li>
				</ul>
			</div>
		</div>