<section class="campaign">
			<div class="campaign_inner mainWidth clr">	
				<div class="campaign_text">
					<h2 class="campaign_title"><span>開催中のキャンペーン</span></h2>
					<p class="campaign_mes">SUPER STUDENTにスーパーフライデー、SoftBankのキャンペーンにはスーパーお得が盛りだくさん！<br>
さらに今なら、当ショップ限定のお得なキャンペーン実施中で、どこよりもお得にSoftBankスマホ・ケータイが申し込めます！</p>
				</div>
				<ul class="campaign_list clr">
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="182" width="290" alt=""></a></li>
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr02.png" height="182" width="290" alt=""></a></li>
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="182" width="290" alt=""></a></li>
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr02.png" height="182" width="290" alt=""></a></li>
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr01.png" height="182" width="290" alt=""></a></li>
					<li><a href=""><img src="{{ app.config.front_urlpath }}/common/img/foot2_bnr02.png" height="182" width="290" alt=""></a></li>
				</ul>
				<div class="tac">
					<a class="btn01 arrow01" href="">キャンペーン一覧を見る</a>
				</div>
			</div>
		</section>