<div class="mainv">
		<div class="mainWidth clr">
			<div class="mainv_l">
				<h1>お申し込みフォーム</h1>
				<p>下記の必須項目へご入力いただき、<br>
				「入力内容を確認する」ボタンをクリックしてください。</p>
			</div>
			<div class="mainv_r">
				<div class="mainv_flow">
					<p>ソフトバンクケータイご利用開始までの流れ</p>
					<ul class="mainv_ul">
						<li><h4>STEP 1</h4><p><img src="{{ app.config.front_urlpath }}/img/form-entry/flow_icon1.png"></p><p>当サイトから<br>お申し込み</p></li>
						<li><h4>STEP 2</h4><p><img src="{{ app.config.front_urlpath }}/img/form-entry/flow_icon2.png"></p><p>お申し込み内容<br>確認のお電話</p></li>
						<li><h4>STEP 3</h4><p><img src="{{ app.config.front_urlpath }}/img/form-entry/flow_icon3.png"></p><p>手続き完了後<br>商品発送</p></li>
						<li><h4>STEP 4</h4><p><img src="{{ app.config.front_urlpath }}/img/form-entry/flow_icon4.png"></p><p>スマホ・ケータイ<br>ご利用開始</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>