<div class="home_merit">
			<div class="home_merit_inner mainWidth">
				<p class="home_merit_title">ソフトバンク モバレコ店<br>5つのメリット</p>
				<ul class="home_merit_list clr">
					<li><a href="./"><p><span>Webだけ</span>で買える</p></a></li>
					<li><a href="./"><span>格安価格</span>で買える</a></li>
					<li><a href="./">安心の<br><span>アフターフォロー</span></a></li>
					<li><a href="./">最短<span>1日で発送</span></a></li>
					<li><a href="./"><span>最新機種</span>を取り扱い</a></li>
				</ul>
			</div>
		</div>