<div class="c_nav_info">
			<h2 class="c_nav_title">お申し込み・お問い合わせ</h2>
			<div class="c_nav_info_inner mainWidth clr">
				<div class="c_nav_info_top">
					<p class="c_nav_info_name1">お電話でのお申し込み・お問い合わせ</p>
					<div class="c_nav_info_tel">
						<a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}" class="btn02">
							<dl>
								<dt>タップして電話をかける</dt>
								<dd><span>{{app.session.get(app.config.FDROUTEKEY).fd_num}}</span></dd>
							</dl>
						</a>
					</div>
					<p class="c_nav_info_time">受付時間 {{ BaseInfo.business_hour }}（土日祝除く）</p>
				</div>
				<div class="c_nav_info_bottom">
					<p class="c_nav_info_name2">Webでのお申し込み・お問い合わせ</p>
					<ul class="c_nav_info_btns clr">
						<li><a class="btn02" href="{{url('plugin_customentryform_formeasy')}}" target="_blank"><p><span>お申し込み相談</span></p></a></li>
						<li><a class="btn02" href="{{url('plugin_customentryform_forminquiry')}}" target="_blank"><p><span>お問い合わせ</span></p></a></li>
					</ul>
				</div>
			</div>
		</div>