<div class="mainv mainv_inquiry">
		<div class="mainWidth clr">
			<div class="mainv_l">
				<h1>お問い合わせフォーム</h1>
				<p>下記の必須項目へご入力いただき、<br>
				「入力内容を確認する」ボタンをクリックしてください。</p>
			</div>

		</div>
	</div>