<div class="footItem">
		<div class="footItem_inner mainWidth">
			<h2 class="main_title1">当ストア売れ筋ランキング</h2>
			<ul class="footItem_list clr">
				<li><a href="./">
					<span class="footItem_list_no1">1</span>
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<span class="footItem_list_no2">2</span>
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<span class="footItem_list_no3">3</span>
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<span class="footItem_list_no0">4</span>
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
				<li><a href="./">
					<span class="footItem_list_no0">5</span>
					<figure><img src="{{ app.config.front_urlpath }}/img/details/list01.jpg" height="200" width="200" alt=""></figure>
					<p class="footItem_list_name"><span>Xperia XZ</span></p>
					<p class="footItem_list_m">月額<span>3,980円</span>～</p>
				</a></li>
			</ul>
		</div>
	</div>