<div class="foot_bottom">
			<div class="foot_bottom_inner mainWidth clr">
				<a href="{{url('help_tradelaw')}}">会社概要</a>
				<a href="{{url('help_privacy')}}">プライバシーポリシー</a>
			</div>
			<p class="foot_logo"><img src="{{ app.config.front_urlpath }}/common/img/logo2.png" height="24" width="545" alt="ソフトバンク モバレコ店"></p>
			<address class="foot_copy">© smartphone-store.jp</address>
		</div>