{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
			<h1 class="hed_logo"><a href="{{url('homepage')}}"><img src="{{ app.config.front_urlpath }}/common/img/logo.png" height="59" width="287" alt="ソフトバンク モバレコ店"></a></h1>
			<ul class="hed_link clr">
				<li><a href="tel:{{app.session.get(app.config.FDROUTEKEY).fd_num}}">電話</a></li>
				<li><a href="{{url('plugin_customentryform_formeasy')}}" target="_blank">申込み</a></li>
			</ul>

			<button type="button" class="drawer-toggle drawer-hamburger open-hamburger">
				<span class="sr-only">toggle navigation</span>
				<span class="drawer-hamburger-icon"></span>
			</button>

