{#
/*
 * This file is part of the ProductSortColumn
 *
 * Copyright(c) 2017 izayoi256 All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

<div>
    {% for Product in LowerPriceProducts %}
        {{ Product.name }}
    {% endfor %}
</div>
<div>
    {% for Product in NewerProducts %}
        {{ Product.name }}
    {% endfor %}
</div>
<div>
    {% for Product in Sort01Products %}
        {{ Product.name }}
    {% endfor %}
</div>
