{% block main %}
    <div class="item_gallery">
        {% if rp_count > 0 %}
            <h4>{{ title }}</h4>
        {% endif %}
        <ul class="row">
            {% for reldat in hsd_related_product %}
                <div class="col-sm-3 col-xs-6">
                    <div class="pickup_item">
                        <a href="{{ url('product_detail', {'id': reldat.product_id}) }}">
                            <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ reldat.file_name | no_image_product }}"></div>
                            <dd class="item_comment">{{reldat.description_detail[:30] ~ '...' }}</dd>
                            <dl>
                                <dt class="item_name">{{reldat.maker_name}} {{reldat.name}}</dt>
                                {% if show_price == 'show_price' %}
                                 {% if reldat.product_type_id == app.config.producttype_ex_sim_type %}
                                
                                <dd class="item_price">
                                    月額 <span class="price-num">{{ reldat.min_price|number_format }}円/月</span> (税抜)
                                </dd>
                                {% else %}
                                <dd class="item_price">
                                    月々 <span class="price-num">{{ reldat.min_price_pm|number_format }}円</span> (税抜) 
                                    分割24回
                                </dd>
                                {% endif %}

                                {% endif %}
                            </dl>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}