{#
* Plugin Name : CheckedItem
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% block stylesheet %}
<style type="text/css">
#checkeditem .heading{
  background: #f8f8f8;
  padding: 16px;
}
#checkeditem .heading01 {
  background: transparent;
  float:left;
  font-size: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 39px;
}
#checkeditem .heading02 {
  background: transparent;
  font-size: 60%;
  text-align: right;
  padding: 0;
  margin: 0;
}


#checkeditem.item_gallery .item_name{
    color: #525263;
    margin: 0 0 8px;
    font-weight:bold;
    height: 60px;
}
#checkeditem.item_gallery .item_name span {
    height: 15px;
    font-size: 11px;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}
#checkeditem.item_gallery .tag-list{
    display: block;
    height: 26px;
}
#checkeditem.item_gallery .tag-list li{
    font-size:11px;
}
#checkeditem.item_gallery .item_price{
    font-size:13px;
    margin: 8px 0px;
    font-weight:normal;
}
#checkeditem.item_gallery .item_price .price-num {
    color: #ed0505;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
</style>
{% endblock %}

<!-- ▼最近チェックした商品▼ -->
<div id="checkeditem" class="item_gallery">
  {% if CheckedItem.delete == 0 %}
    <h2 class="heading">
      <p class="heading01">最近チェックした商品</p>

      <p class="heading02">
        <a href="{{ url('block_checkeditem_delete')}}" class="btn btn-info btn-sm">履歴を削除</a>
      </p>
    </h2>
  {% else %}
    <h2 class="heading">最近チェックした商品</h2>
  {% endif %}
    <div class="row">
      {% for checkedItem in CheckedItem.ProductList|slice(0,CheckedItem.displayNum)  %}
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="{{ url('product_detail', {'id': checkedItem.Product.id}) }}">
                    <div class="item_photo"><img src="{{ app.config.image_save_urlpath }}/{{ checkedItem.Product.main_list_image|no_image_product }}"></div>
                    <dl>
                      <dt class="item_name">
                          <span>{{ CheckedItem.__EX_PRODUCT_LIST_MAKER[checkedItem.Product.id].name }}</span>
                          {{ checkedItem.Product.name }}
                      </dt>

                      <ul class="tag-list">
                      {% for ProductTag in checkedItem.Product.ProductTag %}
                          <li id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag.name }}</li>
                      {% endfor %}
                      </ul>
                      {% if checkedItem.Product.ProductClasses.0.ProductType.id == app.config.producttype_ex_sim_type %}
                      <dd class="item_price">
                          初期費用 <span class="price-num">{{ CheckedItem.__EX_PRODUCT_LIST[checkedItem.Product.id][app.config.product_ex_s_init_price].valuetext|number_format }}円</span> (税抜)<br>
                          月額 <span class="price-num">{{ checkedItem.Product.getPrice02Min|number_format }}円/月</span> (税抜)
                      </dd>
                      {% else %}
                      <dd class="item_price">
                          月々 <span class="price-num">{{ checkedItem.Product.getPrice02Min|number_format }}円</span> (税抜) 分割24回
                      </dd>
                    {% endif %}
                    </dl>
                </a>
            </div>
          </div>
      {% endfor %}
    </div>
    
</div>
<!-- ▲最近チェックした商品▲ -->
