{% extends 'default_frame.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/home.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/home.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}

{%block main%}
		<div class="mainVisual"></div>

		<div class="home_top">
			<div class="home_top_inner mainWidth clr">
				<div class="home_top_box">
					<p class="home_top_mes">専門スタッフが、お客様ひとりひとりに最適なプランをご紹介いたします。</p>
					<ul class="c_nav_info_btns clr">
						<li><a class="btn02" href="{{url('plugin_customentryform_formeasy')}}" target="_blank"><p><span>お申し込み相談</span></p></a></li>
						<li><a class="btn02" href="{{url('plugin_customentryform_forminquiry')}}" target="_blank"><p><span>お問い合わせ</span></p></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="home_nav">
			<div class="home_nav_inner mainWidth clr">
				<ul class="home_nav_list clr">
					<li><a href="{{url('product_list',{'category_id':1})}}">スマホ一覧</a></li>
					<li><a href="{{url('product_list',{'category_id':2})}}">3Gケータイ一覧</a></li>
					<li><a href="{{url('campaign_index')}}">キャンペーン</a></li>
					<li><a href="{{url('help_guide')}}">ご利用ガイド</a></li>
				</ul>
			</div>
		</div>
{%endblock%}