{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/campaign.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/charge.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
	<div class="side_bnr_box">
		<p class="side_bnr side_bnr_l"></p>
		<p class="side_bnr side_bnr_r"></p>
	</div>
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{%block main%}
		<h1 class="campaign_subTitle">おうち割</h1>
		<p class="campaign_mainimg"><img src="{{ app.config.front_urlpath }}/img/campaign/ouchiwari/campaign_main_ouchiwari.png" alt="おうち割"></p>
		<h2 class="main_title1">キャンペーン概要</h2>
		<p class="campaign_text">自宅のインターネット、でんきなど、おうちに関するさまざまなサービスをソフトバンク携帯電話とセットで
契約することでおトク・便利になるサービスです。
おうち割には光セットとでんきセットがあります。また、電気セットの特典として、水、カギ、ガラスのトラ
ブルに2年間無料でかけつける特典がございます。
		</p>
		<h2 class="main_title1">おうち割 光セット</h2>
		<p class="campaign_text">自宅のインターネットとソフトバンク携帯電話をセットで契約することで、家族1人1人の通信料金が割引されるサービスです。
		ご利用料金から2年間毎月最大2,000円割引、3年目以降も毎月最大1,000円割引します。ソフトバンクを利用するご家族のご利用料金も最大2年間毎月2,000円割引！

		<p class="campaign_text"><img src="{{ app.config.front_urlpath }}/img/campaign/ouchiwari/text01.png" alt=""></p>

		<h3 class="campaign_detailList_name">適用条件</h3>

		<ul class="campaign_text">
			<li>1. iPhone、スマートフォン、ケータイ、iPad、タブレット、Wi-Fiルーターを対象料金サービスでご利用中であること。</li>
			<li>2. 本キャンペーンお申し込みのお客さま、もしくはそのご家族が対象固定通信サービスのご契約者で指定オプションをご利用中であること、またはお申し込みされていることを当社が確認すること。</li>
			<li>3. 固定通信サービス契約者本人以外からのお申し込みの場合、固定通信サービス契約者の同意書および契約者の家族であることを証明できる確認書類が必要となります。</li>
		</ul>

		<h3 class="campaign_detailList_name">対象機種</h3>
		<p class="campaign_text">iPhone、スマートフォン、ケータイ、iPad、タブレット、Wi-Fiルーター
		<p class="campaign_text note">※dynapocket X02T、X01SC、HTC Desire X06HT、TOUCH DIAMOND X04HT、TOUCH PRO X05HT、X01T、X03HT、X02K、X02HTを除きます</p>
		</p>


		<h3 class="campaign_detailList_name">対象固定通信サービス</h3>
		<p class="campaign_text">SoftBank 光、SoftBank 光 ファミリー・ライト、SoftBank Air、Yahoo! BB ADSL、Yahoo! BBバリュープラン、Yahoo! BB 光シティ、SoftBank ブロードバンドADSL（Nexyz.BB）、SoftBank ブロードバンドADSL（エンジョイBB）、ホワイトBB、ケーブルライン、ひかりdeトークS（ケーブルライン）、NURO 光 でんわ（ケーブルライン）</p>


		<h2 class="main_title1">おうち割 でんきセット</h2>
		<p class="campaign_text">ソフトバンクでんきとソフトバンク携帯電話または固定通信サービスをセットで契約することで、携帯電話指定回線の通信料金、または固定通信サービス利用料金が割引されるサービスです。ご利用料金から2年間毎月最大300円割引します。</p>

		<p class="campaign_text"><img src="{{ app.config.front_urlpath }}/img/campaign/ouchiwari/text02.png" alt=""></p>


		<p><a class="campaign_btn" href="{{url('campaign_index')}}">キャンペーン一覧へ戻る</a></p>


{%endblock%}