{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/faq.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
{% endblock %}

{% block sbm_side_bnr_box %}
	<div class="side_bnr_box">
		<p class="side_bnr side_bnr_l"></p>
		<p class="side_bnr side_bnr_r"></p>
	</div>
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block main %}
						<h1 class="main_title0">よくある質問</h1>
{% endblock %}