<span>
    <div style="margin-top: 10px;">
    関連商品：{{RelatedProduct|length}}
    お気に入り：{{Product.CustomerFavoriteProducts | length}}
    {% if Product.className1 or Product.className2 %}
    タイプ：
    {{ Product.className1 }},
    {{ Product.className2 }}
    ／ 料金：
    {% else %}
    料金：
    {% endif %}
    {{ Product.price02_min|price }}
    {% if Product.price02_min != Product.price02_max %} ～ {{ Product.price02_max|price }}
    {% endif %}
    ／ 在庫：
    {% if Product.stock_unlimited_min == 0 %}
        {% if Product.stock_min == "" %}
            {{ Product.stock_max }}
        {% else %}
            {{ Product.stock_min }}
        {% endif %}

    {% else %}
        無制限
    {% endif %}
    {% if Product.stock_unlimited_min != Product.stock_unlimited_max %} ～
        {% if Product.stock_unlimited_max == 0 %}
            {{ Product.stock_max }}
        {% else %}
            無制限
        {% endif %}
    {% endif %}
    </div>
</span>