{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% for Block in Blocks %}
    <!-- ▼{{ Block.name }} -->
    {% if Block.logic_flg %}
        {% if app.config.http_cache.enabled %}
            {{ render_esi(path('block_' ~ Block.file_name)) }}
        {% else %}
            {{ render(path('block_' ~ Block.file_name)) }}
        {% endif %}
    {% else %}
        {{ include('Block/' ~ Block.file_name~ '.twig', ignore_missing = true) }}
    {% endif %}
    <!-- ▲{{ Block.name }} -->
{% endfor %}
