{% extends 'default_frame.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/guide.css">
{% endblock %}

{% block javascript %}
<script src="{{ app.config.front_urlpath }}/common/js/lib/jquery.matchHeight-min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/iscroll/build/iscroll.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/lib/drawer/dist/js/drawer.min.js"></script>
<script src="{{ app.config.front_urlpath }}/common/js/common.js"></script>
<script src="{{ app.config.front_urlpath }}/js/guide.js"></script>
</body>
{% endblock %}

{% block sbm_bottom_bnr_box %}
    {% include 'Block/sbm_side_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{% block sbm_top_bnr_box %}
    {% include 'Block/sbm_top_bnr_ptn01.twig' ignore missing %}
{% endblock %}

{# body開始直後に挿入#}
{% block sbm_gtm_include %}
    {% include 'Block/sbm_gtm_include_release.twig' ignore missing %}
{% endblock %}

{# body末尾直前に挿入#}
{% block sbm_ytm_include %}
    {% include 'Block/sbm_ytm_include_release.twig' ignore missing %}
{% endblock %}


{%block main%}
		<h1 class="main_title0 mainWidth">ご利用ガイド</h1>

		<div class="main_body mainWidth clr">

				<section class="sec01">
					<div class="sec01Inner">
						<p><img src="{{ app.config.front_urlpath }}/img/guide/mainv.jpg"></p>
						<ul class="sec01_ul clr">
							<li class="sec01_link1"><a href="#link1"><img src="{{ app.config.front_urlpath }}/img/guide/sec01_link1.png" alt="購入の流れについて"></a></li>
							<li class="sec01_link2"><a href="#link2"><img src="{{ app.config.front_urlpath }}/img/guide/sec01_link2.png" alt="契約時に必要な書類について"></a></li>
							<li class="sec01_link3"><a href="#link3"><img src="{{ app.config.front_urlpath }}/img/guide/sec01_link3.png" alt="商品のお届けについて"></a></li>
							<li class="sec01_link4"><a href="#link4"><img src="{{ app.config.front_urlpath }}/img/guide/sec01_link4.png" alt="お支払い方法について"></a></li>
						</ul>
					</div>					
				</section>

				<section class="sec02" id="link1">
					<div class="sec02Inner">
						<h2 class="main_title1">購入の流れについて</h2>
						<ul class="sec02_list">
							<li>
								<div class="titleBox">
									<p class="titleBox_step1">STEP<span>1</span></p>
									<h3>当サイトよりお申し込み</h3>
								</div>
								<p>当サイトからのお申し込みフォームまたはお電話にてお申し込みください。</p>
								<div class="tac">
									<a href="{{url('plugin_customentryform_forminquiry')}}" class="sec02_btn btn02" target="_blank"><p class="arrow01">お問い合わせ</p></a>
								</div>
							</li>
							<li>
								<div class="titleBox">
									<p class="titleBox_step2">STEP<span>2</span></p>
									<h3>お申し込み内容確認のお電話</h3>
								</div>
								<p>お客様のお申し込み内容に間違いがないかの確認のため電話を差し上げます。<br>({{app.config.FDOUTBOUND}}から電話差し上げます)</p>
							</li>
							<li>
								<div class="titleBox">
									<p class="titleBox_step3">STEP<span>3</span></p>
									<h3>手続き完了後　商品発送</h3>
								</div>
								<p>お申し込み内容が確定した後に、商品の発送準備・発送を行います。<br>受け取り方法を「店舗で受け取り」を選択した方は、指定の店舗まで受け取りに行ってください。</p>
							</li>
							<li>
								<div class="titleBox">
									<p class="titleBox_step4">STEP<span>4</span></p>
									<h3>スマホ・ケータイご利用開始</h3>
								</div>
								<p>商品が届きましたら、その日からすぐにご利用が可能です！<br>楽しいスマホ・ケータイライフをご堪能ください。</p>
							</li>
						</ul>
					</div>
				</section>

				<section class="sec03" id="link2">
					<div class="sec03Inner">
						<h2 class="main_title1">必要な書類について</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<div class="sec03_box">
							<h3>新規契約・乗り換え(MNP)のお客様</h3>
							<ul class="sec03_ul clr">
								<li class="item1"><h4><span>本人確認書類</span></h4>
								<p>マイナンバー、運転免許証、日本国パスポートなどのご本人確認書類になります。※1</p></li>
								<li class="item2"><h4><span>支払い手続きに必要なもの</span></h4>
								<p>クレジットカードまたはキャッシュカードなどお支払い可能なカードをお持ちください。</p></li>
								<li class="item3"><h4><span>MNP予約番号</span></h4>
								<p>他社からの乗り換えのお客様のみ取得していただく必要があります。</p></li>
								<li class="item4"><h4><span>申し込み印</span></h4>
								<p>契約時に使用する印鑑をお持ち下さい。<br>また、ご本人様のサインでも可能です。</p></li>
							</ul>
						</div>
						<div class="sec03_box">
							<h3>機種変更のお客様</h3>
							<ul class="sec03_ul clr">
								<li class="item1"><h4>本人確認書類</h4>
								<p>マイナンバー、運転免許証、日本国パスポートなどのご本人確認書類になります。※1</p></li>
								<li class="item5"><h4>契約中の携帯電話</h4>
								<p>現在、SoftBankで契約している携帯端末が必要になります。</p></li>
								<li class="item4"><h4>申し込み印</h4>
								<p>契約時に使用する印鑑をお持ち下さい。<br>また、ご本人様のサインでも可能です。</p></li>
							</ul>
							<ul class="sec03_txt">
								<li>※1 ご本人確認書類の詳細(A~Gのうちいずれか1点が必要になります。)</li>
								<li>A.運転免許証</li>
								<li>B.日本国パスポート</li>
								<li>C.健康保険証　+ 住民票記載事項証明書ほか</li>
								<li>D.クレジットカード + 健康保険証</li>
								<li>E.写真付学生証 + 健康保険証</li>
								<li>F.身体障害者手帳または療育手帳または精神障害者保険福祉手帳</li>
								<li>G.外国人登録証明書または在留カード + 外国パスポート</li>
							</ul>
						</div>
					</div>
				</section>

				<section class="sec04" id="link3">
					<div class="sec04Inner">
						<h2 class="main_title1">商品のお届けについて</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<table class="sec04_tbl">
							<tbody>
								<tr>
									<th>発送目安</th><td>手続き完了後すぐ発送 ※1</td>
								</tr>
								<tr>
									<th>配送料金</th><td>全国一律500円</td>
								</tr>
								<tr>
									<th>配送業者</th><td>佐川急便 / クロネコヤマト ※2</td>
								</tr>
								<tr>
									<th>配達時間</th><td>8時~12時 / 12時～14時 / 14時～16時 / 16時～18時 /20時～21時 ※3</td>
								</tr>
							</tbody>
						</table>
						<ul class="sec04_txt">
							<li>※1 お住まいの地域によって、到着の日時は異なります。</li>
							<li>※2 お客様にて配達業者を選択することはできません、あらかじめご了承ください。</li>
							<li>※3 商品やプランによっては、到着の日時をお選びいただけない場合がございます。</li>
						</ul>
					</div>
				</section>


				<section class="sec05" id="link4">
					<div class="sec05Inner">
						<h2 class="main_title1">お支払い方法について</h2>
						<p>新規契約や機種変更などお客様のお申込み内容によって異なります。</p>
						<table class="sec04_tbl">
							<tbody>
								<tr>
									<th>お支払い方法</th><td>クレジットカード / 口座振込み</td>
								</tr>
								<tr>
									<th>対応クレジットカード</th><td><img src="{{ app.config.front_urlpath }}/img/guide/sec05_card.png" width="313" height="36"></td>
								</tr>
							</tbody>
						</table>
						<ul class="sec04_txt">
							<li>※1 お住まいの地域によって、到着の日時は異なります。</li>
							<li>※2 お客様にて配達業者を選択することはできません、あらかじめご了承ください。</li>
							<li>※3 商品やプランによっては、到着の日時をお選びいただけない場合がございます。</li>
						</ul>
					</div>
				</section>

		</div>
{%endblock%}