{#
/*
* This file is part of EC-CUBE
*
* Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
* http://www.lockon.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
#}
{% extends 'default_frame.twig' %}

{% set menus = ['setting','config', 'DSContents_info'] %}

{% block title %}基本情報設定{% endblock %}
{% block sub_title %}機能設定{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="dscontents_form" method="post"
              action="{{ url('dscontents_info') }}">
            {{ form_widget(form._token) }}
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">SP用テンプレート設定</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用テンプレートコード</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ form_widget(form.template_code) }}
                                {{ form_errors(form.template_code) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用ブロックパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.setting.block_realdir }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用テンプレートパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.setting.template_realdir }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用テンプレートｈｔｍｌ</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.setting.template_html_realdir }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用フロントURL</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.setting.front_urlpath }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">SP用user_dataパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.setting.user_data_realdir }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">管理機能用パス　SP用template_sphone_relpathパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.template_sphone_relpath }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">管理機能用パス　SP用user_data_sphone_relpathパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.user_data_sphone_relpath }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">管理機能用パス　SP用block_sphone_relpathパス</div>
                            <div class="col-sm-9 col-lg-9">
                                {{ app.config.DSContents.const.block_sphone_relpath }}
                            </div>
                        </div>

                    </div>

                </div>

            </div><!-- /.col -->
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">
                                        登録
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}