{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<ul{% if treeId is defined %} id="{{ treeId }}"{% endif %}{%if disp_child is not defined or disp_child == false %} style="display: none;"{% endif %}>
    {% for Child in Children %}
        <li class="level{{ Child.level }}">
            {# カテゴリ名表示 #}
            {% if Child.level < app.config.level_max %}
                <a href="{{ url('admin_product_category_show', {parent_id: Child.id}) }}">
                    {% if Parent and Parent.id == Child.id %}
                        <img src="{{ app.config.admin_tpl }}img/contents/folder_open.gif" alt="フォルダ" />
                    {% else %}
                        <img src="{{ app.config.admin_tpl }}img/contents/folder_close.gif" alt="フォルダ" />
                    {% endif %}
                    {{ Child.id }}.{{ Child.name[:10] }}
                </a>
            {% else %}
                <img src="{{ app.config.admin_tpl }}img/contents/folder_close.gif" alt="フォルダ" />
                {{ Child.id }}.{{ Child.name[:10] }}
            {% endif %}
            {% if Child in Path %}
                {% set disp_child = true %}
            {% else %}
                {% set disp_child = false %}
            {% endif %}
            {% if Child.Children|length > 0 %}
                {{ include('Product/category_tree_fork.twig', {'Children': Child.Children, 'treeId': 'f'~Child.id, 'display': disp_child}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
