{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
            <li class="{% if active_menus(menus)[0] == 'product' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-tag"> <use xlink:href="#cb-tag" /></svg>商品管理<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'product' %}class="active" style="display: block;"{% endif %}>
                    <li id="navi-products-index" class="{% if active_menus(menus)[1] == 'product_master' %}active{% endif %}"><a href="{{ url('admin_product') }}">商品マスター</a></li>
                    <li id="navi-products-product" class="{% if active_menus(menus)[1] == 'product_edit' %}active{% endif %}"><a href="{{ url('admin_product_product_new') }}">商品登録</a></li>
                    <li id="navi-products-class" class="{% if active_menus(menus)[1] == 'class_name' %}active{% endif %}"><a href="{{ url('admin_product_class_name') }}">規格管理</a></li>
                    <li id="navi-products-category" class="{% if active_menus(menus)[1] == 'class_category' %}active{% endif %}"><a href="{{ url('admin_product_category') }}">カテゴリ登録</a></li>
                </ul>
            </li>