{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'cache'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}キャッシュ管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
<form name="form1" method="post" action="{{ url('admin_content_cache') }}">
    {{ form_widget(form._token) }}
    <div id="cache_wrap" class="row">
        <div class="col-md-12">
            <div id="cache_box" class="box">
                <div id="cache_box__header" class="box-header">
                    <h3 class="box-title">キャッシュ管理</h3>
                    <div id="cache_box__message" style="margin-left: 10px;">
                        <p class="text-danger">本番環境にFTPなどでTwigファイルをアップロードして入れ替えた場合、画面を反映させるにはTwigキャッシュを削除する必要があります。</p>
                        <p>キャッシュ削除するディレクトリを選択してください。</p>
                    </div>
                    {{ form_widget(form.cache) }}
                    {{ form_errors(form.cache) }}
                </div>
                <div id="cache_box__clear_button" class="box-body">
                    <button type="submit" class="btn btn-primary">キャッシュ削除</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
