{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'news'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}新着情報管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
function changeAction(action) {
    document.form1.action = action;
    document.form1.submit();
}
</script>
{% endblock javascript %}

{% block main %}
    <div id="news_wrap" class="row">
        <div id="news_list_box" class="col-md-12">
            <div id="news_list_box__body" class="box">
                <div id="news_list_box__header" class="box-header">
                    <h3 class="box-title">新着情報管理</h3>
                </div><!-- /.box-header -->
                <div id="news_list_box__body_inner" class="box-body">
                    <form name="form1" id="form1" method="post" action="">
                        <div id="news_list_box__list_box" class="table_list">
                            <div id="news_list_box__list" class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                       <tr id="news_list_box__list_header">
                                            <th id="news_list_box__header_rank">順位</th>
                                            <th id="news_list_box__header_date">日付</th>
                                            <th id="news_list_box__header_title">タイトル</th>
                                            <th id="news_list_box__header_menu_box">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for News in NewsList %}
                                        <tr id="news_list_box__item--{{ News.id }}">
                                            <td id="news_list_box__rank--{{ News.id }}">{{ loop.index }}</td>
                                            <td id="news_list_box__date--{{ News.id }}">{{ News.date|date("Y/m/d") }}</td>
                                            <td id="news_list_box__title--{{ News.id }}">{{ News.title }}</td>
                                            <td id="news_list_box__menu_box--{{ News.id }}" class="icon_edit">
                                                <div id="news_list_box__menu_box_toggle--{{ News.id }}" class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                    <ul id="news_list_box__menu--{{ News.id }}" class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{{ url('admin_content_news_edit', {id: News.id}) }}" >編集</a></li>
                                                        <li><a href="{{ url('admin_content_news_delete', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="この新着情報を削除してもよろしいですか？">削除</a></li>
                                                        {% if loop.first == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_up', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if loop.last == false %}
                                                            <li>
                                                                <a href="{{ url('admin_content_news_down', {id: News.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.box -->
            <div id="news_list_box__footer" class="row">
                <div id="news_list_box__insert_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <a href="{{ url('admin_content_news_new') }}" class="btn btn-primary btn-block btn-lg">新規登録</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
