{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'page'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ページ管理{% endblock %}

{% block main %}
<form name="content_page_form" action="" method="post">
</form>
<div id="page_wrap" class="container-fluid">
    <div id="page_list" class="row">
        <div id="page_list_box" class="col-md-12">
            <div id="page_list__body" class="box">
                <div id="page_list_box__header" class="box-header">
                    <div class="box-title">
                        ページ一覧
                    </div>
                </div>
                <div id="sortable_list_box" class="box-body no-padding no-border">
                    <div id="sortable_list_box__list" class="sortable_list">
                        <div class="tableish">

                            {% for PageLayout in PageLayouts %}
                                <div id="sortable_list_box__item--{{ PageLayout.id }}" class="item_box tr">
                                    <div id="sortable_list_box__name--{{ PageLayout.id }}" class="item_pattern td">
                                        {{ PageLayout.name }}
                                    </div>
                                    <div id="sortable_list_box__menu_box--{{ PageLayout.id }}" class="icon_edit td">
                                        <div id="sortable_list_box__menu_box_toggle--{{ PageLayout.id }}" class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                            <ul id="sortable_list_box__menu--{{ PageLayout.id }}" class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="{{ url('admin_content_layout_edit', { id : PageLayout.id } ) }}" >レイアウト編集</a>
                                                </li>
                                                <li>
                                                    {% if PageLayout.filename|length >= 1 %}
                                                        <a href="{{ url('admin_content_page_edit', {id : PageLayout.id } ) }}">ページ編集</a>
                                                    {% else %}
                                                        <a>ページ編集</a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if PageLayout.edit_flg == constant('Eccube\\Entity\\PageLayout::EDIT_FLG_USER') %}
                                                        <a href="{{ url('admin_content_page_delete', { 'id': PageLayout.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="このページを削除してもよろしいですか？">削除</a>
                                                    {% else %}
                                                        <a>削除</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /.item_box -->
                            {% endfor %}

                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- ▲ データがある時 ▲ -->
        </div><!-- /.col -->

        <div id="page_list__footer" class="row btn_area2">
            <div id="page_list__insert_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
                <a class="btn btn-primary btn-block btn-lg" href="{{ url('admin_content_page_new')}}">新規入力</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
